[2022-04-14 05:43] hsluoyz commented on #664
@niko7g plz change to English

[2022-04-14 06:55] niko7g commented on #664
I compiled Casdoor.exe according to the document, and the backend database is MySQL8. The first time I execute Casdoor.exe -createDatabase, it seems that everything is normal, and the login operation of Casdoor also seems to be normal. But when I stop the Casdoor.exe, and then execute the Casdoor.exe for the second time, panic: Error 1054: Unknown column 'INFORMATION_SCHEMA.COLUMNS.ORDINAL_POSITIO

[2022-04-14 06:59] niko7g commented on #664
casdoor>casdoor.exe
[xorm] [info]  2022/04/14 11:14:36.842847 [SQL] SELECT `TABLE_NAME`, `ENGINE`, `AUTO_INCREMENT`, `TABLE_COMMENT` from `INFORMATION_SCHEMA`.`TABLES` WHERE `TABLE_SCHEMA`=? AND (`ENGINE`='MyISAM' OR `ENGINE` = 'InnoDB' OR `ENGINE` = 'TokuDB') [casdoor] - 50.1683ms
[xorm] [info]  2022/04/14 11:14:36.889304 [SQL] SELECT `COLUMN_NAME`, `IS_NULLABLE`, `COLUMN_DEFAULT`, `COLUMN_TYPE`,

[2022-04-14 11:42] hsluoyz commented on #664
@Steve0x2a @ComradeProgrammer

[2022-04-14 11:43] hsluoyz commented on #651
@seriouszyx

[2022-04-15 03:49] #400 closed

[2022-04-15 09:12] niko7g opened #669 "How can I integrate casdoor and minio?"
I have installed Casdoor (v1.40.0) and minio, and set it up according to this page: https://casdoor.org/zh/docs/integration/minio/  (same as https://casdoor.org/docs/integration/minio/ ) . The article prompts me to set "tag: readwrite", but the field is not available in Casdoor's admin console and cannot be set. Skip this step and continue to set up, it seems to be smooth, but finally after clicki

[2022-04-15 09:28] niko7g commented on #669
Done, modify the user's "tag" and change the default value of "staff" to "readwrite".

[2022-04-15 09:29] #669 closed

[2022-04-15 13:09] hsluoyz opened #670 "Fix CI error: fatal: unsafe repository ('/github/workspace' is owned by someone else)"
See: https://github.com/casdoor/casdoor/runs/6034037398?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/163574470-e6d2ccfe-4455-4320-a785-8064c15731c2.png)

[2022-04-15 13:09] hsluoyz commented on #670
@ComradeProgrammer @Nekotoxin

[2022-04-15 13:48] hsluoyz commented on #669
@Abingcbc do we need any fix on our side like code or docs?

[2022-04-15 16:05] Kalinin-Andrey commented on #529
@seriouszyx,
There is no valid value like `refresh_token`.
![image](https://user-images.githubusercontent.com/8151806/163593472-3e7dabeb-4393-450b-a9d6-7d41ff8f0147.png)

[2022-04-15 16:09] #670 closed

[2022-04-15 16:10] Kalinin-Andrey commented on #529
@hsluoyz,
probably, need to add `refresh_token` `grand_type` to the application settings in Casdoor UI?

[2022-04-16 00:56] hsluoyz commented on #529
@seriouszyx

[2022-04-16 03:03] hsluoyz commented on #640
@tetra12

[2022-04-16 07:10] #581 closed

[2022-04-16 09:17] #655 closed

[2022-04-17 03:11] hsluoyz opened #673 "Add footer to login/signup/forget pages"
Like:

![image](https://user-images.githubusercontent.com/3787410/163698572-77753c12-c794-4b75-996e-e0bbe9c8784d.png)

[2022-04-17 03:14] hsluoyz commented on #673
@halozhy

[2022-04-17 14:35] tombrouwer opened #675 "Cannot connect to Postgres with Docker Compose"
Hi,

I'm trying to set up Casdoor. I want to use a Postgres database later in production. I've now created a Docker compose file, and an app.conf file, but I keep running into issues.

If I set the settings as described here: https://casdoor.org/docs/basic/server-installation#via-ini-file
[code]

Then I get the error: `panic: dbname is empty`

If I change it to:
[code]

Then I get the error: `pani

[2022-04-18 01:23] niko7g opened #677 "When MinIO uses casdoor to log in, how to limit the user's permissions?"
I followed the instructions of https://casdoor.org/docs/integration/minio/ to set up MinIO to use casdoor for SSO, and the login was successful. But I found that in Casdoor, users can modify the tag attribute value by themselves, which means that users can decide their own permissions in MinIO! This is a big problem. How can I restrict this behavior of users? casdoor version 1.40.0.

[2022-04-18 02:02] hsluoyz commented on #675
@tombrouwer does Postgres work without Docker? (run Go backend in the hsot)

[2022-04-18 02:02] hsluoyz commented on #675
@ComradeProgrammer

[2022-04-19 06:45] adamwoolhether commented on #675
just chiming in to say the postgres driver is commented out in adapter.go... we can specify a non-mysql db when this is commented out???

[2022-04-19 07:55] adamwoolhether commented on #675
@tombrouwer here's how i got it working:
In `adapter.go`, uncomment the pq adapter and comment out mysql:
[code]
In the config file, include the db name in `dataSourceName`  field and leave `dbName` field blank, contrary to the documentation, like so:
[code]

you also have to manually create the db before running it.

[2022-04-19 08:39] tombrouwer commented on #675
I got it working too. Using the docker as above. However, I had to change the configuration slightly. The documentation isn't really clear on how to set the "dataSourceName". I also searched XORM but didn't get any clearer either.

The documentation says you should end with dbname= but that doesn't seem necessary. See: https://casdoor.org/docs/basic/server-installation

I removed "dbName" and chan

[2022-04-19 16:11] hsluoyz commented on #675
@tombrouwer @adamwoolhether hi, are you willing to improve our docs to avoid more people encountering your problem? https://github.com/casdoor/casdoor-website/issues/181

[2022-04-20 21:54] Kalinin-Andrey opened #683 "In Casdoor UI application field "Token expire" in hours, but in fact they are minutes."
In Casdoor UI application field "Token expire" in hours:
![image](https://user-images.githubusercontent.com/8151806/164327939-d118bbef-c7a8-45c1-abbb-01ef986ec199.png)

Saving in DB in minutes.
But the reverse conversion is done as this value would be stored in seconds:
https://cs.opensource.google/go/x/oauth2/+/97805856:internal/token.go;drc=c85d3e98c914e3a33234ad863dcbff5dbc425bb8;l=265

As a re

[2022-04-21 00:54] hsluoyz commented on #683
@Kalinin-Andrey can you make a PR to fix it?

[2022-04-21 03:09] adamwoolhether opened #684 "Frequent Webhook panics"
This happens randomly, both running locally or via Docker image.

Seems to happen more often if i don't interact with UI for a while, and come back.

[code]

Please let me know what other info i can provide to help.

[2022-04-21 03:20] dd9913762113 opened #685 "docker error"
docker run -p 8000:8000 casbin/casdoor-all-in-one

`docker run -p 8000:8000 casbin/casdoor-all-in-one
docker: Error response from daemon: driver failed programming external connectivity on endpoint wonderful_kalam (eef4c57c95ae223c941bb76891bcecc71942e62cd1af82a9f9649e29e27abdb6):  (iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 0/0 --dport 8000 -j DNAT --to-destination 172.17.0.3:800

[2022-04-21 05:17] #685 closed

[2022-04-21 06:53] akkuman opened #686 "DingTalk provider value bug"
https://github.com/casdoor/casdoor/blob/d3a7a062d3e71fb325c22ebcb0f8b4b43ccef610/object/user_util.go#L26-L42

example:
the provider.Type is DingTalk
but at `User`, it is
[code]

This can be a problem if the database field names are case sensitive

[2022-04-21 07:32] akkuman opened #687 "logo display error on personal information editing page"
when we add a custom provider and set the logo

Only the login page is displayed properly

However, a display error on the personal binding information page

This bug happens here
https://github.com/casdoor/casdoor/blob/master/web/src/Setting.js#L383-L389
https://github.com/casdoor/casdoor/blob/master/web/src/auth/Provider.js#L188-L197

[2022-04-21 13:10] #675 closed

[2022-04-21 13:52] #687 closed

[2022-04-21 14:30] rakuten opened #691 "Need add 'use' and 'alg' in .well-known/jwks"
I can't use casdoor log in to BookStackApp when using OIDC Mode

I found the need for 'alg' and 'use' in its code, But it's not in casdoor. How can I change it?
[code]
[Link](https://github.com/BookStackApp/BookStack/blob/development/app/Auth/Access/Oidc/OidcProviderSettings.php) Line: 169

[2022-04-21 16:04] hsluoyz commented on #691
@halozhy

[2022-04-22 06:59] akkuman commented on #684
more error detail?

[2022-04-22 09:10] akkuman opened #693 "The refresh token don't read from the RequestBody"
from qq group 645200447 user 735184182

![](https://user-images.githubusercontent.com/7813511/164674909-b9bd49a6-a080-4d34-b4a1-018bc845b3d0.jpg)

bug here: https://github.com/casdoor/casdoor/blob/7b78e6026589bc2691eee0f2d34439b61ef4c4e1/controllers/token.go#L233

[2022-04-22 13:59] #684 closed

[2022-04-22 14:17] #664 closed

[2022-04-22 14:45] hsluoyz opened #696 "Connecting to APISIX 503 bug"
Follow docs: https://casdoor.org/docs/integration/apisix

Got 503:

![(DD$XUTUA V`6EZULUDH0@5](https://user-images.githubusercontent.com/3787410/164737979-e2d7bf6c-dafd-4c07-abdf-76185848581a.jpg)

![I{XHT~)) 0BYG}(F 1N0_5V](https://user-images.githubusercontent.com/3787410/164738004-4c55979d-1a66-4ed0-8a99-a181d174d0fd.jpg)

![`KX}VH6I%027P4EGJGG5ZZ0](https://user-images.githubusercontent.com/378

[2022-04-22 14:45] #696 closed

[2022-04-22 14:57] hsluoyz commented on #686
@ComradeProgrammer

[2022-04-22 15:27] hsluoyz commented on #683
@lulei

[2022-04-22 15:55] hsluoyz opened #697 "Support classic SAML IdP"
The code already basically supports SAML IdP in: https://github.com/casdoor/casdoor/issues/405

But it doesn't connect to a real IdP, like Aliyun IDaaS, Tencent IDaaS, Huawei Cloud IDaaS, or KeyCloak.

We need to fix the bugs.

[2022-04-22 15:56] hsluoyz commented on #697
@ComradeProgrammer

[2022-04-22 17:12] #693 closed

[2022-04-23 16:14] Kalinin-Andrey commented on #683
@hsluoyz
Once again, I everything was debugged in great detail.
After deletion, the token's expiration time is overwritten with the magic number 10080. This is what confused me last time.

While the token is active, the time there is correct: in seconds.

All is right.

This issue can be closed.
Thank you. I apologize for the wrong note.

[2022-04-23 16:15] hsluoyz commented on #683
@Kalinin-Andrey great to see it's resolved!

[2022-04-23 16:15] #683 closed

[2022-04-24 02:52] hsluoyz opened #698 "Support connecting to Grafana with Casdoor via OAuth"
See how Grafana's OAuth works: https://grafana.com/docs/grafana/latest/auth/generic-oauth/

We may also need to add this to docs: https://casdoor.org/docs/integration/minio and fix any encountered bugs.

[2022-04-24 05:06] nomeguy opened #699 "Add new storage provider"
Like azure storage and CDN.

Add it to here: https://door.casdoor.com/providers/provider_storage_aws_s3

![image](https://user-images.githubusercontent.com/85475922/164956075-642702fe-bb9e-480e-a755-48eceac8646c.png)

[2022-04-24 05:33] fukco opened #700 "OIDC endpoint is always https"
* env: docker with image casdoor-all-in-one
* OIDC Discovery shows that issuer and other endpoints are start with https not http, not config any tls for this environment and do not find any configuration to change https to http.
* when use OIDC, it always redirect to https, and it's not work.(http works perfectly)

[2022-04-24 05:45] hsluoyz commented on #700
@ComradeProgrammer

[2022-04-24 10:16] hsluoyz opened #701 "Add Okta OAuth provider for Casdoor"
See: https://door.casdoor.com/providers

![image](https://user-images.githubusercontent.com/3787410/164971724-e4ec0718-1b36-40dc-95f8-36d6e6f44eaa.png)

[2022-04-24 13:04] hsluoyz commented on #700
@haoliu97

[2022-04-24 13:19] fukco opened #702 "Add Bilibili & Douyin OAuth provider for Casdoor"
Bilibili Open Platform: https://openhome.bilibili.com/
Douyin Open Platform: https://open.douyin.com/platform

[2022-04-25 00:32] uvaa opened #703 "UI page empty place should not get focus"
![image](https://user-images.githubusercontent.com/32816469/165003426-a86b928e-645f-41d9-9421-975f2067db45.png)

[2022-04-25 02:41] hsluoyz commented on #703
@uvaa plz change to English

[2022-04-25 03:04] nomeguy opened #705 "Show alert when user clicks on application edit page's preview window"
See: https://demo.casdoor.com/applications/app-built-in

![image](https://user-images.githubusercontent.com/85475922/165013963-8837eed3-c49a-4fd9-b004-01763c3c306a.png)

[2022-04-25 04:19] nomeguy opened #706 "Unauthorized access to page is not well displayed"
When logged in with a normal user, but access admin pages like org list, you will see:

![image](https://user-images.githubusercontent.com/85475922/165020253-531c427b-b1df-4eec-adf1-713af8f8e194.png)

[2022-04-25 04:21] #467 closed

[2022-04-25 08:27] halozhy commented on #691
You can add the following code after [object/oidc_discovery.go#L107](https://github.com/casdoor/casdoor/blob/master/object/oidc_discovery.go#L107)
[code]

[2022-04-26 03:29] rakuten commented on #698
Casdoor now can be used on grafana. I'm using it.

but minio does have some problems. I can't set it successfully

[2022-04-26 06:30] hsluoyz commented on #698
@rakuten what's the problem with Minio? Is it the same as: https://github.com/casdoor/casdoor/issues/691 ?

[2022-04-26 07:27] rakuten commented on #698
I'm not sure why. when i open Minio web page, I got the error:

[code]
and
[code]

[2022-04-26 08:27] rakuten commented on #698
@hsluoyz

 I just found #677 that Minio can be set successfully. so I rechecked the [document](https://casdoor.org/docs/integration/minio/) and......

 I don't know how to set the 'Tag' to 'readwrite' in chapter 2.4, I can't find 'Tag' in Casdoor or Minio

[2022-04-26 13:53] #691 closed

[2022-04-26 13:53] hsluoyz commented on #698
@Abingcbc

[2022-04-26 18:42] rakuten commented on #700
@fukco
抱歉我的能力不足以用英文来描述以下内容

你这个事情怎么说才比较好呢.....

我觉得这个事可能不需要改Casdoor就能解决，因为你没有提供你docker环境足够的信息，所以我只能靠猜，假设是你没有用通用做法配置docker环境，同时假设你用的服务和Casdoor处于同一个docker network里，以下是我的建议

1.运行traefik或apisix作为公网80和443的入口网关
2.使用泛域名证书，或为每个要用的服务配置子域名证书
3.运行dnsmasq作为内部dns服务器(你也可以用别的dns server作为替代)
4.dnsmasq上设置域名指向服务器内网地址
5.设置docker使用内网地址作为dns解析
6.运行镜像时不要用docker -h参数

这样你就可以在内网使用域名做指向并不影响443端口了
网关的主要作用是把公网的443转为内网的http通

[2022-04-26 18:56] rakuten commented on #605
Casdoor now can be used on jumpserver. I'm using it.

[2022-04-27 01:34] fukco commented on #700
@rakuten

你理解的好像有点偏差哎，我描述的问题是OIDC在这个容器环境中启动后，访问地址是http的，端口是8000，像这样http://<MY-DOMAIN>:8000，这个路径暴露的地址都是https开头的，这些地址是无法访问的，配置ISSUER导致Client跳转地址开头也是https，手动修改为http才能正常访问。

1. 没看明白你说的怎么就到443端口去了，任意端口都可以决定是否开启TLS
2. 我不确定casdoor是否强制OIDC运行在TLS协议之上，我看Oauth2协议有说需要TLS，还是开发环境非必须，这个知道的话望解答
3. 关于容器，如果强制使用TLS的话，看一下[无状态](https://cloud.google.com/architecture/best-practices-for-operating-containers?hl=zh-cn#stat

[2022-04-27 02:27] washCutBlow opened #709 "官方太小气了，我就在qq群了一下casdoor与 ory hydra的区别就被禁言了。这么小气的官方如何把自己做大，学学apisix吧"

[2022-04-27 03:07] rakuten commented on #700
那是我误解你的意思了

我这的环境都是把证书放在网关上，所以永远都是通过https请求的，然后网关再把请求都转发到内网服务的http端口，所以Casdoor在我看来并没有问题

[2022-04-27 03:08] hsluoyz commented on #700
@fukco @rakuten plz change to English, the issues are supposed to use English

[2022-04-27 03:34] washCutBlow opened #710 "官方太小气，多学习学习 apisix的官方吧"

[2022-04-27 06:24] zhangchunsheng opened #711 "how to get jwt-public-key of app?"
how to get jwt-public-key of app?

https://github.com/casdoor/casdoor-spring-boot-starter

[2022-04-27 06:26] seriouszyx commented on #711
plz refer to https://casdoor.org/docs/how-to-connect/sdk#1-backend-sdk-configuration

[2022-04-27 07:05] jazzmozart opened #712 "对SameSite属性的支持不完整"
`beego.BConfig.WebConfig.Session.SessionCookieSameSite = http.SameSiteNoneMode`
当SameSite设置为None 时，需在最新的浏览器版本中使用 Secure属性。目前的beego版本不支持直接配置Secure属性

[2022-04-27 07:17] zhuqiangqiang opened #713 "java SDK updateUser interface cannot change the user password"

[2022-04-27 07:27] zhangchunsheng commented on #711
The problem is caused by docker mirror of aliyun.

It's better to use image tag when docker run.
[code]

[code]

[2022-04-27 07:27] #711 closed

[2022-04-27 07:28] zhangchunsheng commented on #711
Thanks

[2022-04-27 07:52] hsluoyz commented on #712
@jazzmozart plz change text into English, thanks!

[2022-04-27 10:16] zhuqiangqiang opened #714 "Incomplete support for samesite attribute"
`beego.BConfig.WebConfig.Session.SessionCookieSameSite = http.SameSiteNoneMode`

When samesite is set to none, you need to use the secure property in the latest browser version. The current beego version does not support direct configuration of secure properties

[2022-04-27 10:55] zhangchunsheng opened #715 "It can't get openldap uid in ldap.go"
It can't get openldap uid in ldap.go

Here is the code
[code]

should be
[code]

[2022-04-27 12:24] hsluoyz commented on #714
@halozhy plz follow up with this issue

[2022-04-27 12:57] hsluoyz commented on #713
@zhuqiangqiang plz call this API: https://door.casdoor.com/swagger/#/Account%20API/ApiController.SetPassword

[2022-04-28 03:04] rakuten opened #718 "When docker image released?"
The image on [DockerHub](https://hub.docker.com/r/casbin/casdoor/tags) is v1.44.0, which is 10 days old. Should release the latest version(1.44.8)  to 'latest' tag?

[2022-04-28 08:27] 313843288 opened #719 "How to modify user's login password through api without state?"

[2022-04-29 06:24] jazzmozart commented on #712
#714

[2022-04-29 06:25] #712 closed

[2022-04-29 11:06] hsluoyz opened #722 "Allow to sign up with Email without verification"
See: https://door.casdoor.com/signup

We can remove Email verification in signup page by configuring the application edit page.

![image](https://user-images.githubusercontent.com/3787410/165933243-f1b021c3-d15a-4d85-99ec-cacc539a1eb4.png)

[2022-04-29 13:44] #715 closed

[2022-04-30 04:25] hsluoyz opened #725 "Support OpenIM login with Casdoor"
See:

- https://www.rentsoft.cn/
- https://github.com/OpenIMSDK/Open-IM-Server

[2022-04-30 04:26] hsluoyz commented on #722
@Resulte

[2022-04-30 04:40] hsluoyz commented on #713
@haoliu97

[2022-04-30 04:43] hsluoyz commented on #700
@fukco @rakuten the OIDC discovery code is here:

https://github.com/casdoor/casdoor/blob/c05fb772241a0f58650a5ed731208303c76580d5/object/oidc_discovery.go#L45-L91

It offers the JSON here: https://casdoor.org/zh/docs/how-to-connect/oidc-client/

Do you think the code needs to be changed to support your scenario?

[2022-04-30 08:20] #686 closed

[2022-04-30 11:17] hsluoyz commented on #718
@rakuten Docker latest and v1.45.0 images have been released: https://hub.docker.com/r/casbin/casdoor/tags

[2022-04-30 11:17] #718 closed

[2022-04-30 12:28] hsluoyz commented on #725
@ComradeProgrammer

[2022-05-01 10:31] #701 closed

[2022-05-02 09:19] #722 closed

[2022-05-02 15:07] haoliu97 opened #730 "GetUser() 's new implementation causes getUserByEmail() of Java SDK can't work normally."
![image](https://user-images.githubusercontent.com/32868991/166257493-2b264e8b-b674-4d95-8a5d-5e7d29ef35d8.png)
![~CM`4RHO1~SF83_(%N5FMIX](https://user-images.githubusercontent.com/32868991/166257942-6b935b11-dbb3-457b-b6e4-ad7898c221a2.png)

[2022-05-02 15:08] haoliu97 commented on #730
@seriouszyx Please fix this.

[2022-05-03 02:20] hsluoyz opened #732 "Support Angular frontend integration with Casdoor"
We already have two frontend SDKs:

1. Pure JS (and React): https://github.com/casdoor/casdoor-js-sdk
2. Vue (2 & 3): https://github.com/casdoor/casdoor-vue-sdk

Now we need the last one for Angular, repo created here: https://github.com/casdoor/casdoor-angular-sdk

[2022-05-03 03:20] haoliu97 commented on #713
@zhuqiangqiang Since changing user's password is a high-risk opeartion, do it through updateUser interface is not a good idea. This PR https://github.com/casdoor/casdoor/pull/731 satisfies your requirement, but it won't be allowed. If you really want to do that, maybe you could just apply the change to your own's code.
Or you can add a setPassword method to the java SDK to call /api/set-password a

[2022-05-03 03:35] zdsiyan opened #733 "How to implement single sign-on when passing sessions?"
I am developing a portal application, when the portal login to casdoor, how to pass the login session information to other applications? The current solution is to write to the redis of each application. But it doesn't apply to cross-room authorization.

[2022-05-03 03:40] zdsiyan opened #734 "How are users' application permissions authorized?"
For example, user X has access to application A, application B, application C; user Y has access to application A, application B. I have written the distinction to properties, is there any other solution？

[2022-05-03 10:07] halozhy commented on #714
I tried using the latest 2.0.2 version of beego to write a test program, and set `beego.BConfig.WebConfig.Session.SessionCookieSameSite = http.SameSiteNoneMode`, but the `Secure` flag is still not added to the Set-Cookie request header

After that, I checked the source code of beego version 2.0.2 at [server/web/session/session.go#L218](https://github.com/beego/beego/blob/v2.0.2/server/web/session/

[2022-05-03 12:08] hsluoyz commented on #714
Closed as resolved.

[2022-05-03 12:08] #714 closed

[2022-05-03 16:50] Kalinin-Andrey commented on #529
@hsluoyz @seriouszyx ,
Each time the user updates, the token needs to be refreshed in order to have a jwt token with up-to-date information.
I put the `refresh_token` directly in DB and everything work fine. But in production I would like to do this through the interface.

Please, add the `refresh_token` to the application settings interface (to the list of values "Grand types").

Thank you very m

[2022-05-03 17:21] hsluoyz commented on #529
@Kalinin-Andrey can you make a PR to fix it?

[2022-05-03 18:37] Kalinin-Andrey commented on #529
@hsluoyz ,
can it be fixed on backend side?

[2022-05-03 18:57] Kalinin-Andrey commented on #529
@hsluoyz ,
Looks like I found something similar..
Yes, I will try..

[2022-05-03 19:11] Kalinin-Andrey commented on #529
@hsluoyz
It seems that everything turned out to be simple and one line was enough..
https://github.com/casdoor/casdoor/pull/737

[2022-05-04 02:09] hawckodere opened #738 "before click the "Save & Exit" button , items has been saved"
As title , this happens in Organizations, Users, Roles, Permissions, Providers, Applications, Tokens, Webhooks, Syncers, Certs, Products and Payments.

[2022-05-04 02:22] hsluoyz commented on #738
@seriouszyx

[2022-05-04 02:39] hsluoyz commented on #738
@greenhandatsjtu

[2022-05-04 03:27] greenhandatsjtu commented on #738
From my point of view, it's a feature, not bug. Take Roles for example:
https://github.com/casdoor/casdoor/blob/8b340105c130ddac1724e638b2b79bf92fdbbf02/web/src/RoleListPage.js#L185
As you can see, when you click `Add`, `addRole()` will be called, and a new role record shows in `user` table:
![image](https://user-images.githubusercontent.com/40566803/166619377-60774d24-fcb0-477e-979d-52dfbe13e5c7.

[2022-05-04 05:37] hsluoyz commented on #738
@greenhandatsjtu yes, this feature is just not that good, we don't want the item to have been created before saved,

[2022-05-04 08:53] hawckodere commented on #738
I now understand .
But i think the logic you explained is still not perfect. Accoding to the logic, you must ensure i click the "Save & Exit" or the "Cancel" button, but  i may neither click the "Save & Exit" button nor click the "Cancel" button ,i just click "Organizations" or  "Users" or somelink else.

[2022-05-04 08:54] hawckodere commented on #738
I now understand .
But i think the logic you explained is still not perfect. Accoding to the logic, you must ensure i click the "Save & Exit" or the "Cancel" button, but i may neither click the "Save & Exit" button nor click the "Cancel" button ,i just click "Organizations" or "Users" or somelink else.

[2022-05-04 08:55] nomeguy commented on #699
fixed at: https://github.com/casdoor/casdoor/pull/735

[2022-05-04 08:55] #699 closed

[2022-05-04 08:57] hsluoyz commented on #647
Closed as stale.

[2022-05-04 08:57] #647 closed

[2022-05-04 09:06] nomeguy commented on #632
We can provide a type of provider called captcha provider. It can support different implementations like our built-in captcha provider (https://github.com/casdoor/casdoor/blob/db37f53d6c40519e11f43dff25fe2a723cc2ff80/object/captcha.go), or use the services from cloud providers like:

- reCAPTCHA: https://www.google.com/recaptcha/about/
- Alibaba: https://help.aliyun.com/product/28308.html
- NetEas

[2022-05-04 10:54] xiexianbin opened #739 "GetApplicationLogin swagger router mistake"

[2022-05-04 11:15] #739 closed

[2022-05-05 02:32] fukco commented on #700
@hsluoyz Thanks for your response.

From the code, `host := c.Ctx.Request.Host` can not get the Schema . And it only change https to http when the url equals 'localhost', I don't think it's a good choice.

use` c.Ctx.Input.IsSecure() `to check http or https or use `c.Ctx.Input.Scheme()` to get the scheme maybe a good solution.

[2022-05-05 04:45] hsluoyz commented on #700
@fukco can you make a PR to fix it?

[2022-05-05 07:45] hsluoyz commented on #700
Won't fix, see: https://github.com/casdoor/casdoor/pull/741#issuecomment-1118262900

[2022-05-05 07:45] #700 closed

[2022-05-05 16:28] Janso123 opened #743 "broken commit related to "RS256""
Hi there as of now I found that this commit breaks oidc because CryptoAlgorithm returns RSA instead of RS256
https://github.com/casdoor/casdoor/pull/708/commits/9083e76cbe338c5adac238c35e021f1ce168b11d

[2022-05-06 01:36] nomeguy commented on #743
Fixed in: https://github.com/casdoor/casdoor/commit/39548d5d72eb08660e2385a95dbfe7e890da910d

[2022-05-06 01:36] #743 closed

[2022-05-07 06:40] nomeguy opened #745 "Support integration with Zentao"
See: https://www.zentao.net/

Zentao is an open-source project management platform written in PHP. There are several ways for integrating Zentao with Casdoor SSO:

1. Via 3rd-party OIDC module: https://github.com/wingfeng/zentao-oidc
2. Via Zentao's own non-password login: https://www.zentao.net/book/zentaopmshelp/344.html
3. Via CAS custom code snippet: https://www.bianchengquan.com/article/32361

[2022-05-07 07:24] hsluoyz commented on #745
@leo220yuyaodog

[2022-05-07 07:52] hsluoyz commented on #719
See: https://door.casdoor.com/swagger/#/Account%20API/ApiController.SetPassword

[2022-05-07 07:52] #719 closed

[2022-05-08 07:15] hsluoyz commented on #705
@halozhy

[2022-05-09 06:49] nomeguy opened #747 "Support BookStack authentication with Casdoor"
https://github.com/TruthHun/BookStack

They have a very simple SSO: https://www.bookstack.cn/read/help/windows.md#%E9%85%8D%E7%BD%AE%E7%AC%AC%E4%B8%89%E6%96%B9%E7%99%BB%E5%BD%95

We need to change it to Casdoor

[2022-05-15 12:59] #702 closed

[2022-05-16 09:57] hz324 opened #754 "Page not Found for Authorization Endpoint"
Problem Description:

- when requesting the /login/oauth/authorize API endpoint, "404 page not found" is returned.
- The casdoor backend is deployed in a docker container serving http
- an example command I used to access the self hosted backend would be
- curl -X POST "http://$MY_HOSTNAME/login/oauth/authorize?client_id=$MY_CLIENTID&nonce=$SOME_NONCE&redirect_uri=$MY_APPLICATION_CALLBACK&response

[2022-05-17 04:12] hz324 commented on #754
I believe this is not exactly a question , but could be a bug where the /login/oauth/authorize API does not perform with the expected behaviour shown on the demo website

[2022-05-17 07:26] hsluoyz commented on #754
@ComradeProgrammer

[2022-05-17 17:17] mojerro opened #755 "Question: what's the meaning about below env vars"
env in `app.conf` file
[code]

[2022-05-18 04:06] hsluoyz commented on #754
@Steve0x2a

[2022-05-18 04:06] ComradeProgrammer commented on #754
`http://$MY_HOSTNAME/login/oauth/authorize` locates in the frontend. As you said, I quote "The casdoor backend is deployed in a docker container serving http", if the frontend is not running, it will be normal to get a 404. Besides, it's normal to find that this route doesn't appear in the router.go because it only contains routes available on backend.

Please set up frontend and have a try

[2022-05-18 04:11] hz324 commented on #754
Thank your reply, that answers a lot questions, I'll have a go at querying the frontend.

However, if I would like to use a backend only setup, is it possible to achieve a similar effect querying the backend API? Or is such arrangement not a recommended way to use casdoor.

[2022-05-18 04:57] Resulte commented on #755
@mojerro
1. 'defaultStorageProvider' is the default file storage service name. If you need to use file storage services such as avatar upload, you need to set up a storage provider and apply it in your application. See this link for details: https://casdoor.org/docs/provider/storage/storage
2. 'isCloudIntranet' is used to identify whether your provider endpoint is intranet endpoint.
3. 'authState'

[2022-05-18 05:55] #755 closed

[2022-05-18 06:26] mojerro commented on #755
1. about `defaultStorageProvider`, is there any way to create `storage provider` from config files?
5. I see 'initScore' in the source code but I don't know what it truly controls. And I also see some hard-coded code to set  'initScore'  to 2000 in source code which I think it hope to compare with the initial value.

[2022-05-18 06:27] mojerro commented on #755
@Resulte thanks for your explanation.

[2022-05-18 06:43] Resulte commented on #755
@mojerro
1. I think you can't create `storage provider` from config files. See this link for details: https://casdoor.org/docs/provider/overview/
2. Each user will set an initial score value when they sign up.  If you do not set an `initScore` value in the config file, the code will write this value as 2000 by default.

[2022-05-18 06:44] mojerro commented on #755
@Resulte So, what's the score's real meaning in applications?

[2022-05-18 06:46] mojerro commented on #755
Is the score controls some functions?

[2022-05-18 07:36] Resulte commented on #755
@mojerro Score is used by https://github.com/casbin/casnode. Score does not control anything in casdoor.

[2022-05-18 16:00] hz324 commented on #754
I see, thank you very much. I have originally assumed that the backend alone is enough for oauth functionalities. However, when I come to think about it, I believe you are indeed correct, a front end is required in the authorization grant stage for username and password.

However, as casdoor does have a frontend and backend separation. Is it an expected behaviour for the backend at  "$MY_HOSTNAME:

[2022-05-19 09:40] hsluoyz commented on #754
@hz324 plz follow the **Offical** way to setup Casdoor, and then ask questions if you encounter any.

https://casdoor.org/docs/basic/server-installation

[2022-05-19 09:40] #754 closed

[2022-05-19 09:41] nomeguy commented on #745
Fixed by:https://github.com/casdoor/casdoor-website/pull/205

[2022-05-19 09:41] #745 closed

[2022-05-19 09:45] xunfeng1980 opened #756 "Cannot read properties of null (reading 'grantTypes')"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/8380489/169264547-85e59834-d837-467a-9f09-104a6578f120.png">

[2022-05-19 12:49] hsluoyz commented on #756
@greenhandatsjtu

[2022-05-19 14:16] greenhandatsjtu commented on #756
Can you switch to `Network` tab and check if request `/get-application?id=xxx` get response correctly. This may be caused by backend not returning application info correctly.
![image](https://user-images.githubusercontent.com/40566803/169315394-f0153253-9209-4ae6-a1ee-c3a518de725c.png)

[2022-05-19 15:36] hsluoyz opened #758 "Support Gitea's login with Casdoor"
If Gitea already supports OIDC or OAuth, then we can directly try to connect it with Casdoor.

See references:

- https://docs.gitea.io/en-us/authentication/
- https://github.com/go-gitea/gitea/issues/1299
- https://github.com/go-gitea/gitea/issues/3644
- https://github.com/go-gitea/gitea/issues/3768
- https://discourse.gitea.io/t/gitea-as-oauth2-client-app/2209

[2022-05-19 15:55] hsluoyz commented on #758
@Nekotoxin

[2022-05-20 10:37] hsluoyz commented on #756
@xunfeng1980

[2022-05-23 01:28] hsluoyz commented on #756
Closed as stale.

[2022-05-23 01:28] #756 closed

[2022-05-23 01:41] #730 closed

[2022-05-23 12:20] hsluoyz commented on #755
@mojerro see: https://github.com/casdoor/casdoor-website/pull/210

[2022-05-23 12:41] kingfree opened #760 "json: cannot unmarshal string into Go struct field DingTalkAccessToken.code of type int"
Both for my local deploy and your casdoor demo deploy, I do login with my DingTalk account, it jumps to this url:

`https://door.casdoor.com/callback?authCode=xxx&state=xxx%3D`

and show:
[code]

then I refresh the page, it shows:
[code]

Maybe the DingTalk API has changed, or your application made the BUG.

[2022-05-23 13:06] hsluoyz commented on #760
@kingfree the DingTalk login on the demo site works as expected: https://door.casdoor.com/login , so it has no bug. Plz follow the docs again: https://casdoor.org/docs/provider/oauth/DingTalk

![image](https://user-images.githubusercontent.com/3787410/169825987-f4a140db-b960-40dd-9866-6ed8ccf5552e.png)

[2022-05-23 15:20] mojerro commented on #755
thanks a lot~

[2022-05-24 12:07] hsluoyz opened #761 "Fix Bilibili logos and avatars"
Two logos are missing.

![image](https://user-images.githubusercontent.com/3787410/170030794-353d82c7-fb37-4cf6-b1d6-89e522e5be28.png)

https://door.casdoor.com/login

![image](https://user-images.githubusercontent.com/3787410/170030889-f031b399-4cf9-4ef2-9c9c-30817ac8a352.png)

Avatar & name:

https://door.casdoor.com/account

![image](https://user-images.githubusercontent.com/3787410/170030836-d

[2022-05-25 05:44] #761 closed

[2022-05-25 07:15] gopecan opened #762 "The problem of the same username when logging in by scanning the QR code on WeChat"
当新的用户使用微信扫码登陆时，微信只能够提供用户的昵称、头像、unionID 等信息，但是 casdoor 会自动将昵称当作用户名传值给 name 字段，而实际上微信提供的昵称并不是唯一值，它仅能够当作显示名（ displayName 字段）来使用，这可能会使新用户在登陆时因昵称相同而无法注册的情况发生。因此 casdoor 能否调整一下与微信字段的对应关系，也就是当新用户使用微信登陆时，自动生成随机唯一的 name 值。
When a new user uses WeChat to scan the code to log in, WeChat can only provide the user's nickname, avatar, unionID and other information, but Casdoor will automatically pass the nickna

[2022-05-29 12:30] aecra opened #766 "When the organization name is modified, the users under the organization are not modified accordingly."
Description: When the organization name was changed, the user's organization name was not transferred to the new organization at the same time. It will cause the user to be in a state of drift.

[2022-05-29 12:41] aecra commented on #738
This is a terrible default action.

[2022-05-29 13:12] tetra12 opened #767 "bug: saml endpoint crash"
Following your [docs](https://casdoor.org/docs/how-to-connect/saml), I'm trying to setup Casdoor as a SAML2.0 IdP.

When I follow your example and run this: `curl -v http://localhost:8000/api/saml/metadata?application=admin/app-built-in` I'm getting the following:
[code]

Trying non-default user and application yields in the same result.

[2022-05-29 16:53] hsluoyz commented on #767
@ComradeProgrammer

[2022-05-30 01:26] 313843288 opened #768 "The mobile phone verification code can be used again after being used to log in to the application."
The mobile phone verification code can be used again after being used to log in to the application.

[2022-05-30 03:09] #758 closed

[2022-05-30 03:22] hsluoyz commented on #768
@seriouszyx

[2022-05-30 10:26] #768 closed

[2022-05-31 12:33] seriouszyx commented on #767
I tested in a non-docker environment and everything works fine.

![image](https://user-images.githubusercontent.com/33992371/171173879-5769eb0a-449a-43ec-8403-4bf8ec1c7826.png)

Maybe it's due to the docker image, I will test it ASAP.

[2022-05-31 12:55] seriouszyx commented on #767
We forget to use `return` when the application is null, but I can't reproduce your mistakes. I've opened a PR for this.

[2022-05-31 13:10] hsluoyz commented on #767
@tetra12 I tested it and it works in my setup. From your call stack, it seems that the `app-built-in` application doesn't exist. Please make sure this app exists and don't rename or delete it. It should have been created automatically when you first run the backend code.

![image](https://user-images.githubusercontent.com/3787410/171180831-84f816d0-9e45-4c05-9a32-5da09ecf316a.png)

[2022-05-31 13:49] #762 closed

[2022-06-01 01:41] hsluoyz commented on #760
Closed as invalid.

[2022-06-01 01:41] #760 closed

[2022-06-01 01:57] 313843288 opened #774 "How to realize "your account has been logged in elsewhere" for a casdoor user?"
How to realize "your account has been logged in elsewhere" for a casdoor user?

[2022-06-02 16:37] #766 closed

[2022-06-03 11:33] thanhpd56 opened #776 "Can we use casdoor for centralized authorization system?"
Hi,
i just learned about casdoor and know it has integration with casbin. Can casdoor become a centralized authorization where user management, permission, and endpoint to check the rights of a user?
Thanks in advanced.

[2022-06-05 08:00] star7th opened #777 "Program incompatible with mysql5.6"
When the program installation starts, an error "error 1709: index column size too large. the maximum column size is 767 bytes" is reported

I think the length of a column is so long that the index is invalid. But this should be a small problem. I hope the official team can change the length a little.

[2022-06-05 12:00] hsluoyz commented on #777
@ComradeProgrammer

[2022-06-06 02:43] thanhpd56 commented on #776
@ComradeProgrammer please help.

[2022-06-06 03:10] xuesea opened #779 "Question: how can i access backend apis using Basic auth or some token in scripts?"
Hi,
I hope init some clients immediately using CURL  in my scripts after casdoor was deployed. When casdoor was deployed, there is only one default admin user: Admin/123. Is there any way to use this account  to access all backend apis using CURL?
I tried Biasc auth and got "msg": "Unauthorized operation"

[2022-06-06 08:17] hsluoyz commented on #779
@xuesea see: https://casdoor.org/docs/how-to-connect/oauth#how-to-use-accesstoken

[2022-06-06 11:33] ComradeProgrammer commented on #777
please set `innodb_large_prefix=1` in mysql configuration file (for example, `my.ini` usually)

[2022-06-06 12:06] star7th commented on #777
ok

[2022-06-06 12:06] #777 closed

[2022-06-06 13:45] xuesea commented on #779
Thanks

[2022-06-06 17:07] #779 closed

[2022-06-06 18:36] jingkang99 opened #780 "password saved in DB is in clear text, not a best practice."
better to use htpasswd to shadow/hash the clear text password

[code]

use md5 directly isn't strong enough. the db does have salt field, how is it used?

Thanks.

![image](https://user-images.githubusercontent.com/10793075/172223369-ad1e02f4-942e-4dcd-b6ea-903b0bbc120f.png)

[2022-06-07 01:05] hsluoyz commented on #780
@jingkang99 it supports several different methods, see: https://casdoor.org/docs/organization/overview/

[2022-06-07 01:10] jingkang99 commented on #780
thanks a lot. it is better to use bcrypt by default.

[2022-06-07 01:11] jingkang99 commented on #780
thanks a lot. it is better to use bcrypt by default.

[2022-06-07 01:11] #780 closed

[2022-06-07 01:12] igangang opened #781 "Click Register or forget password on the login page will automatically jump to the login page"
Bug in version v1.54.7, click Register or forget password on the login page will automatically jump to the login page.

[2022-06-07 06:07] hsluoyz commented on #781
@RyaoChengfeng

[2022-06-07 12:58] RyaoChengfeng commented on #781
@igangang I can't reproduce this bug. Can you provide further information, such as relevant pictures or screen recordings? Or other information so that I can understand what's going on.

[2022-06-08 06:35] majingbit opened #782 "request for more detailed api docs"
Dear Casbin Administrator:
    I am using casdoor api recently. I learn the API usage through https://door.casdoor.com/swagger/ ,  but there is no example of input parameters in the document. I don't know how to write the correct input parameters.
    For example:
    "/api/login" requires the "oAuthParams" parameter to be passed in. However, there is no example of "oAuthParams" in the document. I

[2022-06-08 13:30] nexmoe opened #783 "Using `name` as an association between applications will lead to disaster"
Same as: https://github.com/casbin/casnode/issues/521, this is a serious problem for casnode and casdoor.

Casnode uses `name` to get a user.
When I set my name to another user, I can use his or her account.
I think we should use `id` as the association.
![image](https://user-images.githubusercontent.com/16796652/172625362-e5dbeb3c-577e-4b70-be7c-60b008f81200.png)

![T%UE$R$WH2KM4 EJJUQV4NK](https

[2022-06-08 14:28] igangang commented on #781
<img width="379" alt="image" src="https://user-images.githubusercontent.com/18605969/172640746-2ee3b3d2-a0c8-45e3-b383-ff77d19cd163.png">
Click the red box in the screenshot above to jump to https://host/sinup at first, and then jump to https://host/# immediately.
@RyaoChengfeng

[2022-06-08 14:53] #781 closed

[2022-06-09 00:53] KrishnaPG opened #784 "Signup page not loading and Social Signup buttons now showing on the signup page"
- Using the  `casbin/casdoor:latest` docker image, fresh install. When social providers are added to the application, the sign-in page is showing the social login options, but the signup page is not (please refer below screenshot)

![image](https://user-images.githubusercontent.com/4610831/172739966-51d00d42-b257-4894-8e5f-7e3c8796aaa9.png)

- Also when the "test signup page" button is clicked or

[2022-06-09 01:20] KrishnaPG commented on #784
Looks like this issue https://github.com/casdoor/casdoor/issues/781 is also reporting the same behavior

If you want to test this behavior, you can use this test server: http://20.212.82.171:8081/ (default credentials)

Steps to reproduce:

- login
- in the applications select the first application "application_3o8vzc" click **Edit**
- Scroll down and click on "Test Signup Page" button

You will s

[2022-06-09 06:31] hsluoyz commented on #782
@leo220yuyaodog

[2022-06-09 06:56] leo220yuyaodog commented on #782
Got it. I will add more parameter descriptions.

[2022-06-09 15:39] majingbit opened #786 "Can not set scope in /api/login/oauth/access_token"
/api/login/oauth/access_token params no "scope" field, I can only set scope through refresh_token.
Where is the correct setting entry for “scope”

[2022-06-09 15:47] #786 closed

[2022-06-09 16:08] #783 closed

[2022-06-09 16:24] hsluoyz commented on #652
@RyaoChengfeng plz work on it

[2022-06-09 16:42] nexmoe opened #787 "There is a need to customize the user's profile page"
Something needs to display, something needs to hide.

[2022-06-09 16:47] hsluoyz commented on #787
@seriouszyx

[2022-06-09 17:16] #640 closed

[2022-06-09 17:17] #639 closed

[2022-06-09 17:22] hsluoyz commented on #585
@epis2048 I agreed to change the "Public key" wording into "Certificate", can you make PRs to change the Casdoor server code and also the possible SDKs you use?

[2022-06-09 17:25] hsluoyz commented on #541
Unresolvable

[2022-06-09 17:25] #541 closed

[2022-06-09 17:34] hsluoyz commented on #155
@nexmoe we don't have developers working on it now.

[2022-06-10 02:16] hsluoyz commented on #697
@ComradeProgrammer

[2022-06-11 13:52] tetra12 opened #790 "fail to start a docker image"
I use a localsetup and run MySQL in a separate container. I made a custom Dockerfile, based on what's shipped.
When I try to start a docker(both compose or directly), I'm getting the following:

[code]

Here's my command:
[code]
And [here](https://gist.github.com/tetra12/83ada621942424f85fe62eeef32acdfd) is my config.

I do NOT have issues running Casdoor with `go run main.go`. So it looks like an

[2022-06-11 14:22] hsluoyz commented on #790
@tetra12 the official Docker desployment options are provided in docs: https://casdoor.org/docs/basic/try-with-docker . We cannot provide comments about your customized Docker scripts.

From container viewpoint, Casdoor is just a simple application, which listens to a port and requires access to a database port. You should turn to Docker related forum or stackoverflow for help.

[2022-06-11 14:22] #790 closed

[2022-06-12 09:05] DjokerR opened #792 "yarn start failed"
yarn run v1.22.19
casdoor v1.54.9
warning ../../package.json: No license field
$ cross-env PORT=7001 craco start
(node:37044) [DEP0148] DeprecationWarning: Use of deprecated folder mapping "./" in the "exports" field module resolution of the package at /opt/app/casdoor/web/node_modules/postcss-safe-parser/node_modules/postcss/package.json.
Update this package.json to use a subpath pattern like "./

[2022-06-12 15:32] hsluoyz commented on #792
@DjokerR this is a Nodejs +Linux common issue, not Casdoor's issue. After some googling, you could find info like: https://stackoverflow.com/questions/63142518/system-limit-for-number-of-file-watchers-reached

[2022-06-12 15:32] #792 closed

[2022-06-13 04:18] #705 closed

[2022-06-15 13:58] hsluoyz commented on #784
@KrishnaPG the "Test Signup Page" button doesn't work directly actually, because you have logged into Casdoor with existing cookie. You need to copy the URL of the button and enter it in another browser.

[2022-06-15 14:37] hsluoyz commented on #657
Dup with: https://github.com/casdoor/casdoor/issues/657

[2022-06-15 14:54] hsluoyz commented on #651
@ComradeProgrammer

[2022-06-16 02:25] nomeguy commented on #703
This issue doesn't exist any more.

[2022-06-16 02:25] #703 closed

[2022-06-16 02:27] nomeguy commented on #738
@ziliangyu

[2022-06-16 04:58] KrishnaPG commented on #784
Thank you @hsluoyz

How to fix the issue: social media buttons not appearing in signup, despite opting for signup with social logins?

The **signup** page is not showing the social media buttons (the **signin** page shows them, though)

[2022-06-16 05:15] hsluoyz commented on #784
@KrishnaPG you need to disable password to let social buttons show up in signup page. If you still need password, you need to setup the social buttons in prompt page (a page after signup)

[2022-06-16 12:26] hsluoyz commented on #697
@seriouszyx

[2022-06-17 01:37] KrishnaPG commented on #784
Thank you @hsluoyz Is it not possible to show the Password fields along with Social buttons for **Signup** on the same page (so that user can pickup either password or social buttons on the same page), rather than different pages?

For example, similar to the SignIn page where password fields are shown along side with Social buttons below.

[2022-06-17 09:00] 24king opened #798 "saml sign element seq error"
2022-06-16T02:49:34.152Z: (saml) Authentication failure! invalid_ticket: OneLogin::RubySaml::ValidationError, 1:0: ERROR: Element '{http://www.w3.org/2000/09/xmldsig#}Signature': This element is not expected.

[2022-06-17 09:50] 24king commented on #798
[code]

[code]

[2022-06-17 10:35] #798 closed

[2022-06-17 12:17] KrishnaPG commented on #776
Looking for similar information.

For example,
- How to access the underlying `casbin` API or instance, or
- get `roles of a user` or
- query what a user is allowed to do or not allowed to do etc.

[2022-06-17 17:42] hsluoyz commented on #787
Fixed in: https://github.com/casdoor/casdoor/commit/ae4ab9902b18924cf977754c674b1fd48595aae4

[2022-06-17 17:42] #787 closed

[2022-06-18 02:14] hsluoyz commented on #784
@KrishnaPG can you make a PR to add it? It's not hard.

[2022-06-18 08:00] #632 closed

[2022-06-18 16:12] akeemphilbert opened #802 "Issue setting up Google provider"
Followed the instructions found here https://casdoor.org/docs/provider/oauth/google/

When I try to login with the provider it seems to connect to google correctly but in the cabin app the login endpoint returns the following. I'm using the latest Docker image

[code]

[2022-06-18 16:17] akeemphilbert commented on #802
I can confirm that the users table does have a column "google" but it is empty (though there is a record for the user I tried to login as). If I try to login again it makes another user with a couple random characters appended to the email

[2022-06-20 03:01] gitlawr opened #803 "Support creating tokens that never expire"
Can we have tokens without the expiry?
The use case would be having some service accounts for automation.

[2022-06-20 03:05] hsluoyz commented on #802
@ChenchengY

[2022-06-20 06:48] 704237006 opened #804 "Cannot get OAuth token"
I started one casdoor with docker,and run a CasdoorAuthServiceTest,but cannot get OAuth token.
![image](https://user-images.githubusercontent.com/42430068/174541137-a2808a73-b26a-4cfb-9276-78749184e23f.png)
![image](https://user-images.githubusercontent.com/42430068/174541190-fe964ae8-a45d-4ad0-8ba1-f351b03f0ff9.png)
![image](https://user-images.githubusercontent.com/42430068/174541318-5482ad9e-07

[2022-06-20 08:09] seriouszyx commented on #804
The code in `testAuthService` is merely a sample and you need to modify it according to your own environment.  Note that the code will be disabled once the token is obtained via the code.

[2022-06-20 08:50] #804 closed

[2022-06-20 08:55] 704237006 commented on #804
Solved！

[2022-06-20 09:48] 704237006 opened #805 "two app error"
Copy the casdoor spring boot example as app2, create a new app2 on casdoor, and change the port, client-ID, client-secret, application-name ,redirect ，session name of app2.

Log in to app1 first, then log in to app2. Then switch back to app1. After refreshing, it is found that it is expired. After a few seconds, when I went back to refresh app2, it also expired.

![image](https://user-images.githu

[2022-06-20 10:23] hsluoyz commented on #803
@seriouszyx

[2022-06-20 11:18] seriouszyx commented on #805
The cookie name conflict causes it. You can set a custom cookie name for the spring boot application.

ref: https://stackoverflow.com/questions/44657449/how-to-set-cookie-name-in-a-spring-boot-application-running-in-a-standalone-tomc

[2022-06-20 11:42] #805 closed

[2022-06-20 16:35] hsluoyz commented on #784
@wuhao1477

[2022-06-21 02:03] RongerW opened #807 "no captcha provider found"
![image](https://user-images.githubusercontent.com/34206989/174699465-dcd4c85b-6f1b-4280-9d33-5dffd7f5f9e0.png)
i am set provider in my app.
but when i use captcha login, i got  captcha provider found error
the error appear in request uri:/api/get-captcha?applicationId=admin/app-built-in&isCurrentProvider=false

[2022-06-21 02:07] nomeguy commented on #807
@Resulte

[2022-06-21 02:24] RongerW commented on #807
the mean is casdoor don't support email login?
or how do what to support this?

[2022-06-21 02:50] Resulte commented on #807
Casdoor support email login when you add correct Email Provider and set it in your app.
<img width="449" alt="Screen Shot 2022-06-21 at 10 30 30" src="https://user-images.githubusercontent.com/34178764/174705925-e7916e50-93f8-4e39-8a5c-38e8adebf131.png">
<img width="476" alt="Screen Shot 2022-06-21 at 10 30 35" src="https://user-images.githubusercontent.com/34178764/174705938-4a06cd35-717f-4bc9-9e

[2022-06-21 03:15] RongerW commented on #807
![image](https://user-images.githubusercontent.com/34206989/174708286-7f1cd97f-dd29-49e8-9cac-6d51236035ef.png)
i don't known what set is corrent.
but in your online demo , i got same error.

in this request, the isCurrentProvider effect what?

[2022-06-21 04:22] #807 closed

[2022-06-21 15:11] #782 closed

[2022-06-22 02:24] 704237006 opened #816 "Sha256 encryption without slat, verification failed"
My system uses sha256 to encrypt the password without salt. However, after configuring the password encryption type in the casdoor without salt, the verification is incorrect.

![image](https://user-images.githubusercontent.com/42430068/174929640-a4f31300-974a-49e8-8a31-866e5e6aa87d.png)

[2022-06-22 02:38] 704237006 opened #817 "syncers bug"
syncers initialization is OK. After deleting the data in the user table of the casdoor library, it can be synchronized from the original system normally. However, if you change the data in the user table of the original system, you cannot synchronize this change to the user table of the casdoor table .

[2022-06-22 06:25] 704237006 commented on #817
![image](https://user-images.githubusercontent.com/42430068/174957563-b3140a6f-9cbd-400b-8456-e9d1035846fe.png)
![image](https://user-images.githubusercontent.com/42430068/174957611-514e7591-2d8b-4eb1-995a-9e4d456ba807.png)
should search the user record with onwer and name, but used onwer and ID.

[2022-06-22 14:30] #816 closed

[2022-06-22 15:26] hsluoyz commented on #817
@704237006 can you make a PR to fix it?

[2022-06-23 06:55] 704237006 commented on #817
here : fix syncers bug
https://github.com/casdoor/casdoor/pull/822#issuecomment-1162731473

[2022-06-23 07:38] hsluoyz commented on #817
@704237006 your ID should be mapped to Casdoor's ID, there's no issue here.

[2022-06-23 07:38] #817 closed

[2022-06-23 17:47] #652 closed

[2022-06-23 17:59] hsluoyz commented on #598
Already done.

[2022-06-23 17:59] #598 closed

[2022-06-23 17:59] #589 closed

[2022-06-23 18:01] hsluoyz commented on #504
@RyaoChengfeng

[2022-06-23 18:03] hsluoyz commented on #582
@hanrea multiple tables are too complicated. Single table is enough to use for now. Won't fix.

[2022-06-23 18:03] #582 closed

[2022-06-24 16:48] hsluoyz commented on #584
@uivid64

[2022-06-25 02:56] nexmoe opened #827 "How can I use Casdoor in a Chrome extension?"
Some extensions need a user login function.

[2022-06-25 06:37] uivid64 commented on #584
Is it better to limit the number of logins to 5 or 10?
If the number of logins exceeds the limit, the account will be locked with the password and only the verification code will be allowed to log in.
Is this possible to meet this requirement?

[2022-06-25 13:58] hsluoyz commented on #827
@seriouszyx @Resulte @ComradeProgrammer @leo220yuyaodog any advice on how to implement this?

[2022-06-26 03:15] nomeguy opened #828 "Support desktop app OAuth login like JetBrains Toolbox"
JetBrains Toolbox: https://www.jetbrains.com/toolbox-app/

It can redirect to a web browser for login, after the browser approved, then desktop app is successfully logged in.

![image](https://user-images.githubusercontent.com/3787410/175795861-d9d51597-c13a-471d-82a3-c7f380229d43.png)

We can:

1. Create a desktop SDK (e.g., C#, C++, QT, Electron, etc.) to support this flow
2. Modify Casdoor serv

[2022-06-29 02:59] hsluoyz commented on #802
Unreproducible, closed

[2022-06-29 02:59] #802 closed

[2022-06-29 08:15] nomeguy opened #837 "Google login has failed"
See: https://door.casdoor.com/

![image](https://user-images.githubusercontent.com/85475922/176387062-8ed48ac7-41f1-4a8c-bd0f-d3350ceb8eee.png)

![image](https://user-images.githubusercontent.com/85475922/176386970-7a2b8815-7e46-402a-adf0-fedbaee24753.png)

![image](https://user-images.githubusercontent.com/3787410/176374596-39d511ea-05d6-45b1-a0e2-49e1e139d146.png)

[2022-06-30 13:36] hsluoyz opened #840 "Crowdin kept deleting translations"
See: https://github.com/casdoor/casdoor/pull/839 , need to stop it

![image](https://user-images.githubusercontent.com/3787410/176690709-133b55b3-5939-49e5-a580-50622170579b.png)

[2022-06-30 13:50] hsluoyz commented on #840
@Selflocking

[2022-06-30 15:47] hungtv31 opened #842 "Type with Provider support Microsoft Office365 has issues"
Please support integrate with  Microsoft Office365

[2022-07-01 02:51] #840 closed

[2022-07-01 04:12] LunziSTU opened #844 "Whether to consider putting static files in the web project instead of cdn"

[2022-07-01 04:13] hsluoyz commented on #844
@LunziSTU why?

[2022-07-01 05:17] LunziSTU commented on #844
Considering intranet deployment

[2022-07-01 05:39] hsluoyz commented on #844
@LunziSTU you can modify HOSTS to host the files in your own CDN server

[2022-07-01 05:39] #844 closed

[2022-07-01 13:36] KrishnaPG opened #845 "APISIX authorization"
Does the APISIX plugin takes "user roles" and resource access permissions into consideration while permitting access to a route in APISIX?

[2022-07-01 13:58] hsluoyz commented on #845
@ComradeProgrammer

[2022-07-02 04:13] KrishnaPG opened #846 "Feature Request: Expose the casbin API to frontend for current user"
Please consider exposing the underlying casbin API in the casdoor SDK (JS).

[2022-07-02 13:18] hsluoyz commented on #846
@KrishnaPG which API do you need?

[2022-07-02 13:29] #837 closed

[2022-07-02 13:29] nomeguy commented on #842
@hungtv31 can you give more details? better with video and screenshot

[2022-07-02 13:31] hsluoyz commented on #697
Fixed in: https://github.com/casdoor/casdoor/pull/832

[2022-07-02 13:31] #697 closed

[2022-07-02 13:34] hsluoyz commented on #774
@seriouszyx

[2022-07-02 15:06] tetra12 opened #848 "bug: invalid token signature"
Hello I'm getting a JWT from Casdoor v.1.62.0.

It works fine, except when I [check it](https://jwt.io), it complains for invalid signature.

![Screenshot from 2022-07-02 17-47-14](https://user-images.githubusercontent.com/45828526/177005853-4dc9df15-98ed-48b2-8304-80b4ad4ef0d0.png)

Looks like padding symbols `=` need to be removed and `base64` encoding need to be verified

Violated specs: [here]

[2022-07-02 15:08] tetra12 commented on #848
Sorry, my bad. I pasted a corrupted JWT. Closing this

[2022-07-02 15:08] #848 closed

[2022-07-03 01:45] KrishnaPG commented on #846
In the front-end, it is usually required to disable some routes, buttons and menus based on the permissions of the current user.

For example, "create new record" button disabled for read-only permitted users.

Currently, using Casdoor as the authorization system, there does not seem to be anyway for the frontEnd to tell which routes/menus/buttons are permitted for the current user, unless the act

[2022-07-03 06:14] KrishnaPG opened #849 "Use Casdoor to manage Casbin DB table"
The documentation says:

But nowhere any information could be found how to validate a user with RBAC or RESTful access control.

Been struggling to find out how to use the casdoor for authorization.

1. Created the users (imported them from ldap)
2. Created permissions
3. Retrieving JWT token from front-end
4. ????

How to use the JWT token to validate the access permissions (i.e. if the user has

[2022-07-03 09:09] #341 closed

[2022-07-03 09:10] hsluoyz commented on #649
Moved to: https://github.com/casdoor/casdoor-flutter-sdk

[2022-07-03 09:10] #649 closed

[2022-07-03 09:23] hungtv31 commented on #842
@nomeguy
As you can see. There are two type ADFS and AzureAD. What is difference between them
![image](https://user-images.githubusercontent.com/12571167/177033321-2266ed00-99b6-4ac1-816f-b02e9dc87fa7.png)
And I do not see any guild line about Azure AD on document (https://casdoor.org/docs/provider/oauth/overview).
please add more!

[2022-07-03 09:30] hsluoyz commented on #706
@Xeonacid

[2022-07-03 10:00] hungtv31 commented on #842
And I try to login via link demo: https://door.casdoor.com/login but has error, I can not login.
![image](https://user-images.githubusercontent.com/12571167/177034622-1a1c2d9b-d360-4217-9b51-4ee7c204218e.png)
Error:
![image](https://user-images.githubusercontent.com/12571167/177034708-86b45409-d021-4ab3-afe6-2ddfb91b4abd.png)

[2022-07-03 10:16] leo220yuyaodog commented on #842
Azure AD is Microsoft Azure certification https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-oauth2
We will add the documentation about Aure AD.

[2022-07-03 11:47] nomeguy commented on #842
@hungtv31

It's because our AzureAD app registration has expired. We have re-configured it. You can try it now again, it's working.

- If you are using Windows Servers, you can use ADFS: https://docs.microsoft.com/en-us/windows-server/identity/active-directory-federation-services
- If you are using Azure cloud, you can use AAD: https://azure.microsoft.com/en-us/services/active-directory/

[2022-07-03 12:52] hsluoyz opened #850 "Add frontend JS code linter"
Right now we manually control the code style quality for JS code at: https://github.com/casdoor/casdoor/tree/master/web/src , but it's very tired for code review.

We need to setup a JS linter to `fully comply with our current code style`. It perhaps needs to tune the linter parameters to be close to what style we have now as much as possible.

Like:

https://github.com/casdoor/casdoor/blob/f37fd6

[2022-07-03 12:52] hsluoyz commented on #850
@leo220yuyaodog

[2022-07-03 14:26] hungtv31 commented on #842
@nomeguy
I try to re-login. but it has another issues. please check again!
![image](https://user-images.githubusercontent.com/12571167/177044143-05813dfe-90bf-405e-863a-4893cf1db051.png)

[2022-07-03 14:48] nomeguy commented on #842
@hungtv31 can you paste the whole URL here?

[2022-07-03 15:29] hungtv31 commented on #842
@nomeguy
The link in URL:
https://door.casdoor.com/callback?error=access_denied&error_description=AADSTS650056%3a+Misconfigured+application.+This+could+be+due+to+one+of+the+following%3a+the+client+has+not+listed+any+permissions+for+%27AAD+Graph%27+in+the+requested+permissions+in+the+client%27s+application+registration.+Or%2c+the+admin+has+not+consented+in+the+tenant.+Or%2c+check+the+application+id

[2022-07-03 15:39] nomeguy commented on #842
@hungtv31 but I tried and it worked.

@leo220yuyaodog can you try it?

[2022-07-03 15:41] Abingcbc opened #851 "Feature Request: Initialize casdoor from configuration file"
Currently, users have to log in Casdoor from a browser or call restful API to add an `application`. Both methods require users to make some operations after installation and then Casdoor can be ready to use.

For `out-of-the-box` feature, Casdoor can support initializing the database from a user-defined configuration file.

--------------

The configuration file is named `init_data.json`.
This fil

[2022-07-03 15:51] fanux commented on #851
Yes, [sealos](https://github.com/labring/sealos) want integrate casdoor, we need this feature~

[2022-07-03 15:53] hungtv31 commented on #842
@nomeguy
I have just run it on chrome --> it has **error**.
I have just run it on firefox --> it is **ok**

[2022-07-03 15:56] leo220yuyaodog commented on #842
I meet the same error on chrome.
https://door.casdoor.com/callback?error=access_denied&error_description=AADSTS650056%3a+Misconfigured+application.+This+could+be+due+to+one+of+the+following%3a+the+client+has+not+listed+any+permissions+for+%27AAD+Graph%27+in+the+requested+permissions+in+the+client%27s+application+registration.+Or%2c+the+admin+has+not+consented+in+the+tenant.+Or%2c+check+the+applica

[2022-07-04 07:56] hsluoyz commented on #422
Done at: https://github.com/apache/apisix/pull/6382

[2022-07-04 07:56] #422 closed

[2022-07-04 07:56] #259 closed

[2022-07-04 07:58] #68 closed

[2022-07-04 07:58] hsluoyz commented on #151
Done at: https://github.com/casdoor/casdoor-android-sdk

[2022-07-04 07:58] #151 closed

[2022-07-04 08:23] hsluoyz opened #853 "Make a Casdoor middleware named "sso" for fiber"
It can be listed in: https://github.com/gofiber/fiber#-external-middleware

[2022-07-04 08:28] hsluoyz opened #854 "Integrate alist with Casdoor"
https://github.com/alist-org/alist

See: https://github.com/alist-org/alist/issues/1304

[2022-07-04 09:13] hsluoyz commented on #853
@RyaoChengfeng

[2022-07-04 10:43] tetra12 opened #856 "bug: invalid redirect after sign up"
Hello I'm using Casdoor v1.62.0

Currently, when a user successfully `signs up`, a page occurs with the `Your account has been created!` message.
Two issues with that

1. When you click a `Sign In` button, you are redirected to the `${baseUrl}/login` page, which is invalid.
The valid page for my app should look smth like this: `http://localhost:8000/login/oauth/authorize?client_id=cb92c38bb2cd6d33

[2022-07-04 10:43] hsluoyz opened #857 "Support Discouse SSO with Casdoor"
See: https://github.com/discourse/discourse

[2022-07-04 10:46] hsluoyz commented on #856
@seriouszyx

[2022-07-04 11:08] hsluoyz commented on #776
@thanhpd56 @AmreeshTyagi @KrishnaPG plz help review this PR: https://github.com/casdoor/casdoor/pull/806 This is probaly what you need.

[2022-07-04 11:13] thanhpd56 commented on #776
I don't think that's what I want.
As I see it only checks permission for the login api right?
<img width="908" alt="image" src="https://user-images.githubusercontent.com/3794898/177143374-5c8c7fc5-a592-4b7f-a28e-4f46a49dfa6c.png">
However, I need an api for other service can call to check whether an user has specific permission or not.
Thanks.

[2022-07-04 13:04] thanhpd56 commented on #849
I'm confusing about this too.

[2022-07-04 13:17] hsluoyz commented on #776
@seriouszyx

[2022-07-04 16:36] #851 closed

[2022-07-04 20:04] Kalinin-Andrey opened #859 "Sending code to email stopped working. How can I find the error?"
Hi all!
I am using a ready-made Casdoor container image. Sending code to email stopped working. There are no error messages on standard output. How can I find the error? Where to enable debug level logging?
Thank you!

[2022-07-05 00:45] hsluoyz commented on #859
@Kalinin-Andrey did you try the Email tester? https://github.com/casdoor/casdoor/pull/819

[2022-07-05 00:47] nomeguy commented on #842
@hungtv31 did you see this commit: https://github.com/casdoor/casdoor/commit/b8e324cadf49f7818143665a523124b4640ab601 ? Can you try the latest release to see if it is fixed?

[2022-07-05 08:35] aecra opened #860 "WORKDIR changed in Dockerfile"
See [WORKDIR /app](https://github.com/casdoor/casdoor/blob/ec296215471b1e2e35add3826f07ec5bd8165970/Dockerfile#L17).

WORKDIR was changed from "/" to "/app".

But there are no synchronous changes to the use of docker in the documentation.

[2022-07-05 09:13] hsluoyz commented on #860
The commit: https://github.com/casdoor/casdoor/commit/cd902a21ba3ad9441bf3c5f6491dced49dfa7177 caused this.

@atompi plz change the work dir back to "/" by making a new PR and keep the docs up-to-update.

[2022-07-05 09:23] NoverNobida opened #861 "Email field was not returned in the profile parameter"
I use casdoor OIDC for [Outline](https://github.com/outline/outline), the config is
[code]
But I got the error `An email field was not returned in the profile parameter`. Maybe `OIDC_AUTH_URI` `OIDC_TOKEN_URI` or `OIDC_USERINFO_URI` is not correct? Or the profile that returned did not contain `email`?

[2022-07-05 15:51] Kalinin-Andrey commented on #859
@hsluoyz, thanx for Email tester, I did not know!)
I tried the tester - sending emails works, all test emails were sent.

And I seem to have found the problem, look at the screen: password recovery goes through a custom application, and the request goes to the built-in application, and yes, the provider was not set there.
![pass_recovery](https://user-images.githubusercontent.com/8151806/177367294

[2022-07-06 05:14] LunziSTU opened #863 "Can't edit admin account while deploying on K8s"
Using external databases.
Only the admin account does not show the edit form.

![image](https://user-images.githubusercontent.com/50568827/177473450-6417e15d-8751-4b0f-a0b5-1270d85e8cb4.png)

[2022-07-06 11:10] leo220yuyaodog commented on #842
Yes, removed the parameter: &resource=https://graph.windows.net/ it work well. But it just return the user's displayname, azurad document says we can get all the basic information of the user. I try others scope like openid+profile, it faild. Maybe the results are good now.

[2022-07-06 11:29] hsluoyz commented on #863
See: https://casdoor.org/docs/organization/accountCustomization

[2022-07-06 11:29] #863 closed

[2022-07-06 11:30] hsluoyz commented on #859
@leo220yuyaodog

[2022-07-06 11:31] #842 closed

[2022-07-06 17:01] hungtv31 opened #864 "[Question] Permission when login by AzureAD provider"
Hi all,
I set up login use provider by AzureAD. I created app and set appID and secret. But I can not login by it.
Can you help me. I think that I miss permisson on portal. but i do not it.
![image](https://user-images.githubusercontent.com/12571167/177604635-fa126254-e9a2-458c-ac1b-b6f2e35113f7.png)

[2022-07-06 17:10] Kalinin-Andrey commented on #859
@hsluoyz, thank you! The error message is right. But I want to clarify once again, that to send a letter to a user of a custom application, the settings used are not for this application, but for the built-in one. This is right? Was that intended or is this a bug?

[2022-07-06 23:36] leo220yuyaodog commented on #864
![image](https://user-images.githubusercontent.com/71440988/177659685-c50871e7-e35f-4dbd-8dd0-2650727f93fc.png)
![image](https://user-images.githubusercontent.com/71440988/177660019-391b0d42-affa-4ac1-9361-ad65f14e9eff.png)

@hungtv31 Please see the API permission and Support account type.

[2022-07-07 01:30] ziliangyu opened #865 "Front end should add eslint and husky"
Eslint + husky should be added to ensure the quality workflow of GIT code submission.

[2022-07-07 03:42] seriouszyx commented on #856
After debugging, I think we need to make two changes:
1. [casdoor-js-sdk/sdk.ts](https://github.com/casdoor/casdoor-js-sdk/blob/72d558769d5cfd7d97ea9d2b77c2027b4f0c2b54/src/sdk.ts#L52). The `getSignupUrl` method doesn't pass params such as client_id and redirect_uri to casdoor. So after successful signup, casdoor will not get this params to jump.
2. [casdoor/SignupPage.js](https://github.com/casdo

[2022-07-07 03:53] LunziSTU commented on #863
The reason is related to this  #issue：[The reason is related to this issue](https://github.com/casdoor/casdoor/issues/579)

[2022-07-07 08:10] #860 closed

[2022-07-07 13:35] leo220yuyaodog commented on #864
@hungtv31
Hi, I think your configuration and mine are a little different. Please check it again. Your application maybe use the second type. I try it. I also cannot use this type to login. If you do want to use the second type, now I only have personal account, no azuread organization account. I can't help you very well right now.
![image](https://user-images.githubusercontent.com/71440988/1777832

[2022-07-08 03:44] gopecan opened #867 "WeChat state parameter is too long"
If the login page of the Casdoor app (not app-built-in) is opened on the WeChat client and the WeChat is used to log in, the WeChat returns the error "state parameter is too long".

[2022-07-08 08:28] sersoong commented on #849
This is very complicated.
Maybe this is semi-manufactures.
No example.

[2022-07-08 09:22] hsluoyz commented on #861
@Abingcbc

[2022-07-08 10:27] Abingcbc commented on #861
@NoverNobida
[code]

[2022-07-08 11:38] RyaoChengfeng commented on #861
@NoverNobida Obviously, `OIDC_AUTH_URI` `OIDC_TOKEN_URI`  `OIDC_USERINFO_URI` is correctly configured.

I think the reponse body of `/api/git-account` not fit in oidc. Please try `OIDC_USERNAME_CLAIM=sub` and see if it works so that I can identify the problem.

[2022-07-08 12:06] hsluoyz commented on #859
@Kalinin-Andrey the expected behavior is that the email will be sent via the first Email provider of the application, failed if there's no Email provider for the application.

[2022-07-08 12:23] RyaoChengfeng commented on #861
@Abingcbc Why use `user.email` instead of `email` ? I think it's just that `OIDC_USERINFO_URI` is not configured correctly.

[2022-07-08 12:36] #673 closed

[2022-07-08 12:46] Abingcbc commented on #861
@NoverNobida Yes, you are right

[2022-07-08 13:27] leo220yuyaodog commented on #864
@hungtv31
You can grant admin consent to resolve the issue.

![A_DZ%OP%_@S 6Q)D25VESSM](https://user-images.githubusercontent.com/71440988/178001188-c40ea8ca-10fa-4e14-a6f2-71ce12fdb321.png)

[2022-07-08 14:02] #864 closed, assigned to hsluoyz

[2022-07-08 14:58] hsluoyz commented on #859
@leo220yuyaodog

[2022-07-08 16:03] nomeguy commented on #842
@hungtv31 docs are also added: https://casdoor.org/docs/provider/oauth/azureAD

[2022-07-08 16:09] hsluoyz commented on #579
Fixed in: https://github.com/casdoor/casdoor/pull/831

[2022-07-08 16:09] #579 closed

[2022-07-08 16:14] hsluoyz commented on #863
@LunziSTU https://github.com/casdoor/casdoor/issues/579 has been fixed in: https://github.com/casdoor/casdoor/pull/831

[2022-07-08 16:27] hsluoyz commented on #867
@gopecan similar to: https://github.com/casdoor/casdoor/issues/504

We need to make the state shorter. Perhaps this is a possible solution: https://github.com/casdoor/casdoor/issues/564

[2022-07-08 19:32] zhufengning opened #870 "[Docker]Index page is empty and log shows "Handler crashed with error runtime error: invalid memory address or nil pointer dereference""
![图片](https://user-images.githubusercontent.com/22849152/178058458-93b73397-17ab-46ad-ad21-b65bafc09a1a.png)

version: v1.64.0
running in docker
connected to mariadb
[code]

my docker-compose.yml is
[code]
my app.conf is
[code]

[2022-07-09 01:17] hsluoyz commented on #870
@zhufengning it seems that your Beego session object is `nil`, causing the null pointer error. By default Casdoor uses local files as session in the `/tmp` folder. You need to check whether you have changed this config wrongly.

![image](https://user-images.githubusercontent.com/3787410/178086196-be582ab7-0f48-4794-b550-b8e537326870.png)

[2022-07-09 11:57] hsluoyz opened #873 "Integrate Casdoor with K8s dashboard"
See: https://github.com/kubernetes/dashboard

[2022-07-09 16:40] #859 closed

[2022-07-09 16:57] hsluoyz opened #874 "Integrating with showdoc via OAuth 2.0 error"
showdoc: https://github.com/star7th/showdoc

showdoc's OAuth2: https://github.com/star7th/showdoc/issues/973

Error:

![@`(J30 0A0VADE{0SJL 9ZX](https://user-images.githubusercontent.com/3787410/178115475-b9dd9a52-cb81-40b8-9ead-a97dd78d4b7b.jpg)

The config:

![@`(J30 0A0222VADE0SJL 9ZX](https://user-images.githubusercontent.com/3787410/178115501-d9fb2046-27e1-40e7-a24b-0e028c1e350c.png)

[2022-07-10 04:15] #828 closed

[2022-07-10 06:17] redochenzhen commented on #849
any updates?  I'm stuck here, too.

[2022-07-10 07:45] #850 closed

[2022-07-11 03:43] bobhu2k opened #876 "Can't login with admin/123 use latest docker image version(casbin/casdoor v1.67.0)"
from  1.63.0  - 1.67.0  can't login :

Uncaught (in promise) SyntaxError: Unexpected end of JSON input
    at AuthBackend.js:62:22

<img width="827" alt="image" src="https://user-images.githubusercontent.com/8317400/178184141-aee7dc1f-7b4b-452b-9f1a-814b4e4c6acb.png">

[2022-07-11 03:47] bobhu2k commented on #876
db version : postgres:14-alpine

[2022-07-11 03:57] Abingcbc commented on #870
@zhufengning You must set `SessionOn = true` in your conf

[2022-07-11 04:07] hsluoyz commented on #870
@zhufengning plz don't modify or delete anything you don't know in `app.conf`

[2022-07-11 04:07] #870 closed

[2022-07-11 04:11] hsluoyz commented on #876
@bobhu2k is v1.62.0 OK?

[2022-07-11 04:11] hsluoyz commented on #876
@Abingcbc @ComradeProgrammer

[2022-07-11 06:46] LunziSTU opened #878 "There is not yet an API to get a list of permissions for a specified user"

[2022-07-11 15:10] seriouszyx commented on #856
@tetra12 I made a demo video using [casnode](https://github.com/casbin/casnode).  Now after successful signup, it will jump to the valid signin URL.

[Casnode.webm](https://user-images.githubusercontent.com/33992371/178295975-65601bd6-b39b-49fa-8e0b-3b0f234ca972.webm)

[2022-07-12 07:44] waltcow commented on #876
meet same issue in latest version of casdoor

[2022-07-12 10:35] hsluoyz commented on #876
@ComradeProgrammer

[2022-07-12 12:06] #399 closed

[2022-07-14 02:51] leo220yuyaodog commented on #876
Commit https://github.com/casdoor/casdoor/commit/b4bf734fe82df908bede10b1a554d56bd221255e add cors filter.  After 1.63.0 image, you need to set `origin` in `app.conf`, make sure the `headorigin` is same as `origin` in `app.conf` https://github.com/casdoor/casdoor/blame/master/routers/cors_filter.go#L34-L37. Or you can choose not to fill it in and there will be no origin judgment.

[2022-07-14 03:01] zyazhb commented on #878
Need this feature too, we can config role in the database, but there seems no way to retrive a user's role.

[2022-07-14 05:50] bobhu2k commented on #876
@leo220yuyaodog  got it,tks!

[2022-07-14 05:54] bobhu2k commented on #876
@leo220yuyaodog but when i config origin(eg: http://localhost:3000) ,how to use admin to login in (http://localhost:8000)?

[2022-07-14 06:00] leo220yuyaodog commented on #876
See the document https://casdoor.org/docs/basic/server-installation#production-mode. You can build the frontend.

[2022-07-14 06:03] bobhu2k commented on #876
the origin config  support multiple domain？

[2022-07-14 06:38] zhuyalun888 commented on #849
any updates? I'm stuck here, too.

[2022-07-14 10:02] billyhu opened #880 "Keycloak Syncer Issue - Syncer failed to sync users: SyntaxError: Unexpected token < in JSON at position 1"
I have launched keycloak  "quay.io/keycloak/keycloak:legacy", postgres and casdoor "casbin/casdoor-all-in-one" with docker image, and tried to sync users with keycloak syncer in casdoor.
I followed this doc to config keycloak syncer - https://casdoor.org/docs/syncer/Keycloak#keycloak-syncer,
and got below error message when triggering syncer
Syncer failed to sync users: SyntaxError: Unexpected tok

[2022-07-14 12:20] #876 closed

[2022-07-14 13:37] hsluoyz commented on #880
@seriouszyx

[2022-07-14 13:46] hsluoyz commented on #856
@tetra12

[2022-07-14 20:49] tetra12 commented on #856
@hsluoyz I'll check it tomorrow. Thanks for your fix @seriouszyx

[2022-07-15 03:11] chenjpu opened #881 "Different domain names, sso login problem?"
Integrate two different app through cas. After logging in app1, it is expected to access app2 directly without login.
After actual operation, no matter which app is logged in first, another app needs to be verified again.

[2022-07-15 03:56] waltcow opened #882 "Typo in user model xorm tag"
typo `vachar(100) ` in `object/user.go`   lead to invalid create table sql statement

[code]

<img width="600" alt="image" src="https://user-images.githubusercontent.com/3941174/179146908-5d192bbf-d3bf-4bed-8972-9f659dac63b3.png">

[2022-07-15 04:01] #882 closed

[2022-07-15 09:32] waltcow opened #884 "Wrong usage of getUserById"
When I review code of syncer_user logic, I found something maybe wrong

https://github.com/casdoor/casdoor/blob/895cdd024d52e29ea9df61a0b6ea4219c6e44ac4/object/syncer_user.go#L115-L134

https://github.com/casdoor/casdoor/blob/801302c6e72f8cf82ed563a92694c6ce329456cd/util/string.go#L87-L95

[code]
when we call `getUserById` method, it should pass through user owner and id rather than owner and name

[2022-07-15 13:29] hsluoyz commented on #884
@waltcow can you explain a little bit more?

[2022-07-15 15:34] hsluoyz commented on #865
Fixed by: https://github.com/casdoor/casdoor/pull/875

[2022-07-15 15:34] #865 closed

[2022-07-15 15:36] hsluoyz opened #885 "Make a Chrome extension for Casdoor"
This extension can log into Casdoor. Then this extension will act like 1password to help users input creds for different applications.

[2022-07-15 15:51] hsluoyz commented on #706
@qianxi0410

[2022-07-16 00:26] waltcow commented on #884
@hsluoyz I have just edit this issue description

[2022-07-16 03:47] seriouszyx commented on #880
@billyhu We fixed the dataSource for PostgreSQL and some detailed problems where the Keycloak table fields in the PostgrSQL are all lowercase. plz review https://github.com/casdoor/casdoor/pull/886

[2022-07-16 04:14] #880 closed

[2022-07-16 05:18] FoeverA0 commented on #585
Is anyone working on this issue？ maybe I can try to resolve this problem.

[2022-07-16 05:39] hsluoyz commented on #585
@FoeverA0 plz work on it

[2022-07-16 07:02] Zerek-Cheng opened #888 "The third-party Oauth account is bound,The global administrator cannot unbind or modify binding information of others"
![](https://user-images.githubusercontent.com/16066557/179344140-e132a5bc-51a9-4321-8162-680ab2c40345.png)

[2022-07-16 13:04] star7th commented on #874
casdoor获取用户info的路径是  /api/get-account

[2022-07-17 03:25] waltcow opened #889 "Typo in field tag in BilibiliUserInfo struct"
[code]

https://github.com/casdoor/casdoor/blob/2eec53a6d0a4363938e611949886e8bb8b3a97a3/idp/bilibili.go#L144-L148

[2022-07-17 03:31] #889 closed

[2022-07-17 10:03] hsluoyz commented on #576
@zhongjixiuxing `JWT-Empty` token format can be used: https://casdoor.org/docs/integration/apisix#step2-configure-casdoor-application

[2022-07-17 10:03] #576 closed

[2022-07-17 10:08] hsluoyz commented on #453
Done at: https://casdoor.org/docs/how-to-connect/sdk#:~:text=export%20function%20showMessage(type%2C%20text)%20%7B%0A%20%20if%20(type%20%3D%3D%3D%20%22%22)%20%7B%0A%20%20%20%20return%3B%0A%20%20%7D%20else%20if%20(type%20%3D%3D%3D%20%22success%22)%20%7B%0A%20%20%20%20message.success(text)%3B%0A%20%20%7D%20else%20if%20(type%20%3D%3D%3D%20%22error%22)%20%7B%0A%20%20%20%20message.error(text)%3B%0A%20%

[2022-07-17 10:08] #453 closed

[2022-07-17 10:18] zhongjixiuxing commented on #576
Good Jobs.

[2022-07-17 10:20] #706 closed

[2022-07-17 14:55] hsluoyz opened #893 "Bug when connecting with oauth2-proxy"
https://github.com/oauth2-proxy/oauth2-proxy

[2022-07-18 07:34] FoeverA0 commented on #585
#894

[2022-07-18 09:21] billyhu commented on #880
Thanks @seriouszyx  and @hsluoyz.
I have tried to sync users with the latest image of casdoor,  there's no error message now, while it seems users are still not inserted into the table casdoor.user, so we cannot see users list on the page. could you please have a check on this issue?

[2022-07-18 15:15] monyuan opened #897 "When the login password is wrong, enable verification code"
Goal: prevent passwords from being hacked

![image](https://user-images.githubusercontent.com/3787410/204068341-272ac26c-7369-4f1f-8f17-fe111f2cf6c0.png)

https://user-images.githubusercontent.com/55948263/196044142-e02e42eb-df0b-4590-8759-c3ec29932b08.mov

See: https://github.com/casdoor/casdoor/pull/1211, now it already supports:

- `None`: not enabled
- `Always`: human-machine verification is p

[2022-07-19 01:55] billyhu commented on #880
sure, thanks.

[2022-07-19 01:59] billyhu opened #898 "users are not inserted into the table casdoor.user when sync users from keycloak to casdoor with keycloak syncer"
I have launched keycloak "quay.io/keycloak/keycloak:legacy", postgres and casdoor "casbin/casdoor-all-in-one" with docker image, and tried to sync users with keycloak syncer in casdoor.
I followed this doc to config keycloak syncer - https://casdoor.org/docs/syncer/Keycloak#keycloak-syncer,
When I tried to sync users with the latest image of casdoor, there's no error message now, while it seems us

[2022-07-19 02:24] hsluoyz commented on #898
@seriouszyx

[2022-07-19 07:07] KricYi opened #899 "Add "jti" (JWT ID) to JWT"
Token format  default JWT is too long ，and  JWT-EMPTY info is too little information.
It is recommended to add a unique identifier  "jti" (JWT ID), Developers can associate session context through jti。

The [JWT spec](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.7) mentions a jti claim which allegedly can be used as a nonce to prevent replay attacks:
The "jti" (JWT ID) claim provides a uniqu

[2022-07-19 07:10] KricYi commented on #899
Can the table "token" ower + name be used as "jti"

[2022-07-19 08:06] chenjpu commented on #881
https://github.com/casdoor/casdoor/issues/530

[2022-07-19 11:55] hsluoyz commented on #899
@KricYi maybe. Can you make a PR?

[2022-07-19 12:05] hsluoyz commented on #881
Dup with: https://github.com/casdoor/casdoor/issues/530

[2022-07-19 12:05] #881 closed

[2022-07-19 13:58] monyuan opened #900 "Springboot plugin must be upgraded to address vulnerabilities announced by CVE"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-36518

![image](https://user-images.githubusercontent.com/56907515/179768678-dd9eb894-4f4e-4b91-8974-0ac288bad578.png)

[2022-07-19 14:18] seriouszyx commented on #900
- [ ] casdoor-java-sdk: https://github.com/casdoor/casdoor-java-sdk/pull/24
- [ ] casdoor-spring-boot-starter

[2022-07-19 15:31] #856 closed

[2022-07-19 17:04] jmluang opened #901 "Can't login with admin/123 use latest docker image version(casbin/casdoor v1.71.0)"
![2022-07-20 01 04 15](https://user-images.githubusercontent.com/11557732/179808386-de2aabed-884b-4ac2-8192-73f580b5ebde.png)

v1.71.0  can't login :

msg: Unexpected end of JSON input

similar with #876 , But it happens on the backend

[2022-07-19 17:52] hsluoyz commented on #901
@leo220yuyaodog

[2022-07-20 07:46] leo220yuyaodog commented on #901
@jmluang I test version v1.71.0, it work well.  I cannot reproduce the issue.

[2022-07-20 09:09] jmluang commented on #901
@leo220yuyaodog
[code]
[code]
 i'm running in docker, can you try my conf? I have reproduce this issue on different servers.

[2022-07-20 14:34] jyxenlink opened #902 "Can you add the logout URL as get mode in the system"
The system logout API is post mode, but many third-party business systems don ’t support this mode. Can you add the logout URL as get mode in the system, because this URL address logout mode is more general and convenient for system integration. I hope to adopt it!

[2022-07-21 02:10] #874 closed

[2022-07-21 02:28] hsluoyz commented on #902
@leo220yuyaodog

[2022-07-21 15:05] leo220yuyaodog commented on #902
@jyxenlink  My understanding is that add a logout page, after visit the logout url as get mode, go to the logout page. Then click the logout button to send the existing POST request . Is that okay?

[2022-07-21 16:44] hsluoyz commented on #902
@leo220yuyaodog why not add an additional GET route for the same handler? It doesn't have to be a logout page, an API that serves GET, returns 200 and do the logout job is also acceptable?

[2022-07-22 13:13] #902 closed

[2022-07-22 13:47] #738 closed

[2022-07-22 13:57] aecra opened #904 "Default action prevents admin to login in"
You go into the permission editor, and then return, this default permission is saved, and it is associated with the admin, so the administrator cannot log in.

[2022-07-22 14:02] hsluoyz commented on #904
@seriouszyx

[2022-07-23 01:40] #585 closed

[2022-07-23 04:41] hsluoyz opened #905 "Integrate Spring Cloud Gateway with Casdoor"
https://spring.io/projects/spring-cloud-gateway

About how to develop a plugin to integrate Casdoor with a gateway software, plz refer to:

- APISIX: https://apisix.apache.org/docs/apisix/plugins/authz-casdoor/
- Kong: https://github.com/casdoor/casdoor/issues/280

Example repo created here: https://github.com/casdoor/springcloud-gateway-example

[2022-07-23 06:22] FoeverA0 commented on #904
Hi can I grab this issue?

[2022-07-23 06:23] hsluoyz commented on #904
@FoeverA0 go ahead!

[2022-07-23 06:37] FoeverA0 commented on #904
@aecra I think I found the problem because the default permissions did not set admin to sub user so admin can't log in, I'm working to setting sub user to admin when default permissions initialized.

[2022-07-23 07:28] holtenko commented on #904
same issue 😥

[2022-07-23 07:47] hsluoyz commented on #904
@FoeverA0 we can add a built-in permission to allow global admins (users in `built-in` org) to do anything. Add it to `InitDb()`

![image](https://user-images.githubusercontent.com/3787410/180595905-89e989da-ebc3-40f3-93ba-6ee3ac803fc1.png)

[2022-07-23 08:13] FoeverA0 commented on #904
@hsluoyz Thanks for your help, it was very helpful to me

[2022-07-23 17:10] dirname opened #906 "After disabling the sign up, the "sign in with code" disappears"
This issue will cause registered users to be unable to sign in with a verification code after the registration of some applications is stopped.

<img width="693" alt="Screenshot 2022-07-24 010600" src="https://user-images.githubusercontent.com/18101258/180615487-274ae5e7-961e-4f40-8123-3ab548eaadd1.png">

<img width="685" alt="Screenshot 2022-07-24 010745" src="https://user-images.githubuserconten

[2022-07-24 03:01] hsluoyz commented on #906
@RyaoChengfeng

[2022-07-24 13:54] FoeverA0 commented on #904
#907

[2022-07-24 15:36] #904 closed

[2022-07-24 15:58] hsluoyz commented on #888
@FoeverA0

[2022-07-24 16:06] FoeverA0 commented on #888
I'd like to give this a try, I'll submit a PR as soon as I'll have something to share :)

[2022-07-24 16:47] hsluoyz opened #908 "Make a React Native SDK for Casdoor"

[2022-07-24 16:51] hsluoyz opened #909 "Make a Chrome Extension SDK for Casdoor"
Allow the Chrome extensions to use Casdoor to log in their users

[2022-07-25 05:11] seriouszyx commented on #898
@billyhu I double-checked that the users can be synced in my environment. Could you provide the logs after clicking the `sync` button? My logs are shown below.

![image](https://user-images.githubusercontent.com/33992371/180702593-7c1a7a25-6be8-4005-8b28-a1064c4c2b40.png)

postgres and keycloak container:

![image](https://user-images.githubusercontent.com/33992371/180702788-6a56cbca-5b9a-4bba-9a3

[2022-07-26 03:11] T-baby commented on #584
I feel that it may be better to go through the CAPTCHA when logging in.

[2022-07-26 03:49] billyhu commented on #898
Thanks @seriouszyx . I have tried it again and confirmed that users can be synced if users name is not conflict between kc and casdoor, while users with the same name will block the whole syncing batch and no one is synced.

[2022-07-26 03:52] hsluoyz commented on #898
@billyhu what do you mean by "username conflict"? Can you explain more about it?

[2022-07-26 05:59] billyhu commented on #898
Sure, @hsluoyz . For example, if there's a user with name 'test' in keycloak and casdoor has a existing user with the same name 'test', the casdoor syncer cannot sync users.

[2022-07-26 06:24] hsluoyz opened #912 "Integrate Zabbix with Casdoor SSO authentication"
https://github.com/zabbix/zabbix

[2022-07-26 06:29] hsluoyz commented on #898
@billyhu we should skip the duplicated users. Can you make a PR?

[2022-07-26 13:48] leo220yuyaodog commented on #901
Your `app.conf` need include all the config in casdoor. https://github.com/casdoor/casdoor/blob/master/conf/app.conf
If it just has three config about db ,it can't login.   I will improve the document about using docker.

[code]

[2022-07-26 13:54] Zerek-Cheng opened #913 "Need an API interface to retrieve user roles through user queries"

[2022-07-26 13:54] Zerek-Cheng opened #914 "Add the support for GeeTest CAPTCHA"
https://www.geetest.com/

[2022-07-26 13:55] hsluoyz commented on #901
@leo220yuyaodog yes, this docs is misleading: https://casdoor.org/docs/basic/try-with-docker

![image](https://user-images.githubusercontent.com/3787410/181023362-87ffaf56-a9cb-4735-aa99-971987b14be9.png)

Maybe we should redirect the config in docker docs to: https://casdoor.org/docs/basic/server-installation#via-ini-file

[2022-07-26 14:24] jmluang commented on #901
thanks, thanks, everything work well after using the full config
 [https://github.com/casdoor/casdoor/blob/master/conf/app.conf](https://github.com/casdoor/casdoor/blob/master/conf/app.conf?rgh-link-date=2022-07-26T13%3A48%3A41Z)

[2022-07-26 14:24] #901 closed

[2022-07-26 14:58] hsluoyz opened #916 "Add more restrictions to permissions"
Like: https://github.com/casdoor/casdoor/commit/0e41568f620058e824177957e8b5edb8acde3891#diff-009ed459acbafa374d33f30ee04034a1bf95db713f5abf5a0a45cfe9545c343fR85

[2022-07-26 14:59] hsluoyz commented on #916
@seriouszyx

[2022-07-26 15:39] Zerek-Cheng opened #917 "Can not use SMTP provider with MYSUBMAIL.COM at 465 port"
the error:

[the docs](https://mysubmail.com/documents/J2pHa)

[2022-07-26 16:43] hsluoyz commented on #893
Done, see tutorial here: https://studygolang.com/topics/15475

[2022-07-27 03:45] billyhu commented on #898
Thanks, @hsluoyz . I'm not sure what the 'PR' means?

[2022-07-27 04:12] KrishnaPG opened #918 "Social Signup or Linking causes 500 Internal Server Error"
The following scenarios all are cause this error:

- Enable Signup option for Social buttons (google, github etc.) and Sign-in with any social login. The first signing will cause 500 Internal Server Error. (If you try again, it will work fine).
- Login with eMail and password, and try to link a social account. It will result in the server 500 error.

It looks like whenever a new user entry is crea

[2022-07-27 05:38] hsluoyz commented on #898
@billyhu ok,

@seriouszyx plz work on this

[2022-07-27 05:55] muharihar opened #919 "[question] why not using https://github.com/beego/beego ?"
Dear Team,

Just want to know, why casdoor not using https://github.com/beego/beego instead of https://github.com/astaxie/beego ?

Thank you!

[2022-07-27 10:40] hsluoyz commented on #918
@qianxi0410

[2022-07-28 00:42] jyxenlink opened #921 "’Enable code sign‘ is not displayed in the login page"
In casdoor_v1.75.1, when 'enable sign' is disabled, 'enable code sign' will be disabled together. This is a bug.

[2022-07-28 02:05] hsluoyz commented on #884
Actually this is not a bug, won't fix

[2022-07-28 02:05] #884 closed

[2022-07-28 03:45] hsluoyz commented on #919
@muharihar the Beego team changed their repo from https://github.com/astaxie/beego to https://github.com/beego/beego after we used it. And the v1 version we used (we prefer to use v1 version because it's enough stable) is still using https://github.com/astaxie/beego as import paths. So we cannot switch to beego/beego even if we want to do it.

[2022-07-28 09:16] maslow opened #922 "Any plan to support mongodb for casdoor?"
We have an open source serverless project: https://github.com/labring/laf

`laf`  wants to integrate `casdoor` as its built-in auth solution without importing a second type of database, that could keep `laf` as light as possible.

so do we have any plan to support mongodb for casdoor or how?

[2022-07-28 09:21] imp2002 commented on #921
When enableSignUp is false, the Footer not be rend. I'll try fix it.

https://github.com/casdoor/casdoor/blob/88652442623020e15074e7c7dba1430381e86ccc/web/src/auth/LoginPage.js#L508

https://github.com/casdoor/casdoor/blob/88652442623020e15074e7c7dba1430381e86ccc/web/src/auth/LoginPage.js#L538-L547

[2022-07-28 10:10] qianxi0410 opened #924 "Admins should not be allowed to add third-party login for their members"
Now I have two accounts, one admin and one user.
In the system, the administrator is allowed to click the link button under the user account:
![2022-07-28_18-06](https://user-images.githubusercontent.com/55543743/181480311-35a6e8e4-0da1-4ba2-9368-9546d931e667.png)

And the weirder behavior is that if the administrator clicks the link button at this time, he will add a third-party login for himself

[2022-07-28 13:52] #918 closed

[2022-07-28 14:03] WarlockFish opened #926 "Hope the project support arm CPU"
Hope the project support arm  CPU，example  raspberry-pi et。

In  arm64，  I can Build Casdoor Go backend code，but I can not build Casdoor frontend code 。

[2022-07-28 14:18] hsluoyz commented on #926
@WarlockFish

What's the error?

[2022-07-28 14:23] Resulte commented on #926
My M1 MAC is arm64 core. And I can build Casdoor frontend code successfully on this MAC. So I think that's not the arm64 caused you build failed. @WarlockFish

[2022-07-28 14:34] hsluoyz commented on #924
@qianxi0410 good point! Here's another similar issue: https://github.com/casdoor/casdoor/issues/888 . I think you can fix them together in one PR

[2022-07-28 15:11] #921 closed

[2022-07-28 15:12] hsluoyz commented on #906
Fixed in: https://github.com/casdoor/casdoor/pull/925

[2022-07-28 15:12] #906 closed

[2022-07-28 15:25] qianxi0410 commented on #924
@hsluoyz Yes, they are very similar.
Then the logic now becomes, only the user can link/unlink his own three-way link, the administrator does not have this right, right? Just to make sure!

[2022-07-28 15:27] WarlockFish commented on #926
I know why I can't compile it, I use `node==18.7` 。 when use `node==16` , Casdoor frontend code can build successfully。

[2022-07-28 15:33] hsluoyz commented on #926
Closed as resolved

[2022-07-28 15:33] #926 closed

[2022-07-28 15:36] qianxi0410 commented on #924
@hsluoyz Got it, I'll try to fix it.

[2022-07-28 15:39] hsluoyz commented on #913
@Resulte

[2022-07-30 02:58] FoeverA0 commented on #917
![QQ图片20220730105148](https://user-images.githubusercontent.com/92803447/181867567-3dd54cdf-156e-4158-a993-d7b9d442aca3.png)
@Zerek-Cheng I found the following information in the connection you provided, it looks like you need to use the SMTP provider on port 25? hope this helps you : )

[2022-07-30 09:31] #913 closed

[2022-07-30 09:54] Zerek-Cheng commented on #917
@FoeverA0
I have consulted the API provider, this interface supports 465 port requests. My hosting provider doesn't support port 25.

[2022-07-30 09:55] hsluoyz commented on #917
@Zerek-Cheng does this change work for you?

![image](https://user-images.githubusercontent.com/3787410/181905220-37955f4a-9590-4ade-b2ba-f0f509dbae15.png)

[2022-07-30 12:48] zhuqiangqiang opened #930 "Failed to update user information using java SDK"
Failed to update user information using java SDK. After debugging and checking, we found that the updated user interface returned 404, which can be updated in the test environment, and the above exception was reported in the production environment!
![QQ图片20220730204744](https://user-images.githubusercontent.com/28150189/181914995-c884876a-8f5d-4c5e-ad21-b09961b9df2d.jpg)

[2022-07-30 13:27] #930 closed

[2022-07-30 13:42] FoeverA0 commented on #917
#931

[2022-07-30 14:16] hsluoyz commented on #930
@zhuqiangqiang user claimed it's their own setting's issue, closed here

[2022-07-30 14:24] #898 closed

[2022-07-30 14:36] hsluoyz commented on #846
@seriouszyx

[2022-07-30 15:11] #888 closed

[2022-07-30 15:11] #924 closed

[2022-07-30 15:13] hsluoyz commented on #878
@LunziSTU @zyazhb done by: https://github.com/casdoor/casdoor/pull/929

[2022-07-30 15:13] #878 closed

[2022-07-30 15:22] hsluoyz commented on #619
@hanrea supported in the `prompted` feature: https://casdoor.org/docs/application/signup-items-tabel

[2022-07-30 15:22] #619 closed

[2022-07-30 15:23] hsluoyz commented on #663
@lwnmengjing not exactly but similar, you can get the roles by calling the get-user API, using access token as the arg: https://github.com/casdoor/casdoor/pull/929

[2022-07-30 15:23] #663 closed

[2022-07-30 16:00] hsluoyz commented on #504
@qianxi0410

[2022-07-30 16:13] zzjin opened #933 "Support deployment under subdirectory"
Currently casdoor can only deployed on main host like `http://test.com`, but some times we need to deploy it under sub subdirectory such as `http://test.com/login`, but casdoor's frontpage url is hardcoded using`/static/xxx`.

[2022-07-30 17:08] hsluoyz commented on #933
@Abingcbc

[2022-07-30 17:49] FoeverA0 commented on #917
Fix: https://github.com/casdoor/casdoor/issues/917

[2022-07-31 00:08] Zerek-Cheng commented on #917
yea，thks

[2022-07-31 00:08] #917 closed

[2022-07-31 06:25] hsluoyz commented on #912
@FoeverA0

[2022-07-31 08:20] WarlockFish opened #937 "how to set sqlite3?"
i set `driverName = sqlite` , then run :

[code]

[2022-07-31 10:13] hsluoyz commented on #937
@WarlockFish

1. Disable line 25 and enable line 27
2. Run `go mod tidy`

https://github.com/casdoor/casdoor/blob/1600615acad9810cd16937c0372aa6e3d75837f0/object/adapter.go#L17-L30

[2022-07-31 12:26] hsluoyz commented on #854
@wenxuan70

[2022-07-31 16:16] hsluoyz opened #941 "Support signin page UI with frame border and background image"
Like:

![image](https://user-images.githubusercontent.com/3787410/182035624-098d93fc-a7d6-47cd-af34-734dc5eaba82.png)

This PR: https://github.com/casdoor/casdoor/pull/978 can be used as an example.

![{D9A2CFF9-7368-D870-B319-FE813747ECA0}](https://user-images.githubusercontent.com/3787410/185942051-aba3196c-af34-49b6-9cbc-5ecca440f84a.jpg)

![{56484345-9FD8-9F61-A23B-64AC4B041720}](https://user-

[2022-08-01 02:30] jyxenlink opened #942 "Modify the link of social app image url and put these images on the local server to improve the access speed."
The social app image address of the login page is https://cdn.casbin.org/img/xxx.png , the access speed is slow. I suggest to modify the link and put these images on the local server to improve the access speed.

[2022-08-01 04:59] hsluoyz commented on #937
Closed as resolved

[2022-08-01 04:59] #937 closed

[2022-08-01 06:27] imp2002 commented on #942
I'm working on it.

[2022-08-01 08:46] leo220yuyaodog commented on #648
@mojerro  Hi, I'm doing this issue. I have doubts about the way how Hasura integrate with casdoor.  Could you provide a simple example?  I'm not familiar with hook. Now the body is hard code, do you mean that you want to modify the content directly in the [webhook page](https://door.casdoor.com/webhooks/webhook_hasura), rather than in the origin code.

[2022-08-01 11:13] BaiShaojie123123 opened #944 "Reminder binding after registration causes the page to crash"
![image](https://user-images.githubusercontent.com/24069576/182135837-05a911ff-73a4-496e-a587-6f15a98f8986.png)

image: casbin/casdoor:v1.78.0
linux

mac
Source code docker

[2022-08-01 11:16] BaiShaojie123123 commented on #944
![image](https://user-images.githubusercontent.com/24069576/182136552-e9a9913b-55b7-4ba9-b1ca-a47aebf7a8de.png)
发现有如下报错

[2022-08-01 12:45] qianxi0410 commented on #944
It's reproduced for now, I'll fix it.

[2022-08-01 13:01] qianxi0410 commented on #944
Clicking this button will cause the `OAuthWidget` component to re-render. I didn't notice this in the last pr. I'm very sorry for the trouble.

[2022-08-01 13:01] qianxi0410 commented on #944
cc @hsluoyz

[2022-08-01 13:08] #944 closed

[2022-08-01 15:05] AubreySte opened #946 "login page css error"
![image](https://user-images.githubusercontent.com/75111676/182180175-cd4b71ad-d508-4e04-b526-1d9c23fa3a10.png)
When there is already an account logged in, the bottom is blocking the login button

[2022-08-01 15:06] AubreySte commented on #946
source code lastest

[2022-08-01 16:21] #933 closed

[2022-08-02 01:42] WarlockFish commented on #937
Why not open all database interfaces ？

[2022-08-02 02:12] AubreySte opened #947 "auth2 Jump error after binding"
![image](https://user-images.githubusercontent.com/75111676/182276689-ef6be6ea-898f-45bb-a7c8-ef34d9ac71b2.png)

![image](https://user-images.githubusercontent.com/75111676/182276662-6d1b5ae9-b5bc-4e33-add6-7713de08d1c2.png)
When a new account is logged in with an account password, a github account is bound. Then click Complete Submission without jumping to the corresponding app's callback link. I

[2022-08-02 02:13] AubreySte commented on #947
source code lastest

[2022-08-02 03:54] hsluoyz commented on #937
@WarlockFish also add docs: https://casdoor.org/docs/basic/server-installation#sqlite3

To avoid too many dependencies in go.mod

[2022-08-02 03:55] hsluoyz commented on #947
@seriouszyx

[2022-08-02 05:57] zzjin commented on #937
Wired here, as with docker usage, the default docker image only supports mysql, users want to use `postgres` or `sqlite3` driver needs to build there docker image selves?

 When we say support many database drivers, we mean out of the box. anyone can use any db driver as their choice.

Why don't add 3 more dependencies in `go .mod`? Has there be some historical decision?

Just for note:
If main re

[2022-08-02 07:33] biu111biu opened #948 "How to realize dynamic switch of Enforcer of casbin？"
Casdoor supports each application to customize its own casbin model. I want to know how Casdoor realizes that each application can find its own enforcer (the model and policy of each enforcer are different, so I understand that each user has have their own different enforcers); I now need to use Java to implement a function similar to Casdoor, where each application can define model and policy ind

[2022-08-02 08:33] seriouszyx commented on #947
@AubreySte Can you provide a demo video (including the URL bar), because I wasn't able to reproduce this bug?

[2022-08-02 11:18] hsluoyz commented on #948
@seriouszyx

[2022-08-03 00:50] hlj opened #949 "Suggest : organization can support multi-level departments"
For enterprise applications, company->department->sub-department->user is the actual organizational structure. It is recommended to consider it.

[2022-08-03 14:25] billyhu commented on #898
Thanks @seriouszyx and @hsluoyz .

[2022-08-03 15:35] hsluoyz commented on #949
@hlj plz change to English

![image](https://user-images.githubusercontent.com/3787410/182649200-0273c656-76f1-4ab1-a5ca-3e7ac517507b.png)

[2022-08-04 00:53] hlj commented on #949
It is suggested that the organization can support multi-level departments, and users belong to a specific department. For enterprise applications, company->department->sub-department->user is the actual organizational structure. It is recommended to consider it.

[2022-08-04 01:59] hsluoyz commented on #949
@hlj plz modify the title and text, not appending new comment, thanks!

[2022-08-04 09:21] WarlockFish commented on #937
@hsluoyz

Docker is for the convenience of users ，  It should support all database drivers。 I support @zzjin 's viewpoints.

[2022-08-04 09:29] hsluoyz commented on #937
OK @zzjin @WarlockFish who can make a PR to enable all DBs in Go imports? I also would like to know the diff of Docker images after this change

[2022-08-04 12:30] nomeguy commented on #937
Done: https://github.com/casdoor/casdoor/commit/d55ae7d1d2a9221dea3be80911c68eb9a275c3d0

[2022-08-04 12:55] #914 closed

[2022-08-04 14:49] hsluoyz commented on #854
PRs:

- https://github.com/alist-org/alist/pull/1453
- https://github.com/alist-org/web-v2/pull/50

[2022-08-04 17:13] hsluoyz commented on #784
@RyaoChengfeng

[2022-08-04 17:14] hsluoyz commented on #916
@leo220yuyaodog

[2022-08-05 03:08] ziliangyu opened #956 "Incorrect translation of Chinese documents"
link: https://casdoor.org/zh/docs/basic/core-concept
![KN8S`ZKX$KL$4YCLAC9IHKY](https://user-images.githubusercontent.com/53009950/182993167-9dcad207-70b4-4dc2-8f24-535a5132d293.png)
s

[2022-08-05 03:19] ziliangyu commented on #956
link: https://casdoor.org/zh/docs/overview.   Is it better to use English？
![T$2~WOSFFC)~3J0YD1~{0RF](https://user-images.githubusercontent.com/53009950/182994403-4446b575-cd6c-46ed-a4a0-50e7ab2849d9.png)

[2022-08-05 06:00] mingxinkejian opened #957 "please support the sdk to method of get role info"
hi，developer!
user login by oauth2.0，but can't get role info。
please support the sdk to method of get role info！

[2022-08-05 07:38] nomeguy opened #958 "fix all frontend warnings"
like

![image](https://user-images.githubusercontent.com/85475922/183026945-07bffc79-5689-4d4d-b904-546d478e6ba7.png)

[2022-08-05 07:55] hsluoyz commented on #958
@joy0010 @AnjanaVakil @jakiuncle can anyone work on this?

[2022-08-05 08:51] hsluoyz opened #959 "Integrate RustDesk remote desktop software with Casdoor SSO authentication"
See: https://github.com/rustdesk/rustdesk/issues/1070

For how to integrate with a desktop app, see:

- https://casdoor.org/docs/how-to-connect/desktop-sdks/electron-app

[2022-08-05 10:59] #784 closed

[2022-08-05 12:07] KrishnaPG commented on #849
The new APIs seem to be close to achieving this. But not clear on the exact setup/sequence. Some relevant info can be found here for those following this thread: https://github.com/casdoor/casdoor/pull/955#issuecomment-1206368214

[2022-08-05 15:47] qianxi0410 commented on #958
Now, with `yarn fix`, you can show these warnings to the console. @jakiuncle

[2022-08-06 03:42] hsluoyz commented on #899
@RyaoChengfeng

[2022-08-06 13:55] BeSoBad opened #968 "bug: panic occurs when creating a user using add-user API in a non-existent organization"
Response:
[code]

This makes it difficult to use the sdk.

[2022-08-06 14:00] BeSoBad commented on #968
https://github.com/casdoor/casdoor/pull/969

[2022-08-06 14:30] #968 closed

[2022-08-06 15:44] Zerek-Cheng opened #972 "Need an option to enable the Verification Code without enabling Email or Phone code at login / registration"

[2022-08-07 05:00] aecra opened #977 "Can't login in at the authorization_endpoint."
version: 1.82.0

The page is blank, and it throw these errors:

![image](https://user-images.githubusercontent.com/34883050/183275974-8ceb066b-163a-4d77-8eae-23021aad3e3b.png)

[2022-08-07 05:01] hsluoyz commented on #977
@aecra print:

- JS error stack
- Go error stack (if has)

[2022-08-07 05:09] aecra commented on #977
There is no any JS error stack. It is SyntaxError.

And there just a 301 request log from go.

[code]

[2022-08-07 06:25] hsluoyz commented on #977
@aecra I cannot give you any help with the current info you provided.

[2022-08-07 06:29] hsluoyz commented on #977
Go to your DB, set the `accountItems` of the organization from empty to `[]`

[2022-08-07 06:29] #977 closed

[2022-08-07 08:05] #916 closed

[2022-08-07 09:22] #946 closed

[2022-08-07 10:01] monyuan opened #979 "wechat unionId is empty？"
Isn't this the core function? It is found that it cannot be used

[2022-08-07 10:05] hsluoyz commented on #979
It is supported: https://casdoor.org/docs/provider/oauth/Wechat , if you see a bug, then report it

[2022-08-07 10:05] #979 closed

[2022-08-07 10:46] monyuan commented on #979
I suggest you try it, there are many people who have this problem

[2022-08-07 15:42] #846 closed

[2022-08-07 16:09] KrishnaPG opened #981 "RBAC with domains + Object resource types in Permissions"
Creating this issue to track the TODOs discussed here: https://github.com/casdoor/casdoor/pull/955

- RBAC with domains model
- Resource type other than Application in the Permissions

![image](https://user-images.githubusercontent.com/4610831/183300293-fd2a58dd-e6cc-4a00-8632-bea3e2656a46.png)
![image](https://user-images.githubusercontent.com/4610831/183300318-f9bb80b0-d7d8-4f60-b06e-88421d23268

[2022-08-07 16:20] KrishnaPG commented on #776
This will be resolved once the TODOs listed in https://github.com/casdoor/casdoor/issues/981 are done. More information is in the references https://github.com/casdoor/casdoor/issues/846 and  https://github.com/casdoor/casdoor/issues/849

[2022-08-07 16:22] KrishnaPG commented on #849
This can be resolved once the TODOs in the https://github.com/casdoor/casdoor/issues/981 are done.

[2022-08-07 16:57] hsluoyz commented on #981
@seriouszyx

[2022-08-08 04:05] wenxuan70 commented on #827
Hi @nexmoe, you can refer to my repository [casdoor-chrome-extension](https://github.com/wenxuan70/casdoor-chrome-extension)
First, you need to configure the variables `config` and `extensionId` in the `src/popup.js` file
[code]
Then, you need to configure `host_permissions` in the `manifest.json` file
[code]

[2022-08-08 08:32] sunerlin opened #984 "k8s login 403"
when request /api/login, response 403 forbidden
![Selection_031](https://user-images.githubusercontent.com/25735967/183374916-8fde6305-d0c1-44b1-ad91-18e514d4aa3e.png)
![Uploading Selection_032.png…]()
![Selection_034](https://user-images.githubusercontent.com/25735967/183374987-748fb707-432c-4ee8-9b31-610e9eb6e05f.png)

[2022-08-08 08:36] sunerlin commented on #984
![Selection_033](https://user-images.githubusercontent.com/25735967/183376049-90785bd8-0391-4d8a-b0a2-0de85f34a40b.png)
![Selection_032](https://user-images.githubusercontent.com/25735967/183376100-c0a89190-2461-4771-b588-908bfc72bc56.png)

[2022-08-08 08:49] #984 closed

[2022-08-08 08:54] hsluoyz commented on #984
@sunerlin why close?

[2022-08-08 10:14] hsluoyz commented on #827
@nexmoe plz see: https://github.com/casdoor/casdoor-chrome-extension

[2022-08-09 00:20] brookqin opened #990 "Why the length of almost all text fields is 100?"
Fields like `User.Avatar`, `Application.Logo` maybe need more.

[2022-08-09 03:56] hsluoyz opened #992 "Make a FastAPI middleware for Casdoor"
See: https://fastapi.tiangolo.com/tutorial/middleware/

[2022-08-09 03:56] brookqin opened #993 "bug: wrong name mapping 'p_type'"
casdoor:
https://github.com/casdoor/casdoor/blob/deed8577884501bdeeac35f43cacd39aabf9cbc5/object/permission.go#L43
`Ptype` map to `ptype`;

xorm-adapter:
https://github.com/casbin/xorm-adapter/blob/7a90dd8bfb2e70b3a768479c866162b4d2a4cb7b/adapter.go#L39
`PType` map to `p_type`;

when init database, got a warning

and schema of `permission_rule` became to `ptype, v0, v1, v2, v3, v4, v5, p_type`

[2022-08-09 03:56] hsluoyz commented on #992
@RyaoChengfeng

[2022-08-09 04:18] hsluoyz commented on #993
@brookqin `Ptype` is correct. xorm-adapter code will also be modified: https://github.com/casbin/xorm-adapter/issues/53

[2022-08-09 04:18] #993 closed

[2022-08-09 09:30] WarlockFish opened #995 "Sign in with open_oidc front return blank in arm"
in arm  ，i use casdoor Administration is ok ，

![图片](https://user-images.githubusercontent.com/30708115/183613806-b9294a08-88b1-4da7-821c-f0ed1a9ff361.png)

but i use  open_oidc sign with my app  ，the   front  is blank
![图片](https://user-images.githubusercontent.com/30708115/183614084-d24b3165-61a2-4715-bde2-3c929f9d2dcd.png)

and the log is
[code]

i use the [gitea  example](https://casdoor.org/d

[2022-08-09 10:32] hsluoyz commented on #995
@Abingcbc

[2022-08-09 11:12] Abingcbc commented on #995
@WarlockFish Could you provide the Dockerfile or the error log of browser in debug mode (press F12)?

[2022-08-09 11:31] WarlockFish commented on #995
i use ALLINONE in  [dockerfile](https://github.com/casdoor/casdoor/blob/master/Dockerfile)

debug mode
![图片](https://user-images.githubusercontent.com/30708115/183636851-3c4a14b6-35de-4406-b71e-062959df6fdf.png)

[code]

[2022-08-09 11:41] WarlockFish commented on #995
i use amd64 docker, is
![图片](https://user-images.githubusercontent.com/30708115/183638288-855e09e0-cefc-43f2-9f60-78308f46a54b.png)

[code]

[2022-08-09 11:51] hsluoyz commented on #995
@WarlockFish I think the root cause is these two lines, can you expand all the call stack?

![image](https://user-images.githubusercontent.com/3787410/183640277-8613ca99-bb01-452b-9ed8-379966b07239.png)

[2022-08-09 12:01] WarlockFish commented on #995
how to  expand all the call stack？   it "了解详情" is a link (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Unexpected_token)

the have two file

Uncaught SyntaxError: expected expression, got '<' 2.9b033efc.chunk.js:1
[code]

Uncaught SyntaxError: expected expression, got '<' main.063592ec.chunk.js:1
[code]

[2022-08-09 12:13] #995 closed

[2022-08-09 12:14] hsluoyz commented on #995
Sorry that we cannot resolve this problem, you should figure out what's wrong with your config.

[2022-08-09 12:18] Abingcbc commented on #995
@WarlockFish Yes, this error usually is caused by external proxy. Please check your configuration of static files.

[2022-08-09 12:58] qianxi0410 opened #996 "Accelerate CI"
Note that the front-end related CI is really slow, which seriously slows down the build. Note that the `yarn install` step is the cause of the serious slowdown, and this step can be accelerated using the cache.

[2022-08-09 12:58] qianxi0410 commented on #996
/cc @hsluoyz

[2022-08-09 13:02] hsluoyz commented on #996
@qianxi0410 good point, how to add the cache then?

[2022-08-09 13:04] qianxi0410 commented on #996
see: [yarn-cache](https://github.com/marketplace/actions/yarn-install-cache)
@hsluoyz

[2022-08-09 13:06] qianxi0410 opened #997 "golangci-lint run failed"
![2022-08-09_21-06](https://user-images.githubusercontent.com/55543743/183654444-4976f104-637c-4bbf-a613-d2575d6849b9.png)

[2022-08-09 13:24] hsluoyz commented on #996
@qianxi0410 good, plz make a PR to add it

[2022-08-09 13:29] Abingcbc commented on #995
![image](https://user-images.githubusercontent.com/34068205/183659216-0c5c9843-5478-4c4f-9f8b-a90b6ac987b2.png)
Is this port same as your app.conf?

[2022-08-09 17:25] hsluoyz commented on #990
@brookqin you can modify the source code by yourself

[2022-08-09 19:24] Linvery opened #998 "Database exception occurred when using wechatMiniProg to request login"
![image](https://user-images.githubusercontent.com/23356865/183743447-8d9bfa93-2aac-4f2b-927c-fa279f9e5405.png)
![image](https://user-images.githubusercontent.com/23356865/183743954-a4e6e639-a591-4525-8bc4-797f3a55ab87.png)
![image](https://user-images.githubusercontent.com/23356865/183744019-eba2f919-fd00-44a3-b22d-88b6db10b702.png)
When I try to use the wechat MiniProg to request the login of ca

[2022-08-10 01:38] hsluoyz commented on #998
@dirname

[2022-08-10 03:10] dirname commented on #998
Could you provide your casdoor version?

[2022-08-10 05:18] Linvery commented on #998
yes,I Could.
casdoor-1.84.0.zip downloaded from GitHub releases
In addition, this is a wechat miniProg about https://api.weixin.qq.com/sns/jscode2session Screenshot of the request
![image](https://user-images.githubusercontent.com/23356865/183821429-5da16091-22ab-4d17-a3b9-860a57775b07.png)
The return value contains unionid.
If you have any additional information, please ask me

[2022-08-10 07:24] dirname commented on #998
https://github.com/casdoor/casdoor/blob/b14554a5ba18434f6f479bd77b1ec024362e43d9/object/user.go#L245-L249

This bug is because unionid does not declare the field name in xorm, so the field name in the database is default as `we_chat_union_id`

https://github.com/casdoor/casdoor/blob/b14554a5ba18434f6f479bd77b1ec024362e43d9/object/user.go#L78-L81

The `WeChatUnionId` is deprecated now, see #985 .

[2022-08-10 07:32] #998 closed

[2022-08-10 09:18] hsluoyz opened #1000 "Improve the UI of all pages for mobile view"
Open: https://door.casdoor.com/ in mobile phone

[2022-08-10 09:26] hsluoyz commented on #942
We need to:

1. Wrap all system images (not user avatar images) into: `StaticBaseUrl`, which is `https://cdn.casbin.org` by default.
2. If some images are missing from the above CDN, then add it by making a PR to: https://github.com/casbin/static

[2022-08-10 10:51] kofj opened #1002 "Require mock send verification code."
In some case, like running casdoor in the CICD, we want mock verification code.

[2022-08-10 10:52] kofj commented on #1002
I will create some PR later.

[2022-08-10 11:23] kofj commented on #1002
SMS Sender PR https://github.com/casdoor/go-sms-sender/pull/11

[2022-08-11 02:20] #996 closed

[2022-08-11 06:32] #899 closed

[2022-08-11 10:25] Linvery opened #1005 "There is an error in the official document details"
![image](https://user-images.githubusercontent.com/23356865/184113338-529d2f2e-c981-4420-8da3-dc4b2f8bf307.png)
![A HYM5NV$F33) `07$(9UIB](https://user-images.githubusercontent.com/23356865/184113933-6a3d022c-2aa4-4a4f-aed0-f874bb23d52a.jpg)
There is a detail error in the screenshot in the document. It should be "wechat Mini program" instead of "wechat"

[2022-08-12 04:40] monyuan opened #1008 "Where is wechat accessToken?"
AccessToken must be exposed!

Because after a new token is generated, the old token will become invalid！
The accesstoken of the official account may be used in multiple projects！

微信公众号的accessToken存在哪里，是否暴露了出来？

微信的accesstoken的机制是，新的产生老的失效，一个公众号的accesstoken可能很多项目都在用。
被casdoor占用，微信公众号将无法做任何的开发

[2022-08-12 05:18] hsluoyz commented on #1008
@Resulte

[2022-08-12 05:35] hsluoyz commented on #942
@leo220yuyaodog

[2022-08-12 05:38] qianxi0410 commented on #958
This issue should be closed by #983

[2022-08-12 05:38] qianxi0410 commented on #958
/cc @hsluoyz

[2022-08-12 06:04] hsluoyz commented on #958
Fixed by: https://github.com/casdoor/casdoor/pull/983

[2022-08-12 06:04] #958 closed

[2022-08-12 07:16] Resulte commented on #1008
@monyuan  plz see this [doc](https://casdoor.org/docs/how-to-connect/oauth) for how to get AccessToken.

[2022-08-12 12:07] cccy0 commented on #977
I repeated this problem
started it with docker
request url : `https://xxx.xxx.xxx/login/oauth/authorize?client_id=f208312d4aee1941d102&response_type=code&redirect_uri=http://localhost:9000/callback1&scope=read&state=casdoor`
the request url of CSS and JS files is not correct
![1660305982245](https://user-images.githubusercontent.com/29329157/184350632-d07e39e0-657a-4a21-8857-85b03d13f9d1.png)

[2022-08-12 12:11] cccy0 opened #1010 "#977 Can't open login page"
#977

I repeated this problem
started it with docker
request url : `https://xxx.xxx.xxx/login/oauth/authorize?client_id=f208312d4aee1941d102&response_type=code&redirect_uri=http://localhost:9000/callback1&scope=read&state=casdoor`
the request url of CSS and JS files is not correct
![1660305982245](https://user-images.githubusercontent.com/29329157/184350632-d07e39e0-657a-4a21-8857-85b03d13f9d1.png

[2022-08-12 12:54] hsluoyz commented on #1010
@cccy0 plz try latest version, if not fixed, plz report your Casdoor version

[2022-08-12 13:29] cccy0 commented on #1010
docker image v1.86.0 has beed fixed ,  tks~

[2022-08-12 13:31] #1010 closed

[2022-08-13 01:17] hsluoyz opened #1012 "What's the influence of the swagger-api PR merge for our swagger docs?"
Recently,  a PR related to Casdoor has been merged: https://github.com/swagger-api/swagger-ui/pull/8149

Will it help us in any case?

[2022-08-13 01:18] hsluoyz commented on #1012
@leo220yuyaodog

[2022-08-13 02:22] leo220yuyaodog commented on #942
Your can modify the `StaticBaseUrl` in `web/src/Setting.js `

[2022-08-13 02:57] #997 closed

[2022-08-13 04:06] #990 closed

[2022-08-13 08:09] hsluoyz opened #1014 "Add Country/Region selectbox in prompt page"
See: https://door.casdoor.com/applications/app-built-in

![image](https://user-images.githubusercontent.com/3787410/184475157-f73a1038-7013-4d17-a56d-4894c5f2d301.png)

[2022-08-13 08:09] hsluoyz commented on #1014
@Resulte

[2022-08-14 03:33] kofj opened #1016 "Error login logic of mobile phone login"
## [CASE]
Two accounts in the system .
### USER A
 Use the phone number 188xxx as the user name, but did not fill in the phone number, the registration is successful.
### USER B
 Use the random string as the user name, fill in the verified mobile phone number 188xxx (the same as the user name of A), and the registration is successful.

## [Question]
### 1. Password login
Use the mobile phone numbe

[2022-08-14 03:58] kofj commented on #1016
It is looks like find user info error.  In the `Login` method, will find the user via `GetUserByFields`. If have two user like above, we can‘t find user B forever. So SAD 😢

[code]

[2022-08-14 04:10] kofj commented on #1016
Email code login maybe have same question.  I think, there is two ways to resolve that's question:

## Methods
1. Limit username cannot user `pure digital` or `start with digital` when register, it will be avoid cause username was same as phone number; Limit username cannot include `@` or use a regex code check username to avoid email code login question.

2. Modify the function `GetUserByFields`,

[2022-08-14 15:29] hsluoyz commented on #947
@AubreySte this should already be fixed after PR: https://github.com/casdoor/casdoor/pull/999

[2022-08-14 15:29] #947 closed

[2022-08-14 15:42] hsluoyz opened #1018 "Add a system info page"
This page is only for global admin. It can show the metadata of Casdoor itself:

- CPU usage, memory usage like: https://grafana.com/grafana/dashboards/12484-system-informationn/
- Casdoor version, either a release (v1.2.3) or git-tag, like Casnode: https://forum.casbin.com/about

It will have a web UI page, but what's more important is how to collect these data from backend.

[2022-08-14 16:11] hsluoyz opened #1019 "Automatically log into the applications when clicking on app tiles"
When a normal user (not global admin) logs into Casdoor: https://door.casdoor.com/ , he/she will see the application list. When entering one app, we want the app to automatically login the user, because the user is already logged into Casdoor.

![image](https://user-images.githubusercontent.com/3787410/184545529-a39f5010-0b32-411a-a9e4-615879694d71.png)

[2022-08-14 16:25] hsluoyz commented on #1019
@wenxuan70

[2022-08-15 01:18] #942 closed

[2022-08-15 02:24] #981 closed

[2022-08-15 16:14] #1016 closed

[2022-08-15 17:35] hsluoyz commented on #1008
Closed as resolved

[2022-08-15 17:35] #1008 closed

[2022-08-16 17:39] #584 closed

[2022-08-16 17:44] hsluoyz commented on #1018
@qianxi0410

[2022-08-17 14:02] #1002 closed

[2022-08-17 16:59] hsluoyz commented on #584
@epis2048 this has been finished, plz try it

![image](https://user-images.githubusercontent.com/3787410/185198925-73dc72a6-2431-4086-a6e2-fb8555d1c84e.png)

[2022-08-17 17:16] hsluoyz commented on #922
@Resulte @qianxi0410 @wenxuan70 any thoughts about how to support MongoDB? We use XORM (https://casdoor.org/docs/basic/server-installation#configure-database) and it doesn't support MongoDB. In fact, most Go ORM frameworks don't support MongoDB. We need to find a way to support both RDBMS and MongoDB

[2022-08-18 01:12] wenxuan70 commented on #922
The existing model layer operations are all SQL operations performed through the `engine` attribute in the `adapter` variable. If Casdoor needs to support MongoDB, the `engine` can be encapsulated in a layer, and the engine attribute is no longer strongly dependent on XORM framework.
But consider that MongoDB may not support some features in RDBMS, e.g., transactions.

[2022-08-18 02:19] conghuhu commented on #905
I try to solve.

[2022-08-18 02:19] maslow commented on #922
MongoDb actually supports trasactions \ aggregations \ joins, many queries are even more powerful than RDBMS.

[2022-08-18 03:26] wenxuan70 commented on #922
ok, I found it in [here](https://www.mongodb.com/docs/upcoming/core/transactions/).

[2022-08-18 03:40] #893 closed

[2022-08-18 03:41] hsluoyz commented on #885
Done at: https://github.com/casdoor/casdoor-chrome-extension

[2022-08-18 03:41] #885 closed

[2022-08-18 03:41] #854 closed

[2022-08-18 05:00] hsluoyz opened #1025 "Allow admins to change frontend theme color at run-time"
The theme color of Casdoor's Antd frontend is here: https://ant.design/docs/react/customize-theme

https://github.com/casdoor/casdoor/blob/8e9ed1205b6a10e8db5c3a4cf71b50a2de82823d/web/craco.config.js#L40-L48

We want this color to be configured on an application basis. In the app edit page: https://door.casdoor.com/applications/app-example , the admin can change this theme color, and it will chang

[2022-08-18 05:10] hsluoyz opened #1026 "Allow to change theme of the Ant Design 5 frontend"
Casdoor uses Antd for frontend. Antd supports several different themes: https://ant.design/docs/react/customize-theme

![image](https://user-images.githubusercontent.com/3787410/185298618-d46b6f61-b8eb-4002-9876-cef2e109b209.png)

We should allow users to switch these themes in our frontend config file for now, better to be configured in a global system setting page. So users don't need to change

[2022-08-18 07:49] hsluoyz commented on #1026
@AnjanaVakil

[2022-08-18 07:52] hsluoyz opened #1027 "Make a Nginx plugin for Casdoor"
Similar to: https://github.com/casdoor/casdoor/issues/905

[2022-08-18 07:54] hsluoyz commented on #1027
@cofecatt

[2022-08-18 08:11] hsluoyz opened #1028 "Check model grammar when saving"
If model text is invalid like "111", should report error when saving the model. But now only error when saving permission with that model

Should also provide a ACL model as init data

![image](https://user-images.githubusercontent.com/3787410/185344468-a82e55db-79a2-4ea6-b236-beaf1baee7d1.png)

[2022-08-18 08:15] hsluoyz commented on #1028
@seriouszyx

[2022-08-18 13:08] cofecatt commented on #1027
I'm trying

[2022-08-18 23:57] fernandolguevara opened #1031 "can not login with admin/123 on docker casbin/casdoor:latest"
I'm trying to access to the admin dashboard using `admin/123` but casdooor throw this error

[code]

the enforcer says `built-in/admin` isn't allowed

![image](https://user-images.githubusercontent.com/969516/185514862-3e638e31-912d-4437-a12f-f8bc51354dcc.png)

[2022-08-19 02:40] cofecatt commented on #1031
Check the database table 'permission_rule' to see whether there is any data

[2022-08-19 02:52] cofecatt commented on #1031
Check the db table named `casdoor`.`permission_rule` whether there is any data, it may be a bug start with docker.

[2022-08-19 03:59] #1031 closed

[2022-08-19 07:31] cofecatt opened #1032 "login error"
Login error after pulling new code from master branch
![image](https://user-images.githubusercontent.com/60803595/185567349-051e46cc-088a-44d1-ac5e-ca5a9c772184.png)

[2022-08-19 07:48] #1032 closed

[2022-08-19 09:17] hsluoyz opened #1034 "[frontend] update antd and react to latest and resolve UI issues"
https://github.com/casdoor/casdoor/blob/80c0940e308553dd52f0de7eb0d2a0b0fc0e1d5e/web/package.json#L5-L36

[2022-08-19 12:10] fernandolguevara commented on #1031
@hsluoyz can we have at least some test on the login methods to avoid this kind of issues on the future?

[2022-08-19 12:19] Geometry6151 opened #1035 "Arbitrary file write/overwrite Vulnerability"
Hi, I found a security issue, when the upload provider is Storage Local File System, the `fullFilePath` parameter of the interface `/api/upload-resource` will have a directory spanning problem, the user can specify a relative path to write malicious files to the file system, or even overwrite the files, my request message is shown below：

![image](https://user-images.githubusercontent.com/40165502

[2022-08-19 16:58] hsluoyz opened #1036 "Add UI tests for Casdoor to avoid regressions"
We should add test cases for Casdoor web UI to avoid issues like: https://github.com/casdoor/casdoor/issues/1031#issuecomment-1220600806

[2022-08-19 16:58] hsluoyz commented on #1031
@fernandolguevara good idea, created here: https://github.com/casdoor/casdoor/issues/1036

[2022-08-19 17:10] hsluoyz commented on #905
Fixed by: https://github.com/casdoor/springcloud-gateway-example/pull/1

Example repo is: https://github.com/casdoor/springcloud-gateway-example

[2022-08-19 17:10] #905 closed

[2022-08-20 03:58] conghuhu commented on #1034
I try to solve

[2022-08-20 13:22] #1018 closed

[2022-08-20 14:06] hsluoyz commented on #1036
@qianxi0410

[2022-08-20 14:19] hsluoyz opened #1041 "Add demo mode"
In demo mode, everything is read-only, like the demo site: https://door.casdoor.com/

[2022-08-20 14:36] hsluoyz commented on #666
@seriouszyx done

- Example code: https://github.com/casdoor/casdoor-springcloud-gateway-example
- Docs: https://github.com/casdoor/casdoor-website/issues/296

[2022-08-20 14:36] #666 closed

[2022-08-20 14:46] hsluoyz commented on #665
@jakiuncle

[2022-08-21 03:12] #1014 closed

[2022-08-21 08:50] hsluoyz opened #1046 "Even if the SMS failed to send (by various reasons), clicking "Send" again shows error: you can only send one code in 60s"
Even if the SMS failed to send (by various reasons), clicking "Send" again shows error:

[code]

If SMS fails to send, we should not start the 60s count-down.

![image](https://user-images.githubusercontent.com/3787410/185783301-c183cc90-5ff2-46e1-804a-bd6765fd59d7.png)

![image](https://user-images.githubusercontent.com/3787410/185783334-58883b9b-9d9b-4a60-9b67-af121a41fce0.png)

[2022-08-21 08:51] hsluoyz commented on #1046
@Resulte

[2022-08-21 14:27] hsluoyz opened #1048 "[docker script] buildx failed with: error: failed to solve: failed to compute cache key: "/go/src/casdoor/.git/refs/heads" not found: not found"
https://github.com/casdoor/casdoor/runs/7939276377?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/185795826-aea9f863-662b-45cb-b996-cdb09f01dcc5.png)

[2022-08-21 14:27] hsluoyz commented on #1048
@qianxi0410

[2022-08-21 17:17] #1019 closed

[2022-08-21 17:28] hsluoyz commented on #1048
Still error: https://github.com/casdoor/casdoor/runs/7940484132?check_suite_focus=true

[2022-08-21 17:28] hsluoyz commented on #1048
@qianxi0410 plz revert the Docker change

[2022-08-22 05:32] seahurt opened #1052 "problem with postgres database config"
When config with postgres:
[code]
I got err: `panic: pq: database "casdoorcasdoor" does not exist`

---

After change code in authz/authz.go: line:31 to the following, problem solved

[code]

But this change may break other database, like mysql.

So I suggest uniform the DSN for every supported database in casdoor, and change it to target DSN when passing to driver

---
我的建议是在casdoor的代码中将所有数据库的DSN

[2022-08-22 05:48] wenxuan70 opened #1053 "Unable to open ApplicationEditPage"
When opening the `ApplicationEditPage`, the devtools displays the following error:
![image](https://user-images.githubusercontent.com/55948263/185847336-21b8fadb-f628-4788-8a9f-67e4acf9db44.png)

I navigate to line 507 of LoginPage：

![image](https://user-images.githubusercontent.com/55948263/185847478-17926df3-5cd6-4b34-a774-2f5fec2fc96c.png)

`LoginPage` will be rendered when the `ApplicationEdi

[2022-08-22 05:48] xuanskyer opened #1054 "JS error when I want to edit application info like this :http://localhost:8000/applications/application_qk674m"
After the local deployment runs, other functions are normal, but JS reports an error when editing the application information

JS error  when I want to edit application info like this  :http://localhost:8000/applications/application_qk674m

<img width="1212" alt="image" src="https://user-images.githubusercontent.com/3071881/185847891-92a8e98e-66c2-4d76-83e8-fcd38ccb36b3.png">

[2022-08-22 06:20] seahurt commented on #1052
好吧，原来文档里面有写怎么配置pg数据库。:clown_face:

[2022-08-22 06:20] #1052 closed

[2022-08-22 06:25] hsluoyz commented on #1052
@seahurt yes, plz see: https://casdoor.org/docs/basic/server-installation#postgresql

![image](https://user-images.githubusercontent.com/3787410/185853095-087f9edd-f6f1-4fb0-82e7-95e12ca2a25d.png)

[2022-08-22 07:13] #1053 closed

[2022-08-22 07:14] #1054 closed

[2022-08-22 07:38] Linvery opened #1056 "Can Wechat OAuth and Wechat MiniProg account be identified as the same user"
Background: in the wechat system, every application (WeChat Media Platform , wechat MiniProg, website application, mobile application) even the same user has a different openid.
Example：
User：xiaoming
First, he opened the  WeChat Media Platform and logs in, then he get a openid (example: abcd-1234-5678).
![2ea9fb5cb97df49da4f600a4225df03](https://user-images.githubusercontent.com/23356865/18586361

[2022-08-22 07:41] Linvery commented on #1056
中文版：现在只做到了，“公众账号”和”网站应用“互联，并没有做到（“公众账号”和”网站应用“）与 “微信小程序”互联

[2022-08-22 11:10] seriouszyx commented on #948
@biu111biu In fact, in Casdoor, each permission corresponds to an enforcer, and `application` is just a resource type of permission. The `permission` supports specifying models and adapters to construct the enforcer. And the configuration of the `permission` is converted into policies and saved in the enforcer.

[2022-08-22 15:06] #1046 closed

[2022-08-23 06:59] seahurt opened #1059 "Cannot get user info with scope params set"
It seems "scope" param is not used.

version:  `casbin/casdoor-all-in-one:v1.101.0        e80e882f5661`

---

<img width="672" alt="image" src="https://user-images.githubusercontent.com/3347603/186091061-551eb1d9-c052-4490-afb8-66c5217c4864.png">

[2022-08-23 09:02] hsluoyz commented on #1059
@leo220yuyaodog

[2022-08-23 17:43] #1012 closed

[2022-08-24 09:21] #1028 closed

[2022-08-25 03:23] hsluoyz commented on #776
Done at

[2022-08-25 03:23] #776 closed

[2022-08-25 03:34] #1035 closed

[2022-08-25 16:06] hsluoyz commented on #624
Done, see discussions here: https://github.com/casdoor/casdoor-spring-cloud-starter/pull/2#issuecomment-1221559091

Docs at: https://casdoor.org/docs/integration/spring-cloud

[2022-08-25 16:06] #624 closed

[2022-08-25 22:04] ToshY opened #1065 "Docker Compose | Environment variables as config"
Hello 👋

I'm using casdoor `v1.103.0` with docker compose, and I want to pass the environment variables from the [docs](https://casdoor.org/docs/basic/server-installation#via-ini-file) to the container.

Example:

[code]

It is possible to make this feature?

Thanks in advance.

[2022-08-26 05:58] hsluoyz commented on #1065
@ToshY see: https://casdoor.org/docs/basic/server-installation#via-environment-variables

[2022-08-26 05:58] #1065 closed

[2022-08-26 11:00] ToshY commented on #1065
@hsluoyz

Please reopen this issue, as this as the documentation does **not** explain how to pass environment variables with docker compose. And looking at the `docker-entrypoint.sh` it does not seem possible right now. Here's an [example](https://github.com/databacker/mysql-backup/blob/master/entrypoint) of a `docker-entrypoint.sh` passing environment variables with `file_env`.

[2022-08-26 15:56] hsluoyz commented on #1065
@ToshY I think it's more of a Docker usage issue?

@ComradeProgrammer

[2022-08-26 16:33] ToshY commented on #1065
@hsluoyz It is a feature request, not an issue. It's a common container practice to use environment variables instead of config files, as you generally do not want to expose secrets (like database or Redis DSN). It currently seems it is not possible to pass environment variables like my example above, therefor I was asking if this feature could be made.

[2022-08-26 16:35] hsluoyz commented on #1065
@ToshY it's about how to add environment variable inside a Docker container, this question is not related to Casdoor directly. I mean anyone can face such a problem in any software inside a Docker container.

[2022-08-26 16:50] ToshY commented on #1065
How is this not related to Casdoor?  [Casbin/casdoor](https://hub.docker.com/r/casbin/casdoor) is your repository on Dockerhub right? I'm using that image, and I'm simply making a feature request to pass environment variables instead of a config file. The majority of popular software support this practice so I just wanted to know if this is going to be supported for the Casdoor docker image as wel

[2022-08-27 02:20] hsluoyz commented on #1065
@ToshY can you make a PR to support it?

[2022-08-27 05:19] baguskna opened #1066 "[docker compose] not working"
after I cloned the repo, I ran the app using docker-compose --build -d and I encountered this issue

<img width="1240" alt="Screen Shot 2022-08-27 at 12 17 54" src="https://user-images.githubusercontent.com/53422369/187015979-70bf2d63-4e71-48ea-b274-c7455e08e5e4.png">

[2022-08-27 05:20] baguskna commented on #1066
nothing app running in 3306 port on my docker container

[2022-08-27 06:25] SidneySun commented on #1065
Hi @ToshY, I'm using docker-compose and following this [documentation](https://casdoor.org/docs/basic/server-installation#via-environment-variables) successfully passed environment variables.

Are your variable names exactly the same as those used in the ini file?
[code]

[2022-08-27 08:01] hsluoyz opened #1067 "Support uploading large files"
Casdoor has "Resources" page to support uploading files like avatar or logo images: https://door.casdoor.com/resources

We should also support uploading large files like video file (e.g., a movie > 2GB) with following features:

1. Maintain a page for uploading progress (transaction), show upload progressbar to UI
2. Resume breakpoint, if the user leaves the page, when he comes back, it can contin

[2022-08-27 08:05] hsluoyz commented on #1067
@qianxi0410

[2022-08-27 11:28] ToshY commented on #1065
Hello @SidneySun

Apparently not, as I have them uppercased. I didn't read it to the letter, so apologies to @hsluoyz.

_However_, this does not take away that it breaks the [convention for naming environment variables](https://google.github.io/styleguide/shellguide.html#s7.3-constants-and-environment-variable-names). Currently, the variables defined in the config use **3** different naming conven

[2022-08-27 11:58] hsluoyz commented on #1065
@ToshY Thanks for pointing out the naming issue. I can explain it.

1. Beego built-in var names are lowercase and cannot be changed easily:

https://github.com/casdoor/casdoor/blob/411d76798d73446fff4a0244f0475f1ea8bf42dc/conf/app.conf#L1-L4

2. We (Casdoor) prefer camelCase:

https://github.com/casdoor/casdoor/blob/411d76798d73446fff4a0244f0475f1ea8bf42dc/conf/app.conf#L5-L19

3. About PascalCase

[2022-08-27 12:15] SidneySun commented on #1065
[code]
I also only used Casdoor for a few hours. Welcome to continue to communicate. The casdoor service will keep restarting until mysql is initialized. You can change the version of docker-compose.yml to 3.8 and use health check, but it's not necessary for me at the moment.

[2022-08-28 06:13] waltcow commented on #884
so misleading code

[2022-08-28 15:14] #1034 closed

[2022-08-29 02:01] hsluoyz opened #1071 "[bug, developer] the page will be frozen first after code change in yarn start mode"
When the developer starts frontend with `yarn start`, if he changed some code:

![image](https://user-images.githubusercontent.com/3787410/187108231-9b53ceff-9b7c-474d-9b31-6778206d5966.png)

The page auto-updated but it cannot be clicked anywhere. The developer has to manually press F5 to make it interactive. This is very inconvenient.

![image](https://user-images.githubusercontent.com/3787410/1

[2022-08-29 02:03] hsluoyz commented on #1071
@conghuhu

[2022-08-29 05:33] hsluoyz commented on #665
@nodece PR here: https://github.com/apache/pulsar/pull/17324 , plz review

[2022-08-29 05:34] hsluoyz commented on #665
Closed here for now

[2022-08-29 05:34] #665 closed

[2022-08-29 05:45] #1071 closed

[2022-08-29 08:56] hsluoyz commented on #1059
@dirname I think `openid` is a valid option in OAuth 2.0. @seahurt

[2022-08-29 08:56] hsluoyz commented on #1059
@leo220yuyaodog plz add this to: https://casdoor.org/docs/how-to-connect/oauth#how-to-use-accesstoken

[2022-08-29 08:57] hsluoyz commented on #1059
@leo220yuyaodog plz add this to: https://casdoor.org/docs/how-to-connect/oauth#how-to-use-accesstoken

[2022-08-29 10:31] hsluoyz opened #1074 "Make an Apache Shenyu SSO authentication plugin based on Casdoor"
See:

- oauth2-plugin: https://shenyu.apache.org/docs/next/plugin-center/security/oauth2-plugin
- how to develop a plugin: https://shenyu.apache.org/docs/developer/custom-plugin/

[2022-08-29 10:34] hsluoyz commented on #1074
@jakiuncle

[2022-08-31 03:05] hsluoyz commented on #1066
Closed as stale.

[2022-08-31 03:05] #1066 closed

[2022-08-31 03:06] hsluoyz commented on #1056
@dirname

[2022-08-31 03:37] hsluoyz opened #1081 "Refactor build.sh"
GOPROXY can be set before. And line 7 and 10 can be merged

https://github.com/casdoor/casdoor/blob/8da50b78931a57ba6cabb1de104074fbce705f3c/build.sh#L1-L11

[2022-08-31 05:08] hsluoyz commented on #1081
@cofecatt

[2022-08-31 08:08] #1081 closed

[2022-08-31 09:38] dirname commented on #1056
You can fix that by setting/getting the `unionid` in the `properties` field. For details, see #985 .

[2022-08-31 13:05] hsluoyz commented on #1056
@dirname how to do that (setting/getting the unionid)?

[2022-09-01 01:48] maslow opened #1085 "Add config gate to controller url schema (http / https)"
![image](https://user-images.githubusercontent.com/7122237/187814595-d2762464-8e65-47f9-b2c5-d09199896872.png)

1. do not hard code the protocol (http shcema) depends on `localhost` prefixed url, just support a config gate.
2. do not hard code `localhost:8000` to `localhost:7001`, use `runmode: dev | prod` or other env / config gate instead.

[2022-09-01 14:09] leo220yuyaodog commented on #1059
Actually, casdoor defalut assume you added `openid` scope in oidc, is equvalent to no scope. I improve the document about how to add scope. @seahurt

[2022-09-01 15:23] #1059 closed

[2022-09-02 04:28] hsluoyz opened #1088 "CI error: ./build.sh: line 11: GOPROXY=https://goproxy.cn,direct: No such file or directory"
See: https://github.com/casdoor/casdoor/runs/8149355019?check_suite_focus=true

Caused by this PR: https://github.com/casdoor/casdoor/pull/1082

![image](https://user-images.githubusercontent.com/3787410/188059125-bcc8ca30-4c44-45e6-972a-b0b4f6613d73.png)

[2022-09-02 04:28] hsluoyz commented on #1088
@cofecatt

[2022-09-02 05:45] wangshuai-007 opened #1090 "use WebAuthn credentials got error: Error validating origin"
I use the sample container:
`docker run -d -p 8000:8000 casbin/casdoor-all-in-one`

after login with admin

I add WebAuthn credentials and input windows Pin

After that,I got error:

`Error validating origin`

![image](https://user-images.githubusercontent.com/17959236/188066948-0854bd93-8ff1-4afd-958f-db1bfec3f90b.png)

How can I use the `WebAuthn credentials`?

[2022-09-02 06:50] #1088 closed

[2022-09-02 10:13] ComradeProgrammer commented on #1090
Checklist:
1. are you using https or localhost, if not, please switch to one of them.
2. Is "origin" field properly configured? configure file is app.conf
if problems still exist, please reply

[2022-09-03 01:35] hsluoyz commented on #1041
@cofecatt

[2022-09-03 07:14] hsluoyz commented on #1085
@maslow fixed by: https://github.com/casdoor/casdoor/commit/4536fd06369d1c0ae9cbf49fa2458f9849673b26

Now you can use `origin` in app.conf to specify origin full URL

[2022-09-03 07:14] #1085 closed

[2022-09-03 07:18] hsluoyz commented on #1056
@Linvery is this resolved?

[2022-09-03 08:59] hsluoyz commented on #941
@leo220yuyaodog the previous two PRs have failed, you can refer to them

[2022-09-03 09:47] flyingdew opened #1093 "login failed when using casbin/casdoor:v1.107.0 and external datasource"
I uses casbin/casdoor:v1.107.0 image and external datasource.I get problem when login.

The log says:
2022/09/03 09:35:40.803 [D]  |     172.17.0.1| 403 |   2.365713ms| nomatch| POST     /api/login

But when I switch to the old version v1.49.0, it works.

[2022-09-03 12:03] Zerek-Cheng opened #1094 "MYSUBMAIL's mail service is not working, GO-GOMAIL stock is in issue"
Example: https://door.casdoor.com/providers/provider_email_test

![image](https://user-images.githubusercontent.com/3787410/188270543-e5ddb209-569c-4f7f-8a6c-145562a3fc50.png)

May related to: https://github.com/go-mail/mail/issues/23

[2022-09-04 04:09] #1094 closed

[2022-09-04 05:07] #1056 closed

[2022-09-04 13:20] #1041 closed

[2022-09-04 14:00] #827 closed

[2022-09-04 14:01] hsluoyz commented on #1093
@flyingdew plz use a new DB

[2022-09-05 03:29] flyingdew commented on #1093
Yes,I did create a new db manully.

Finally I figured this out by setting sock5Proxy to "" in app.conf.
But it is good when using image v1.49.0. So I guess it's not the code's problem, maybe the docker image build process has changed?

[2022-09-05 09:26] AzraelJi opened #1099 "How to use the mobile terminal?"

[2022-09-05 11:47] hsluoyz commented on #1099
@AzraelJi see: https://casdoor.org/docs/how-to-connect/sdk

[2022-09-05 11:47] #1099 closed

[2022-09-05 11:50] hsluoyz commented on #1093
@flyingdew you should always use the latest version of `app.conf`

[2022-09-05 13:12] fischermario opened #1101 "Org admin cannot create new users"
I have created an organization, application, admin user, permissions, model all similar to built-in components. When I log in and try to create a new user using this org admin user I get a permission denied error. What am I missing?

Data to reproduce:

/api/get-organization?id=admin/org-test
[code]

/api/get-user-application?id=org-test/admin-test
[code]

/api/get-application?id=admin/app-test
[c

[2022-09-05 13:19] fischermario opened #1102 "Rationale for storing tokens in database"
Can you please explain why you are storing tokens in the database?

I fear that this creates an unnecessary security risk in case of a database breach. Tokens are signed and can be easily checked for validity.

Do you plan to implement functionality to revoke tokens? Even then it may be easier to store an id rather than the whole token.

Thank you!

[2022-09-05 13:30] fischermario opened #1103 "Model URL in UI leads to 404 error"
Clicking on any model name (built-in or custom models) leads to a 404 error. Only the Edit button works as expected.

The link points to a wrong url. Instead of `/models/built-in/model-built-in` it points to `/models/model-built-in`.

![ui-bug](https://user-images.githubusercontent.com/10214295/188460619-5e1bafa9-57f4-4a4f-9e75-6be98d17aaa0.png)

[2022-09-05 13:37] fischermario opened #1104 "Customize token fields"
Right now a decoded token contains these fields:

[code]

A lot of these fields will stay empty because they serve special use cases. Is it possible to customize these fields or add new ones?

[2022-09-05 13:59] wenxuan70 opened #1105 "The GO_PROXY_SETTING variable in build.sh is always empty"
https://github.com/casdoor/casdoor/blob/7599e2715add09f0625ec9b22cf80cb09f9baec3/build.sh#L9

[2022-09-05 14:40] hsluoyz commented on #1105
@cofecatt

[2022-09-05 14:41] wenxuan70 commented on #1105
By executing the following `test.sh` script, I found that `GO_PROXY_SETTING` is always empty.

[code]

![image](https://user-images.githubusercontent.com/55948263/188472887-5dd210f8-60a5-4d41-9217-11cddb409402.png)

When the user cannot access websites such as google, a proxy needs to be set to successfully download the go dependency, so `GO_PROXY_SETTING` is empty, which will cause the download o

[2022-09-05 14:43] cofecatt commented on #1105
I will handle this

[2022-09-05 15:06] hsluoyz commented on #1103
@fischermario can you make a PR to fix it?

[2022-09-05 15:17] #1105 closed

[2022-09-05 15:29] hsluoyz commented on #1103
@NJUSTgzy

[2022-09-06 12:47] fischermario commented on #1103
Please check PR and merge.

[2022-09-06 16:54] #1103 closed

[2022-09-08 03:29] wangshuai-007 commented on #1093
I have the same error :
[code]
my container version is `casbin/casdoor:v1.111.0`

mydb info is
[code]

when I first login with `admin` and `123`
I can got 403 error .

![image](https://user-images.githubusercontent.com/17959236/189027630-546a5aa3-cbfc-4871-a4d5-eb68f2ed69cb.png)

[2022-09-08 05:06] hsluoyz commented on #1093
@cofecatt

[2022-09-08 06:00] cofecatt commented on #1093
I tried it with the casdoor v1.111.0 image and MySQL: 8.0.30 on the docker, and it was ok

[2022-09-08 06:08] cofecatt commented on #1093
If you want to get a reply quickly, please join our QQ group and ask questions in the group to reply faster

[2022-09-08 09:35] wangshuai-007 commented on #1093
I have test a lot.

Now, I know ,`403` login error is caused by `origin` config in `/conf/app.conf`.

After I remove config value of `origin`,I can login success.

But, for [webauthn](https://casdoor.org/zh/docs/webauthn/overview) feature.

I need add `origin` value.

So,what's the right way to use `webauthn`?

My `casdoor` application is proxy by `Nginx`,Is it caused 403 error(for add `origin` va

[2022-09-08 15:11] hsluoyz opened #1112 "Support Apache StreamPark SSO authentication with Casdoor"
See: https://github.com/apache/incubator-streampark

[2022-09-08 15:14] hsluoyz opened #1113 "Support DWSurvey SSO authentication with Casdoor"
See: https://github.com/wkeyuan/DWSurvey

[2022-09-08 15:20] hsluoyz commented on #556
Done at: https://github.com/casdoor/casdoor-wechat-miniprogram-example

[2022-09-08 15:20] #556 closed

[2022-09-08 15:38] Zerek-Cheng opened #1114 "Please add a redirect urls for applications to support regular matching support"
thks

[2022-09-09 00:39] jwanggg opened #1115 "Question, can some of the features be used standalone?"
Saw from casbin here there is an admin portal, https://casbin.io/docs/admin-portal.

Is it possible to just use that portion of casdoor without deploying the whole casdoor service?

[2022-09-09 01:35] wangshuai-007 commented on #1090
After config `origin` in `app.conf` with [webauthn](https://casdoor.org/zh/docs/webauthn/overview)
I can add `WebAuthn credentials`

[2022-09-09 01:35] #1090 closed

[2022-09-09 06:36] hsluoyz commented on #867
Fixed by: https://github.com/casdoor/casdoor/commit/94b6eb803da1c476f47a8b857a4493a19efac662

[2022-09-09 06:36] #867 closed

[2022-09-09 06:37] hsluoyz commented on #504
Fixed by: https://github.com/casdoor/casdoor/commit/94b6eb803da1c476f47a8b857a4493a19efac662

[2022-09-09 06:37] #504 closed

[2022-09-09 09:08] hsluoyz commented on #564
Fixed in: https://github.com/casdoor/casdoor-js-sdk/pull/31

[2022-09-09 09:08] #564 closed

[2022-09-09 09:37] #1093 closed

[2022-09-09 14:14] Zerek-Cheng opened #1117 "A "redirect" parameter needs to be added to the profile page to allow the user to save the profile and return to the page we want him to go to"
![截图](https://user-images.githubusercontent.com/16066557/189370520-bbd6aaac-158a-4a64-a0ee-7fd2c8a23d9e.png)

[2022-09-09 16:56] #941 closed

[2022-09-09 16:58] hsluoyz commented on #1115
@jwanggg Casdoor is mainly React frontend and a Go backend service. It cannot be separated into more parts.

[2022-09-09 16:58] #1115 closed

[2022-09-10 05:13] hsluoyz commented on #1114
Fixed by: https://github.com/casdoor/casdoor/commit/c661a57cb2290009c9f626f2fe9af25422a3e932

[2022-09-10 05:13] #1114 closed

[2022-09-10 11:23] hsluoyz commented on #972
@Zerek-Cheng what do you mean?

[2022-09-10 13:22] Zerek-Cheng commented on #972
Without enabling mobile verification code and email verification code, just ask for the verification code when logging in & sign up

[2022-09-11 14:00] hsluoyz commented on #1117
@joy0010

[2022-09-12 06:22] tanish-mahajan commented on #1035
Authentication is required for exploiting this issue?

[2022-09-13 12:29] joy0010 commented on #1117
@Zerek-Cheng  Hi. Here is a demo. Is that ok?

https://user-images.githubusercontent.com/61197663/189900707-a95da2be-8eec-4d10-a047-700da667347f.mov

[2022-09-13 13:47] hsluoyz opened #1121 "Support JumpServer (Python + Vue) SSO authentication with Casdoor"
- Backend: Python, https://github.com/jumpserver/jumpserver
- Frontend: Vue + Element UI, https://github.com/jumpserver/lina

We need to try to connect via one of following protocols in order:

- OIDC: https://docs.jumpserver.org/zh/master/admin-guide/authentication/openid/
- SAML: https://docs.jumpserver.org/zh/master/admin-guide/authentication/saml2/
- CAS: https://docs.jumpserver.org/zh/master/

[2022-09-15 06:29] biu111biu commented on #948
@seriouszyx 您好，感谢您的回复，但是我还是搞不太明白。目前casdoor是支持多应用，并且每个应用都可以自定义自己的model和policy。假如有的应用要使用rbac的权限模型，而有的需要使用abac的模型；实现这种需求的方案，我觉得有两种：1.分别为每一个应用创建各自的enforcer；2.在进行权限判断时找到不同的model和policy直接加载。我用第二种方案尝试过，发现直接在访问时动态加载model和policy成本比较大，导致访问速度变慢。但是第一种方案目前基于Java的spring框架实现起来又感觉不是很优雅。所以我想了解一下casdoor是怎么实现的每个应用都支持各自的enforcer。请您指教，谢谢

[2022-09-15 06:31] biu111biu commented on #948
@seriouszyx 您好，感谢您的回复，但是我还是搞不太明白。目前casdoor是支持多应用，并且每个应用都可以自定义自己的model和policy。假如有的应用要使用rbac的权限模型，而有的需要使用abac的模型；实现这种需求的方案，我觉得有两种：1.分别为每一个应用创建各自的enforcer；2.在进行权限判断时找到不同的model和policy直接加载。我用第二种方案尝试过，发现直接在访问时动态加载model和policy成本比较大，导致访问速度变慢。但是第一种方案目前基于Java的spring框架实现起来又感觉不是很优雅。所以我想了解一下casdoor是怎么实现的每个应用都支持各自的enforcer。请您指教，谢谢

[2022-09-15 10:51] hsluoyz commented on #948
@biu111biu plz modify text into English

[2022-09-15 16:05] hsluoyz opened #1125 "Support LDAP server"
Currently Casdoor supports LDAP by acting as LDAP client:

- Docs: https://casdoor.org/docs/ldap/overview
- Code: https://github.com/casdoor/casdoor/search?q=ldap&type=code

But sometimes Casdoor also needs to be the LDAP server. For example, Nexus Repository OSS (https://github.com/sonatype/nexus-public) only supports LDAP integration by acting as LDAP client, so Casdoor has to be the LDAP server

[2022-09-15 16:51] Yamituki opened #1126 "PHP-Casdoor-SDK can't create application"
class OauthTest extends TestCase
{
    private array $config;

    private AuthConfig $auth;

    #[PostMapping(path: '/api/system/backend/site/casdoor')]
    public function __invoke(): void
    {
        $this->config = [
            'endpoint' => 'http://localhost:9501',
            'clientId' => '',
            'clientSecret' => '',
            'jwtPublicKey' => '',
            'organizationNa

[2022-09-16 01:17] biu111biu commented on #948
ok

[2022-09-16 02:20] hsluoyz commented on #1121
@joy0010

[2022-09-16 07:15] jyxenlink opened #1127 "The background picture of the new version of the login interface cannot be full screen"
The background picture of the new version of the login interface cannot be full screen, and the mobile terminal interface is not well adapted. It is recommended that only the login box be displayed in the mobile terminal mode, and the background and the left, middle and right settings of the login box be removed.

![{V` F5KLTIK85YV{%FOB${B](https://user-images.githubusercontent.com/3787410/1908406

[2022-09-16 07:22] hsluoyz commented on #845
@KrishnaPG plz take a look at: https://casdoor.org/docs/integration/apisix and create issues at APISIX's repo

[2022-09-16 07:22] #845 closed

[2022-09-16 07:24] hsluoyz commented on #511
@1307super it is supported. See: https://casdoor.org/docs/provider/oauth/Wechat

[2022-09-16 07:24] #511 closed

[2022-09-16 07:30] hsluoyz opened #1128 "Support KnowStreaming SSO authentication with Casdoor"
See: https://github.com/didi/KnowStreaming/search?q=sso&type=issues

[2022-09-16 07:30] hsluoyz opened #1129 "Support MeterSphere (Java SpringBoot + Vue) SSO authentication with Casdoor"
See: https://github.com/metersphere/metersphere/search?q=sso&type=issues

It seems that the MeterSphere  open source version only supports the CAS protocol. So need to connect it via CAS with Casdoor.

If OK, then add docs

[2022-09-16 13:31] hsluoyz opened #1130 "Make a Laravel auth middleware with Casdoor"
See: https://laravel.com/docs/9.x/middleware

[2022-09-16 13:34] hsluoyz opened #1131 "Make a Yii auth middleware with Casdoor"
See:

- https://www.yiiframework.com/doc/guide/2.0/en/structure-extensions
- https://github.com/yiisoft/yii-middleware

[2022-09-16 13:35] hsluoyz opened #1132 "Make a Hyperf auth middleware with Casdoor"
See: https://hyperf.wiki/2.2/#/en/middleware/middleware

[2022-09-17 01:55] forestmgy commented on #1101
plz try this: https://github.com/casdoor/casdoor/pull/1124

[2022-09-17 04:24] hsluoyz commented on #1127
@leo220yuyaodog

[2022-09-17 12:16] yangguangwuwu opened #1137 "How to flexibly add a custom password encryption type ？"
How to flexibly add a custom password encryption type ？
[casdoor](https://github.com/casdoor/casdoor)/[cred](https://github.com/casdoor/casdoor/tree/master/cred)/manager.go
Can only modify this file There is no more convenient way

[2022-09-17 13:33] hsluoyz commented on #1137
@yangguangwuwu it can be added by modifying code. You can contribute this new type to us by making a PR.

[2022-09-17 14:03] hsluoyz opened #1138 "Fix CI error: Invalid workflow file: .github/workflows/build.yml#L36 The workflow is not valid. .github/workflows/build.yml (Line: 36, Col: 9): Unexpected value 'working-directory'"
[Invalid workflow file: .github/workflows/build.yml#L36](https://github.com/casdoor/casdoor/actions/runs/3072488933/workflow)
The workflow is not valid. .github/workflows/build.yml (Line: 36, Col: 9): Unexpected value 'working-directory'

https://github.com/casdoor/casdoor/actions/runs/3072488933

![image](https://user-images.githubusercontent.com/3787410/190860968-fb98758d-b883-4a50-bde2-756fde01

[2022-09-17 14:03] hsluoyz commented on #1138
@gtn1024

[2022-09-18 01:48] Thunder-CL opened #1140 ""Admin" cannot login in when APPID and APPKEY of two apps are set in the same manually"
If you manually modify the APPID and APPKEY of two applications in the same, only one information is retained (the modified application overwrites the existing one), and the admin user cannot log in

[2022-09-18 01:54] Thunder-CL opened #1141 "User cannot manipulate to log out when changed the profile like "organization", "username""
If the organization of the current login user is changed successfully, the system displays a message that the user does not belong to the original organization, and the system automatically directs to the login page. However, when you log in to the system again, the system displays a message that the user should log out the logined account first to login. However, it is directed to the login page

[2022-09-18 02:02] Thunder-CL opened #1142 "Tables displayed in pages have some problems."
When using the slider under the pages incluing  "Roles", "Permissions", "Adapters", "Webhooks", and "Payments", the "Name" column of the table is covering the other columns. Unlike the other pages, the "Name" column is the first column which is fixed will not cover the other columns when sliding.

[2022-09-18 02:08] #1138 closed

[2022-09-18 02:16] yaotthaha opened #1143 "Bug: WebAuthn Login"
When you try to login with WebAuthn, it will jump to the user panel instead of the original login application.

[2022-09-18 02:25] Thunder-CL commented on #1141
![change](https://user-images.githubusercontent.com/51190452/190882885-d000847b-5238-40ec-8cfd-55edae35faba.png)

[2022-09-18 02:26] Thunder-CL commented on #1142
![cover](https://user-images.githubusercontent.com/51190452/190882912-3e7246c4-8638-4c35-9636-040da9703ede.png)

[2022-09-18 02:35] Thunder-CL commented on #1141
Add note here: I found that when changed I can logout in the top right corner, but when I do not logout and manipulate like update user info to save the changes, the problem I put up will take place.

[2022-09-18 02:39] hsluoyz commented on #1142
@Thunder-CL this is intended, letting people know the name after scrolling. See: https://ant-design.gitee.io/components/table-cn/#components-table-demo-fixed-columns-header

[2022-09-18 02:39] #1142 closed

[2022-09-18 03:16] Thunder-CL commented on #1142
I know that function, but if the "Name" column set as the first (or last) column maybe looks like more comfortable.

[2022-09-18 04:46] hsluoyz commented on #1142
@Thunder-CL this is purely a UI issue. If you are intensively using this feature, we can discuss further

[2022-09-18 06:07] hsluoyz commented on #1143
@ComradeProgrammer

[2022-09-18 06:16] yangguangwuwu commented on #1137
There are many types of encryption that PR can't solve

Each application will have its own encryption method

A plug-in like mechanism is needed to resolve this

New Only the corresponding configuration and new file need to be added

Otherwise there will be an infinite number of encryption types PR

[2022-09-18 06:41] hsluoyz commented on #1137
@yangguangwuwu there's no good way for Golang code to support plugin mechanism. Go is a static language. The easiest way I can think of is that you make a PR to our code base to add a new method

[2022-09-18 06:41] #1137 closed

[2022-09-18 06:46] Thunder-CL commented on #1142
@hsluoyz OK, thanks for your answering. It is not a big deal. It's just that I can be a little obsessive to see it is not fixed in the first/last column.

[2022-09-18 13:00] cofecatt opened #1144 "Google Login Error Flashes"
From v1.111.1 to v1.111.2, there is a 400 status code bug when Google logs in. The following is the back-end test video. The reason is that v1.111.2 accesses the same url twice with the same token, so there is a 400 status code

https://user-images.githubusercontent.com/60803595/190903349-882caf77-fcc2-4420-bae5-127850677e3c.mp4

[2022-09-19 08:35] Xanax-C-137 opened #1146 "Add support for Twilio SMS"
Please add support for Twilio Messaging.
Here are the docs: https://www.twilio.com/docs/sms

[2022-09-19 13:05] hsluoyz commented on #1146
@cofecatt

[2022-09-20 15:06] #1127 closed

[2022-09-21 08:15] cofecatt commented on #1146
Can you provide a Twilio test account? My account has been suspended.

[2022-09-21 09:38] Bruc3Stark opened #1150 "Security Concern: Update golang version to 1.18.6 or 1.19.1"
Hello, we are now using casdoor v1.105.0. However, according to https://nvd.nist.gov/vuln/detail/CVE-2022-32190 , we wonder if this golang security vulnerability would cause unknown issues. So we suggest updating the golang version to v1.18.6 or v1.19.1.

Reference:
https://nvd.nist.gov/vuln/detail/CVE-2022-32190
https://github.com/golang/go/issues/54385
https://groups.google.com/g/golang-announce

[2022-09-21 09:41] Congyuwang opened #1151 "Bug: OpenID invalid Address Format"
OpenID spec requires a jsonObject with optional fields as the `address` field in idToken: `{xxx}` (see https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim). However, Casdoor handles `address` as an array of strings: `[xxx]` (see https://github.com/casdoor/casdoor/blob/e1331f314d015e5afb53f601d19dee99f6c351a8/object/user.go#L51). My suggestion is to use `{"formatted": "xxx address"}`

[2022-09-21 17:50] leo220yuyaodog commented on #1117
@Zerek-Cheng I plz review #1152

[2022-09-22 03:43] Congyuwang commented on #1151
Any plan on how to fix this? I think a change directly in `User` class would have a rather wide impact. Perhaps just make some modification specifically for OpenID IDToken is more proper.

[2022-09-22 05:59] rrjadhav82 opened #1154 "Issue while setting up Google provider"
**NOTE**:  Below behavior works with casdoor-all-in-one:latest docker image but does not work with casbin/casdoor:latest docker image with postgresql database.

Followed the instructions found here https://casdoor.org/docs/provider/oauth/google/
When I try to login with the provider it seems to connect to google correctly but in the cabin app the login endpoint returns the following. I'm using the

[2022-09-22 06:10] Zerek-Cheng commented on #1117
LGTM , thks

[2022-09-22 06:15] Zerek-Cheng commented on #1117
I have an idea that this jump page should conform to the "Redirect URLs" judgment logic in the application configuration, otherwise there may be related security issues

[2022-09-22 15:14] hsluoyz commented on #1154
@gtn1024

[2022-09-22 18:46] Xanax-C-137 commented on #1146
@cofecatt sure! Do you have discord or something like that?

[2022-09-23 04:01] #1117 closed

[2022-09-23 06:06] hsluoyz commented on #1146
@Xanax-C-137 @cofecatt plz join Casbin community by link: https://discord.gg/4CEyhrEB

[2022-09-23 07:58] hsluoyz commented on #1150
@Bruc3Stark does it influence this repo? Can you make a PR to fix it if it does?

[2022-09-23 08:03] #1144 closed

[2022-09-23 08:47] hsluoyz commented on #1154
@rrjadhav82 can you try the latest version, v1.119.0 ? https://github.com/casdoor/casdoor/releases

[2022-09-23 08:54] serialt opened #1156 "Grafana Redirect URI error"
Casdoor Grafana has configured the redirect url, but when logging in, casdoor reports that the url of localhost is not in the redirect list，after add localhost to the redirect url list, it will jump to localhost, change localhost to domain of grafana, it is working , the database record is right

![image](https://user-images.githubusercontent.com/58406690/191925212-a8419d0a-f014-48b6-a9c7-db338416

[2022-09-23 08:55] serialt commented on #1156
casbin/casdoor-all-in-one:v1.118.0
grafana: 9.1.5

[2022-09-23 09:07] hsluoyz commented on #1156
@wangguan1024

[2022-09-23 09:08] serialt commented on #1156
grafaba conf
![image](https://user-images.githubusercontent.com/58406690/191928145-4c6a99ec-867b-4dc0-8b82-b67b47c080c7.png)

[2022-09-24 07:34] #1151 closed

[2022-09-24 07:40] gtn1024 commented on #1151
@Congyuwang Fixed, can you try the latest [v1.119.1](https://github.com/casdoor/casdoor/releases/tag/v1.119.1)?

[2022-09-24 12:16] wangguan1024 commented on #1156
@serialt
Hi! I failed to recurrence this bug. I set "www.baidu.com" as the first item of Redirect URIs, it is successful to redirect the Baidu website. There is no error saying localhost does not exist in the Redirect URI list.

[2022-09-24 12:21] wangguan1024 commented on #1156
@serialt
I recurrence this bug by chance, but only once. By reading source code and debug, I suspect that there is a problem with the saving logic of the URI List. Can you recurrence this bug?

[2022-09-24 13:09] wangguan1024 commented on #1156
@serialt
Hi, I seem to have found the reason.
In the conf webpage, as long as the redirect URIs is modified, clicking copy button generate a URL with the new redirect URIs as a param, but only when you click save button or save&exit button, the newly modified URIs will be written to the database. So the redirect page will give a error message about the URIs.

[2022-09-24 13:48] #1125 closed

[2022-09-24 14:03] serialt commented on #1156
I choose another  machine and grafana instance,I can  recurrence this bug again.

casbin in 172.16.16.50
grafana in 172.16.16.8

my casdoor docker-compose.yaml
[code]
casdoor conf
[code]

grafana conf
[code]

casdoor db
<img width="1219" alt="image" src="https://user-images.githubusercontent.com/58406690/192102054-5e5524a8-fd7d-4f2e-b181-138b5553a655.png">

casdoor web conf
<img width="1381" alt="

[2022-09-24 14:09] serialt commented on #1156
when I add `http://localhost:3000/login/generic_oauth` to Redirect URI list, it wil redirect  to `http://localhost:3000/login/generic_oauth?code=634e8be9f65ff59ccf75&state=rhDr_okzjzYKnOSO-wUrngZCcKELGbvmB8xx0hd8Ves=`

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/58406690/192102454-58ab8787-569d-4582-8914-d6c535168c4f.png">

<img width="1213" alt="image" src="https:

[2022-09-25 03:41] Congyuwang commented on #1151
This does solve my problem.

[2022-09-25 03:43] Congyuwang commented on #1151
Any comment ob why this commit is reverted, and any further proposal on its solution? @hsluoyz

[2022-09-25 05:47] hsluoyz commented on #1156
@wangguan1024

[2022-09-25 09:58] #1146 closed

[2022-09-25 10:15] hsluoyz commented on #1036
@leo220yuyaodog

[2022-09-25 10:51] wangguan1024 commented on #1156
@serialt
OK, I will continue to find the reason for the bug.

[2022-09-25 12:27] wangguan1024 commented on #1156
@serialt
Hi! Is your recurrence environment still preserved? If so, please give me the redirect_url param of the casdoor oauth page's URL.

Just like that

![image](https://user-images.githubusercontent.com/45236136/192143365-0609aac4-49a3-4e94-b000-b5aad7b3418d.png)

[2022-09-25 12:34] serialt commented on #1156
http://172.16.16.50:8000/login/oauth/authorize?access_type=online&client_id=96af38316c830f6ccb84&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin%2Fgeneric_oauth&response_type=code&scope=user%3Aemail&state=vgznsEzHEz5jFiCv___KVtgtcS2Hh90DqN48rdh0jfo%3D

[2022-09-25 12:40] serialt commented on #1156
`http://172.16.16.50:8000/login/oauth/authorize?access_type=online&client_id=96af38316c830f6ccb84&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin%2Fgeneric_oauth&response_type=code&scope=user%3Aemail&state=HdtrofooAEQPf3quYlbH4XD_zPVR57UfnApOqH8l8DM%3D`

[2022-09-25 12:56] serialt commented on #1156
I create two app in casdoor by read the casdoor.org，I'm confused that why the gitea redirect_url  is working？

[2022-09-25 12:56] wangguan1024 commented on #1156
@serialt
Can you show me the network logs when the browser jumps from your grafana page to the oauth page? Maybe you need to change the network speed at the browser console settings to take screenshots conveniently.

[2022-09-25 13:01] serialt commented on #1156
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/58406690/192144806-b00f2e91-287b-4564-bb8c-8fb27cf57de8.png">

[2022-09-25 13:08] wangguan1024 commented on #1156
Sorry, I means the network logs of grafana page before redirecting.

[2022-09-25 13:25] serialt commented on #1156
Sorry，It's my fault， I do not set the root_url  in  grafana.conf, Thanks!!!

[2022-09-25 13:31] #1156 closed

[2022-09-25 13:35] wangguan1024 commented on #1156
You are welcome

You are welcome.

[2022-09-25 13:43] hsluoyz commented on #1154
@wangguan1024

[2022-09-25 13:48] wangguan1024 commented on #1154
ok

[2022-09-26 06:10] hsluoyz opened #1160 "ldapserver crash bug: panic: Expecting 0x30 as first byte, but got 0x4d instead"
[code]

![image](https://user-images.githubusercontent.com/3787410/192205090-7a8f23e4-d8a5-4b95-9b93-135c0ac98061.png)

[2022-09-26 06:10] hsluoyz commented on #1160
@forestmgy

[2022-09-26 09:25] yaotthaha commented on #1143
Please reopen this issue, the bug is not fixed.

The redirect link is incorrect after login.

Use Password:
[code]

Use WebAuthn:
[code]

[2022-09-26 13:21] hsluoyz commented on #1154
Closed as resolved

[2022-09-26 13:46] hsluoyz commented on #1160
Fixed by: https://github.com/casdoor/casdoor/pull/1161

[2022-09-26 13:46] #1160 closed

[2022-09-26 15:51] cofecatt opened #1162 "Add keycloak provider error"
When I add a keycloak provider, the console reports "Cannot read properties of undefined (reading 'getSamlUrl')" and the user interface is blank
https://user-images.githubusercontent.com/60803595/192322193-74a6c577-2264-4c25-a4f3-e4ec5f09d22c.mp4

[2022-09-26 16:08] miguelgargallo opened #1163 "The Docker install on portainer is not working fine"
panic: dial tcp 127.0.0.1:3306: connect: connection refused

goroutine 1 [running]:

github.com/casdoor/casdoor/object.(*Adapter).createTable(0xc00026d740)

	/go/src/casdoor/object/adapter.go:125 +0x877

github.com/casdoor/casdoor/object.InitAdapter(0x0)

	/go/src/casdoor/object/adapter.go:50 +0xb1

main.main()

	/go/src/casdoor/main.go:38 +0xa7

[2022-09-27 07:05] wangguan1024 commented on #1102
@fischermario
Hi!
I think the advantages of tokens over passwords are that they are time-sensitive and have the ability to configure scopes of permissions. And the token's permission is limited by oauth provider. Therefore, storing tokens has greatly reduced security risks compared to storing passwords.
As for your storing ID plan, maybe you can give a more detailed description. I haven't figured

[2022-09-27 07:11] wangguan1024 commented on #1102
@fischermario
Here are some instructions on the security of token in oauth2.
https://www.rfc-editor.org/rfc/rfc6819

[2022-09-27 09:11] forestmgy commented on #1163
@miguelgargallo This is because localhost in Docker means different from local
plz try this ,it will help you
https://casdoor.org/docs/basic/try-with-docker
![image](https://user-images.githubusercontent.com/101162387/192485366-a3d6c7a2-2027-4415-ad32-fcb5fa015d3c.png)

[2022-09-27 11:26] #1163 closed

[2022-09-27 11:27] hsluoyz commented on #1102
@fischermario why is it not good to store tokens in DB? Can you provide some references?

[2022-09-28 07:56] fischermario commented on #1102
@hsluoyz This has to to with a possible database breach. A zero-day vulnerability in a wide-spread DBMS (like MySQL/MariaDB) is more likely than someone breaking your application and getting access to the JWT signing key. You do not need to store the token in the database because you can check any token with the JWT signing key (which should not be stored in the database).

Basic rule of thumb sho

[2022-09-28 09:05] forestmgy opened #1166 "Bug: panic: runtime error: slice bounds out of range [:1] with length 0"
When I use the latest version and execute `go run main.go`, there are some problems

`
[xorm] [warn]  2022/09/28 17:00:12.577857 Table permission_rule has column p_type but struct has not related field
Socks5 proxy enabled: 127.0.0.1:10808
[xorm] [warn]  2022/09/28 17:00:12.607090 Table casbin_rule has column p_type but struct has not related field
panic: runtime error: slice bounds out of range [

[2022-09-28 09:35] leo220yuyaodog commented on #1166
Cause by https://github.com/casdoor/casdoor/pull/1165

[2022-09-28 10:42] forestmgy commented on #1166
Thank you, I've resolved this problem by deleting table 'casbin_rule' and restart this project, it works fine

[2022-09-28 10:42] #1166 closed

[2022-09-28 13:09] #1162 closed

[2022-09-29 08:04] gitlawr commented on #919
V1 is maintained under https://github.com/beego/beego now: https://github.com/beego/beego/blob/v1.12.11/go.mod#L1
Can we switch to it at the moment?
It helps to resolve known CVEs: https://github.com/advisories/GHSA-qx32-f6g6-fcfr

[2022-09-29 12:52] hsluoyz commented on #919
@gitlawr fixed in: https://github.com/casdoor/casdoor/commit/04709f731bb553e8b4a03fc12ad2330f6e22cb62

[2022-09-29 12:52] #919 closed

[2022-09-29 13:34] hsluoyz commented on #1150
The user can upgrade Go by themselves, closed here

[2022-09-29 13:34] #1150 closed

[2022-09-29 18:02] hsluoyz opened #1169 "Migrate XORM DB schema for version upgrade"
Sometimes Casdoor updates its DB table schema, and new code will crash based on old DB data. So we need to handle DB migration.

See:

- https://github.com/go-xorm/xorm/blob/master/migrate/migrate.go
- https://stackoverflow.com/questions/43165507/how-to-maintain-migration-and-schema-in-xorm
- https://github.com/techknowlogick/xormigrate

[2022-09-29 18:07] hsluoyz opened #1170 "Reduce the size of token, especially the user object"
![image](https://user-images.githubusercontent.com/3787410/193109637-1a06ea74-6059-4669-b1f6-398278eba6fe.png)

[2022-09-30 10:05] gregxsunday opened #1171 "Arbitrary file delete vulnerability"
Hi,

I was looking at the fix to https://github.com/casdoor/casdoor/issues/1035:
![image](https://user-images.githubusercontent.com/26839305/193245742-4033c5e3-85ee-43fe-b18f-81179e0a9a55.png)

And I noticed it only fixes the path traversal in file upload, while file deletion is still vulnerable.
Thus, it's possible to delete any file outside application's webroot:
![poc](https://user-images.githu

[2022-09-30 16:33] #1171 closed

[2022-10-01 03:10] #1143 closed

[2022-10-03 04:59] hsluoyz opened #1175 "Support phone code signin"
Like: https://idp.baihai.co/login

Also requested at: https://github.com/casdoor/casdoor/issues/972

![image](https://user-images.githubusercontent.com/3787410/193504513-fa60669b-227c-493c-9df5-8c19eaa12866.png)

[2022-10-03 05:00] hsluoyz commented on #972
Replaced by: https://github.com/casdoor/casdoor/issues/1175

[2022-10-03 05:00] cocatty opened #1176 "The login box is expected to support multi-national phone numbers"
The login box is expected to support multi-national phone numbers。as shown in the figure：
![image](https://user-images.githubusercontent.com/105959921/193504615-0f2dfbed-6b2d-4ad3-9c56-584e3be1680e.png)

[2022-10-03 05:30] hsluoyz opened #1177 "Add left side picture for sign-in page"
It should be able to be configured in application edit page

Like: https://account.yinianci.net/

![image](https://user-images.githubusercontent.com/3787410/193507263-ea4c734e-2710-479c-aff6-ced04d62b007.png)

[2022-10-03 07:16] hsluoyz commented on #1175
Moved to: https://github.com/casdoor/casdoor/issues/972

[2022-10-03 07:16] #1175 closed

[2022-10-03 10:38] hsluoyz opened #1178 "Show language widget in signup and signin pages"
- Signup: https://door.casdoor.com/signup
- Signin: https://door.casdoor.com/login

Like:

![image](https://user-images.githubusercontent.com/3787410/193557901-b277f34e-936a-463f-ae02-99cbd17f9a70.png)

[2022-10-03 12:36] hsluoyz opened #1179 "Support custom CSS in forget page"
The custom CSS already supports:

- Signup: https://door.casdoor.com/signup
- Signin: https://door.casdoor.com/login

But not:

- Forget: https://door.casdoor.com/forget

[2022-10-03 14:03] Zerek-Cheng commented on #972
@hsluoyz 你好 我的意思是在不使用邮箱/手机验证码的情况下，使用密码登录时校验字符/极验验证码

[2022-10-03 14:40] #1178 closed

[2022-10-03 14:46] hsluoyz commented on #1179
@leo220yuyaodog

[2022-10-03 14:59] hsluoyz opened #1181 "The page switch should be faster by using frontend routing instead of full page reload"
See links at: https://door.casdoor.com/login

![image](https://user-images.githubusercontent.com/3787410/193609392-3e1140c2-6caa-4c14-9b88-5a3a0af4adef.png)

[2022-10-04 03:01] nomeguy commented on #1113
Done at:

- https://github.com/wkeyuan/DWSurvey/pull/98
- https://github.com/wkeyuan/DWSurvey_Vue/pull/1

[2022-10-04 03:01] #1113 closed

[2022-10-04 03:05] Congyuwang opened #1182 "Custom Oauth2 login button looks ugly"
![A24F097E-2F88-470E-9289-4E23C36B8020](https://user-images.githubusercontent.com/52687642/193725541-8860fc07-837b-4689-b741-02b367b5ae8d.jpeg)

The login button for custom Oauth2 looks ugly:
- the name does not change with the name of the provider
- the logo doesn’t follow the provider’s logo

[2022-10-04 03:19] hsluoyz commented on #1129
The SSO is in the X-Pack: https://www.fit2cloud.com/metersphere/enterprise.html , closed here

[2022-10-04 03:43] hsluoyz opened #1183 "Support Zadig (Go + Vue) SSO authentication with Casdoor"
Backend: Go, https://github.com/koderover/zadig
Frontend: Vue, https://github.com/koderover/zadig-portal

SSO: https://docs.koderover.com/zadig/dev/faq/auth/

[2022-10-04 08:55] fischermario commented on #1170
I also mentioned this in #1104

[2022-10-04 14:07] hsluoyz commented on #1104
Replaced by: https://github.com/casdoor/casdoor/issues/1170

[2022-10-04 14:07] #1104 closed

[2022-10-04 14:18] JokerQyou commented on #142
Why is #146 closed without merging? I see the sign-in form can be customized a little bit but the CSS is only limited to the form itself, not the whole page.

[2022-10-04 14:42] hsluoyz commented on #142
@JokerQyou this issue is already fixed, see: https://door.casdoor.com/applications/app-built-in

![image](https://user-images.githubusercontent.com/3787410/193849829-3f19a380-e4ad-4888-ac28-93fb665df803.png)

[2022-10-04 14:42] #142 closed

[2022-10-04 14:53] hsluoyz commented on #142
@JokerQyou can you create a new issue and talk about your idea detailedly?

[2022-10-05 02:44] Congyuwang opened #1184 "Bug: OpenID Address Claim Does Not Conform to OpenID Standard"
In OpenID token, `Address` should be a json object not an array of string. This causes more rigorous openID client libraries to reject responses from Casdoor.

[code]

See OpenID Connect 1.0 Spec: https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim

[2022-10-05 02:57] Congyuwang commented on #1184
I use https://docs.rs/openidconnect/latest/openidconnect/ openidconnect library in rust.

[2022-10-05 10:09] Congyuwang commented on #1184
Quote from https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim

The Address Claim represents a physical mailing address. Implementations MAY return only a subset of the fields of an address, depending upon the information available and the End-User's privacy preferences. For example, the country and region might be returned without returning more fine-grained address information.

I

[2022-10-05 10:10] Congyuwang commented on #1184
Note that opened-connect-core advice the possibility of returning "just the full address as a single string in the formatted sub-field". That is, it is also acceptable to include only the `formatted` field without including the other subfields such as `street_address` and so on.

[2022-10-05 11:43] Congyuwang commented on #1184
Therefore, in short, I would consider the previous reverted `{formatted: "some address string"}` as a valid compliance solution to `AddressClaim`.

[2022-10-05 12:13] hsluoyz commented on #1184
@Congyuwang the previous PR was reverted because it has broken all our SDK code. All applications will fail. Can you make a PR to make a perfect fix?

[2022-10-05 12:30] Congyuwang commented on #1184
Seems to me those SDKs need to make changes accordingly.

[2022-10-06 03:13] hsluoyz opened #1186 "The language button position needs to be fixed"
See: https://casdoor.org/

![image](https://user-images.githubusercontent.com/3787410/194205750-0510917f-26f1-43de-9099-07a71e2d68f7.png)

And: https://door.casdoor.com/login/oauth/authorize?client_id=014ae4bd048734ca2dea&response_type=code&redirect_uri=https%3A%2F%2Fforum.casbin.com%2Fcallback&scope=read&state=a3xg90qszvu

![image](https://user-images.githubusercontent.com/3787410/194205839-0e0f2

[2022-10-06 03:13] hsluoyz commented on #1186
@leo220yuyaodog

[2022-10-06 07:25] gregxsunday opened #1187 "Full read SSRF in avatar upload"
URLs for avatar upload are not restricted in any way. The attacker can set this to an arbitrary internal URL, eg. cloud metadata endpoint and the server will fetch it and store it on the server.

# Steps to reproduce
1. Set the avatar URL to an internal address, eg. `http://127.0.0.1/latest/meta-data/iam/security-credentials/baskinc-role`
![image](https://user-images.githubusercontent.com/26839305

[2022-10-06 09:21] hsluoyz commented on #1187
This is not a bug

[2022-10-06 10:24] starbassma opened #1189 "Why you must stop using CASDOOR (related to #1187)"
Hello,
If the internal team of casdoor don't consider #1187 as a security issue, then you must stop using casdoor if you are serious about the security of your assets.
Best regards,

[2022-10-06 10:29] hsluoyz opened #1190 "Security related issues should be sent via Email instead of creating issues here"
For security reasons, anything related to security should be sent to Email address: admin@casdoor.org

[2022-10-06 10:39] yassineaboukir commented on #1190
Hi @hsluoyz,

To avoid similar confusion in the future, I'd suggest setting up a security policy via https://github.com/casdoor/casdoor/security or adding the reporting channel to the project's readme page.

[2022-10-06 10:40] hsluoyz commented on #1187
@starbassma @gregxsunday if you have any further security-related reports, please follow intructions here: https://github.com/casdoor/casdoor/issues/1190 . This issue is valuable. We can continue the dicussion via Email. GitHub is not a good place to discuss those things because a lot of malicious attackers may utilize the information you have leaked to attack the systems.

[2022-10-07 07:36] benharvie opened #1191 "Responsible disclosure policy"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@gregxsunday) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-10-07 11:02] #1191 closed

[2022-10-07 11:06] hsluoyz commented on #1190
@yassineaboukir done at: https://github.com/casdoor/casdoor/pull/1192

[2022-10-07 16:13] hsluoyz commented on #1184
@gtn1024

[2022-10-08 14:33] cjhqyz opened #1195 "Bug: When add or modifying permissions, an exception will be thrown"
I tested two docker image **casbin/casdoor-all-in-one:latest** and **casbin/casdoor:latest**
Same problem with both images.

1. Add new organization
2. Add new application
3. Add new user
4. Add new model
5. Add new role
6. Add new permission with new Adapter named 'jike_rule'
7. Throw this exception:
![Snipaste_2022-10-08_22-14-26](https://user-images.githubusercontent.com/18466841/194712523-02f7

[2022-10-08 14:42] cjhqyz commented on #1195
docker ENV:
dataSourceName	user=aaa_dev password=aaa_dev host=192.168.50.11 port=5432 sslmode=disable dbname=JiKeDev_Auth
dbName
driverName	postgres
PATH	/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
runmode	dev

[2022-10-08 14:43] hsluoyz commented on #1195
@forestmgy

[2022-10-08 15:00] hsluoyz opened #1196 "Fix error message for organization login page"
https://door.casdoor.com/login/some-org

It should be "The organization does not exist"

![image](https://user-images.githubusercontent.com/3787410/194713781-db0d898b-6191-4fa7-82ba-ea463a88914d.png)

[2022-10-08 15:00] hsluoyz commented on #1196
@cofecatt

[2022-10-08 17:35] hsluoyz opened #1198 "Add restriction to username when signing up"
Use the same restriction as GitHub

[2022-10-08 17:36] hsluoyz commented on #897
@wenxuan70 @Zerek-Cheng this issue is similar to: https://github.com/casdoor/casdoor/issues/972

[2022-10-09 01:46] hsluoyz commented on #747
Done at: https://www.bookstack.cn/read/help/Casdoor.md

[2022-10-09 01:46] #747 closed

[2022-10-09 02:47] hsluoyz commented on #1196
Fixed by: https://github.com/casdoor/casdoor/commit/44ad88353ff8720499f18a7678b2e349c55ffe54

[2022-10-09 02:47] #1196 closed

[2022-10-09 03:24] forestmgy commented on #1195
I suppose that you use an incorrect model definition. You can read [docs](https://casbin.org/docs/zh-CN/supported-models), there are many model definition examples, [this](https://github.com/casbin/casbin/blob/master/examples/rbac_with_resource_roles_model.conf) may works fine. But you can explore more

[2022-10-09 05:46] Zerek-Cheng commented on #897
yea,same problem

[2022-10-09 09:06] hsluoyz opened #1199 "Support Rancher (Go) SSO authentication with Casdoor"
Backend: Go, https://github.com/rancher/rancher

See: https://github.com/rancher/rancher/issues/37860

[2022-10-09 12:48] hsluoyz opened #1200 "Fix the UI problems in pad and mobile views"
https://door.casdoor.com/

Pad:

![image](https://user-images.githubusercontent.com/3787410/194757635-550e2260-e66f-45be-b202-1b7b73692295.png)

Mobile:

![image](https://user-images.githubusercontent.com/3787410/194757683-a4023a90-294a-4139-aab8-961f45a299b3.png)

![image](https://user-images.githubusercontent.com/3787410/194757697-cc719e59-8d82-43f7-8027-2c05a541e887.png)

[2022-10-09 16:05] cjhqyz commented on #1195
@forestmgy Thank you.
It would be better if no exception was thrown, but with specific error content

[2022-10-09 16:05] #1195 closed

[2022-10-10 06:30] hsluoyz opened #1204 "Support i18n in backend error messages"
Casdoor has i18n in frontend: https://github.com/casdoor/casdoor/blob/master/web/src/locales/zh/data.json. But the Go backend of Casdoor still lacks the support for i18n, all current error texts are in English.

https://github.com/casdoor/casdoor/search?q=responseerror

We can use this library to support i18n in Go: https://github.com/nicksnyder/go-i18n

[2022-10-10 11:58] #1198 closed

[2022-10-10 11:59] hsluoyz opened #1207 "Change all occurrences when a object name is changed"

[2022-10-10 13:21] hsluoyz commented on #1101
Fixed by: https://github.com/casdoor/casdoor/commit/b832c304aede1c1e4f185478afd17a4ff32e1476

[2022-10-10 13:21] #1101 closed

[2022-10-10 15:00] hsluoyz opened #1208 "[frontend] The spin for account page should be centralized"
![image](https://user-images.githubusercontent.com/3787410/194895737-3e3745f6-a9ed-4868-bbda-38fef9f255a7.png)

![image](https://user-images.githubusercontent.com/3787410/194895953-c390ed61-8a56-4e4b-825c-873aeb3f9f6c.png)

[2022-10-10 16:52] #1208 closed

[2022-10-11 06:40] Congyuwang commented on #1184
I think a figured a solution. That is to implement `access_token` and `openid_token` separately. So you can have your SDKs still use the old access_token format, while improving your compliance to OpenID protocol.

[2022-10-11 15:27] hsluoyz opened #1213 "[frontend] make the app list in homepage have the same height"
Log into: https://door.casdoor.com/login/casbin

![image](https://user-images.githubusercontent.com/3787410/195133904-68ae6b01-d521-43bc-ab7c-09cde8522012.png)

It should be:

![CA(NU9{G)T~~FT(OK E~AH](https://user-images.githubusercontent.com/3787410/195911898-d4b2428d-12e1-4b31-9ee2-1d33d61f9fbf.png)

![4B@RJ$9}J{U_S1A_(WUVI F](https://user-images.githubusercontent.com/3787410/195911913-f81e8b83

[2022-10-13 07:21] ccdd4ever commented on #289
It looks like idp is global instead of belong to a specified tenant?

[2022-10-13 14:10] hsluoyz commented on #289
@ccdd4ever yes, is there a problem?

[2022-10-13 16:06] hsluoyz commented on #289
@ccdd4ever good point, in Casdoor, `Relm（Tenant)` is actually called `Organization`, we will support to add providers inside the Organization scope, it this OK?

If this is OK, you can create a new issue to track this

[2022-10-14 02:50] ccdd4ever opened #1217 "[Feat Request]support to add providers inside the Organization scope"
Currently casddor's idp is not isolate in Tenant(Organization scope. I have checked IDP impl in keycloack find it's belong to a specific Relm（Tenant)，maybe that's a better solution for users who want to build saas application using casdoor.

[2022-10-14 02:51] ccdd4ever commented on #289
Thanks for relpy.
Issue:
https://github.com/casdoor/casdoor/issues/1217

[2022-10-15 09:20] #1169 closed

[2022-10-16 15:42] jack77213 opened #1222 "Bug: steam login users may have same nickname or violates the restriction of casdoor username"
The current version  (v1.133.0) uses Steam nickname as username, but multiple Steam users can use the same username, and the username can contain CJK characters. Suggest to use unique 64bit steamtid as username.
https://github.com/casdoor/casdoor/blob/v1.133.0/idp/goth.go#L285
#1203

[2022-10-17 07:07] Airkro opened #1223 "[Bug] Register fail when providers return non-English usernames"
I understand why Casdoor needs English usernames.

But many providers, like DingTalk, will return Chinese usernames, then register logic will be blocked by non-English usernames, Then the whole work will be stuck.

Maybe Casdoor can use a fallback username to finish the register.

[2022-10-17 10:01] #1223 closed

[2022-10-18 14:08] hsluoyz commented on #1222
Fixed by: https://github.com/casdoor/casdoor/commit/8b222ce2e396dc52feb3b6adc55d3ad58d31d4b3

[2022-10-18 14:08] #1222 closed

[2022-10-19 04:42] hoorayman opened #1230 "bug：using wechat, baidu, etc, login fail: There was a problem signing you in.."
There was a problem signing you in..
The username may only contain alphanumeric characters, underlines or hyphens, cannot have consecutive hyphens or underlines, and cannot begin or end with a hyphen or underline.
![image](https://user-images.githubusercontent.com/73151874/196599433-aedb58a6-7263-4e1a-b1f3-54b20708ae9b.png)

[2022-10-19 06:40] Airkro commented on #1230
Have you tried [1.134.0](https://github.com/casdoor/casdoor/releases/tag/v1.134.0)?
The same problem has been fix, See https://github.com/casdoor/casdoor/issues/1223

[2022-10-19 06:44] Airkro opened #1231 "[Feature Request] Support DingTalk `corpId`"
Support `corpId` query params in DingTalk auth page.

See: https://open.dingtalk.com/document/orgapp-server/tutorial-obtaining-user-personal-information

[2022-10-19 07:00] hoorayman commented on #1230
Yes, no problem when using v1.134.0, thanks.

[2022-10-19 07:00] #1230 closed

[2022-10-19 07:20] Airkro commented on #1231
And using [this api](https://open.dingtalk.com/document/orgapp-server/query-a-user-by-the-union-id) to make sure the DingTalk account belongs to the DingTalk Org.

[2022-10-19 14:05] hsluoyz commented on #1231
@Airkro can you make a PR?

[2022-10-20 02:06] Airkro commented on #1231
For now, anyone who using DingTalk can sign in by Casdoor, whether the account is under the DingTalk organization(where DingTalk AppKey belongs) or not.

[2022-10-20 06:47] #1187 closed

[2022-10-20 17:15] hsluoyz opened #1233 "Bug in user list pagination"
It always shows the same users for different pages

https://user-images.githubusercontent.com/3787410/197015346-32765ce1-35d8-4e49-851b-1db734087513.mp4

[2022-10-22 13:43] #1177 closed

[2022-10-22 15:17] #1181 closed

[2022-10-23 07:16] #1204 closed

[2022-10-23 08:27] hsluoyz commented on #1231
@forestmgy

[2022-10-25 11:27] #1213 closed

[2022-10-26 09:29] boris-donchev opened #1240 "Generate and store API Keys for a user Casdoor"
I want users to be able to generate and store API Keys or at least personally generate API Keys through the admin interface that are bound to a user. Is this possible? I haven't found any solution yet.

I see that there is WebAuthn, different OAuth2 providers, but no API Keys.

My goal would be to have one central store of all credentials so that whenever I want to make the authentication and auth

[2022-10-28 05:38] #972 closed

[2022-10-28 08:37] forestmgy commented on #1231
https://github.com/casdoor/casdoor/pull/1241
@Airkro I fix problems before, now users can't log in to casdoor if he is not member of the Org(which AppKey and AppSecret belong)

[2022-10-28 09:00] Airkro commented on #1231
Thanks, good enough for me, but could be a breaking change for other people.

Maybe you should add an option in the provider UI to enable the new behavior.

[2022-10-28 14:14] #1231 closed

[2022-10-30 17:40] hsluoyz opened #1251 "Support logging in by following WeChat official account"
See: https://zhuanlan.zhihu.com/p/349504145

[2022-11-01 16:17] #1207 closed

[2022-11-01 16:25] hsluoyz commented on #1179
Fixed by: https://github.com/casdoor/casdoor/pull/1226

[2022-11-01 16:25] #1179 closed

[2022-11-01 16:26] hsluoyz opened #1254 "Fix background flashing for login page"
https://door.casdoor.com/login

![image](https://user-images.githubusercontent.com/3787410/199285026-76aac23f-a486-4fcd-a76e-561b01a6983a.png)

[2022-11-01 16:26] hsluoyz commented on #1254
@leo220yuyaodog

[2022-11-02 02:46] dingchenzy opened #1255 "How to connect to Jira?"
I want to log into Jira with Casdoor, how to configure it?

[2022-11-03 02:39] hsluoyz commented on #1255
@dingchenzy plz modify all texts into English

[2022-11-03 05:28] jakiuncle commented on #1255
hi,you can use casdoor java jdk to do it or I do it.

[2022-11-04 02:11] yaozhuangyanlingyu opened #1256 "Memory leak problem"
The database synchronizer method has a memory leak problem:
getOriginalUsers()

Phenomenon: When it was first deployed to the k8s, the memory occupied about 20mb, the upper limit of memory was set to 256mb, and the synchronizer executed every minute. After running for one day, the memory became 600+mb, causing the service to run abnormally

After the test, it is modified as follows, and then it re

[2022-11-04 11:46] Abingcbc commented on #1256
Maybe the root cause https://github.com/golang/go/issues/42455
It may be better to set the env variable GODEBUG=madvdontneed=1

[2022-11-04 13:31] #1217 closed

[2022-11-04 15:25] hsluoyz opened #1259 "Allow using application's own login page UI to call Casdoor login API"
Like below, the application still maintains its own frontend page, but it calls Casdoor RESTful API to do the job. We need to wrap all necessary APIs into the frontend SDKs like casdoor-js-sdk to let the user call them

![(HY6KXP5KK$ GBJAG${`6Y2](https://user-images.githubusercontent.com/3787410/200012200-18692b78-6f43-4a28-8b2c-55add00b6450.png)

[2022-11-04 16:03] hsluoyz opened #1260 "[feature] Add tour for new users"
Add tour for new users like this:

Can use Antd's Tour component: https://ant.design/components/tour

![function_1_1](https://user-images.githubusercontent.com/3787410/200022002-497bb582-610d-44f8-83d0-351f4c52ed9a.gif)

[2022-11-05 01:03] hsluoyz opened #1262 "Allow organization admins to manage its own applications"
Like: https://github.com/casdoor/casdoor/pull/1250

[2022-11-05 14:13] #1255 closed

[2022-11-05 14:47] hsluoyz commented on #1255
@dingchenzy see docs: https://casdoor.org/docs/integration/java/jira

[2022-11-05 17:43] #1256 closed

[2022-11-06 13:15] hsluoyz opened #1266 "Allow organization admins to manage its own organization"
Like: https://github.com/casdoor/casdoor/pull/1250

How to reproduce:

1. Log into: https://door.casdoor.com/login/casbin with admin, 123
2. Test which menu item doesn't work, fix the bug. Like the "Providers" tab doesn't work here.

![image](https://user-images.githubusercontent.com/3787410/234626381-a67f2f57-39a0-400c-a5c0-f1c1d902b240.png)

[2022-11-06 14:22] hsluoyz opened #1269 "Support Apache RocketMQ Dashboard (SpringBoot + React) SSO authentication with Casdoor"
https://github.com/apache/rocketmq-dashboard

[2022-11-06 14:37] hsluoyz opened #1270 "Support Apache SeaTunnel Dashboard (SpringBoot + Vue3) SSO authentication with Casdoor"
https://github.com/apache/incubator-seatunnel-web

[2022-11-08 03:39] star7th opened #1272 "I can't jump to the business system after I reset my password by email"
My business system is connected to casdoor. Ordinary users log in using email. When they forget their email password, choose Email Reset Password. After resetting, they will stay on the casdoor page and cannot jump back to the business system.
The whole process is not friendly. The normal process is as follows:
The user clicks the login button in the business system to jump to the login page. He f

[2022-11-08 04:12] ivanmissu commented on #984
@sunerlin I also met this question. Can you answer it

[2022-11-08 04:23] ivanmissu opened #1273 "casdoor deploied in k8s, login status code is 403"
casdoor deploied in k8s, and access is ok, but when i login,  http status code showed 403.\
the casdoor docker image is casbin/casdoor:v1.152.0
<img width="1225" alt="image" src="https://user-images.githubusercontent.com/8721615/200474617-8b4dd933-5ab9-49d0-beff-a05cdd5843dc.png">
how to resolve this ?

[2022-11-08 05:53] hsluoyz commented on #984
Similar as: https://github.com/casdoor/casdoor/issues/1273