[2020-07-20 17:11] GopherJ opened #17 "Prometheus/Grafana integration"

[2020-10-27 17:21] nodece opened #1 "Technology selection of frontend an backend"
Technology selection is an important part of the project, and in order to reach an agreement with all developers, I created a list for discussion.

## Frontend

### Language

[TypeScript](https://github.com/microsoft/TypeScript) - Provides strict code checking to make our application more stable.

### User interfaces

[React](https://reactjs.org/) - A JavaScript library for building user interface

[2020-10-27 17:29] nodece commented on #1
For the back-end technology, I refer to the [Drone]( https://github.com/drone/drone) project.

[2020-10-27 17:30] nodece commented on #1
@hsluoyz could you tell me what you think of these?

[2021-01-12 04:20] hsluoyz opened #10 "Integrate an OAuth provider (server-side)"
Casdoor acts like both a OAuth client and OAuth server:

1. For the Casdoor user applications (e.g., a forum or a blog system that uses Casdoor to manager login and permissions), Casdoor will behave as the OAuth service providers.
2. For real 3rd-party identity providers like Gmail, Google, WeChat, Casdoor will act as an OAuth client.

We need to choose which lib in Golang for both OAuth client an

[2021-01-13 03:46] RobotHuang commented on #10
[golang/oauth2](https://github.com/golang/oauth2) could serve as both OAuth server-side and OAuth client, but it seems not support  WeChat and other Chinese applications.
(go-oauth2/oauth2)[https://github.com/go-oauth2/oauth2] encapsulates golang/oauth2 and could serve as an OAuth server-side.

[2021-01-14 15:23] hsluoyz commented on #10
@RobotHuang why is WeChat special? If it is following official OAuth standard, then any one of OAuth servers can support it, right?

[2021-01-14 15:51] RobotHuang commented on #10
@hsluoyz I meant that `golang/oauth2` doesn't include `WeChat` endpoint now. I read the source code of `golang/oauth2` and find that it is easy to add other endpoints.

[2021-01-14 15:54] hsluoyz commented on #10
@RobotHuang why https://github.com/golang/oauth2 contains OAuth server? It said:

![image](https://user-images.githubusercontent.com/3787410/104615084-d65d9200-56c3-11eb-8ddf-c12ee443913f.png)

[2021-01-14 16:14] RobotHuang commented on #10
@hsluoyz Sorry, it is my mistake. It could only be used as client.

[2021-01-27 10:20] MehtaManan07 opened #11 "Website Reloads on routing"
Everywhere in the project, hrefs are given which reloads the website every time someone navigates. It needs to be corrected and instead, **Links** from **react-router-dom** should be used.
I am willing to work on the same and few other aspects of the project Casdoor

[2021-02-13 04:23] hsluoyz commented on #11
Already fixed by: https://github.com/casbin/casdoor/commit/ee1e08ae209832bf6c32059c04cc0e6cf01eb0f4

[2021-02-13 04:23] #11 closed

[2021-02-13 04:24] #1 closed

[2021-02-13 04:27] hsluoyz opened #13 "Add i18n support"
Currently all UI is English, we can enable i18n to support more languages like Chinese.

See how we did it for Casbin-Forum: https://github.com/casbin/casbin-forum/pull/21

[2021-02-13 04:43] hsluoyz commented on #13
@RobotHuang plz take a look when you have time.

[2021-02-20 03:00] #13 closed

[2021-02-20 03:08] hsluoyz opened #15 "Act as an OAuth 2.0 + OIDC server"
Currently, Casdoor uses a home-made logging-in mechanism: https://github.com/casbin/casdoor/blob/master/controllers/account.go

It's not standard and it's unsafe, the password is transmitted over the network.

Finally, we will move to OAuth 2.0 + OIDC. It means that applications like Casbin OA (both JS client and Go backend) will talk to Casdoor via the OAuth 2.0 + OIDC protocols.

We can use: htt

[2021-02-20 03:14] hsluoyz commented on #15
@RobotHuang

[2021-02-20 04:00] GopherJ opened #16 "role graph serialization for front-end usage"
![Screenshot from 2020-05-26 22-49-02](https://user-images.githubusercontent.com/33961674/83337433-798ba380-a2bb-11ea-865b-fd0a4e84c346.png)

I have a covid-19 project which shows virus propagation chain, so I came up with a small idea of serializing role links which can be useful for analyzing.

basically the serialized json should be similar to the following to be used by frontend libraires such

[2021-02-20 04:00] hsluoyz commented on #16
Casbin dashboard is deprecated.

We will visualize the role inheritance in Casdoor web portal UI.

[2021-02-20 13:04] hsluoyz opened #18 "Support uploading and tailoring user's avatar image"
See: https://forum.casbin.com/t/91

In future, Casbin-forum will use Casdoor as authentication and user management, so I think we will manage the user avatar in the scope of Casdoor.

For where to store the uploaded avatar image, we can use this: https://github.com/qor/oss to provide support for multiple OSS providers.

[2021-03-11 11:23] Kininaru opened #20 "A suggestion for README.md"
Should we tell our users in the paragraph `Installation` to proxy the URL `https://(hostname)/api/` to `http://localhost:8000` in their servers?

[2021-03-11 12:06] Kininaru commented on #18
Working on this.

[2021-03-11 12:29] hsluoyz commented on #20
Why? The Go code in port 8000 already listens to /api/* requests.

[2021-03-11 15:16] Kininaru commented on #20
@hsluoyz

I would like to say my opinion:

Here's all the code about `ServerUrl` in Setting.js:

[code]

if the server is not running locally, the value of `ServerUrl` will be empty, and webpages will request info from the port on which front-end is listening. However, the front-end port is not the same as the back-end port, so there may be an error.

And there is another case: To hide the port in

[2021-03-11 15:31] hsluoyz commented on #20
@Kininaru this is a usage of myself:

1. Dev: I use localhost, start backend at 8000, start frontend at 7001. The frontend will auto-refresh.
2. Prod: I use Nginx as a reverse proxy to hold domain name, SSL, etc. The traffic is redirected to backend's 8000. The frontend is built into static files and also served by Go backend (see the Go code about the static serving logic).

I don't know if this

[2021-03-11 15:36] Kininaru commented on #20
@hsluoyz

Got that. Can I commit something about this in the README?

[2021-03-12 01:44] hsluoyz commented on #20
You can send PR.

[2021-03-12 03:32] #20 closed

[2021-03-14 08:21] Kininaru commented on #18
Project in my branch has been deployed at https://door-hk.chromium.link.
Click "My Account - Upload Avatar" to tailoring and uploading an avatar.

[2021-03-15 19:25] nafees87n commented on #18
Hi @hsluoyz
Is this issue open?
I am new to casbin and want to contribute to it. Currently, I am going through the codebase. Can you please provide me with some resources to understand how to start with this issue?

[2021-03-17 07:00] sourabhmandal opened #24 "Use HttpRouter instead of beego"
@hsluoyz If we could use HttpRouters in this project, owing to the fact that HttpRouter outperforms Beego in terms of performance and memory usage.
I would give just a minor performance boost but I think it's worth it as the project grows.

[benchmark of different go-routers](https://github.com/julienschmidt/go-http-routing-benchmark)

[2021-03-17 07:15] hsluoyz commented on #24
Don't do BIG refactoring as a new contributor. Please add features to make it work first.

[2021-03-17 07:15] #24 closed

[2021-03-17 14:42] sourabhmandal opened #25 "Update Docs for go get command"
@hsluoyz This is the error I faced
![image](https://user-images.githubusercontent.com/39632788/111484739-07a61d00-875c-11eb-88b3-e4292f68a727.png)

On using `go get github.com/casdoor/casdoor` I got this.
![image](https://user-images.githubusercontent.com/39632788/111485048-4c31b880-875c-11eb-9452-5f44b5aff0f2.png)

Seems like the package is not registered.

[2021-03-17 14:55] sourabhmandal commented on #15
@hsluoyz I would like to work on this

[2021-03-17 16:37] hsluoyz commented on #25
@sourabhmandal use:

go get github.com/casbin/casdoor

[2021-03-17 16:37] #25 closed

[2021-03-19 07:38] sourabhmandal opened #26 "/api/register not working properly"
while running this project in localhost I got this error which is due to `func GetOwnerAndNameFromId()` from `util/string.go`

![image](https://user-images.githubusercontent.com/39632788/111746075-c04a8a00-884a-11eb-8a42-23212721d087.png)

My API call is as follows :
POST http://localhost:8000/api/register
req.body =>
`{
    "username" : "sourabh",
    "password" : "pass1"
}`

![image](https://use

[2021-03-19 13:59] #26 closed

[2021-03-20 13:11] sourabhmandal commented on #15
@hsluoyz Hi I am a new contributor to this project. Please tell me how to go about implementing this? I see there is already an oauth2 library being used. And google and github login is being implemented.

[2021-03-20 13:14] sourabhmandal commented on #15
are we replacing `golang.org/x/oauth2` [golang oauth2](https://pkg.go.dev/golang.org/x/oauth2)

[2021-03-20 17:08] hsluoyz commented on #15
@sourabhmandal generally, we want to support more providers. There's no docs for now as it's developing rapidly. You have to see the code.

[2021-03-21 06:16] hsluoyz commented on #18
Fixed by: https://github.com/casbin/casdoor/issues/18

[2021-03-21 06:16] #18 closed

[2021-03-21 06:18] #10 closed

[2021-03-21 06:19] hsluoyz opened #28 "Add other identity providers like WeChat"
We need to implement a Wechat provider like: https://github.com/casbin/casdoor/tree/master/idp

The Wechat code can be copied from our forum: https://github.com/casbin/casnode/search?q=wechat

[2021-03-21 06:20] hsluoyz commented on #28
@Kininaru

[2021-03-21 06:31] Kininaru commented on #28
Got that, I'm going to study about that tonight.

[2021-03-22 13:09] sourabhmandal commented on #15
@hsluoyz I have created a provider for Facebook. Please review

[2021-03-23 05:08] hsluoyz commented on #15
@sourabhmandal can you setup a demo site for testing?

[2021-03-23 08:12] sourabhmandal commented on #15
@hsluoyz 👍 sure, working on it

[2021-03-25 11:29] sourabhmandal commented on #15
@hsluoyz do you want me to build a site from scratch or use the existing code in `/web` directory.

[2021-03-25 17:25] sourabhmandal opened #30 "Frontend : Modularizing Components and Make them responsive"
The current folder structure is highly disorganized and hard to navigate. Many components can be modularized which will in turn reduce the amount of code drastically.
I am proposing following folder structure
--| src
--|--| **assets**
--|--|--| logo.png
--|--| **components**
--|--|--| CustomGithubCorner.js
--|--|--| Footer.js
--|--|--| Navbar.js
--|--|--| SelectLanguageBox.js
--|--|--| AuthProvide

[2021-03-28 01:26] hsluoyz commented on #30
Thanks for the advice, and I will do the refactoring job when necessary. The specific functionality implementation is recommended for other contributors.

[2021-03-28 01:26] #30 closed

[2021-03-28 01:32] hsluoyz opened #31 "Provide our Go backend API docs (via Swagger) in the web portal"
We use Beego as the backend web framework. Beego has a good integration for automated API docs like Swagger: https://beego.me/docs/advantage/docs.md

We need to integrate it and show a "Swagger" button in the top NavBar, the user can click into the API docs page and know what API we have provided in: https://github.com/casbin/casdoor/blob/master/routers/router.go , so they can directly call Casdoo

[2021-03-28 14:02] Kininaru commented on #31
Working on this.

[2021-03-29 16:28] #31 closed

[2021-03-31 16:53] hsluoyz opened #35 "Implement Email verification"
You can refer to the code in Casbin-forum: https://github.com/casbin/casbin-forum

[2021-03-31 16:57] hsluoyz opened #36 "Be able to link & unlink any 3rd-party login in the account page"
In the "My Account" page: https://door.casbin.com/account , we can view what 3rd-party login (like GitHub or Google) username we have linked to, but it's hard-coded in DB. We should provide a UI way to let user link or unlink any 3rd-party login account:

![image](https://user-images.githubusercontent.com/3787410/113182035-065d1000-9285-11eb-8ff5-df13d665a93c.png)

[2021-04-01 13:21] techarch opened #37 "How/where do we edit and manage policies?"
In the [Admin Portal](https://casbin.org/docs/en/admin-portal) page, it mentions: _"We provide a web-based portal called Casdoor for model management and policy management:"__ but after installing and running casdoor I cannot find any option to access a policy editor, nor do I need any source code related to that topic in the repository.
How/where we edit and manage policies?

[2021-04-05 15:06] Shogue21 commented on #35
Hey there! I'm interested in working on this. Are you looking for an email verification like sending an email to verify after they sign up or verify the email during sign up (i.e. not allowing them to sign up if it is not an existing email)?

[2021-04-05 15:50] hsluoyz commented on #35
@Shogue21 yes, and we may also send Emails to users when new reply comes to the topic (just like what happens now in GitHub).

[2021-04-11 09:27] sourabhmandal opened #38 "calling "api/register" even with correct data feilds gives error"
I called "api/register" with following json object
`
{
    "owner" : "builtin",
    "username" : "sourabh",
    "password" : "123",
    "name" : "sourabh mandal",
    "email" : "19mandal97@gmail.com",
    "phone" : "999"
}
`
But I got the following error

![a](https://user-images.githubusercontent.com/39632788/114298694-4b7b1080-9ad5-11eb-9828-62e2340a645c.png)

The `GetOwnerAndNameFromId()` expec

[2021-04-11 09:28] sourabhmandal commented on #38
I would suggest refactoring `GetOwnerAndNameFromId()` to eleminate this error

[2021-04-14 06:38] sourabhmandal commented on #36
@hsluoyz Please take a look at the above PR. Now the admin account dashboard looks like this.
![a](https://user-images.githubusercontent.com/39632788/114664873-f67c0c00-9d19-11eb-8872-3b0b5ab47b9d.png)

[2021-04-20 05:09] sourabhmandal commented on #37
@hsluoyz shall I make an editable dashboard to solve this issue.

[2021-04-28 10:10] kuchaguangjie opened #45 "Is this project mysql only?"
Seems don't support postgresql ? Just want to confirm that.

[2021-04-28 10:16] hsluoyz commented on #45
@kuchaguangjie see: https://github.com/casbin/casdoor#config

[code]

XORM supports a lot of DBs including PostgreSQL: https://gitea.com/xorm/xorm#drivers-support

![image](https://user-images.githubusercontent.com/3787410/116387884-d9812600-a84d-11eb-83d5-258709ba0f13.png)

[2021-04-29 03:42] kuchaguangjie commented on #45
It does support pg, but require some modification to work, since the code include some mysql specific config.

Refer to my fork & branch for postgres: https://github.com/kuchaguangjie/casdoor/tree/postgres

**The changes I made to make it work with postgresql:**

**1**. Create db by hand.
**2**. Edit `conf/app.conf`

**3**. Edit `object/adapter.go`
- In `InitAdapter()`
    **Change**:

- In `open(

[2021-04-29 03:50] kuchaguangjie opened #46 "Starting port is 3000, not 7001"
The README says it would start at `7001`, and `package.json` does use `"start": "set PORT=7001 && craco start",` but after start via `npm` or `yarn`, it starts at `3000`.

[2021-04-29 03:54] kuchaguangjie opened #47 "Yarn start get empty content."
When start via `yarn run start`, the page is empty.

But start with `npm run start`, it's ok.

And, after start via `npm` once, then start via `yarn`, the issue is gone.

Not sure what happened.

`yarn` version -> `1.22.10`,
`npm` version -> `6.14.11`,
`node version` -> `v12.22.0`,

`Chrome` version -> `Version 88.0.4324.182 (Official Build) (64-bit)` on `Linux` (mint mate 20, based on ubuntu).

[2021-04-29 04:08] hsluoyz commented on #46
@kuchaguangjie are you using Linux? This is because `set PORT=7001` is the Windows CMD grammar to set env var. But Linux uses another grammar in bash. I still don't know how to set env var for all OSs including Windows and Linux. Do you have any idea?

[2021-04-29 04:09] hsluoyz commented on #47
@kuchaguangjie

Can you open the devtools console and see if there are any JS errors?

[2021-04-29 04:13] kuchaguangjie commented on #46
@hsluoyz Yes, I am on Linux.
I usually set env via: `export`, just did a test, it works.

e.g
 `"start": "export PORT=7001 && craco start",`

[2021-04-29 04:14] hsluoyz commented on #46
@kuchaguangjie yes. Linux uses export. Is there a way to be compatible for both?

[2021-04-29 04:24] kuchaguangjie commented on #46
For `yarn`, you may create a `.env` file with line `PORT=7001`.
Refer: https://www.codegrepper.com/code-examples/javascript/craco+configure+port

---
To make it work for both `npm` and `yarn`, might need add `cross-env`, then use `cross-env PORT=1234`.

Refer:
https://stackoverflow.com/a/38785916/
https://www.npmjs.com/package/cross-env

[2021-04-29 04:45] kuchaguangjie commented on #47
I removed `node_modules/`, then try again with `yarn` only, the issue didn't occur this time.

I did happen twice in different days before, when no `npm` is used.

I will update this post, if I see the issue again..

[2021-04-29 05:10] hsluoyz commented on #46
@kuchaguangjie this is a very good solution. Can you make a PR to fix it?

[2021-04-29 05:11] hsluoyz commented on #47
@kuchaguangjie OK. Closed for now. Feel free to open it if it happens again.

[2021-04-29 05:11] #47 closed

[2021-04-29 05:17] hsluoyz commented on #38
@sourabhmandal this is not a bug. And we don't have enough time to do the input checking for now because this is endless.

Plz do some issues listed here: https://github.com/casbin/casdoor/issues

[2021-04-29 05:17] #38 closed

[2021-04-29 05:21] hsluoyz commented on #36
Done:

![image](https://user-images.githubusercontent.com/3787410/116505561-d178c300-a8ed-11eb-9d35-75ea895d14fa.png)

[2021-04-29 05:21] #36 closed

[2021-04-29 05:30] hsluoyz commented on #45
@Kininaru

[2021-04-29 06:35] kuchaguangjie commented on #46
PR: https://github.com/casbin/casdoor/pull/49

[2021-04-29 07:42] #46 closed

[2021-04-29 09:35] hsluoyz commented on #46
@kuchaguangjie I confirmed the PR works on Windows 10. Thanks!

[2021-04-29 13:53] #45 closed

[2021-05-15 06:48] hsluoyz commented on #35
Fixed by: https://github.com/casbin/casdoor/pull/55

[2021-05-15 06:48] #35 closed

[2021-05-15 06:53] #15 closed

[2021-05-15 06:56] hsluoyz opened #58 "Add captcha before sending Email and phone verification code"
We will use: https://github.com/dchest/captcha like how we did in Casnode

![image](https://user-images.githubusercontent.com/3787410/118351295-bf558080-b58d-11eb-8301-e2034633f658.png)

[2021-05-15 13:44] EmperorYP7 commented on #58
I'd like to take this up.

[2021-05-15 15:01] hsluoyz commented on #58
@EmperorYP7 sure. See how it works: https://github.com/casbin/casnode/search?q=captcha

[2021-05-16 19:33] EmperorYP7 commented on #58
I ran into a couple of issues while setting up the dev environment. While I work on it, I think it'd be great if we could Dockerize this project to be more developer-friendly. Setting up a docker-compose command should do the trick.

[2021-05-17 06:17] #28 closed

[2021-05-17 16:26] hsluoyz commented on #58
@EmperorYP7 what issues do you encounter?

[2021-05-17 17:14] EmperorYP7 commented on #58
<img width="1256" alt="Screenshot 2021-05-17 at 10 36 24 PM" src="https://user-images.githubusercontent.com/62606998/118529039-b10b8e00-b760-11eb-92de-ed9809d8e725.png">

Something's wrong with MySQL user-config.
P.S: Apologies for the dormancy, there are some connection issues due to cyclone Tauktae in Mumbai, India. I'll be fixing this ASAP.

[2021-05-18 05:10] hsluoyz commented on #58
@EmperorYP7 you should setup your own DB's credential, see: https://github.com/casbin/casdoor#config

[2021-05-18 08:25] hsluoyz opened #64 "Add Facebook provider"
Similar to: https://github.com/casbin/casdoor/issues/28

[2021-05-20 15:11] hsluoyz opened #67 "Add auditing functionality"
We should record all user behaviors (including normal user login, logout and admin user using the Casdoor portal) into the audit logs. We should provider an interface design, so people can choose logging into file, DBs or Elasticsearch, etc. Each logger will provide a logging destination.

[2021-05-20 15:14] hsluoyz opened #68 "Add mobile SDK (Android, iOS) to login against Casdoor"
For example, an app wants to integrate into Casdoor. We should provide a SDK for the app.

[2021-05-20 15:16] hsluoyz opened #69 "Design and develop a more beautiful frontend portal"
We use a raw Antd-looking UI for portal. But we need to improve the UI if it's for production use.

[2021-05-24 14:08] hsluoyz opened #71 "Add forget password page"
See: https://door.casbin.com/login

![image](https://user-images.githubusercontent.com/3787410/119359413-2b498e80-bcdc-11eb-8cfb-66b8faa023aa.png)

It's empty for now: https://door.casbin.com/forget

1. First we need the user to input his Email or phone number, if correct, then show captcha. If correct, then send verification code to Email or phone. Then let user input new password for two times.

[2021-06-02 05:39] hsluoyz commented on #71
Fixed by: https://github.com/casbin/casdoor/pull/75

[2021-06-02 05:39] #71 closed

[2021-06-05 02:21] hsluoyz opened #78 "Support Crowdin translation / i18n"

[2021-06-06 02:06] #64 closed

[2021-06-06 03:39] hsluoyz commented on #58
Fixed by: https://github.com/casbin/casdoor/pull/70

[2021-06-06 03:39] #58 closed

[2021-06-06 03:56] hsluoyz opened #81 "Support two-factor authentication (2FA)"
See what's 2FA/MFA: https://en.wikipedia.org/wiki/Multi-factor_authentication

We will add a boolean switch at: https://door.casbin.com/applications/app-built-in

![image](https://user-images.githubusercontent.com/3787410/120912019-64abd200-c6be-11eb-9cec-e1010d844523.png)

When the application enables 2FA, when a user tries to login the application with password, we should do an additional check,

[2021-06-06 04:41] hsluoyz opened #82 "Support Time-based One Time Password (TOTP) for push notification (e.g., via Google Authenticator)"
See: https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&gl=US

When user logs into an application, after password passes, he also needs to input the dynamic code in Authenticator apps like Google Authenticator: https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&gl=US

![image](https://user-images.githubuserconten

[2021-06-06 04:44] hsluoyz commented on #78
@ErikQQY

[2021-06-06 05:48] veotax opened #83 "Support customized forget password URL"
Hi @deeztek, Casdoor supports customized forget password URL, see: https://door.casbin.com/applications/app-built-in . We are also happy to add more functionalities if you have requirement :)

![image](https://user-images.githubusercontent.com/14900285/120913990-9d06dc80-c6cd-11eb-962d-e3b469a7bdf4.png)

[2021-06-06 08:35] ErikQQY commented on #78
Working on it.

[2021-06-06 16:29] hsluoyz opened #86 "Allow the user to sign up when he tries to use OAuth to login but there's no account linked to the OAuth"
For example, you go to: https://door.casbin.com/login and try to use GitHub OAuth login, you will see:

![image](https://user-images.githubusercontent.com/3787410/120931918-3a8dfa80-c726-11eb-904f-e44dea29604f.png)

If the application allows to sign up, we should directly redirect the page to a sign up page, this is more friendly.

[2021-06-06 18:00] hsluoyz opened #87 "Add Dingtalk provider"
See: https://developers.dingtalk.com/document/app/dingtalk-account-login-isvapp

A previous PR as reference: https://github.com/casbin/casdoor/pull/79

[2021-06-06 18:01] hsluoyz opened #88 "Add Weibo provider"
See: https://open.weibo.com/wiki/Oauth2/authorize

A previous PR as reference: https://github.com/casbin/casdoor/pull/79

[2021-06-07 06:40] hsluoyz opened #89 "Add tooltips for all fields in all XXXListPage.js and XXXEditPage.js"
We should add tooltip for each field, when a user hovers on it, it will show the description for that field. Like:

![image](https://user-images.githubusercontent.com/3787410/120970594-3998af80-c79e-11eb-9b75-0f905d9e0bfc.png)

I have made an example: https://github.com/casbin/casdoor/commit/234a9b906076657be1bc83ac48e1eeba5301a9ef

It will show in your localhost instance at: http://localhost:7001

[2021-06-08 09:31] hsluoyz opened #93 "Support websocket based notification for events like user add, update, delete"

[2021-06-09 03:15] #87 closed

[2021-06-09 03:17] hsluoyz opened #95 "Add Casbin model and policy management"
See: https://github.com/casbin/casdoor/issues/37

We once developed two similar systems: Casbin-Dashboard and Casbin-Cloud, but both projects failed finally. You can just grap some inspirations from them:

Casbin-Dashboard
=====

1. Source code: https://github.com/casbin/casbin-dashboard
2. Online demo: https://dashboard.casbin.org/

Casbin-Cloud
=====

1. Source code: https://github.com/casbin/op

[2021-06-10 04:12] sh1luo commented on #89
Which file is related to this modification

[2021-06-10 05:29] hsluoyz commented on #89
@sh1luo all xxx-edit pages

[2021-06-10 05:30] sh1luo commented on #89
ok

[2021-06-10 11:19] #88 closed

[2021-06-11 03:40] WindSpiritSR opened #101 "Add Eslint/Prettier/EditorConfig rule"
I think we should use lint tools like ESLint and format tools like Prettier and Editorconfig to ensure project code style consistency.

[2021-06-13 16:28] hsluoyz opened #103 "Add gitee provider"
Like our other providers: https://github.com/casbin/casdoor/pulls?q=is%3Apr+is%3Aclosed+provider

[2021-06-14 16:32] #103 closed

[2021-06-15 14:13] #101 closed

[2021-06-15 14:15] hsluoyz opened #108 "Merge the same translation words"
Just search "code" in: https://github.com/casbin/casdoor/blob/master/web/src/locales/en.json

You will find 3 different versions under "signup", "user", "forget". We don't need these duplicates. Please merge them all into one section.

[2021-06-15 15:09] hsluoyz opened #109 "Make "Auto login" button work"
Current it doesn't work:

![image](https://user-images.githubusercontent.com/3787410/122077764-98a99480-ce2e-11eb-9689-6701c68de9f4.png)

We may:

1. If it is not ticked, we only save the session for 1 day at server-side.
2. If it is ticked, the same as now.

[2021-06-15 15:12] hsluoyz opened #110 "Send code button should be gray-out with empty or invalid Email or phone"
![image](https://user-images.githubusercontent.com/3787410/122078353-1a99bd80-ce2f-11eb-9f41-c14444ded149.png)

[2021-06-16 06:52] MRGUOKING opened #112 "I can delete the organazition which related to an application"
If i have an application which organizition is A . I can delete A directly. After do this,  when I edit the application , it will error.
![image](https://user-images.githubusercontent.com/55344330/122171558-6d688900-ceb2-11eb-8e7b-ed1be663d260.png)
![image](https://user-images.githubusercontent.com/55344330/122171574-735e6a00-ceb2-11eb-94c5-11d037ea6d53.png)

[2021-06-16 06:57] MRGUOKING commented on #112
@hsluoyz I will solve this as soon as possible.
when I delete the organiziton, should I remind the user if there are some applications related to this organizition and delete the applications together？

[2021-06-16 07:12] hsluoyz commented on #112
Record applications in the org, do right CRUD, make them consistent.

For UI, gray out the button for orgs with non-empty apps.

[2021-06-16 07:32] MRGUOKING commented on #112
@hsluoyz "Record applications in the org, do right CRUD, make them consistent." is the  mean that "add a field to the organization table in database to record the apps of each org"?

[2021-06-16 13:11] hsluoyz commented on #112
Yes, add `Applications []string` as a field to org. Remember to update this field in Go backend when app side is updated like app's org update, app rename, app delete.

[2021-06-18 14:21] hsluoyz opened #119 "Show users for each organization"
Currently, https://door.casbin.com/users will show all users for all orgs.

We want to add "Users” button at: https://door.casbin.com/organizations , so clicking the button will enter: https://door.casbin.com/organizations/built-in/users and it will show users for built-in org. You can re-use the React component for https://door.casbin.com/users

[2021-06-18 14:43] sh1luo commented on #119
![image](https://user-images.githubusercontent.com/51157931/122578523-87f35b80-d086-11eb-9daa-5b4d5bf66f0c.png)
Is it here @hsluoyz

[2021-06-18 14:45] hsluoyz commented on #119
At left.

[2021-06-19 14:16] #119 closed

[2021-06-20 02:06] ha666 opened #122 "npm ERR! cb() never called!"
OS：windows 7
node.js：v13.14.0
npm：6.14.4

[code]

2021-06-20T02_01_53_661Z-debug.log
[code]

[2021-06-20 02:32] hsluoyz commented on #122
@Kininaru @sh1luo

[2021-06-20 02:55] sh1luo commented on #122
hi @ha666, this may be caused by npm cache.
Try to do so in `web` directory:
[code]

[2021-06-20 16:08] hsluoyz opened #123 "Add log table and record all user behaviors (signup, signin, logout) into the table, add UI to view logs"

[2021-06-20 16:09] hsluoyz opened #124 "Add Twitter provider"
Refer to: https://github.com/casbin/casdoor/issues?q=is%3Aissue+is%3Aclosed+provider

[2021-06-22 10:02] sh1luo commented on #123
What is the database table structure? Put another way, Which fields should be recorded in the database table？

I think there should be `uniq-id(pk)`, `opt-id`, `opt-time`, `source-ip`, `userid`

anything else?

[2021-06-22 15:10] #108 closed

[2021-06-22 15:11] hsluoyz commented on #122
Closed as resolved.

[2021-06-22 15:11] #122 closed

[2021-06-22 16:20] xiaobeiswift opened #128 "frontend bug:unable to display in the Safari browser"
<img width="2098" alt="image" src="https://user-images.githubusercontent.com/31656300/122962730-47624d80-d3b8-11eb-8d3a-7ca34fe7c80b.png">
<img width="442" alt="image" src="https://user-images.githubusercontent.com/31656300/122962862-6660df80-d3b8-11eb-858b-4fccd228e8f0.png">
<img width="817" alt="image" src="https://user-images.githubusercontent.com/31656300/122963015-7aa4dc80-d3b8-11eb-9468-cd1d

[2021-06-22 16:29] hsluoyz commented on #128
@Kininaru @sh1luo @oranges-eating

[2021-06-24 12:51] #112 closed

[2021-06-24 12:51] #83 closed

[2021-06-24 13:56] hsluoyz commented on #128
I found the faulty code:

https://github.com/casbin/casdoor/blob/1e9cca02fc588029500f9649f7dfdc6cf08805b9/web/src/auth/ForgetPage.js#L302

![image](https://user-images.githubusercontent.com/3787410/123275379-db5a2380-d536-11eb-9579-d7de669f31c2.png)

@sh1luo we need to refactor all the regexes used for Email and phone and put them into Setting.js . We don't need two Email regexes.

[2021-06-24 14:05] #110 closed

[2021-06-24 16:27] hsluoyz commented on #89
@sh1luo

[2021-06-25 00:25] xiaobeiswift commented on #128
As far as I know, maybe need to change all  /*****/ to  new RegExp("****")

[2021-06-25 13:35] hsluoyz commented on #128
Fixed by: https://github.com/casbin/casdoor/commit/2ba44748c296ffd396533189b13387470f65e18c

[2021-06-25 13:35] #128 closed

[2021-06-29 16:58] #89 closed

[2021-07-03 01:30] hsluoyz opened #139 "Support LDAP"
Casdoor should be able to connect to a LDAP server to fetch the users. We need a Go LDAP client SDK like this one: https://github.com/go-ldap/ldap

[2021-07-03 01:32] hsluoyz opened #140 "Support SAML besides OAuth 2.0"
See what's SAML: https://www.google.com/search?q=saml+provider

Currently we only support OAuth 2.0 providers, we also need to support SAML.

[2021-07-03 01:35] hsluoyz commented on #123
@sh1luo I should able to see who did what action at what time. For example, if there's an attacker, the admins should be able to locate the attacks via the logs.

[2021-07-03 01:39] hsluoyz opened #141 "Make a Casdoor plugin for Odoo"
Odoo is a very popular open-source CRM & ERP: https://www.odoo.com/ , written in Python and Javascript.

The source code is: https://github.com/odoo/odoo

We need to develop an "Odoo App" (aka plugin) to let Odoo use Casdoor as SSO. See all available plugins here: https://apps.odoo.com/apps/modules/browse?search=sso

![image](https://user-images.githubusercontent.com/3787410/124340103-6ac19f80-dbe

[2021-07-03 01:46] hsluoyz opened #142 "Support login UI customization"
We know our login page (https://door.casbin.com/login) is provided by Casdoor itself. But the customers may want to customize their own login UI, like changing button color, changing background color, changing input box style, etc.

The customers should be able to upload or specify their own HTML, and Casdoor can use the uploaded HTML as login UI.

[2021-07-03 01:47] hsluoyz commented on #142
@1340908470 plz do this

[2021-07-03 06:52] #78 closed

[2021-07-03 13:49] Kininaru commented on #81
I searched in Google but I can not find a 2FA module for Golang, but I found several encapsulations.

I think we can use the following function from this repo:
https://github.com/robbiev/two-factor-auth/blob/cfbfa44e9f6a3041489c8a27943fcbf5d6365405/main.go#L28

I will work on this if no one else wants to complete the issue.

[2021-07-03 13:55] sh1luo commented on #81
I have done it. :)

[2021-07-03 13:56] Kininaru commented on #81
@sh1luo ok

[2021-07-03 14:10] hsluoyz commented on #81
@sh1luo where? I didn't remember we have it..

[2021-07-04 04:49] Kininaru commented on #140
Working on this.

[2021-07-04 07:04] hsluoyz commented on #139
@WindSpiritSR

[2021-07-04 07:17] WindSpiritSR commented on #139
Working on it.

[2021-07-04 07:35] oranges-eating commented on #123
I will work for it

[2021-07-04 10:16] ffyuanda opened #147 "Bug: typo on https://casdoor.org/"
![image](https://user-images.githubusercontent.com/46557895/124381224-d72ac480-dcf3-11eb-8c1d-5a7b7b6da499.png)

[2021-07-04 10:18] ErikQQY commented on #147
Working on this

[2021-07-04 11:45] 1340908470 commented on #142
https://github.com/casbin/casdoor/pull/146

[2021-07-04 23:04] ffyuanda commented on #141
I'm trying to do this.

[2021-07-05 11:38] sh1luo commented on #82
I will work on.

[2021-07-05 15:58] #147 closed

[2021-07-07 07:39] hsluoyz opened #151 "Make a Casdoor Android SDK for Android apps to use"

[2021-07-07 08:29] hsluoyz opened #152 "Make a Casdoor iOS SDK for Apple iOS apps to use"

[2021-07-09 09:43] hsluoyz opened #155 "Make an OAuth setup helper extension for Chrome"

[2021-07-09 13:17] ErikQQY commented on #124
I am trying to solve this issue, a bit tricky

[2021-07-09 16:51] hsluoyz opened #157 ""Sync from crowdin"

[2021-07-09 16:53] hsluoyz opened #158 "Translation regression for the "Sync from crowdin" commit"
Some Chinese translations are removed by the commit: https://github.com/casbin/casdoor/commit/576d0f12dd5dc408991814de642ab0046ccf58b4

![image](https://user-images.githubusercontent.com/3787410/125111958-22403f80-e119-11eb-8725-caaa41408e2b.png)

Also, don't use my account for these commits:

![image](https://user-images.githubusercontent.com/3787410/125112006-31bf8880-e119-11eb-988e-7bd85df9ee60

[2021-07-09 16:53] hsluoyz commented on #158
@ErikQQY

[2021-07-09 17:06] ErikQQY commented on #158
Got it, working on it

[2021-07-09 17:27] ErikQQY commented on #157
@hsluoyz This issue isn't finish? Or I need to change the commit info?

[2021-07-09 17:29] hsluoyz commented on #157
Sorry, this is a mis-sent issue. Replaced by: https://github.com/casbin/casdoor/issues/158

[2021-07-09 17:29] #157 closed

[2021-07-09 18:18] #158 closed

[2021-07-10 10:04] #123 closed

[2021-07-10 10:14] hsluoyz commented on #151
Assigned to @1340908470

[2021-07-12 11:11] hsluoyz opened #161 "Make the count-down disabled (grayed-out) instead of showing "Cooling down" alert in all pages."
![image](https://user-images.githubusercontent.com/3787410/125278157-f30e1600-e344-11eb-95a2-e93c9a0bb110.png)

[2021-07-13 13:17] hsluoyz opened #165 "Use a select for the language selection"
Showing all languages here are not good-looking. Change it to a select.

![image](https://user-images.githubusercontent.com/3787410/125458474-0972276f-af8f-4c94-bd00-f6298a6a6941.png)

[2021-07-13 15:05] #161 closed

[2021-07-13 15:42] ErikQQY commented on #165
Working on this issue.

[2021-07-14 03:54] ffyuanda opened #166 "Sign up email code problem"
I'm trying to sign up for the website but after I received the email code this is shown:
![image](https://user-images.githubusercontent.com/46557895/125558528-c4a0802a-5d9a-4462-9671-be37fa8dc5a2.png)

[2021-07-14 04:05] sh1luo commented on #166
@ffyuanda Hi, see backend log plz

[2021-07-14 06:19] hsluoyz commented on #166
@sh1luo plz help him setup the environment, report bugs if there are any.

[2021-07-14 12:41] turbodog03 opened #167 "Creat API to get backend data for homepage to show"
## Such as
* the number of authorization, new user,  new registion within a time (like 7days)
* Total user number
* the time of logging in actions
* and so on.

So that we can show these data on our homepage

[2021-07-14 15:15] ErikQQY opened #168 "Translation hot reload"
Casdoor is using i18next as our internationalization tool, every time we want to change to other language, we click the button and Casdoor will refresh the page and load the language we want, however, I think using hot reload might be more elegant and suitable.

Since Casdoor is based on React, I think [react-i18next](https://react.i18next.com/) can help us achieve that feature.

A react-i18next b

[2021-07-15 10:12] Kininaru opened #170 "Add a self check at the beginning of the program"
Sometimes the JavaScript front end will crash because some `undefined` or `null` values. This is because back end databases have some `null` values. I think we can add a self check to remove illegal data from the database.

[2021-07-15 11:30] hsluoyz commented on #170
@Kininaru example?

[2021-07-15 11:34] Kininaru commented on #170
@hsluoyz

Like this:
![image](https://user-images.githubusercontent.com/42638489/125781334-852d96aa-56e9-4753-bec9-7dd3eb4ead72.png)

For this example, JS crashed because of a null value in database:
![image](https://user-images.githubusercontent.com/42638489/125781470-d77d8bdd-305a-43bc-a4be-0c5577a4febf.png)

Add a self check to fix all these null values.

[2021-07-16 05:17] hyperzlib opened #173 "Need event system in order to update user data in client real-timely"
Refer to ucenter and keycloak, when user change their profile or credentials, an event will emitted to Client over HTTP or MQTT.
I think there needs to be an event system like EventEmitter (which is system library of Node.js) so that developers can subscribe events and realize event push feature.

[2021-07-16 05:40] hsluoyz commented on #173
@sh1luo

[2021-07-16 05:41] hsluoyz commented on #93
Replaced by: https://github.com/casbin/casdoor/issues/173

[2021-07-16 05:41] #93 closed

[2021-07-16 05:42] sh1luo commented on #173
ok, I will continue to follow up on this issue

[2021-07-16 05:43] hsluoyz commented on #170
@Kininaru we should init the correct data in DB, instead of fixing corrupted DB data at run time.

[2021-07-16 05:45] hsluoyz commented on #173
@sh1luo this will be the 1st priority for you now.

[2021-07-16 09:47] WindSpiritSR commented on #95
Can I work on it?

[2021-07-17 01:21] hsluoyz opened #176 "The translation is broken"
When translating to Chinese, only "Home" is translated.

Demo site: http://39.106.18.82/

![image](https://user-images.githubusercontent.com/3787410/126021188-f2b8c96a-d02f-4274-85fe-f2d8d31883f4.png)

[2021-07-17 01:22] hsluoyz commented on #176
@ErikQQY

[2021-07-17 01:32] #170 closed

[2021-07-17 03:53] ErikQQY commented on #176
I think it is because there was a wrong commit https://github.com/casbin/casdoor/commit/2297251dd7523892983ce46d3289a45f597828be

The latest commit is working fine https://github.com/casbin/casdoor/commit/3905df854644567f706013729338de6209603259

[2021-07-17 03:55] ErikQQY commented on #176
I noticed that wrong commit clear all of the data on crowdin, I am investigating why there are wrong commits.

[2021-07-17 03:59] hsluoyz commented on #176
@ErikQQY good found. Plz investigate this bug ASAP.

[2021-07-17 06:13] #139 closed

[2021-07-17 07:12] hsluoyz commented on #166
@ffyuanda any update?

[2021-07-17 07:17] hsluoyz commented on #168
Hot reload will bring the `[object object]` bug, see: https://github.com/casbin/casdoor/pull/169#issuecomment-881206568

And I don't think removing refresh is good, because changing language is very low-frequency operation, and the users need feedback like page refresh.

So closed here for now.

[2021-07-17 07:17] #168 closed

[2021-07-17 07:21] hsluoyz commented on #165
Fixed by: https://github.com/casbin/casdoor/pull/175

[2021-07-17 07:21] #165 closed

[2021-07-17 07:30] ffyuanda commented on #166
@hsluoyz I'm setting up the database and try to see if there is anything weird in it...

[2021-07-17 09:19] ffyuanda commented on #166
Since the problem cannot be reproduced for now, I will close the issue.

[2021-07-17 09:19] #166 closed

[2021-07-18 03:30] #109 closed

[2021-07-18 04:17] hsluoyz opened #178 "Empty alert message in forget page"
http://testb.rescld.cn/forget

When inputing the verification code wrong, the alert is empty.

![image](https://user-images.githubusercontent.com/3787410/126055483-da326a2c-38d9-475a-8e49-8c0ce1a53edc.png)

[2021-07-18 04:17] hsluoyz commented on #178
@sh1luo

[2021-07-18 07:10] sh1luo commented on #178
ok, I will resolve these issues in the next commit.

[2021-07-18 07:30] WindSpiritSR commented on #167
Working on it～

[2021-07-18 07:39] hsluoyz commented on #167
@WindSpiritSR no need to hurry up for this issue now. I think @turbodog03 proposed this issue just for himself to track his own status. So this issue should be left to him to finish. To avoid misunderstanding, I'm closing this issue here.

[2021-07-18 07:39] #167 closed

[2021-07-18 08:22] hsluoyz commented on #178
@sh1luo plz make a PR for fixing this bug.

[2021-07-18 08:23] sh1luo commented on #178
@hsluoyz ok

[2021-07-18 08:46] sh1luo commented on #178
@hsluoyz I will take the last exam of this semester at 2 o’clock tomorrow afternoon, and I will complete this issue and pr 2fa after the end.

I'm almost done right now 🥂

[2021-07-21 08:06] sh1luo commented on #178
@hsluoyz
![image](https://user-images.githubusercontent.com/51157931/126453980-e8510639-bf21-4502-a85e-55416c8009dc.png)

I did not reproduce this problem

[2021-07-22 16:02] hsluoyz commented on #178
I can't reproduce it either now. Closed.

[2021-07-22 16:02] #178 closed

[2021-07-23 04:08] hsluoyz commented on #176
Fixed by: https://github.com/casbin/casdoor/commit/07178a7125db5083a7e32cb0dd194d30bbeb73c6

[2021-07-23 04:08] #176 closed

[2021-07-24 15:16] ErikQQY opened #193 "3rd-party login's style is broken in mobile view"
When we log in casdoor using mobile phone, the account config does't display well.

Tested on iOS 14.4.2 and Android 4.14.116, both have the same bug.

See: https://door.casbin.com/account

![image](https://user-images.githubusercontent.com/3787410/126874600-0923513b-4283-4e2e-8bcf-19456ad60d17.png)

[2021-07-24 16:15] hsluoyz commented on #193
@turbodog03

[2021-07-25 03:26] turbodog03 commented on #193
working on this

[2021-07-25 15:13] #193 closed

[2021-07-26 15:53] hsluoyz opened #201 "Add country selection in both user profile and signup pages"
1. User profile: https://door.casbin.com/account

![image](https://user-images.githubusercontent.com/3787410/127019664-3278a2a2-90f0-4b5d-bfe7-a3dbe2bdb053.png)

2. Signup page:

![image](https://user-images.githubusercontent.com/3787410/127019873-4521b462-3046-498b-ac44-a8c7672f5a77.png)

We need to add all 200+ countries (better with their flag icons) like this:

![image](https://user-images.git

[2021-07-26 15:54] hsluoyz commented on #201
@sh1luo

[2021-07-26 16:02] sh1luo commented on #201
Doing.

[2021-07-27 17:06] hsluoyz opened #203 "Make a Casdoor auth middleware for Traefik"
Traefik is The Cloud Native Application Proxy: https://github.com/traefik/traefik

See the official middleware: https://doc.traefik.io/traefik/middlewares/forwardauth/

and examples:

1. https://github.com/dniel/traefik-forward-auth0 (docs: https://traefik-forward-auth0.readthedocs.io/en/latest/)
2. https://github.com/thomseddon/traefik-forward-auth#applying-authentication
3. https://github.com/me

[2021-07-27 17:06] hsluoyz commented on #203
@1340908470

[2021-07-28 02:41] Zxilly opened #204 "Duplicate `save` button"
When I log in `https://door.casbin.com/account`, it shows 2 `save` button.
![image](https://user-images.githubusercontent.com/31370133/127255049-27377d35-9b5a-49ca-82b9-a66543238a0d.png)
![image](https://user-images.githubusercontent.com/31370133/127255069-49557da2-c98c-4ed6-a1bb-7d9dddefbfe5.png)

And `https://gsoc.casbin.org/` is also not available. It asks me to update my display name endless.

[2021-07-28 08:11] Kininaru commented on #204
@Zxilly Everything is ok on `https://gsoc.casbin.org` . The alert won't show if you update your real name.

[2021-07-28 08:13] Kininaru commented on #204
@Zxilly I think 2 save buttons are needed. That is convenient.

[2021-07-29 02:07] denymz opened #206 "Can't get the correct IP if using a proxy"
https://github.com/casbin/casdoor/blob/512a451800864fd3cead085da1becaf134142bbe/controllers/verification.go#L43-L44

The above code does not handle the use of proxies, resulting in the IP recorded in the database being the IP of the proxy server

[2021-07-29 02:36] hsluoyz commented on #206
@denymz I think it already extracts the the real-IP from RemoteAddr, doesn't it work? So what proxy are you using? Or better if you could send a PR.

[2021-07-29 02:37] hsluoyz commented on #206
@Kininaru @sh1luo

[2021-07-29 05:16] denymz commented on #206
Should first try to get from 'X-Forwarded-For' or 'X-Real-IP' header
It should be handled like this
https://github.com/casbin/casdoor/blob/512a451800864fd3cead085da1becaf134142bbe/util/record.go#L33
https://github.com/casbin/casdoor/blob/512a451800864fd3cead085da1becaf134142bbe/util/log.go#L47-L49

[2021-07-29 08:00] hsluoyz commented on #206
@denymz can you make a PR?

[2021-07-29 08:52] #204 closed

[2021-07-30 06:56] Kininaru commented on #206
Maybe you need to pass some http headers in your proxy server?

[2021-07-30 07:00] Kininaru commented on #206
For Casdoor itself, it cannot get the exact remote IP, because requests to Casdoor is made by proxy servers like nginx. So we can't solve this problem by modifying Casdoor. Instead, we should modify nginx.conf to pass the information of remote.

[2021-07-31 07:16] WindSpiritSR opened #210 "Duplicate key cause table errors"
https://user-images.githubusercontent.com/24910914/127731784-a619ee85-2695-41a0-8347-58ac379e42a9.mp4

**All key-based components may occur this problem.**

This error cause we use the wrong or duplicate `rowKey` to build a table, every time we click the `Add` button, it generates a row like

[code]

I fixed part of the errors in `web/src/UrlTable.js`: [`860fe91`](https://github.com/casbin/casdoor

[2021-07-31 07:46] hsluoyz commented on #155
@ErikQQY is working on this.

[2021-07-31 07:47] hsluoyz commented on #210
@WindSpiritSR plz fix it in other places.

[2021-07-31 08:02] #201 closed

[2021-07-31 17:03] hsluoyz opened #212 "Replace all occurrances of returning error response with c.ResponseError(msg)"
All these code:

[code]

can be replaced by:

[code]

[2021-07-31 17:05] Kininaru commented on #212
Working on this.

[2021-08-02 16:15] Kininaru commented on #67
Now we have `records` in Casdoor, is that enough? Or what else should we add to records?

[2021-08-03 04:52] ffyuanda commented on #141
still working on this:
[Odoo Module](https://apps.odoo.com/apps/modules/14.0/casdoor-odoo-oauth/)
[repo](https://github.com/ffyuanda/casdoor-odoo-oauth)

[2021-08-03 10:54] hsluoyz commented on #141
@ffyuanda plz send PR to: https://github.com/casdoor/odoo-casdoor-oauth

The Odoo module name should be: `Casdoor OAuth`

[2021-08-03 11:07] #67 closed

[2021-08-03 14:13] #212 closed

[2021-08-03 14:19] hsluoyz commented on #206
@denymz fixed by: https://github.com/casbin/casdoor/commit/f87cdf6cff0753323ed5420322cc67fe0d479e1e

[2021-08-03 14:19] #206 closed

[2021-08-03 14:29] hsluoyz opened #219 "Save application's TermsofUse to storage provider as a HTML file, then use it in iframe"
We added application's TermsofUse in: https://github.com/casbin/casdoor/commit/acca9eacdca58bf316f5900e5a12a1a58c4488fd , but it's saved in DB column. This is inefficient because TermsofUse can be very long.

![image](https://user-images.githubusercontent.com/3787410/128033471-da59b3ed-8baf-4ef4-9f37-3b149ac3e8d2.png)

It's better to save the TermsofUse content to the cloud storage (as a .html fil

[2021-08-03 14:40] hsluoyz commented on #219
@WindSpiritSR

[2021-08-05 02:34] learning-go123 opened #222 "Can you specify the default login method?"
Like in the picture below
![image](https://user-images.githubusercontent.com/88469563/128281825-44903bae-2a12-4477-88b0-bc2f6434d77b.png)
The QR code can be displayed directly on the login page

Should add a column "Default" to the providers table. Only one provider can set it to "true", then the login page will automatically redirect to this provider's OAuth page without clicking the OAuth button

[2021-08-05 02:37] hsluoyz commented on #222
@WindSpiritSR

[2021-08-05 03:32] sh1luo opened #223 "need to show 404 page"
Casdoor should display 404 page when the user visits a path that does not exist.

But now, just blank, I think it's a bit unfriendly. The user may not know what is happening now causing the blank page, its own error or something else?

![image](https://user-images.githubusercontent.com/51157931/128286397-9857a068-3920-4890-8a01-b60431c03c4b.png)

[2021-08-05 04:14] WindSpiritSR commented on #222
Working on it

[2021-08-05 04:15] hsluoyz commented on #223
@sh1luo good, plz do it.

[2021-08-05 04:19] sh1luo commented on #223
ok, work on it.

[2021-08-05 13:49] hsluoyz opened #227 "Add a payment system to support multiple channels like Paypal, Alipay, Wechat Pay, etc."
Required by: https://github.com/casbin/casnode/issues/343

[2021-08-05 15:03] hsluoyz commented on #227
@Kininaru @WindSpiritSR @sh1luo

[2021-08-06 10:03] #223 closed

[2021-08-06 16:22] hsluoyz commented on #222
Fixed by: https://github.com/casbin/casdoor/commit/bbb6c839df98a61a539db43797fcc7f2a2ef522e

[2021-08-06 16:22] #222 closed

[2021-08-06 16:34] hsluoyz opened #232 "Support to upload avatar image with more formats (.bmp, .jpg, .tiff, etc.) instead of .png only"
![image](https://user-images.githubusercontent.com/3787410/128542964-08e1841f-6ff4-4a42-84de-43079195f3e3.png)

[2021-08-06 16:37] hsluoyz commented on #232
@WindSpiritSR @sh1luo @oranges-eating

[2021-08-07 11:58] hsluoyz opened #233 "Support Email and SMS providers in prompt page"
See: https://door.casbin.com/applications/app-casbin-forum

`prompted` should be able to be set for Email and SMS providers.

![image](https://user-images.githubusercontent.com/3787410/128599350-dc15f313-7a55-4d0b-ba66-bde6a001c57e.png)

Then it should force users to set their Email and phone in the prompt page:

![image](https://user-images.githubusercontent.com/3787410/128599382-ad44feb5-7ac4-4e

[2021-08-07 12:02] hsluoyz commented on #233
@WindSpiritSR @oranges-eating

[2021-08-07 15:20] SchoolGuy opened #234 "Prebuilt docker image from a registry"
As a server admin I would not like to build an application for myself but would like to consume a finished image. This would make it much easier to deploy the application.

The most known registry I know is Docker Hub where it should be easy to integrate an automatic rebuilt of the image on certain conditions. Also possible would be the Container Registry from GitHub.

[2021-08-07 15:27] sh1luo commented on #234
@SchoolGuy ok, We can publish image to dockerhub so that it can be directly pulled by `docker pull`

[2021-08-07 15:32] hsluoyz opened #235 "Setup GitHub Actions CI and semantic-release to release versions automatically"
Refer to: https://github.com/casbin/Casbin.NET/issues/37

[2021-08-07 15:38] SchoolGuy commented on #234
@sh1luo Thanks a lot!

[2021-08-07 16:41] hsluoyz commented on #234
@sh1luo plz finish this issue: https://github.com/casbin/casdoor/issues/235 first, so we can have CI and version to push to DockerHub.

[2021-08-08 09:45] ffyuanda opened #240 "Question: cannot build front-end files"
I'm on a Ubuntu 20.04 remote ssh, and I'm trying to build Casdoor following the README file.

The info after running `cd web/ && npm install && npm run start
`
[code]

The error log:
[code]
Mysql is working correctly. I'm not sure why this happen, I was able to build it the first time, but I failed all the way here after the first build.

[2021-08-08 09:48] sh1luo commented on #240
@ffyuanda hi, log has said very clearly:
[code]
I think it is most likely that your memory has run out.

[2021-08-08 09:49] ffyuanda commented on #240
@sh1luo oops, I didn't think about the memory limit, thx I will check if it is the case.

[2021-08-08 09:51] sh1luo commented on #240
@ffyuanda use `npm run build` instead, then visit `your ip:8000` after running your back-end program.

This way may work for you.

[2021-08-08 09:55] ffyuanda commented on #240
@sh1luo I've tried `npm run build` but the same problem pops up. However I can `go run main.go` and the 8000 port is online, but without the front-end files, it simply prints out the `404` code

[2021-08-08 09:56] ffyuanda commented on #240
I got a 2GB memory so that might be not enough?

[2021-08-08 09:58] ErikQQY commented on #240
I have the same situation before, I think it is because the 2GB memory is not enough

[2021-08-08 09:59] sh1luo commented on #240
You can execute `npm run build`, and then manually upload the generated `build` directory to the server casdoor/web directory.

[2021-08-08 10:00] ffyuanda commented on #240
yeah that could work I guess

[2021-08-08 10:05] ffyuanda commented on #240
alright after upgraded to 4GB ram everything works out... thanks people

[2021-08-08 10:05] #240 closed

[2021-08-10 02:43] #219 closed

[2021-08-10 02:45] hsluoyz opened #243 "Add "Files" to navbar to manage all uploaded files including avatar and terms"
![image](https://user-images.githubusercontent.com/3787410/128800439-5ad3262b-eb01-48fa-b831-4a1d42b74b80.png)

[2021-08-10 02:45] hsluoyz commented on #243
@WindSpiritSR

[2021-08-10 05:37] #210 closed

[2021-08-10 06:51] sh1luo commented on #232
@hsluoyz Seems to have been resolved.

[2021-08-10 07:12] sh1luo commented on #234
@SchoolGuy I have released an early preview version on my dockerhub personal account, you can experience it. After waiting for the review to pass, the formal image will enter the dockerhub official warehouse of casbin 🥂 🥂 🥂 🥂

![image](https://user-images.githubusercontent.com/51157931/128823743-c920776c-d2ec-4e79-9562-cd97c9aed12f.png)

[2021-08-10 07:12] SchoolGuy commented on #234
@sh1luo I will test it on the Weekend!

[2021-08-10 07:14] sh1luo commented on #234
No problem 🥂

[2021-08-10 10:53] WindSpiritSR commented on #243
Working on it

[2021-08-11 05:49] ffyuanda opened #246 "Build a Python version SDK for Casdoor"
Current Casdoor SDKs have no Python version, and we can build one for Python dev.

[2021-08-11 05:51] ffyuanda commented on #246
@hsluoyz we can open a new repo under Casdoor

[2021-08-11 07:34] ffyuanda commented on #141
@hsluoyz I think we can close this issue for now, and the new repo is created here
https://github.com/casdoor/odoo-casdoor-oauth

[2021-08-11 13:39] #235 closed

[2021-08-11 15:11] hsluoyz commented on #223
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #201
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #193
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #89
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #110
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #108
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #119
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 15:11] hsluoyz commented on #13
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/casbin/casdoor/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-12 14:42] hsluoyz opened #254 "Add lark provider"
Refer to: https://github.com/casbin/casdoor/tree/master/idp

See docs: https://open.feishu.cn/document/home/index

Some useful code (maybe):

- https://github.com/edwardzhou/ueberauth_feishu/blob/master/lib/ueberauth/strategy/feishu/oauth.ex
- https://django-allauth.readthedocs.io/en/latest/overview.html

[2021-08-12 14:43] sh1luo commented on #254
work on it.

[2021-08-13 08:33] sagilio opened #259 "Make a Casdoor .NET SDK for .NET apps to use"

[2021-08-13 08:40] sagilio commented on #259
Can you assign this issue to me and create a `casdoor-dotnet-sdk` repo on casdoor organization for me. @hsluoyz

[2021-08-13 09:07] hsluoyz commented on #259
Done: https://github.com/casdoor/casdoor-dotnet-sdk

[2021-08-13 09:41] hsluoyz opened #260 "Support web-auth way for wecom provider"
This PR: https://github.com/casbin/casdoor/pull/200 only implemented the QR code way. We also need to implement the web-auth way, see: https://work.weixin.qq.com/api/doc/90001/90143/91120

[2021-08-13 09:41] hsluoyz commented on #260
@sh1luo

[2021-08-14 08:00] #254 closed

[2021-08-14 10:19] SchoolGuy commented on #234
I saw that a `casbin` Account has also published casdoor. I will use that one right now. By the end of my day I think I will be able to confirm that this is working as expected.

[2021-08-14 11:21] sh1luo commented on #234
@SchoolGuy Hi, although we have released the casdoor image to dockerhub, this is only the application itself, in addition to the mysql database, you still need to pull a mysql image through `docker pull` first, and then execute `docker run --link mysql:db ...` ,which can connect the casdoor image and the mysql image. It might be a little difficult for you.

There is another way that may be more su

[2021-08-14 12:17] SchoolGuy commented on #234
@sh1luo Yes I was aware of that. I am not quite far with my webapp but I got the web frontend of casdoor running in my own compose. So from my side this issue can be closed. If you don't have any tasks internally please close the issue yourself. Thanks for the quick help! :)

[2021-08-14 14:00] hsluoyz commented on #234
Great to hear!

[2021-08-14 14:00] #234 closed

[2021-08-16 03:35] #141 closed

[2021-08-16 14:24] hsluoyz opened #268 "Add server-side pagination for "Tokens" and "Records" pages"
These two pages will try to load all data. It's too slow. We should do server-side pagination: https://stackoverflow.com/questions/58249361/handle-pagination-sorting-and-filtering-separately-in-antd-table-react

![image](https://user-images.githubusercontent.com/3787410/129579058-29688113-e7cf-4668-b03a-625052abb799.png)

[2021-08-16 14:27] hsluoyz commented on #268
@sh1luo

[2021-08-17 07:30] sh1luo commented on #268
ok, working on it.

[2021-08-17 09:17] sh1luo opened #269 "Front-end promts are not friendly due to an error caused in back-end"
If I click the `Add` button very quickly, I will get this error.

To be honest, this error is normal, but it looks very strange for user, which is confusing.

![image](https://user-images.githubusercontent.com/51157931/129698695-5b2d9f31-6ce1-47a1-bd81-5ce006709bd9.png)

![image](https://user-images.githubusercontent.com/51157931/129698741-520f1da7-5f1c-44f9-9e8e-807e8740469b.png)

[2021-08-17 09:18] sh1luo commented on #269
This is because backend alway use panic to handle errors in many places

[2021-08-17 12:09] hsluoyz commented on #269
@sh1luo we should fix it, return error and respond error message

[2021-08-19 06:37] hsluoyz commented on #203
@1340908470

[2021-08-19 22:03] prsndp commented on #232
Hi @hsluoyz Can I work on this issue as a contributor?

[2021-08-20 01:26] hsluoyz commented on #232
@prsndp sure!

[2021-08-22 10:46] ipfans opened #274 "[Feature] Add Feishu login provider"
Document: https://open.feishu.cn/document/uYjL24iN/uYzMuYzMuYzM

[2021-08-22 10:51] hsluoyz commented on #274
@ipfans see: https://github.com/casbin/casdoor/pull/264

[2021-08-23 02:32] ipfans commented on #274
Thanks for response, and sorry for i missed that

[2021-08-23 02:32] #274 closed

[2021-08-23 14:25] #260 closed

[2021-08-24 17:43] aonoa opened #277 "Org rename issue: casdoor:runtime error: invalid memory address or nil pointer dereference"
![2021-08-25 01-38-00 的屏幕截图](https://user-images.githubusercontent.com/32682251/130664022-cbfc7d38-6d79-48e1-bb46-816814d17d22.png)

Don't know what happened, may need more tests.

[2021-08-24 22:49] hsluoyz commented on #277
@aonoa `organization` is nil. This is because the owner field of the user doesn't point to a valid organization name. Maybe you have deleted or renamed the org.

![image](https://user-images.githubusercontent.com/3787410/130699927-12b6e608-c6a9-406a-89fe-2ecbf28c872b.png)

[2021-08-25 02:15] aonoa commented on #277
现在我的所有页面都返回
[code]
首页无法打开，是因为我重命名了首页的那个组织吗？

[2021-08-25 05:50] hsluoyz commented on #277
@aonoa yes, when you rename the org, the references to it in all users and applications won't update automatically. You need to update them by yourself for now.

[2021-08-29 07:36] hsluoyz opened #278 "Make a Casdoor auth middleware for Elasticsearch + Kibana (ELK)"

[2021-08-29 08:24] hsluoyz opened #279 "Make a Casdoor auth middleware for APISIX"
We already have the Casbin middleware: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/authz-casbin.md

Now we also need a Casdoor one. Maybe first we need to make a casdoor-lua-sdk, then make a APISIX middleware.

[2021-08-29 08:25] hsluoyz commented on #279
@rushitote can you help on this?

[2021-08-29 08:30] hsluoyz opened #280 "Make a Casdoor auth middleware for Kong"
Similar to: https://github.com/casbin/casdoor/issues/279

[2021-08-29 10:06] rushitote commented on #279
@hsluoyz Sure, I will first take a look into Casdoor and the codebase and then we can start the development of Casdoor Lua SDK.

[2021-08-29 13:58] zidingz opened #281 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-29 16:15] hsluoyz commented on #281
@zidingz hi, thanks for the report! Please send it to: security@casbin.org

For the `SECURITY.md`, can you make a PR to create one?

[2021-08-31 09:21] zidingz commented on #281
With pleasure, again! https://github.com/casbin/casdoor/pull/282

[2021-08-31 09:21] #281 closed

[2021-09-04 14:20] #277 closed

[2021-09-05 14:43] hsluoyz commented on #232
Already done.

[2021-09-05 14:43] #232 closed

[2021-09-05 14:44] hsluoyz commented on #243
Done.

[2021-09-05 14:44] #243 closed

[2021-09-05 14:54] hsluoyz opened #288 "how do we implement refresh-token (long-lived token?) using casdoor"
Question from: @nhapq

[2021-09-06 07:32] mvbn6789 opened #289 "has any plan for support multi tenant ?"
I have view casdoor document and Is there any plan for support multi tenant  like keycloak realm model

[2021-09-06 07:42] hsluoyz commented on #289
@mvbn6789 we have the organization concept: https://casdoor.org/docs/organization/overview which is similar to realm. It's a container for users.

[2021-09-07 02:30] mvbn6789 commented on #289
thank you for  your  quickly reply (*￣︶￣) I will try it

[2021-09-07 02:30] #289 closed

[2021-09-07 02:41] mvbn6789 opened #290 "Any plan for support Ldap authentication when check user password login ?"
I start casdoor project and  config ldap . Now ldap fetch user is ok but it seems Not support ldap auth user
Alse I have  view the source code . password check by database password data and New ldap user default password is "123"

https://github.com/casbin/casdoor/blob/e4846807cd436b5a3911a602ffa8dcabdee3f1e4/controllers/auth.go#L189

Any plan for support  Ldap authentication when check user passw

[2021-09-07 06:02] hsluoyz commented on #290
@sh1luo @WindSpiritSR

[2021-09-12 09:45] hsluoyz opened #294 "The account widget position is not correct sometimes"
See: http://1.13.13.178:8000/ deployed by @sh1luo

![image](https://user-images.githubusercontent.com/3787410/132982890-eb4ec340-d7d6-4f1c-949d-bbd221aebc10.png)

But for some other cases, like the official demo: https://door.casbin.com/ , the position is correct:

![image](https://user-images.githubusercontent.com/3787410/132982906-de536441-8786-4a01-b2ba-7889e2748ba8.png)

We need to fix this bu

[2021-09-12 09:58] turbodog03 commented on #294
working on this

[2021-09-17 09:07] #294 closed

[2021-09-21 12:23] zhongjixiuxing opened #301 "Support headers.Authorization"
http basic Authentication: https://datatracker.ietf.org/doc/html/rfc7617

![37836E4DF05CEDEA4C9EDB4363BC308D](https://user-images.githubusercontent.com/8935235/134169620-a273b86e-4086-4c4c-924d-c94139dfb93a.jpg)

[2021-09-21 13:18] nexmoe commented on #142
how about just importing a css file to let everyone edit

[2021-09-21 13:38] hsluoyz commented on #142
@nexmoe sounds good! Can you implement it via a PR?

[2021-09-30 06:39] khlipeng opened #304 "the jwt token payload should not have a password"
the jwt token payload should not have a password,there are potential safety hazards!

[2021-09-30 06:43] khlipeng opened #305 "the JWT encryption protocol should use RS256"
the JWT encryption protocol should use RS256, As needed the business party can verify the token through the public key of RSA provided by the center.

[2021-09-30 07:00] khlipeng opened #306 "for the 3rd-party login of WeCom and other office software, it can be automatically bound with the organization"
for the 3rd-party login of WeCom and other office software, it can be automatically bound with the organization

[2021-10-03 14:29] hsluoyz commented on #304
@khlipeng fixed in: https://github.com/casbin/casdoor/commit/4f2668cd90d5301648812f25ea8bb3f63dc37531

[2021-10-03 14:29] #304 closed

[2021-10-15 08:28] hsluoyz commented on #305
@khlipeng fixed by: https://github.com/casbin/casdoor/commit/e6b05afd41cc0255fad671f186eb4a3705d9d64b

[2021-10-15 08:28] #305 closed

[2021-10-27 12:52] seriouszyx opened #309 "Some bugs about SMS API"
When I was developing the Java sdk for Casdoor, I encountered the following bugs:

1. The [SendSms](https://github.com/casbin/casdoor/blob/a1a2c9765be1c689a47718d3684e24964b2b3538/object/sms.go#L19) and its reference in [SendVerificationCodeToPhone](https://github.com/casbin/casdoor/blob/a1a2c9765be1c689a47718d3684e24964b2b3538/object/verification.go#L71) do not match. The reference should be like

[2021-10-31 00:49] #309 closed

[2021-11-01 05:56] hsluoyz commented on #140
@sravinet hi! We will add the SAML support soon. Which SAML provider do you use?

[2021-11-06 03:32] #268 closed

[2021-11-06 03:35] hsluoyz commented on #306
@khlipeng hi, I cannot understand your question. Can you be more specific?

[2021-11-06 08:40] hsluoyz opened #313 "Upgrade to Swagger UI 4.x for Casdoor API docs, and fix the Swagger tags"
Casdoor uses Beego, which helps automatically generate API docs at `/swagger` path (https://beego.me/docs/advantage/docs.md) like: https://door.casbin.com/swagger/

![image](https://user-images.githubusercontent.com/3787410/140603570-7e3dc279-23bb-4f25-b80a-918401f66e03.png)

Based on a user request: https://v2ex.com/t/803669#r_11042731 , we are still using Swagger UI 3.x and we need to upgrade to

[2021-11-06 11:57] seriouszyx commented on #313
What I learnt from [this issue](https://github.com/beego/bee/issues/463) is `Swagger.json` follows version2 and version3 is the `Swagger UI`. So our [UI version](https://github.com/casbin/casdoor/blob/master/swagger/swagger-ui.css.map) is already 3.

[2021-11-06 12:03] hsluoyz commented on #313
@seriouszyx I misunderstood the Swagger version and Swagger UI version previously. Now the issue looks OK.

[2021-11-08 14:29] leopku opened #314 "Wrong token endpoint value caused "oauth2: server response missing access_token""
I got "oauth2: server response missing access_token" while connecting `casdoor` using third-party oauth client.
But it's ok while changing `casdoor` to `Keycloak`.

After digging into source code, I found a wrong value of `TokenEndpoint`.
Changing `TokenEndpoint: fmt.Sprintf("%s/api/login", oidcOrigin)` to `TokenEndpoint: fmt.Sprintf("%s/api/login/oauth/access_token", oidcOrigin),` would make all

[2021-11-08 14:38] #314 closed

[2021-11-08 14:45] hsluoyz commented on #313
@seriouszyx can you work on this issue?

[2021-11-09 02:22] hyperzlib opened #316 "Implementation refresh_token"
Follow: [OAuth 2.0 Refresh Token](https://oauth.net/2/grant-types/refresh-token/)

When get access token, generate a refresh token at the same time.

Client can get new access tokens from api using refresh token.

[2021-11-09 08:07] hyperzlib opened #318 "Add Verification Code Provider"
For log-in with sms/email verification code.

[2021-11-09 11:02] hsluoyz commented on #313
@seriouszyx great, the PR has been merged. Can we also group the APIs in Swagger UI like this?

![image](https://user-images.githubusercontent.com/3787410/140912585-f597f37c-0a42-41f8-9d86-7bd0c8129c1e.png)

[2021-11-09 11:10] seriouszyx commented on #313
@hsluoyz I'm looking for some ways... But it seems Beego does not support using `@Tags` annotations. And our API does not use URLs for classification like in the Beego documentation.

[code]

[2021-11-09 11:12] hsluoyz commented on #313
@seriouszyx we can change our `init()` code to use `NSNamespace` and `NSInclude`. But we will not change the API path. Is this possible?

[2021-11-09 11:13] seriouszyx commented on #313
@hsluoyz I will have a try.

[2021-11-09 12:53] hsluoyz commented on #173
Done by: https://github.com/casbin/casdoor/commit/30a2fdef372d3f0414dff0bb8510828b434cb2f5

[2021-11-09 12:53] #173 closed

[2021-11-09 12:56] hsluoyz opened #320 "Translate the region select box"
The user can change their region in: https://door.casbin.com/account

We want the text before the bracket can be translated based on the currently selected language. We can start with zh-cn.

![image](https://user-images.githubusercontent.com/3787410/140928342-e4c67dda-0cf1-4eea-874b-5d9bcea2dfd5.png)

[2021-11-10 14:27] #320 closed

[2021-11-11 15:56] hsluoyz opened #328 "Support integration with TiDB dashboard"
See: https://docs.pingcap.com/tidb/stable/dashboard-session-sso (zh: https://docs.pingcap.com/zh/tidb/stable/dashboard-session-sso/)

Casdoor can also be a supported SSO method.

![image](https://user-images.githubusercontent.com/3787410/141328636-fbfe115d-cd43-40dc-abb3-852dfc432eb2.png)

[2021-11-11 16:45] MohdImran001 commented on #269
I would like to work on it. @hsluoyz.

[2021-11-11 16:45] MohdImran001 commented on #269
I would like to work on it. @hsluoyz.

[2021-11-12 02:53] JayL-zxl commented on #328
/assign

[2021-11-12 16:05] hsluoyz opened #330 "Import the providers from goth to Casdoor"
The [goth](https://github.com/markbates/goth) project is a Go authentication lib, which already provides a lot of ["providers"](https://github.com/markbates/goth#supported-providers), which are very similar to our [providers](https://github.com/casbin/casdoor/tree/master/idp) in the basic idea.

Can we find a way to import their providers to become the providers of our format? We can follow these

[2021-11-18 17:47] artem-avanesov opened #332 "Google and Github auth doesn't work"
https://door.casbin.com/login

[2021-11-19 09:05] hsluoyz commented on #332
@artem-avanesov what does the error say? Is it just a configuration issue? Can you try it again to see if fixed?

[2021-11-19 09:09] seriouszyx commented on #332
@hsluoyz I guess he wants to say our demo site for Casdoor doesn't work.

![image](https://user-images.githubusercontent.com/33992371/142595827-d53ff2c0-b687-4cca-a6ac-7aedd79471a8.png)
![image](https://user-images.githubusercontent.com/33992371/142595883-ea3cb59b-4b59-4b2d-91b8-27ad50e51e26.png)

[2021-11-19 10:55] hsluoyz commented on #332
@artem-avanesov I think this is intended instead of a bug, because we just disabled signing up via OAuth in built-in application previously: https://door.casbin.com/applications/app-built-in

Now it's all opened. You can try again.

![image](https://user-images.githubusercontent.com/3787410/142611284-f260aa97-57a3-4237-aeee-7c47e3d764dc.png)

[2021-11-19 10:56] #332 closed

[2021-11-20 08:09] hsluoyz commented on #330
@luo-luo-luo

[2021-11-21 03:20] hsluoyz commented on #203
Moved to: https://github.com/casdoor/traefik-casdoor-auth

[2021-11-21 03:20] #203 closed

[2021-11-24 01:46] LeonDevLifeLog commented on #15
why close this issue? @hsluoyz

[2021-11-24 01:51] LeonDevLifeLog opened #335 "Is possible run casdoor as a standard oauth 2.0 server?"
Is possible run casdoor as a standard oauth 2.0 server?

[2021-11-24 01:53] hsluoyz commented on #15
@LeonDevLifeLog because this issue has been done (completed). Casdoor has fully supported OAuth 2.0 and OIDC now. The server side is this repo. The client SDKs can be found at: https://github.com/casdoor

[2021-11-24 01:54] hsluoyz commented on #335
@LeonDevLifeLog Casdoor has fully supported OAuth 2.0 and OIDC now. The server side is this repo. The client SDKs can be found at: https://github.com/casdoor .

What system/clients do you need Casdoor to talk to? What scenario do you use Casdoor in? Maybe we can help you do a pre-check.

[2021-11-24 02:03] LeonDevLifeLog commented on #335
I saw lots of casdoor sdk.if some other program languages don't have casdoor sdk,is standard oauth client library compatible with casdoor server?

[2021-11-24 02:04] LeonDevLifeLog commented on #335
i want use it as a standard Oauth2.0 server. and compatible with other Oauth2.0 client library.

[2021-11-24 02:06] LeonDevLifeLog commented on #15
i see. thanks

[2021-11-24 02:25] hsluoyz commented on #335
@LeonDevLifeLog which "standard oauth client library" will you use? better with a GitHub link. We may help test with it for you.

[2021-11-24 02:26] hsluoyz commented on #335
@LeonDevLifeLog what language do you use? if we already provide the SDK for your language, we recommend using our client SDKs, as it may provide additional functionalities than the OAuth standard. But using a standard OAuth client is also fully supported.

[2021-11-24 02:42] LeonDevLifeLog commented on #335
I am in research stage,i want to know the compatibility. i will open an issue if some problem occur when i using it.

[2021-11-26 01:53] hsluoyz commented on #316
@seriouszyx

[2021-11-27 13:28] hsluoyz opened #337 "Fix the bug in Tencent Cloud SMS provider"
See details at: https://www.v2ex.com/t/803669#r_11116453

[2021-11-28 08:34] hsluoyz commented on #337
Actually there's no bug. So closed here.

[2021-11-28 08:34] #337 closed

[2021-11-28 08:35] hsluoyz commented on #140
@seriouszyx please work on this one as next step

[2021-11-30 01:13] hsluoyz commented on #313
@seriouszyx is busy with other issue. @ComradeProgrammer can you have a try for this? It should not be very difficult I think.

[2021-11-30 16:19] hsluoyz opened #339 "Add Slack provider"
See docs: https://api.slack.com/docs/oauth

Required by: https://forum.casbin.com/t/552

[2021-11-30 16:20] hsluoyz opened #340 "Add Apple provider"
See docs: https://developer.apple.com/documentation/sign_in_with_apple

Required by: https://forum.casbin.com/t/552

[2021-11-30 16:23] hsluoyz opened #341 "Add Telegram provider"
See docs: https://core.telegram.org/widgets/login

Required by: https://forum.casbin.com/t/552

[2021-11-30 18:04] Abingcbc opened #342 "Bug: wrong password format status when signing up"
![image](https://user-images.githubusercontent.com/34068205/144102140-377654b5-807a-4a97-bc19-d50ec1d6e2be.png)

The status shows that the password format is valid, but when clicking `sign up`, the message shows the password format is invalid.

[2021-12-01 13:07] hsluoyz opened #343 "Support importing data from Keycloak"
We need to recognize Keycloak's DB table format, including the user table, application table, OAuth info table, etc. Then add Go script to import their DB table into Casdoor's tables: User, Organization, Provider, Application, etc.

[2021-12-02 07:49] hsluoyz opened #345 "Add a storage provider for Tencent Cloud COS (aka Object Storage)"
See: https://cloud.tencent.com/product/cos

Add it to: https://github.com/casbin/casdoor/tree/master/storage

[2021-12-03 12:26] hsluoyz commented on #345
Done by: https://github.com/casbin/casdoor/commit/d2565e03c80aeec3aca75a8f7c3ef01e02509be0

[2021-12-03 12:26] #345 closed

[2021-12-03 12:42] #313 closed

[2021-12-05 16:14] hsluoyz commented on #342
@Abingcbc good finding! Given this is a very easy issue, can you fix it by yourself?

[2021-12-06 01:38] hsluoyz commented on #342
Done by: https://github.com/casbin/casdoor/commit/667158f585d9aa209e72d04b3cbde25cc4354ed2

[2021-12-06 01:38] #342 closed

[2021-12-06 13:46] #140 closed

[2021-12-06 16:08] #86 closed

[2021-12-06 16:10] hsluoyz commented on #290
@ComradeProgrammer plz take a look at this issue as next step

[2021-12-06 16:21] hsluoyz commented on #306
ping @khlipeng

[2021-12-06 16:36] hsluoyz commented on #82
@abichinger plz take a look as next step.

[2021-12-07 11:34] hsluoyz commented on #306
@khlipeng hi, why close?

[2021-12-08 01:26] hsluoyz opened #349 "Make a Flarum plugin for Casdoor"
Flarum is a very popular PHP forum: https://flarum.org/ . We should develop a Flarum plugin based on https://github.com/casdoor/casdoor-php-sdk to let Flarum use Casdoor for SSO.

[2021-12-08 01:27] hsluoyz commented on #349
@basakest

[2021-12-08 02:08] khlipeng commented on #306
我用中文回复吧，本来我想提的是，通过企业微信扫码登录时，自动绑定到指定组，另外人可以在多个组内，基础信息只有一份，但之前看了下设计，好像用户信息是根据组来注册决定的。

[2021-12-08 02:08] khlipeng commented on #306
@hsluoyz 我用中文回复吧，本来我想提的是，通过企业微信扫码登录时，自动绑定到指定组，另外人可以在多个组内，基础信息只有一份，但之前看了下设计，好像用户信息是根据组来注册决定的。

[2021-12-08 02:13] khlipeng commented on #306
@hsluoyz 针对办公通讯软件而言，一个集团企业可能会拥有多个企业微信/飞书组织（我司就是），我也开发了企业的 SSO 系统。而通过办公通讯软件绑定的用户而言，针对企业，还会有一些特殊权限，比如内网的VPN / Git 权限等等，如果用户从相关通讯软件下被离职，那么用户也会随着从组织解绑。纯属个人经验

[2021-12-08 02:20] khlipeng commented on #306
另外，关于三方登录的方式，建议使用服务插拨、插件等方式处理。这样，在接入一些三方或私有的一些三方系统而言，会更方便，只需要定义好相关协议即可。

[2021-12-08 05:17] hsluoyz commented on #306
你的意思是Casdoor与企业微信/飞书里的用户、组、角色做双向同步，如果一个用户在企业微信被删除，则Casdoor这边也同时删除是么

[2021-12-08 05:19] hsluoyz commented on #306
我们本想实现这个效果，但是遇到一个问题，Go是静态编译型语言，没有办法把插件代码（也是Go）动态加载进来。Go的插件化这块有没有好的practice呢？

[2021-12-08 05:33] khlipeng commented on #306
是的，准确的来说，是解除关系。

[2021-12-08 05:33] khlipeng commented on #306
是的，准确来说，是解除关系

[2021-12-08 05:46] khlipeng commented on #306
1、可以通过服务插拨的方式，以 http 请求为例，将扩展的三方登录以服务的方式独立开，启动时主动向 casdoor 注册三方信息，并通过心跳保活，然后进行后续的逻辑处理。

2、go 需要动态加载来扩展功能，最好的方式通过 plugin 来处理，具体你可以写点 demo  实验下，还是比较简单的

[2021-12-08 05:52] khlipeng commented on #306
另外，对于用户和组的关系，建议是用户和组是一对多的关系，一个用户可以在多个组里面

[2021-12-09 16:55] #330 closed

[2021-12-09 16:55] #339 closed

[2021-12-09 16:55] #340 closed

[2021-12-10 03:48] hsluoyz opened #352 "Integrate Casdoor with Spring Security OAuth 2"
Env:

- springboot 1.5.17.RELEASE

[2021-12-10 05:02] hsluoyz opened #353 "Support Jenkins' SSO authentication based on Casdoor"

[2021-12-10 05:05] hsluoyz commented on #353
@Steve0x2a plz work on this as next step

[2021-12-10 14:45] #290 closed

[2021-12-10 14:45] hsluoyz commented on #290
@mvbn6789 done at: https://github.com/casbin/casdoor/pull/354

[2021-12-10 16:00] hsluoyz opened #355 "Integrate Casdoor with Apache Shiro"

[2021-12-10 16:17] hsluoyz commented on #352
@Abingcbc plz take a look as next step

[2021-12-11 06:23] hsluoyz opened #357 "Support APISIX SSO authentication based on Casdoor"

[2021-12-11 06:36] hsluoyz commented on #357
@ComradeProgrammer

[2021-12-11 10:12] hsluoyz commented on #306
@khlipeng 可以加入我们的QQ群吗？645200447  QQ群主要是以中文为主的，GitHub保持英文信息的流通

[2021-12-11 18:39] hamlinzheng opened #358 "Failed to authenticate APISIX with Casdoor"
### Description

I try to test APISIX SSO authentication based on Casdoor, when I access a protected resource, the page can be redirected to the login page of casdoor, but when I enter the account password, an error appears on the page.

Please allow me to describe the process.

### Casdoor Deploy

I use `docker-compose` to test Casdoor with `master` branch, my `conf/app.conf` is:

[code]

And run

[2021-12-12 01:48] hsluoyz commented on #357
Replaced by: https://github.com/casbin/casdoor/issues/358

[2021-12-12 01:48] #357 closed

[2021-12-12 06:26] hsluoyz opened #359 "Improve the LDAP docs"
See: https://github.com/casbin/casdoor/pull/354#issuecomment-991842528

[2021-12-12 06:28] hsluoyz commented on #259
@hackerchai can you work on this?

[2021-12-12 06:31] hsluoyz opened #360 "Fix the docker image auto-release"
Our docker hub is: https://hub.docker.com/repository/docker/casbin/casdoor

Our DockerHub open source quota has been approved:

![image](https://user-images.githubusercontent.com/3787410/146482651-8c59ad02-6be5-413e-9473-32849895a2e5.png)

[2021-12-12 06:35] hsluoyz commented on #359
@ComradeProgrammer

[2021-12-12 12:37] hsluoyz opened #361 "Who is using Casdoor? 🔥🔥🔥🔥"
Customers are the most important driving power for us! If you are using Casdoor, please leave comment with the following format:

- Name: Casdoor demo site
- Company: Casbin open source organization
- URL: https://door.casbin.com/

Or in Chinese:

- 名称: Casdoor演示站
- 公司: Casbin开源社区
- 网址: https://door.casbin.com/

[2021-12-12 12:47] ComradeProgrammer opened #362 "Bug: crash when init built-in user"
When a brand new user start to user casdoor, casdoor will insert the build-in user into database, which can lead to a panic in current version .
[code]
(sorry I need to hide some personal information with xxx)
The apperance rate of this bug is 100% for brand new users whose database hasn't got a table called 'casdoor'

I have fully examined this bug and I will explain the reason of this bug later

[2021-12-12 13:04] ComradeProgrammer commented on #362
The reason is as follow:

In a recent change introduced by @nomeguy in commit eca1d23e35174a26cdbd00bc8ee064b286b74e9c
https://github.com/casbin/casdoor/blob/94c78593fc693569c773df3f0bebe339ff82f8a6/object/user.go#L54
 This attribute 'Ranking' was set to auto increment, while the primary key of this table is still another two attrubutes "Owner" and "Name"
https://github.com/casbin/casdoor/blob/94c

[2021-12-12 13:07] hsluoyz commented on #362
Done at: https://github.com/casbin/casdoor/commit/8d8c662e58a44e455936cd92853ed781db3f2614

[2021-12-12 13:07] #362 closed

[2021-12-12 13:09] hsluoyz opened #363 "Fix the WeCom provider"
See details at: https://v2ex.com/t/803669#r_11152422

Also the demo: https://door.casbin.com/

![image](https://user-images.githubusercontent.com/3787410/145713630-c0f393ff-2e48-498e-be95-f43ab8c50783.png)

![image](https://user-images.githubusercontent.com/3787410/145713634-ee808462-d30d-442e-98cf-98b8c8425f1d.png)

[2021-12-12 13:13] hackerchai commented on #259
yeah working on this

[2021-12-12 16:25] #353 closed

[2021-12-12 16:47] #306 closed

[2021-12-13 13:31] Steve0x2a commented on #363
It looks like the demo site uses the Slient method for WeCom, and if  use Normal, may be able to login by qrcode?
![image](https://user-images.githubusercontent.com/17063270/145821400-cfe17b3e-d047-4442-8bf7-295fab0fdb65.png)

[2021-12-13 14:35] hsluoyz opened #367 "Support mobile APP to scan the QRCode in the website to login"
The mobile APP has integrated Casdoor Android (or iOS) SDK: https://github.com/casdoor/casdoor-android-sdk to have the scanning QRCode ability.

The website has integrated the Casdoor-js-sdk in frontend and Casdoor-xxx-sdk in backend (like Go) to have the displaying QRCode ability.

[2021-12-13 14:40] hsluoyz opened #368 "Support AuthnRequest in SAML"

[2021-12-13 14:40] hsluoyz commented on #368
@seriouszyx

[2021-12-13 14:46] #363 closed

[2021-12-13 14:48] hsluoyz commented on #279
Just use standard OIDC, no need for middleware: https://github.com/casbin/casdoor/issues/358

[2021-12-14 03:08] wxc978952419 opened #369 "LDAP can't support Auto Sync"
LDAP can't support Auto Sync
![image](https://user-images.githubusercontent.com/49092817/145925675-c3404272-182e-4a8b-a962-c1c66c3cf932.png)
![image](https://user-images.githubusercontent.com/49092817/145925737-f75af7a1-61b8-4aab-99a1-64c77977b9d7.png)

[2021-12-14 03:45] hsluoyz opened #370 "Add server-side search for all pages"
Similar to: https://github.com/casbin/casdoor/issues/268

It can be implemented by antd easily:

1. https://ant-design.gitee.io/components/table/#:~:text=filter%20dropdown%20items-,searchable,-.

![image](https://user-images.githubusercontent.com/3787410/145929355-8d49168d-c558-45dc-9a2b-a08840603153.png)

2. https://ant-design.gitee.io/components/table/#:~:text=a%20customized%20column-,search,-ex

[2021-12-14 03:47] hsluoyz commented on #370
@seriouszyx this can be put in next steps.

[2021-12-14 03:48] hsluoyz commented on #369
@ComradeProgrammer

[2021-12-15 06:37] ComradeProgrammer commented on #359
Roger that.

[2021-12-15 07:34] Steve0x2a commented on #358
Hi, the problem has been located, and it is related to the fact that the returned information from casdoor does not match apisix.

We will fix it as soon as possible, if you want to use it as soon as possible, you can try using Token Introspection, our supported bearer code method for accessing resources.

Also, during my debugging (using the same docker deployment as you), I get an openresty erro

[2021-12-15 09:45] #369 closed

[2021-12-15 13:38] #368 closed

[2021-12-15 13:42] #358 closed

[2021-12-15 14:16] qq690712575 commented on #361
名称：深信计协万事屋
公司：萌点云科技（深圳）有限公司联合深圳信息职业技术学院计算机协会
网址：https : //stu.sziitjx.cn/

[2021-12-15 14:31] wxc978952419 commented on #361
名称：健客网上药店
公司：广州方舟医药有限公司
网址：https://www.jianke.com

[2021-12-15 15:00] hsluoyz opened #374 "Support mobile login with WeChat official account"

[2021-12-15 15:00] hsluoyz commented on #374
@Steve0x2a

[2021-12-16 15:07] #359 closed

[2021-12-17 03:06] hsluoyz commented on #360
@ComradeProgrammer

[2021-12-18 06:24] solo-xwz opened #376 "Is there a way to control user access to different applications under the same organization?"
Is there a way to control user access to different applications under the same organization?

[2021-12-18 10:49] #288 closed

[2021-12-18 10:49] #316 closed

[2021-12-18 11:00] minmemory commented on #361
名称：乘车通
公司：上海久事公共交通集团有限公司
网址：https://cct.84000.com.cn

[2021-12-18 11:02] minmemory commented on #361
名称：Lunadream
组织：Lunadream 新月社
网址：https://auth.lunadream.org （尚未上线）

[2021-12-18 12:44] #360 closed

[2021-12-18 12:53] hamlinzheng commented on #361
Name: LoopX.AI
Company: LoopX Shanghai Co., Ltd.
URL: https://loopx.ai (not online yet)

[2021-12-20 07:59] greper opened #382 "It is dangerous to use the name of the third-party authorized account as the binding basis"
For example, now user a registers the account test through gitee (test is his gitee account name), and user B registers through GitHub (his account name is also called test). They will be bound to the same account.
In fact, they are different users

I think we need to give users the option to either bind to an existing account or create a new one

[2021-12-20 08:57] jianmaikj commented on #361
名称：简麦云erp
公司：浙江简麦科技有限公司
url：https://jmyunerp.com

[2021-12-20 12:21] #374 closed

[2021-12-21 09:04] solo-xwz opened #385 "Add bcrypt encrypted password type"
Bcrypt is more secure than md5

[2021-12-21 11:14] 8byr0 opened #387 "Support Hasura integration: Update JWT claims for business logic"
I'm exploring casdoor for an integration with hasura but I'd need to add a few additional headers in user token since they're required on the other side.

I'm actually using auth0 which works quite well with post login hooks allowing me to run custom code like so:
[code]

From what I've seen so far `/api/update-token` is available to update any token which would make the following work:
successful

[2021-12-22 14:56] hsluoyz commented on #385
Fixed by: https://github.com/casdoor/casdoor/pull/386

[2021-12-22 14:56] #385 closed

[2021-12-22 14:57] hsluoyz commented on #387
@seriouszyx plz take a look

[2021-12-22 15:05] hsluoyz commented on #387
@8byr0

If the hasura claims are static, I think we can just add them to Casdoor code statically:
https://github.com/casdoor/casdoor/blob/3bdc0e0d1b1d74c9165cfc4e9208f5dc63780c93/object/token_jwt.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L40-L85

We will add a new field called `claimType` in

[2021-12-22 15:23] 8byr0 commented on #387
Thanks for your reply, unfortunately the claims are dynamically fetched on successful login.

To make a quick explanation of hasura's working principle, it uses session variables to run business logic (e.g. check user id and his role before giving access to a document). These variables must be filled in the token to be checked at runtime.
More on this: https://hasura.io/docs/latest/graphql/core/au

[2021-12-22 15:37] 8byr0 opened #391 "BUG: updating organization name is not reflected in entries using it and breaks ui"
I was playing around with casdoor and wanted to rename `built-in` organization. After doing so the frontend was no longer loaded, failing with a javascript error raised in the console:
[code]

I checked db and noticed that application table entries still add `built-in` as `organization` value.

To reproduce:
1. start a fresh install using docker-compose below
2. Login with admin/123
3. Go to organ

[2021-12-22 15:43] hsluoyz commented on #391
@8byr0 "built-in" is reserved for Casdoor itself. It's hard-coded in a lot of places and should not be modified. We can make it configurable but seems not very meaningful.

Next we will disable its renaming in both frontend and backend.

[2021-12-22 15:54] 8byr0 commented on #391
Seems like the problem is not related to `built-in`.
I could reproduce this issue(a bit different actually) with a new org:

1. Create an organization named `testorg`
2. Create an application linked to `testorg` and name it `whatever-app`
3. Back to organizations, rename `testorg` to `test-org-updated` and save
4. Check database > applications

You will notice that `whatever-app`.`organization` is

[2021-12-22 17:02] hsluoyz commented on #391
Fixed in: https://github.com/casdoor/casdoor/commit/f5bc76016d89bdf39de49c72bc05ffbaf6286cb3

Fixed in: https://github.com/casdoor/casdoor/commit/c88edc4d3efd8ab56add4304fb26c8fd7a930fe5

[2021-12-22 17:02] #391 closed

[2021-12-22 17:08] hsluoyz commented on #387
@8byr0 maybe a claim hook editor would be helpful? How is the hook like? GET or POST? URL path? GET parameters? what are the keys? Are the GET keys the same as claim keys?

[2021-12-22 17:58] 8byr0 commented on #387
Here's how I actually manage it with auth0

- After user registration: POST to hasura graphql endpoint with created user `id` and `email`
[code]

- After user logs in (before returning JWT), POST to hasura graphql endpoint
[code]

Disclaimer: this is **MY** implementation, relevant to my project requirements. This is based on hasura official insights for auth0 integration (https://hasura.io/docs/l

[2021-12-23 14:12] hsluoyz opened #393 "Please sign the CLA"
Hi contributors!

Casdoor has now required all code contributors to sign the CLA. This also includes the contributors in the past. We appreciated your cooperation!

Sign it via: https://cla-assistant.io/casdoor/casdoor

@Kininaru @sh1luo @ErikQQY @turbodog03 @WindSpiritSR @oranges-eating @1340908470 @Steve0x2a @ffyuanda @chinggg @kuchaguangjie @hyperzlib @zhongjixiuxing @uran0sH @Abingcbc @nexmoe

[2021-12-23 19:26] kuchaguangjie commented on #393
Done.

[2021-12-24 12:19] hsluoyz opened #395 "Support other DBs for syncer DB"
https://door.casbin.com/syncers

[2021-12-24 16:31] hsluoyz commented on #395
Fixed in: https://github.com/casdoor/casdoor/commit/e79e3c36d0e803127f0f48f3dd6279af3e1e0add

[2021-12-24 16:31] #395 closed

[2021-12-25 02:55] #370 closed

[2021-12-25 03:00] hsluoyz commented on #393
@ffyuanda @chinggg @hyperzlib @zhongjixiuxing @leopku

[2021-12-25 03:23] hsluoyz commented on #82
@ComradeProgrammer

[2021-12-25 09:34] hsluoyz commented on #355
@seriouszyx

[2021-12-26 12:13] hsluoyz commented on #387
Hi @8byr0 we are working on this issue now, can you help us complete this survey? Thanks! https://github.com/casdoor/casdoor/issues/361

[2021-12-26 13:34] hsluoyz commented on #387
@8byr0 all easy ones have been implemented:

![image](https://user-images.githubusercontent.com/3787410/147409604-93802d11-55eb-4c5d-87a4-507ac7fe90c0.png)

For the body and response parsing, actually I think it would be much easier to hard-code it as a "Hasura" webhook type, because it's very hard for Go to inteprete and execute something like `Response.users[0].tenant_id`, using a JS engine to d

[2021-12-26 13:42] hsluoyz commented on #382
@seriouszyx plz take a look at this

[2021-12-26 13:44] seriouszyx commented on #382
@hsluoyz Roger that

[2021-12-26 13:53] hsluoyz opened #397 "Fix WeCom cannot get real name issue"
Currently we get a long ID for user's real name for WeCom:

![C)B9INF7GZ@7Z30(79D8{GA](https://user-images.githubusercontent.com/3787410/147410208-ce52d63a-a595-4213-9bca-b9aa2e339b0a.JPG)

This is because:

![PAY5FEDJ( 18U7KG_638(B7](https://user-images.githubusercontent.com/3787410/147410219-7775d567-026a-434c-b85b-72bf69105b86.JPG)

![%9HZS(292@(AH9D0 5JPMR](https://user-images.githubuserconten

[2021-12-26 13:55] hsluoyz commented on #397
@Steve0x2a

[2021-12-27 01:03] hsluoyz commented on #376
@solo-xwz it's WIP

[2021-12-27 14:09] hsluoyz opened #399 "Support WebAuthn"
https://webauthn.io/

[2021-12-27 14:34] cnbattle opened #400 "Are there any plans to support WeChat Mini Programs ？"
Are there any plans to support WeChat Mini Programs？

[2021-12-27 15:09] hsluoyz commented on #400
@cnbattle can you be more specific and describe your scenario with more details?

[2021-12-28 03:26] pangxianfei commented on #361
怎么设置邮箱服务器的呢？

[2021-12-28 03:28] hsluoyz commented on #361
Hi @pangxianfei , can you create a new issue for your question and use English? This issue is for tracking Casdoor users. (you are welcomed to enter your company and project here:))

[2021-12-28 04:59] cnbattle commented on #400
@hsluoyz

微信小程序内，我们的用户系统是只先登录（wx.login拿code后端获取openid），后判断是否绑定手机再绑定这样静默登录的逻辑，或者手机登录同时传递（wx.login的code后端获取openid），然后增加前置接口只拿wx.login的code来现实静默登录相关的逻辑

google translate:
In the WeChat applet, our user system only logs in first (wx.login takes the code backend to get the openid), and then determines whether to bind the mobile phone and then bind the logic of such silent login, or the mobile phone log

[2021-12-28 05:54] hsluoyz commented on #400
@cnbattle can you complete this survey for us first? Thanks!

https://github.com/casdoor/casdoor/issues/361

[2021-12-28 13:46] 8byr0 commented on #387
Sounds good!
1. There's no "accurate" format since this is not hasura out of the box behavior (this is a custom implementation). My sample body actually shows standard required fields when querying graphql endpoint (i.e. query and variables) but variables' names and values are depending on actual context
2. Same as 1. it will definitely depend on every developer's implementation. In my case, hasur

[2021-12-28 14:08] hsluoyz commented on #387
@8byr0 can you define a "standard" format for the Hasura scenario, which can be hard-coded into Casdoor? I don't expect every Hasura user is happy, but at least a certain number of them can follow your implementation to connect Hasura with Casdoor.

[2021-12-28 14:40] 8byr0 commented on #387
@hsluoyz I follow you on this point, there's no trouble defining a standard way to use hasura with casdoor.
My only concern is that the content of the claim is highly related to every project business logic (and its actual architecture).

We can assume that the following should be at least present in JWT claims (should cover most use cases)
Request to fetch data:
[code]
[code]

In case you impleme

[2021-12-28 14:45] hsluoyz commented on #400
@Steve0x2a

[2021-12-28 14:47] hsluoyz commented on #400
@cnbattle can you also join the QQ group: 645200447 ?

[2021-12-28 14:49] 8byr0 commented on #387
Here are the requirements for post-signup hook (it will create a user on hasura's side after successful signup):
[code]
Body:
[code]

[2021-12-28 14:51] pangxianfei opened #402 "Issue after changing password"
![图片](https://user-images.githubusercontent.com/9346931/147578114-90a0851b-cdea-439a-8cbc-5b1ae428d143.png)

Casdoor cannot recognize the logged-in user after changing password:

![图片](https://user-images.githubusercontent.com/9346931/147578299-fd030f01-e34a-4a95-aeb9-718cfb28e724.png)

[2021-12-28 15:11] pangxianfei commented on #361
名称：万维空间数据科技
公司：万维空间数据科技（深圳）有限公司
url：待定

[2021-12-28 15:16] Steve0x2a commented on #400
Perhaps you need to articulate your needs more clearly. If you are trying to use casdoor to implement sso within the mini program, it may be difficult to do so because of the various limitations of the mini program. Or you are trying to get casdoor's user information after logging in within the mini program, which may be easier to implement. You can add our qq group to get more detailed help.

[2021-12-28 15:23] hsluoyz commented on #402
Fixed in: https://github.com/casdoor/casdoor/commit/377ac05928e0c0f82c3e5f0e5ff3b86ce3177cff

[2021-12-28 15:23] #402 closed

[2021-12-29 01:56] pipape opened #403 "How to join?"
I want to join this project and solve some issue. Can I?

[2021-12-29 02:32] dmxzywy commented on #361
名称：生产者
公司:  生产创新
url : 待定

[2021-12-29 03:03] dmxzywy commented on #361
想扩展功能，casdoor页面支持excel导入用户，还有用户自己注册或者后台管理员添加新用户或者修改用户完后，能够调用我们一个接口把用户推送给我们的接口，我们会给casdoor配置这个接口的url,到时用户添加或者信息变化能够把用户推送给这个接口

[2021-12-29 08:53] hsluoyz commented on #403
@pipape plz join our QQ group: 645200447

[2021-12-29 08:53] #403 closed

[2021-12-29 09:20] hsluoyz commented on #82
@Steve0x2a

[2021-12-29 14:06] softwareguy74 opened #404 "Does this support Device Authorization Grant?"
As the title says.

[2021-12-29 14:28] hsluoyz commented on #404
@softwareguy74 can you describe your scenario with more details? Like controlling AppleTV?

[2021-12-30 01:14] hsluoyz opened #405 "Support SAML as IdP"
Previously Casdoor already supports SAML as SP: https://github.com/casdoor/casdoor/pull/346 , now it needs to support SAML as IdP.

[2021-12-30 07:07] softwareguy74 commented on #404
Most OICD providers allow authorizing a device that may not have a keyboard or easy way of input to grant access via a code or QR code that takes your phone or computer to a page that allows you to enter username and password which the device then queries and gets the authorization.

[2021-12-30 07:09] hsluoyz commented on #404
@softwareguy74 so what's your device? We will first taget for and support your scenario specifically

[2021-12-30 10:25] hsluoyz opened #406 "Support integrating LimeSurvey with Casdoor: fix LimeSurvey OIDC plugin's bug"
The plugin: https://github.com/janmenzel/AuthOpenIDConnect is not compatible with the recent LimeSurvey version 5.2.7

![4O8JP BDWS)M)J{V_LBBWUS](https://user-images.githubusercontent.com/3787410/147743266-89a52b62-8f22-4aed-8f1c-164b47a4999f.png)

![6XLLUP%@18U27B{7EY5(BS9](https://user-images.githubusercontent.com/3787410/147743275-3c053de4-9c9e-4ab9-9bf4-f09a072e2dae.png)

![}DO46ETLSUHXREUGU2G

[2021-12-30 10:26] hsluoyz commented on #406
@basakest

[2021-12-31 07:46] pipape commented on #403
ok

[2021-12-31 11:37] hsluoyz opened #409 "Support Minio's authentication with Casdoor"
See similar work for Keycloak: https://github.com/minio/minio/blob/master/docs/sts/keycloak.md

[2021-12-31 11:55] #352 closed

[2021-12-31 12:12] hsluoyz commented on #409
@Abingcbc

[2022-01-01 07:21] hsluoyz commented on #404
@softwareguy74

[2022-01-02 01:39] seriouszyx commented on #355
@hsluoyz Shiro framework does not support oauth2 like Spring security, we have to use a library like [buji-pac4j](https://github.com/bujiio/buji-pac4j). Is it OK?

[2022-01-02 04:08] hsluoyz commented on #355
@seriouszyx Shiro supports LDAP as data source: https://shiro.apache.org/authentication-features.html

![image](https://user-images.githubusercontent.com/3787410/147865913-5e143b32-579c-48dc-b856-4db6976abc69.png)

We can add support of LDAP server for Casdoor, so Shiro will be LDAP client and Casdoor will act as LDAP server.

[2022-01-04 14:37] hsluoyz opened #413 "Support Steam authentication"
https://partner.steamgames.com/doc/webapi_overview/oauth

[2022-01-05 03:06] qq690712575 opened #414 "Support alipay authentication"
doc: [https://opendocs.alipay.com/apis/api_2/alipay.user.info.share](url)

[2022-01-05 15:00] zhongjixiuxing commented on #361
名称：蓝图房车
公司: 上海蓝团信息科技有限公司
url : 待定

[2022-01-13 13:48] #409 closed

[2022-01-14 09:35] nomeguy opened #421 "Add GitLab authentication to docs"
Similar to: https://docs.gitlab.com/ee/integration/auth0.html

[2022-01-16 14:02] #278 closed

[2022-01-16 15:07] hsluoyz opened #422 "Develop a Casdoor plugin for APISIX"
Here are two plugins can be used as references:

1. KeyCloak: https://apisix.apache.org/docs/apisix/plugins/authz-keycloak/
2. Casbin: https://apisix.apache.org/docs/apisix/plugins/authz-casbin

The new plugin `auth-casdoor` will be added by making PR to APISIX's repo like how it's done for authz-casbin: https://github.com/apache/apisix/pull/4710

We can choose to make a casdoor-lua-sdk first or n

[2022-01-16 15:08] hsluoyz commented on #422
@Steve0x2a

[2022-01-16 15:56] hsluoyz opened #423 "Add Casdoor docs to Minio"
Casdoor already supported Minio by: https://github.com/casdoor/casdoor/issues/409

Next we want to list the progress in Minio community, e.g., writing a docs page like: https://github.com/minio/minio/blob/master/docs/sts/keycloak.md

[2022-01-16 16:02] hsluoyz commented on #423
@Abingcbc

[2022-01-17 13:23] hsluoyz opened #424 "Support k8s deployment"
Currently Casdoor can be deployed with Docker (https://casdoor.org/docs/basic/try-with-docker), for larger scale environment, we want it to be deployed into kubernetes cluster.

[2022-01-17 13:23] hsluoyz commented on #424
@ComradeProgrammer

[2022-01-17 14:29] hsluoyz commented on #421
Docs has been added: https://github.com/casdoor/casdoor/issues/421

[2022-01-17 14:32] hsluoyz commented on #421
@Steve0x2a can we also add docs to gitlab like https://docs.gitlab.com/ee/integration/auth0.html ?

[2022-01-18 10:22] LeonDevLifeLog opened #425 "Does it support Token Introspection api for resource server?"
Does it support token introspection restful api for resource server?
Can't find related docs. search nothing.
支不支持Oauth2.0 Resource Server使用的token introspection接口？
没找到相关文档，用 Introspection 关键字在仓库内也没搜到相关内容。
refer: https://oauth.net/2/token-introspection/

[2022-01-18 17:48] yurenchen000 opened #426 "help: how to delete test phone-num in demo site?"
https://door.casbin.com/account

i had try this demo， awsome and works well.
but,

associated telephone number by SMS，
 then how to disassociate my phone num from this online demo?

  the delete account button seems not work: told success, but refresh they still there)

 （I don't want to leave my info in this demo site）

[2022-01-19 00:55] hsluoyz commented on #426
@yurenchen000 username?

[2022-01-19 01:20] hsluoyz commented on #425
@Steve0x2a @seriouszyx

[2022-01-19 03:22] Steve0x2a commented on #425
What do you prefer to implement using the Introspection endpoint? Our accessToken is in jwt format, and after parsing it we can also get username, exp, iat, etc.

[2022-01-19 03:30] LeonDevLifeLog commented on #425
i want to check the token was revoked.
我想检查一下这个token是否被撤销。

[2022-01-19 03:41] yurenchen000 commented on #426
thanks for your reply.

my username "J[.O_O.]L",  and
 I guess  lots of guys leave their phone-num in demo & can't delete by self, exposed to public access

![user_list.png](https://user-images.githubusercontent.com/8458213/150059581-dab77d30-d79c-47a9-96ec-c44d19ac8c5f.png)

[2022-01-19 05:35] Steve0x2a commented on #425
@LeonDevLifeLog Currently you can use accessToken to request endpoints such as get-account to determine if the token is available, and we will discuss whether the Inspection endpoint needs to be added to the api list.

[2022-01-19 05:57] hsluoyz commented on #426
@yurenchen000 removed. We will mask the phone in future.

[2022-01-19 05:57] #426 closed

[2022-01-19 11:11] hsluoyz opened #430 "Support Apache DolphinScheduler authentication with Casdoor"
https://dolphinscheduler.apache.org/

See existing discussions:

- https://github.com/apache/dolphinscheduler/issues/4531
- https://github.com/apache/dolphinscheduler/issues/546
- https://github.com/apache/dolphinscheduler/issues/3451

[2022-01-19 15:58] sep2 opened #431 "Please support authorization code flow with PKCE"
Spec: https://oauth.net/2/pkce/

This one is necessary for seriously secured SPA.

auth0 and okta all have this functionality.

https://auth0.com/docs/flows/authorization-code-flow-with-proof-key-for-code-exchange-pkce

https://developer.okta.com/blog/2019/08/22/okta-authjs-pkce

[2022-01-20 05:42] Steve0x2a commented on #421
@hsluoyz I created a [PR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/78630)

[2022-01-20 06:02] sep2 opened #433 "[BUG] docker cannot connect to postgres"
the `DockerFile` hard code `db:3306` prevents the image from being used with postgres.

[2022-01-20 06:28] hsluoyz commented on #431
@seriouszyx @Steve0x2a

[2022-01-20 06:29] hsluoyz commented on #433
@ComradeProgrammer

[2022-01-20 06:39] ComradeProgrammer commented on #433
Ok, I see where the problem is.  The hard code will be removed soon in an appropriate way.  Is there any other problems for using postgres except this problem?

[2022-01-20 11:42] sep2 commented on #433
None that I'm aware of for now, will test it with the new image later.

[2022-01-20 16:15] hsluoyz commented on #430
@Steve0x2a

[2022-01-21 01:29] #431 closed

[2022-01-21 11:14] sep2 commented on #433
Actually you don't have to wait for db in the standalone image build, DBs are generally available anyway in prod environment.

In the all-in-one build you can wait for the db however since it's meant to be used together.

[2022-01-21 11:28] ComradeProgrammer commented on #433
Well, if you use docker compose to run it, it's very likely that although the container of database has started running, the database is actually not ready to accept incoming connections when casdoor is started, that's why we choose to wait for the database

[2022-01-21 11:52] sep2 commented on #433
In a production environment, the deployment of casdoor should not be tied to the deployment of a database. They should be deployed independently from each other, at least they should not be in the same docker-compose file.

Docker/docker-compose itself is not a good option for production database related things anyway. There are lots of discussions [like this one](https://vsupalov.com/database-in-

[2022-01-21 11:58] sep2 commented on #433
If somehow that's a hard requirement that casdoor must wait for a db to go alive or be immediately panic, the you can use `restart: always` in a docker-compose file to migrate that.

[2022-01-21 14:40] qq690712575 opened #435 "Support xunlei(迅雷) authentication"
docs:http://dev.open-api-auth.xunlei.com/platform?m=Developer&op=docPage&segment=introduce

[2022-01-21 16:55] hsluoyz commented on #435
@seriouszyx @Steve0x2a

[2022-01-21 17:01] hsluoyz commented on #433
@sep2 good solution! Does it mean that we just need to set `restart: always` in docker-compose and the code in PR: https://github.com/casdoor/casdoor/pull/436 is not needed any more, right?

[2022-01-21 18:22] sep2 commented on #433
That depends on what the deploy requirements are. Noted that we may have multiple requirements as long as they are not conflicted.

For deploying with docker-compose, the `restart: always` solves the issue at compose level, it doesn't care what is actually running inside the container image, it cares only "composibility".

For directly running from compiling source code (without compose and withou

[2022-01-22 04:34] Steve0x2a commented on #435
I'll work on this, but the current problem is that I can't create XUNLEI applications without real name authentication, and  can't find the real name authentication portal.

[2022-01-22 04:37] qq690712575 commented on #435
I will contact xunlei company

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Steve0x2a ***@***.***>
发送时间: Saturday, January 22, 2022 12:34:34 PM
收件人: casdoor/casdoor ***@***.***>
抄送: Jianle Chen ***@***.***>; Author ***@***.***>
主题: Re: [casdoor/casdoor] Support xunlei(迅雷) authentication (Issue #435)

I'll work on this, but the current problem is that I can't crea

[2022-01-22 05:44] hsluoyz opened #437 "Support baidu authentication"
See: https://developer.baidu.com/wiki/index.php?title=docs/oauth

[2022-01-22 07:50] #433 closed

[2022-01-22 09:53] wuhan005 opened #439 "SQL injection vulnerability in field filter"
The query API provides the `field` and `value` parameters to support query by field.

It inserts the user's input into the raw SQL expression which can lead to a SQL injection vulnerability.
[code]

And the `/api/get-organizations` is a public route that everyone can visit.

Proof of concept:
[code]

[2022-01-22 11:15] hsluoyz commented on #439
@wuhan005 thanks for reporting! Do you have any suggestions for resolving it?

[2022-01-22 11:36] #437 closed

[2022-01-22 13:50] laeo commented on #439
Strict match given field is exactly one in the table, then using prepared statement to avoid SQL injection. (谷歌翻译的，将就着看吧

[2022-01-22 15:13] hsluoyz commented on #439
@seriouszyx can you fix this issue for all occurrences?

[2022-01-22 15:19] seriouszyx commented on #439
@hsluoyz I'll work on it.

[2022-01-22 15:31] wuhan005 commented on #439
In my opinion, the input `field` should be filtered by an allowlist, and make sure we have set the Beego's run mode to `runmode=prod` in production to avoid leaking debug information.

[2022-01-23 15:55] Herry-too opened #441 "Support WeCom Internal development authentication"
It seems that the current "Login with WeCom" only supports "third-party application development", and I hope it can support "internal development" if possible.
Docs: https://developer.work.weixin.qq.com/document/path/91025

[2022-01-24 03:25] hsluoyz commented on #441
@Steve0x2a @seriouszyx

[2022-01-24 05:19] romeupalos opened #443 "OIDC Userinfo API response is not compliant with OIDC Standard"
The Userinfo API endpoint should reply with all the available claims as part or the JSON root object as specified in the OIDC standard (Please, refer to section 5.3.2 of the standard https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse)

However, the current API is mapped to get-account which has its own response schema, wrapping the claims inside the attribute named "data".

Pat

[2022-01-24 06:42] Steve0x2a commented on #435
@qq690712575 Xunlei has replied to me with the relevant information: to apply for the application, you need to send an email to Xunlei Business and get permission. So I don't think Casdoor's Xunlei support is a high priority.
If you could provide us with an application to test, it might speed up the process a lot.

[2022-01-24 06:47] hsluoyz commented on #435
low-priority, closed.

[2022-01-24 06:47] #435 closed

[2022-01-24 06:47] hsluoyz commented on #443
@Steve0x2a

[2022-01-24 07:56] follisher opened #445 "No response at permission page"
When I use permission page, it is will be unresponsive and show a blank page, in browser console, we can find an error info
<img width="552" alt="image" src="https://user-images.githubusercontent.com/1535732/150742906-4217a7f8-0c9c-4494-a522-132d8c483df9.png">

[2022-01-24 08:25] hsluoyz commented on #445
@seriouszyx

[2022-01-24 14:35] Steve0x2a commented on #443
@romeupalos Thank you for your feedback! I have submitted a PR to resolve this issue, but for some reason, the userinfo_endpoint in oidc discovery needs to be modified along with the documentation to the new userinfo api. We will resolve this issue as soon as possible.

[2022-01-24 14:41] seriouszyx commented on #445
Hi, did you deploy Casdoor by yourself or test on https://door.casbin.com/? I tested it several times locally but didn't encounter the same problem. Could you please provide more information such as the data in your databse if you deploy it by yourself?

[2022-01-24 22:20] romeupalos commented on #443
@Steve0x2a Thank you for working on this API request so fast! That is remarkable!
I reviewed the code you have and it looks good.

Some considerations and enhancements for the future to make it more secure and more compliant:
The API should only return the claims that are scoped by the current token.
The basic scopes and field relationships are defined here: https://openid.net/specs/openid-connect

[2022-01-25 00:33] Steve0x2a commented on #443
@romeupalos OK, I will modify it according to your suggestion. Thanks again for your advice on Casdoor!

[2022-01-25 01:28] henrywangx opened #448 "We’d better split the frontend and backend code"
Hi guys，looks like casdoor is a really great project.
But for production development, we'd better split the frontend and backend code. And put them into 2 containers.
Beego should only provide the restfulAPI, and frontend container implement the view logical.
I can do some help, if we decide to do that.

[2022-01-25 03:16] follisher commented on #445
maybe you need testing in the initial project, when I testing in already exist project, i'm going to get nothing as well. It seems when project initial the function getTags(tags) of `Setting.js` file, the props `tags` have not value, so the method `forEach` don't know its a array object.
I fixed the issues in the pull request https://github.com/casdoor/casdoor/pull/449

[2022-01-25 06:10] Steve0x2a commented on #443
@romeupalos  The latest commit can now support the scopes `profile`, `email`, `address`, `phone` now.

[2022-01-25 11:39] #445 closed

[2022-01-25 16:31] romeupalos commented on #443
That's great @Steve0x2a. Thank you for working on this.

[2022-01-26 03:56] #443 closed

[2022-01-26 05:42] hsluoyz opened #450 "Support Apache SeaTunnel authentication with Casdoor"
https://github.com/apache/incubator-seatunnel

See discussions:

- https://github.com/apache/incubator-seatunnel/issues/284
- https://github.com/apache/incubator-seatunnel/issues/338

[2022-01-26 07:42] sam-blackfly opened #451 "code implementation is susceptible to replay attacks"
Consider the following test cases to ensure the flow is hardened against such attacks:

- **Limited validity period**: The code should only be usable for 5 to 10 minutes for the time of issue.
- **Reuse**: The code should only be usable once. Consider race conditions on submission as well.
- **replay attacks**: Upon attempted reuse of the code all access tokens previously issues based on the code

[2022-01-26 08:46] hsluoyz commented on #451
@seriouszyx @Steve0x2a @ComradeProgrammer

[2022-01-26 11:36] #439 closed

[2022-01-26 12:51] Abingcbc commented on #423
https://github.com/minio/minio/pull/14185

[2022-01-26 13:25] Abingcbc commented on #430
Related issue: https://github.com/apache/dolphinscheduler/issues/3451

[2022-01-26 13:35] Shivansh-yadav13 opened #453 "Question: Regarding Docs"
I was going through Casdoor's Frontend configuration​ documentation
`showMessage()` and `goToLink()` are not exported from the `Setting.js` file due to which I am getting errors.
I think they should be added.
Please correct me if I'm doing something wrong.

[2022-01-26 13:46] hsluoyz commented on #453
@Shivansh-yadav13 why do you need these two functions?

[2022-01-26 13:50] Shivansh-yadav13 commented on #453
@hsluoyz in the react component to receive the `/callback`

[2022-01-26 14:41] hsluoyz commented on #453
@seriouszyx

[2022-01-26 14:46] #448 closed

[2022-01-26 14:59] seriouszyx commented on #453
@Shivansh-yadav13 The two functions you mentioned are exported from the `Setting.js`. What are your errors? Could you please provide more information?

[code]

[2022-01-26 15:05] hsluoyz commented on #425
@LeonDevLifeLog @Steve0x2a I think we have all the building blocks to provide such a API. We have saved all issued tokens into the token list: https://door.casbin.com/tokens . Even if the access token is not JWT, we can still get the metadata from this token list.

[2022-01-26 16:05] hsluoyz opened #454 "Support Apache DolphinScheduler LDAP auth based on Casdoor"
See: https://blog.csdn.net/DolphinScheduler/article/details/122053746

[2022-01-26 16:05] hsluoyz commented on #454
@seriouszyx

[2022-01-27 01:52] hsluoyz commented on #423
PR merged

[2022-01-27 01:56] #423 closed

[2022-01-27 01:56] hsluoyz commented on #450
SeaTunnel has no user concept yet, so closed for now.

[2022-01-27 01:56] #450 closed

[2022-01-27 04:02] hsluoyz opened #455 "Support Apache Pulsar authentication with Casdoor"
https://pulsar.apache.org/docs/en/security-overview/#authentication-providers

[2022-01-27 04:05] hsluoyz commented on #455
@fabian4 @seriouszyx @Abingcbc

[2022-01-27 04:36] hsluoyz opened #456 "Support Apache ShardingSphere authentication with Casdoor"
See:

- https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-proxy/configuration/#authentication
- https://github.com/apache/shardingsphere/issues/9844
- https://github.com/apache/shardingsphere/issues/6140
- https://github.com/apache/shardingsphere/issues/9844
- https://github.com/apache/shardingsphere-ui

See: https://github.com/apache/shardingsphere/search?q=ui&type

[2022-01-27 04:45] hsluoyz opened #457 "Support Apache SkyWalking authentication with Casdoor"
See:

- https://github.com/apache/skywalking/issues/5665
- https://github.com/apache/skywalking-booster-ui
- https://www.cnblogs.com/kebibuluan/p/14024134.html
- https://blog.csdn.net/qq_42536474/article/details/108669351
- https://gitter.im/OpenSkywalking/Lobby?at=5bc9f306ef4afc4f289c2e72

[2022-01-27 07:25] hsluoyz opened #458 "Make a jenkins-casdoor-auth plugin for Jenkins"
It can be listed in the plugins page: https://plugins.jenkins.io/ui/search?sort=relevance&categories=&labels=&view=Tiles&page=1&query=auth

See a similar plugin: https://github.com/jenkinsci/keycloak-plugin

Repo created: https://github.com/casdoor/jenkins-casdoor-auth

[2022-01-27 07:28] hsluoyz commented on #458
@seriouszyx @Abingcbc @fabian4

[2022-01-27 07:39] Shivansh-yadav13 commented on #453
@seriouszyx but it's not there in the docs? 😅
![Screenshot_20220127_120325](https://user-images.githubusercontent.com/87603425/151305203-d60d0fe8-7112-4043-8cfa-e1787d143f0f.png)

also this error:

and is there any demo app also?😅

[2022-01-27 07:42] Shivansh-yadav13 commented on #453
Can you also help me here:
![Screenshot_20220127_130954](https://user-images.githubusercontent.com/87603425/151313393-ab3a0155-6ea8-4135-b9c8-f0300dda8f6c.png)

[2022-01-27 07:54] hsluoyz opened #459 "Make better integration with the SpringBoot community"
1. Add name to: https://spring.io/projects/spring-security-saml

![image](https://user-images.githubusercontent.com/3787410/151315090-1211914b-5591-4d89-bcee-7905bb9ada13.png)

2. Listed in the initializer: https://start.spring.io/

![image](https://user-images.githubusercontent.com/3787410/151314961-0fe5e807-20ad-4bb9-b862-26a549839d03.png)

[2022-01-27 07:56] hsluoyz commented on #459
@seriouszyx

[2022-01-27 07:59] seriouszyx commented on #453
@Shivansh-yadav13 Sorry, I misunderstood your question before and didn't know you were using [casdoor-js-sdk](https://github.com/casdoor/casdoor-js-sdk). You can refer to [casnode](https://github.com/casbin/casnode/blob/master/web/src/Setting.js) and [casbin-oa](https://github.com/casbin/casbin-oa/blob/master/web/src/Setting.js).

[2022-01-28 01:25] #424 closed

[2022-01-28 04:44] #441 closed

[2022-01-28 16:31] hsluoyz commented on #441
@Herry-too frontend part done in: https://github.com/casdoor/casdoor/commit/fbc73de3bbac9cc49c6a8d6bf87345446a43abbe

[2022-01-28 16:32] #451 closed

[2022-01-28 16:34] hsluoyz commented on #451
@sam-blackfly if you are using Casdoor, please help us input here: https://github.com/casdoor/casdoor/issues/361 , thanks!

[2022-01-29 06:30] hsluoyz opened #464 "Support Istio authentication with Casdoor"
See similar as: https://www.keycloak.org/2018/02/keycloak-and-istio.html

- Add name to: https://istio.io/latest/docs/concepts/security/#:~:text=ORY%20Hydra-,Keycloak,-Auth0

![image](https://user-images.githubusercontent.com/3787410/151651658-09eb2d57-ec8a-4c73-a7b1-cec5bf2fde7b.png)

- IstioCon: https://mp.weixin.qq.com/s/J3ormnpuYH45vbkN_G7mvg

[2022-01-29 07:20] hsluoyz commented on #464
@ComradeProgrammer

[2022-01-29 08:17] hsluoyz commented on #328
@Steve0x2a

[2022-01-30 02:51] hsluoyz opened #466 "Support Baidu InfoFlow provider"
- Internal: https://qy.baidu.com/doc/index.html#/inner_serverapi/verify
- Third-party: https://qy.baidu.com/doc/index.html#/third_serverapi/verify

[2022-01-30 03:32] adam3asy opened #467 "LDAP sync user fail"
when I use casdoor link LDAP server to sync users,  LDAP server connect success, but sync user fail,  /api/get-ldap-user  return response
`{
  "status": "error",
  "msg": "no result",
  "sub": "",
  "name": "",
  "data": null,
  "data2": null
}`

I don't know how to fix, can any help supply to me , thks

[2022-01-31 05:53] wuhan005 commented on #439
CVE-2022-24124 assigned.

[2022-02-03 11:54] rafaelgfirmino opened #469 "Slow review time."
I noticed that some pull requests get stuck for a long time.

Casdoor seems to me to have immense potential, but it is frustrating for contributors not to have any kind of feedback or simply for reviewers not to approve.
I also noticed that the reviewers @seriouszyx and tangyang9464 take a long time or almost never review commits and @hsluoyz always merges without revisions.

I would like to know

[2022-02-03 13:07] hsluoyz commented on #469
Hi @rafaelgfirmino , thanks for being interested in Casdoor!

Most PRs are kept for archive purpose, next we will take some time to analyze (and maybe close) them one by one. There're no valuable PRs waiting to be merged in that list.

The automatically set reviewers: @seriouszyx and @tangyang9464 will be no active in near future. This is done by our casbin-bot: https://github.com/casbin/casbin-oa

[2022-02-03 14:42] rafaelgfirmino commented on #469
Thanks for the answer.

[2022-02-03 14:42] #469 closed

[2022-02-04 10:15] Steve0x2a commented on #421
@hsluoyz here we go~ https://docs.gitlab.com/ee/administration/auth/oidc.html#casdoor

[2022-02-04 11:54] hsluoyz commented on #421
@Steve0x2a well done!

[2022-02-04 11:54] #421 closed

[2022-02-05 05:08] ComradeProgrammer commented on #464
https://github.com/istio/istio.io/pull/10860

[2022-02-05 13:54] #466 closed

[2022-02-07 02:52] Steve0x2a commented on #328
I have tested the integration of TiDB and Casdoor using OIDC, and so far they work fine.
![image](https://user-images.githubusercontent.com/17063270/152717127-25b7fc35-ab4c-4f81-b5de-fe78c9ab4865.png)

[2022-02-08 17:14] hsluoyz commented on #455
@nodece

[2022-02-08 17:22] hsluoyz commented on #457
@seriouszyx @Abingcbc @fabian4

[2022-02-08 17:30] hsluoyz opened #482 "Support Apache Dubbo authentication with Casdoor enhancement"
https://github.com/apache/dubbo-admin

[2022-02-08 18:42] Kalinin-Andrey opened #483 "Retrieve password error: unknown authentication type (not password or provider)"
Hello, everyone!

I am just a beginner with casdoor.
I am trying to test a retrieve password, but received this error:
[code]
The username is found and the email substituted in the form field, but they are not sent to the server.
Email provider is configured and working.

What I am doing wrong?

[2022-02-09 00:48] hsluoyz commented on #483
@Kalinin-Andrey what action are you doing?

See code:

https://github.com/casdoor/casdoor/blob/e1c54744dced5751f1671e0d291df8d17bd5b093/controllers/auth.go#L371

`username` and `provider` in the form cannot be both empty.

[2022-02-09 04:53] seriouszyx commented on #467
@adam3asy Sorry for waiting. As the [doc](https://casdoor.org/docs/ldap/overview#detail-about-casdoor-ldap-synchroniztion-mechanism) says, Casdoor's synchronization only supports those LDAP users which are a subclass of _posixAccount_. So you can check the user in your LDAP server.

[2022-02-09 07:50] jingkang99 opened #484 "GUI - add user page, no cancel button?"
After click add user, there is no cancel button to cancel the action. if jump to other page, new user is added anyway. similar behavior on other page too.

[2022-02-09 07:53] seriouszyx commented on #484
Actually when clicking the _add_ button, the user has been added.

[2022-02-09 08:06] hsluoyz commented on #484
@seriouszyx can we modify this behavior?

[2022-02-09 08:08] seriouszyx commented on #484
@hsluoyz Yes, I will try to work on it.

[2022-02-09 08:20] Kalinin-Andrey commented on #483
@hsluoyz , I use casdoor as standalone service in docker contaner. I don`t change a code.
After sending a confirmation code working ApiController.Login() with original code: https://github.com/casdoor/casdoor/blob/e1c54744dced5751f1671e0d291df8d17bd5b093/controllers/auth.go#L127.

[2022-02-09 08:32] Kalinin-Andrey commented on #483
@hsluoyz ,
After sending a confirmation code, goes request /api/login with payload:
[code]
https://github.com/casdoor/casdoor/issues/483#:~:text=util.StructToJson(form)))-,username%20and%20provider%20in%20the%20form%20cannot%20be%20both%20empty.,-Author

I understand that, but I don't understand why this is happening.
What can I be doing wrong?

[2022-02-09 08:56] Kalinin-Andrey commented on #483
@hsluoyz ,
Case 1: in field `username` (`id="step1_username`) I wrote an email - field `username` (in a request) not empty, all working!
Case 2: in field `username` I wrote an username. In form2 substituted an email in field `id="step2_email"`. Field `username` in request is empty.

[2022-02-09 11:20] hsluoyz commented on #483
@Kalinin-Andrey what are you trying to do? What's the goal? The Casdoor public API is guaranteed to be called correctly by Casdoor's own web frontend. If you want to call Casdoor public API by yourself, you need to make sure every passed parameter is correct.

[2022-02-09 11:31] hsluoyz commented on #464
Done

[2022-02-09 11:31] #464 closed

[2022-02-09 12:33] Kalinin-Andrey commented on #483
@hsluoyz

This is exactly my goal: use casdoor with its own frontend.
I didn't change anything other than the config.

[2022-02-09 12:42] Kalinin-Andrey commented on #483
@hsluoyz ,
I have built an Casdoor container from its own Dockerfile and am trying to use it for my application.
At the current stage, I am unable to recover the password, in the case when you enter the username in the username field (when you enter the email, it works).
I explain as detailed as I can. What else can I say?

[2022-02-09 12:47] hsluoyz commented on #483
@Kalinin-Andrey then you should show screenshot and video for the Web UI, not the API calls.

[2022-02-09 12:48] hsluoyz commented on #483
@ComradeProgrammer

[2022-02-09 13:23] Kalinin-Andrey commented on #483
**My steps**

1. Run containers (db, redis, casdoor and my app).

In docker-compose.yaml:
[code]

2. Setup email provider, organisation and application (socbazar).

3. Signup one user (Andrey) to this application.

4. Try to retrieve password.

	1) go to page "Retrieve password": http://localhost:8000/forget/socbazar
![image](https://user-images.githubusercontent.com/8151806/153208471-da3041fa-062

[2022-02-09 15:36] jingkang99 opened #485 "https://casdoor.org Cannot open on ipad"
Chrome displays blank page

[2022-02-09 15:42] Steve0x2a commented on #485
Can you be clear about your browser software and system version? I'm using Safari and Alook on my iPad and they both work fine.

[2022-02-10 01:51] hsluoyz commented on #485
@jingkang99 Can you share your User-Agent? You can get it from Google:

![image](https://user-images.githubusercontent.com/3787410/153321661-98edf2e5-37ac-4535-bd14-debe08dfd9b4.png)

[2022-02-10 03:54] jingkang99 commented on #485
Mozilla/5.0 (iPad; CPU OS 10_3_3 like Mac OS X) AppleWebKit/603.1.30 (KHTML, like Gecko) CriOS/71.0.3578.89 Mobile/14G60 Safari/602.1

[2022-02-10 08:01] ComradeProgrammer commented on #483
Извините, друг мой (I don't speak Russian)
It's indeed a bug. It will be fixed soon, and will be released soon together with other queued releases.

[2022-02-10 08:31] Kalinin-Andrey commented on #483
@ComradeProgrammer ,
Great answer!
I can ask you, when it is fixed, somehow let me know about it. For example, in this thread.
Or write me how to find out about it.
To immediately update the code.
Many thanks!

[2022-02-10 14:36] hsluoyz commented on #279
@rushitote any update?

[2022-02-10 15:29] hsluoyz commented on #279
Hi @leeqvip can you take a look?

[2022-02-11 02:06] #279 closed

[2022-02-11 06:29] hsluoyz commented on #485
@jingkang99 I'm afraid your iOS 10.3.3 (and iPad) is too old. I tested with a very old iPad (still newer than yours) and it shows OK:

`
Mozilla/5.0 (iPad; CPU OS 12_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/92.0.4515.90 Mobile/15E148 Safari/604.1
`

[2022-02-11 06:29] #485 closed

[2022-02-12 10:16] nodece opened #489 "OAuth 2.0 device authorization grant support"
### Summary

I tried to use casdoor in our project, but I notice it doesn't support the OAuth 2.0 device authorization, this model is simple and powerful. This is a great feature if the casdoor can support this, see [here](https://oauth.net/2/device-flow/) for this model.

[2022-02-12 10:20] Steve0x2a commented on #489
Casdoor supports oidc protocol to access the application, and oidc is based on oauth, you can get the relevant information in this document：https://casdoor.org/docs/how-to-connect/oidc-client/

[2022-02-12 11:36] nodece commented on #489
OIDC has multiple auth models, such as implicit-grant-flow, auth-code-flow, device-code-flow. I guess the casdoor can support implicit-grant-flow and auth-code-flow, I haven't tested it, but I tried the device-code-flow, the casdoor doesn't provide the `device_authorization_endpoint` in `.well-known/openid-configuration`.

[2022-02-12 11:45] Steve0x2a commented on #489
Oh you're right, casdoor doesn't support device-code-flow yet, do we need to add that? @hsluoyz

[2022-02-12 12:54] rushitote commented on #422
Hi, this sounds really interesting but sorry I would not be able to actively develop this at this time. Though, if anyone else is willing to take this up I would be happy to help them.

[2022-02-13 03:22] hsluoyz opened #490 "Support Casdoor authentication for Nodeclub"
Nodeclub (https://github.com/cnodejs/nodeclub) is a popular open-source forum software in Node.js . We can make it support Casdoor authentication by means like making PR directly to the code, making plugins, etc.

[2022-02-13 03:23] hsluoyz commented on #490
@fabian4

[2022-02-14 01:36] rafaelgfirmino commented on #227
The casdoor site has this definition:
"A UI-first centralized authentication / Single-Sign-On (SSO) platform supporting OAuth 2.0, OIDC and SAML, integrated with Casbin RBAC and ABAC permission management"

Way casdoor need add payment system ?
I think the focus casdoor is Authentication and Authorization using casbin, for me this feature payment not make sense.
all engagement must be with authent

[2022-02-14 07:46] MayankMittal1 commented on #490
@hsluoyz I am willing to work on this, could you please explain this issue in a bit more detail?

[2022-02-14 11:47] #483 closed

[2022-02-14 15:02] Kalinin-Andrey opened #493 "Is there an API method to verify the access token?"
Hello everyone!

1. Is there an API method to verify the access token?
2. Is there a mechanism for forcibly terminating the access token after a compromise?

Thanx!

[2022-02-14 15:26] akun-y opened #494 "Papers BBS Demo"
Name: Papers door
Company: mfull.cn
URL: https://door.mfull.cn

[2022-02-14 15:29] akun-y commented on #361
Name: Papers door
Company: mfull.cn
URL: https://door.bbs.mfull.cn/

[2022-02-14 15:31] #494 closed

[2022-02-14 17:15] Steve0x2a commented on #493
1. Casdoor currently does not have a dedicated api to verify the accessToken, you can use the userinfo interface to confirm if the user information is available to determine if the accessToken is still available. You can see the discussion in this issue: https://github.com/casdoor/casdoor/issues/425
2. You can use the delete token api to delete the leaked token, or delete it on the token page, e.g

[2022-02-15 14:41] hsluoyz opened #495 "Support Apache Shiro integration with Casdoor"
We already have an example project: https://github.com/casdoor/casdoor-spring-boot-shiro-example

Next we can develop a plugin based on: https://shiro.apache.org/integration.html , like the CAS SSO server or Stormpath plugin. Then contribute it to the integration list.

Repo is created at: https://github.com/casdoor/shiro-casdoor

[2022-02-15 14:46] hsluoyz commented on #495
@seriouszyx

[2022-02-16 04:55] Shivansh-yadav13 commented on #413
@hsluoyz can I work on this?

[2022-02-16 05:13] hsluoyz commented on #413
@Shivansh-yadav13 can you work one of these: https://github.com/casdoor/casdoor/issues?q=is%3Aissue+is%3Aopen+apache ?

[2022-02-16 11:57] #413 closed

[2022-02-16 23:46] ikarstein opened #498 "Question: OAuth2 Endpoints for ASP.NET Core Authentication"
I'm looking for an example how to connect an ASP.NET Core Web App to Casdoor (All-In-One docker image) for OAuth2 authentication.

I have this code in "startup.cs":

[code]

I get a login and Casdoor redirects the browser to the callback address. But than I get a "500" status code in ASP.NET Core web app.

I'm not sure this depends on the endpoints. But I'm pretty much sure that the endpoints are

[2022-02-17 02:33] Kininaru commented on #227
@rafaelgfirmino Agree with you.

[2022-02-17 03:48] #227 closed

[2022-02-17 05:31] Steve0x2a commented on #498
Hi, I think there may be a mistake in the following api address:
1. `TokenEndpoint ` should be `http://localhost:8000/api/login/oauth/access_token`
2. `UserInformationEndpoint` should be `http://localhost:8000/api/userinfo`
3. `ClaimsIssuer` maybe  `iss`, but I'm not sure if this field is the one I'm thinking of.

You can make the above changes, if you still get the error, please keep replying, I

[2022-02-17 09:03] GhostLee opened #499 "Support password hashing in LDAP"
sometime we don't save plaintext password in LDAP Server, so support password hashing is very useful, input a plaintext password, convert it into hashed password and compare with LDAP password field output the check result.

[2022-02-17 13:35] ikarstein commented on #498
THIS WORKS!! Thank you!

[2022-02-17 13:55] #498 closed

[2022-02-17 14:54] ikarstein opened #500 "Question: Retrieve USer Information using OAuth2 from Casdoor"
Yesterday [I asked a question](https://github.com/casdoor/casdoor/issues/498) and got help here on Github by Steve0x2a. Thanks again.

This ist the current code:

[code]

With it I'm able to login. The user is authenticated using my Casdoor (all-in-one docker image running locally).

BUT the identity does not contain any information about the user. I think I add the from "scopes" or miss a claim m

[2022-02-17 15:07] Steve0x2a commented on #500
Hi, I am very happy to have helped you.
If your scope reads "openid profile email", theoretically it should return the following message by userinfo api:

[code]
Can you read this information, or do you need more information? By the way, casdoor also supports the non-oidc standard userinfo interface:`/api/get-account`, and it will return more detailed information about the user

[2022-02-17 15:19] nomeguy opened #501 "Any support for connecting to ADFS?"
See: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/ad-fs-openid-connect-oauth-concepts and https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/enabling-openid-connect-with-ad-fs

[2022-02-17 17:27] ikarstein commented on #500
Hi Steve0x2a,

your information was helpful!

I did some experiments and found out that it's my job to augment the identity with user information. Here is my code.

[code]

[2022-02-18 00:18] GhostLee commented on #499
and the attribute should be configurated

[2022-02-18 04:37] hsluoyz commented on #500
@ikarstein can you please give some input at: https://github.com/casdoor/casdoor/issues/361 ?

[2022-02-18 06:20] hsluoyz commented on #499
@seriouszyx

[2022-02-18 06:29] seriouszyx commented on #499
@GhostLee We will add support for multiple password types as soon as possible. For configurable attributes, we plan to do this during the implementation of LDAP in the syncers.

[2022-02-18 07:41] hsluoyz opened #504 "Fix state too long error for WeChat login in WeChat built-in browser"
Env: WeChat PC version, with WeChat built-in browser enabled

See: https://forum.casbin.com/

https://user-images.githubusercontent.com/3787410/154639187-5dda2634-f02d-4a84-b340-df71966b145b.mp4

[2022-02-18 07:57] #328 closed

[2022-02-18 08:47] seriouszyx commented on #504
Also, when I logged in to https://door.casdoor.com/ using wechat, I got the following error.

![image](https://user-images.githubusercontent.com/33992371/154648942-d4882781-ff16-47a2-a5b8-4213c9021f86.png)

[2022-02-19 06:06] ComradeProgrammer commented on #422
https://github.com/apache/apisix/pull/6382
But it's only a draft pr because... I haven't figured out how to add test for it.

[2022-02-19 07:15] hsluoyz commented on #422
@rushitote got it. I think @ComradeProgrammer has made a PR: https://github.com/apache/apisix/pull/6382 , can you help review it?

[2022-02-19 08:19] rushitote commented on #422
@ComradeProgrammer
So, if you manually tested the plugin you can then move onto the unit tests. The unit tests are very similar to manually testing the application where you send a request and check for the response to see if it's correct.

First install the submodules by `git submodule update --init --recursive`, that will install the testing toolkit and other required components. Then install `c

[2022-02-20 10:15] seriouszyx commented on #499
@GhostLee I found that there is no relationship between the password type of Casdoor and the LDAP server. I sent the password entered by the user to the LDAP server using a `bind` request and the authentication all passed regardless of the LDAP password type. On the contrary, if I encrypt the password in Casdoor, it will not pass.

[2022-02-21 06:38] hsluoyz commented on #458
Tracked here: https://github.com/jenkins-infra/repository-permissions-updater/issues/2379

[2022-02-22 10:20] nodece commented on #489
@Steve0x2a Please update #415.

[2022-02-22 10:34] Steve0x2a commented on #489
@nodece Thank you for your review! But totp we have discussed and feel that we still need to make some major changes, so this pr may not progress in a short time, if we continue to move forward with this pr, I will make changes according to your suggestions, thank you very much.

[2022-02-22 11:50] nodece commented on #489
@Steve0x2a Could you share this discussion thread? I want to know this progress.

[2022-02-23 09:21] FishMeng811 opened #507 "The application parameters in login url will be lost when back form Signup Page"
Steps:
step 1: Redirect to Casdoor Sign In page, now parameters(ex. state/client_id) in Login Url.
step 2: Click Sign Up button into Sign Up page.
step 3: Then Click Sign In button back to Sgin In Page, now bug shows : parameters in Url lost!

[2022-02-23 15:27] hsluoyz commented on #507
@seriouszyx

[2022-02-23 16:24] ComradeProgrammer commented on #422
Thank you very much. It turned that your advice was of great help! With the help of your instructions, I've successfully added tests for this pr. Besides, it seems that there is no need to add casdoor into CI files, because there are mocking suits in apisix so that some of casdoor's apis can be mocked. I can hardly express my sincere appreciation!

[2022-02-23 16:24] ComradeProgrammer commented on #422
Thank you very much. It turned that your advice was of great help! With the help of your instructions, I've successfully added tests for this pr. Besides, it seems that there is no need to add casdoor into CI files, because there are mocking suits in apisix so that some of casdoor's apis can be mocked. I can hardly express my sincere appreciation!

[2022-02-23 16:47] rushitote commented on #422
That's great, I am really glad to hear that! The tests written by you are really well. Also didn't knew about the mocking suites in APISIX, it's nice that it has that.

[2022-02-25 09:02] L0ading-x opened #510 "A vulnerability was found with unauthorized access to some API endpoints, causing some sensitive information to leak"
I found that some API endpoints could be accessed without logging in, giving away sensitive information
For example：
/api/get-resources?
/api/get-organizations?
/api/get-application?
The poc is:
curl "https://door.casdoor.com/api/get-organizations?owner=admin&p=&pageSize=&field=&value=&sortField=&sortOrder="
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/55682875/1556

[2022-02-25 10:07] hsluoyz commented on #510
Hi @L0ading-x these batch GET APIs are not security vulnerability because the organization and application info are supposed to be publicly accessed to render the login page. The resource also has no reason to cause data leak. The image URL of that resource is always open to be accessed. However, this issue is not meaningless given that the batch API can still be restricted.

[2022-02-25 10:16] #484 closed

[2022-02-25 10:20] L0ading-x commented on #510
While organizational and application information should be publicly accessible, there is another interface, the user information interface, that can still be accessed without authorization
poc is:
curl "https://door.casdoor.com/api/get-users?owner=casbin&p=&pageSize=&field=&value=&sortField=&sortOrder="

The OWNER field represents the organization in the POC
When I get the organization information

[2022-02-25 11:40] 1307super opened #511 "Optimization of wechat providers"
There are two problems with wechat authorized login:
1. If there is unionid, unionid will be used directly; otherwise, openid will be used; This will have a problem, for example, WeChat has a lot of small programs, official account numbers on the same development platform, but their openid are different, but calling related interfaces need openid, and can the third party information related to OAu

[2022-02-25 14:26] nomeguy commented on #501
Fixed in: https://github.com/casdoor/casdoor/pull/505

[2022-02-25 14:26] #501 closed

[2022-02-25 17:22] hsluoyz commented on #510
Similar as above, getting a user is also public.

[2022-02-26 06:35] LeonDevLifeLog opened #514 "response_type bug"
`.well-known/openid-configuration` API said response_type support `id_token`
![微信截图_20220226143131](https://user-images.githubusercontent.com/28891919/155832571-171a751c-7635-4085-85f1-5c5ed6918417.png)
but actually not support.
![微信截图_20220226143221](https://user-images.githubusercontent.com/28891919/155832611-4d4a990f-3b9d-4d75-ade3-28e605fae21f.png)

[2022-02-26 06:46] LeonDevLifeLog opened #515 "support more `response_mode` options for Huawei IAM"
## casdoor only support`login`,`code`,`link`

![微信截图_20220226143941](https://user-images.githubusercontent.com/28891919/155832836-d239285c-13d0-423e-94c3-6a69eddc4e58.png)

## but huawei iam only support `fragment`,`form_post` options

![微信截图_20220226144053](https://user-images.githubusercontent.com/28891919/155832986-361715bb-4716-4db2-9b9d-fbeec1f842df.png)

## please support `fragment` or `form

[2022-02-26 06:48] LeonDevLifeLog commented on #514
huawei ima only support `id_token` option

![微信截图_20220226144119](https://user-images.githubusercontent.com/28891919/155833074-3e400288-9a07-475e-b290-57f5592ec7e7.png)

[2022-02-26 10:29] #510 closed

[2022-02-26 10:30] #500 closed

[2022-02-26 10:35] hsluoyz commented on #425
@Steve0x2a can we add this (how to handle the access token) to docs?

[2022-02-26 10:44] Steve0x2a commented on #493
@hsluoyz OK, I'll work on this.

[2022-02-26 10:54] hsluoyz commented on #259
Moved to: https://github.com/casdoor/casdoor-dotnet-sdk/issues/1

[2022-02-26 14:23] hsluoyz commented on #515
@Steve0x2a

[2022-02-27 03:33] Steve0x2a commented on #514
Yes, currently id_token can only be obtained at the access_token endpoint, and I will support this method as soon as possible with response_type=id_token.

[2022-02-28 07:17] bobhu2k opened #517 "signup webhook callback post null "extendedUser" data"
- 1、use casbin/casdoor:[v1.22.0  docker image](https://hub.docker.com/r/casbin/casdoor/tags)

- 2、new organization

- 3、new application

- 4、new webhook

  - 4.1、in login webhook  extendedUser is right

  - 4.2、in signup  webhook  extendeduser is null

- 5、frontend  web submit register data

<img width="1796" alt="image" src="https://user-images.githubusercontent.com/8317400/155939913-402e7fba-bcd

[2022-02-28 11:09] Nash-x9 opened #519 "There is no removeToken API(Real logout api)"
Thanks for your awesome project
I think most of user put their focus on `auth`、`check permisson`,there is no one care about `logout` thing!

How can I clear my login state by access-token or sth else?

[2022-02-28 14:07] hsluoyz commented on #517
@Steve0x2a @seriouszyx

[2022-03-01 00:26] kofj opened #521 "UNSAFE api response fields."
The API `/api/get-app-login` response has return fields `passwordSalt `, `masterPassword ` and `passwordType `, it is **UNSAFE**.

![image](https://user-images.githubusercontent.com/3346673/156081053-b0021bcf-e9d0-4bd8-a179-b84468c80643.png)

[2022-03-01 03:20] Nash-x9 commented on #361
Name: FeedsBD
Company: FeedsBD
URL: https://sso.feedsbd.com/

[2022-03-01 10:25] #517 closed

[2022-03-01 14:06] xiaobeiswift opened #524 "client_secret should not be required in path "/login/oauth/access_token""
Casdoor supports the [Proof Key for Code Exchange](https://tools.ietf.org/html/rfc7636) (PKCE) protocol to make the app flow more secure.
 But the “public” app (a mobile or single-page app) client cannot keep the client_secret confidential.
 Now,the query string parameter "client_secret" is required in path "/login/oauth/access_token". It is recommended to design it as optional

[2022-03-01 14:07] Steve0x2a commented on #524
I will work on this.

[2022-03-02 01:07] LeonDevLifeLog commented on #515
# error info:
![image](https://user-images.githubusercontent.com/28891919/156274708-f04cc51e-e774-44ca-86e0-c904089b6277.png)
# login is successful
![image](https://user-images.githubusercontent.com/28891919/156274834-d90fa2d3-8585-4d87-9179-d67cd8b54f68.png)
# but it lost query parameters when redirect
![image](https://user-images.githubusercontent.com/28891919/156274996-980588ee-cac3-488b-8138-3

[2022-03-02 01:20] LeonDevLifeLog commented on #515
# may be we do not flow the OAuth 2.0 specs.
## this is implementation by keycloak.
![image](https://user-images.githubusercontent.com/28891919/156276201-6f817f5d-689e-4993-a957-a3f1c3f6b280.png)

[2022-03-02 05:15] #524 closed, assigned to hsluoyz

[2022-03-02 12:37] #519 closed

[2022-03-02 12:58] #521 closed

[2022-03-02 13:00] hsluoyz commented on #504
@fabian4

[2022-03-02 17:26] Kalinin-Andrey opened #529 "After updating the user, how to get a token with these updates?"
Hi all!

I have a small question on using sdk (golang).

After updating the user, how to get a token with these updates?

Steps:

1. Get token
[code]
2. Parse JWT token
[code]
3. Change `jwtClaims.User`

4. Update user
[code]
5. How to get AccessToken string (JWT token) with an updated user?

[2022-03-02 17:38] Kalinin-Andrey commented on #529
If I try to get token with the same code
[code]
I recieve an error: "authorization code has been used"

[2022-03-03 02:46] hsluoyz commented on #529
@seriouszyx

[2022-03-03 06:32] hanpenggit opened #530 "Can one system log in and other systems log in automatically"
For example, there are three systems A, B and C，After the user successfully logs in to system A，system B and system C also log in automatically

[2022-03-03 09:48] #425 closed

[2022-03-03 10:54] LeonDevLifeLog commented on #489
please assign this issue to me,i am interesting to complete it.

[2022-03-03 12:03] seriouszyx commented on #529
@Kalinin-Andrey Hi, when you first call `auth.GetOAuthToken(code, state)`, the authorization code is already marked as used. This means that the authorization code can only be used once.

If you want to get the updated user, there are currently two ways:
1. Call `get-account` API with `accessToken` param to get the latest user.
2. Refresh the token via `/login/oauth/refresh_token` API.

[2022-03-03 13:20] hsluoyz commented on #455
@Steve0x2a

[2022-03-03 16:16] linghengqian commented on #456
@hsluoyz FYI. https://github.com/apache/shardingsphere/discussions/13569

[2022-03-03 16:47] hsluoyz commented on #456
@linghengqian thanks for the pointer! When will ShardingSphere (open source version or commercial version) have a new controll plane like a web UI?

[2022-03-03 17:55] linghengqian commented on #456
- `Apache ShardingSphere` has a sub-project `ElasticJob` responsible for task scheduling. It has a set of basicauth front-end page `ElasticJob UI`. This is the only front-end component of this project that is still being maintained. The home page of the project is at https://github.com/apache/ shardingsphere-elasticjob-ui . In the discussion on the mailing list, the PMC related to `ShardingSphere`

[2022-03-04 02:20] hsluoyz commented on #456
@linghengqian thanks for this detailed explanation, it really helps a lot for us! We will first try to help with the `ElasticJob UI` scenario in terms of this issue.

I think sphereEX can provide a uniform SSO integration mechanism like how TiDB does: https://docs.pingcap.com/tidb/stable/dashboard-session-sso , so everyone can freely integrate with external authentication solutions.

[2022-03-04 03:09] linghengqian commented on #456
FYI. @tristaZero

[2022-03-04 05:07] #529 closed

[2022-03-04 13:10] seriouszyx commented on #456
@hsluoyz https://github.com/apache/shardingsphere-elasticjob-ui/pull/151

[2022-03-05 02:36] nomeguy opened #537 "Fix the web UI compatibility issue for IE (at least IE 11)"
Using IE 11 to open: https://door.casdoor.com/ will cause blank page with the following error. It seems to be fixable by polyfill: https://stackoverflow.com/questions/36016327/how-to-support-promises-in-internet-explorer-11 . Of course we want to support more IE versions like even IE10, IE9, IE8, etc. if possible.

![image](https://user-images.githubusercontent.com/85475922/156864527-11d4be39-ad2e

[2022-03-05 08:32] #537 closed

[2022-03-05 08:47] #507 closed

[2022-03-05 08:47] hsluoyz commented on #515
Fixed in: https://github.com/casdoor/casdoor/pull/534

[2022-03-05 08:47] #515 closed

[2022-03-05 08:48] hsluoyz commented on #514
Fixed in: https://github.com/casdoor/casdoor/pull/534

[2022-03-05 08:48] #514 closed

[2022-03-05 17:28] Kalinin-Andrey commented on #529
@seriouszyx,
Please tell me what these parameters are and where to get them from?
[code]

[2022-03-06 08:37] #493 closed

[2022-03-06 09:59] seriouszyx commented on #529
@Kalinin-Andrey They are the standard parameters of the OAuth 2.0 protocol. The value of `grant_type` depends on what API you call, such as `authorization_code` or `refresh_token`. And the value of `scope` can be `read`.

[2022-03-07 01:37] seriouszyx commented on #495
Done
![image](https://user-images.githubusercontent.com/33992371/156953345-2b03d171-5803-4d18-995e-f64a183579fc.jpeg)

[2022-03-07 01:42] hsluoyz commented on #495
@seriouszyx looks good!

[2022-03-07 01:42] #495 closed

[2022-03-07 02:50] xiaobeiswift opened #539 "client_secret should not be required in path "/login/oauth/refresh_token""
Because Native applications run in untrusted environments and cannot effectively protect client_secret, Native applications do not use client_secret.Now,the query string parameter "client_secret" is required in path "/login/oauth/refresh_token". It is recommended to design it as optional.
When the user logs out of the app or removes his account from the app, the refresh token will be revoked.so,ca

[2022-03-07 03:24] L0ading-x commented on #510
You marked it as unfixable, but I found that access to some interfaces has been restricted

[2022-03-07 04:24] seriouszyx commented on #539
@xiaobeiswift I have opened a PR to change `client_secret` in refresh_token API as optional. As for revoking, we have `TokenLogout` API and `DeleteToken` API, both of them are able to revoke token.

[2022-03-07 05:52] #539 closed

[2022-03-07 15:34] zhongjixiuxing opened #541 "Improve frontend static asset files size"
Home page first time access, then will loading big static asset files, has a very bad experience

![50333D21A427E2137630E20FF129DA1A](https://user-images.githubusercontent.com/8935235/157065481-02be6691-f8c6-47e1-9e58-641707075bec.jpg)

[2022-03-08 07:52] hsluoyz opened #542 "The top-right logout button sometimes disappears for small screen size"
The browser is: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:97.0) Gecko/20100101 Firefox/97.0`, screen is: 1366*768

The top-right widgets should always show up in any screen size.

![PY3 2 $A{KDPE5 U@(EEN35](https://user-images.githubusercontent.com/3787410/157191159-1b005c9c-49aa-4a58-b196-d855210b3e8f.jpg)

[2022-03-08 07:55] hsluoyz commented on #542
@seriouszyx @Nekotoxin

[2022-03-08 08:39] hsluoyz opened #543 "Translate all pages in docs site"
Like:

- https://casdoor.org/zh/docs/how-to-connect/access_token
- https://casdoor.org/zh/docs/how-to-connect/sdk
- https://casdoor.org/zh/docs/how-to-connect/oidc-client
- https://casdoor.org/zh/docs/developer-guide/swagger

And:

- https://casdoor.org/zh/docs/basic/core-concepts
- https://casdoor.org/zh/docs/basic/try-with-docker

[2022-03-08 12:25] #542 closed

[2022-03-08 12:39] hsluoyz opened #545 "Fix the CI error"
See: https://github.com/casdoor/casdoor/runs/5464379853?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/157239953-6fc27453-6dba-4e6e-8f34-807bb1def859.png)

[2022-03-08 15:51] hsluoyz commented on #545
Fixed in: https://github.com/casdoor/casdoor/commit/380cdc5f7e2b6c0633a84311a2dc747c732d74c4

[2022-03-08 15:51] #545 closed

[2022-03-09 14:11] halozhy opened #546 "The MySQL default database "casdoor" cannot be automatically created when running for the first time"
version: v1.27.6

I started the program by following the README document of this repository, but the [simple configuration
 part](https://github.com/casdoor/casdoor#simple-configuration) does not mention that the database needs to be created on the first run.

The [official website documentation](https://casdoor.org/docs/basic/server-installation#configuration) also says that _a MySQL database nam

[2022-03-09 17:00] lchjczw opened #548 "UI bug after switching to English"

[2022-03-09 17:03] lchjczw commented on #548
this is front bug

[2022-03-10 00:42] leo220yuyaodog commented on #546
I also meet the problem. I solve it by a parameter in main.go ,it maybe defalut 'false'
![image](https://user-images.githubusercontent.com/71440988/157563923-87e32efe-24e3-47c8-b0e6-f6dedbab265c.png)

[2022-03-10 00:45] srrathi opened #549 "Structuring the files in web/src directory"
### Problem/Issue
There are many files present in web/src directory which makes it look very unorganised and difficult to figure out in which file a particular thing on which I have to work belong. Large projects structure their files and folder by making sub folders in which all the files relevant to that page or feature reside.

Currently the files looks like this in a single folder

![Screensho

[2022-03-10 01:43] hsluoyz commented on #548
@lchjczw can you provide a video about this error?

[2022-03-10 03:03] #546 closed

[2022-03-10 03:35] lchjczw commented on #548
![1646883228073](https://user-images.githubusercontent.com/12480676/157583369-2a9d5b86-24c3-4eec-8422-f3d1dd33b194.jpg)
点击英文切换到英文后 ，页面就变成了下面的样子
![1646883244253](https://user-images.githubusercontent.com/12480676/157583378-fc2ae0a4-cf09-4de8-8cca-e68470cfae3e.jpg)

这是前端bug

[2022-03-10 03:52] hsluoyz commented on #548
@Nekotoxin

[2022-03-10 07:26] Nekotoxin commented on #548
can you provide your version of casdoor and browser? I have a test, and the latest casdoor is work well on chrome edge and firefox

[2022-03-10 10:33] lchjczw commented on #548
I test it on the online demo:
https://door.casdoor.com/

my device
`MacBook Pro（14英寸，2021年）`
`Apple M1 Pro`

[2022-03-10 10:35] lchjczw commented on #548
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/12480676/157644143-5dea4907-13b7-4540-934f-1ab0f6ca68e2.png">
@Nekotoxin

[2022-03-10 11:21] Nekotoxin commented on #548
@hsluoyz does the online demo update to the latest version?

[2022-03-10 11:30] lchjczw commented on #548
I don't know, this is your online demo,you can browse it

https://door.casdoor.com/

[2022-03-10 12:18] hsluoyz commented on #548
@lchjczw @Nekotoxin already updated the demo site, please try again

[2022-03-10 14:30] hsluoyz opened #553 "Support ZenTao SSO"
See: https://www.zentao.net/

The latest open-source version release is 16.4: https://www.zentao.net/dynamic/zentaopms16.4-80496.html

The source code is:

- https://github.com/easysoft/zentaopms
- https://gitee.com/wwccss/zentaopms

[2022-03-11 01:13] srrathi commented on #549
@hsluoyz Is there any other information needed to clarify my issue and its solution ? If there's something else which I have to mention please let me know.

[2022-03-11 01:25] hsluoyz commented on #549
@srrathi plz work on existing open issues. We don't recommend non-real-users to create and resolve their own issues.

[2022-03-11 05:49] epis2048 opened #554 "The forget page does not hidden the phone number and email address"
As shown in the images, although the frontend hides the mobile phone number and email address in the forget page, the data returned by the background does not.
![image](https://user-images.githubusercontent.com/13732503/157809779-cf4ac2ae-6d7e-4cdf-941a-6618554a302e.png)

[2022-03-11 06:13] hsluoyz commented on #554
@seriouszyx

[2022-03-11 06:57] seriouszyx commented on #554
roger that

[2022-03-11 08:04] hsluoyz opened #555 "Support ThinkPHP 6.x SSO"
See: https://www.thinkphp.cn/

This can be based on our PHP SDK: https://github.com/casdoor/casdoor-php-sdk

[2022-03-11 14:08] hsluoyz opened #556 "Make a Casdoor SDK/example for WeChat mini programs"

[2022-03-11 14:08] hsluoyz commented on #556
@shimmery

[2022-03-12 03:36] hsluoyz opened #557 "Support connecting Zoom SSO with Casdoor"
See: https://support.zoom.us/hc/en-us/sections/200305453-Single-Sign-On-SSO-

[2022-03-12 03:38] hsluoyz commented on #557
@Steve0x2a

[2022-03-12 04:28] hsluoyz opened #558 "Support Apache Kylin authentication with Casdoor"
Source code: https://github.com/apache/kylin

See: https://kylin.apache.org/docs/howto/howto_ldap_and_sso.html

[2022-03-12 06:40] hsluoyz opened #559 "Support Apache ServiceComb authentication with Casdoor"
See:

- https://github.com/apache/servicecomb-service-center
- https://github.com/apache/servicecomb-java-chassis/issues/1303
- https://github.com/apache/servicecomb-fence
- https://blog.csdn.net/looook/article/details/97268017

[2022-03-12 08:22] hsluoyz opened #560 "Support Apache Kafka authentication with Casdoor"
See: https://developers.redhat.com/articles/2021/07/16/how-secure-apache-kafka-schemas-red-hat-integration-service-registry-20#

[2022-03-12 13:06] hsluoyz commented on #499
@GhostLee Casdoor always sends plain password to your LDAP server via LDAP protocol. So it's your LDAP server to decide whether to hash the password. It's not a Casdoor issue.

[2022-03-12 13:06] #499 closed

[2022-03-13 12:55] spacewander commented on #422
The APISIX members will accept https://github.com/apache/apisix/pull/6382, but there are a few questions:
1. Should we rename auth-casdoor to authz-casdoor, as the discussion in https://github.com/apache/apisix/pull/6382#discussion_r820404245?
2. The current implementation hardcodes `state=casdoor` in

                                 "&state=casdoor&client_id="

AFAIK, it is vulnerable to CSRF at

[2022-03-14 05:56] hsluoyz opened #564 "Use random state to mitigate CSRF attacks"
See: https://github.com/casdoor/casdoor/issues/422#issuecomment-1066095439 and https://github.com/jenkins-infra/repository-permissions-updater/issues/2379#issuecomment-1054046999

[2022-03-14 05:57] hsluoyz commented on #564
@seriouszyx

[2022-03-14 06:08] hsluoyz commented on #422
@spacewander thanks for reaching us here :)

We will change to `authz-casdoor` based on the existing naming convention.

Thanks for bringing this up to us. This is indeed a security concern. We will fix this issue soon at: https://github.com/casdoor/casdoor/issues/564

Sure! We will help review it.

[2022-03-14 08:35] Steve0x2a commented on #564
When cadoor is an idp, it can accept random states, and casdoor will return the states provided by the sp as is. So I think currently casdoor does not need to modify the state policy on apisix, it just needs to generate random states on the apisix plugin.

[2022-03-14 09:08] Abingcbc commented on #564
The solution is roughly to generate a random state in SDK (Java, Go...), then Casdoor receives it and just passes it back as part of the response. Is this OK?

[2022-03-14 09:21] hsluoyz commented on #564
@Steve0x2a you are right. @ComradeProgrammer plz just update the plugin code to fix this. Casdoor doesn't need to be updated for this part.

@Abingcbc for Casdoor as IdP, we can first update the code in: https://github.com/casdoor/casdoor-js-sdk

[2022-03-14 13:26] vibhuti019 commented on #555
Can I work on this issue

[2022-03-14 15:01] mbahpoetih opened #566 "How does permission work for other menu?"
for example users or applications, is the access control automatically set?, I have tried but it doesn't have any effect, and I'm still confused about how to use these permissions and how to set access control for each user

[2022-03-14 15:45] hsluoyz opened #567 "Support Apache Doris authentication with Casdoor"
Source code: https://github.com/apache/incubator-doris

See: https://doris.apache.org/administrator-guide/ldap.html

[2022-03-14 20:28] sloorush commented on #548
I cannot reproduce it on brave browser on a 15.6-inch screen. The nav items go into a kebab menu on smaller screen widths. This issue can probably be closed.

[2022-03-15 03:01] lchjczw commented on #548
I think you shoud change `Syncers Certs Swagger` to `···`  not
<img width="319" alt="image" src="https://user-images.githubusercontent.com/12480676/158297391-a4a8fa4c-2967-4910-b96f-4ccaad322aaa.png">
to `···`

[2022-03-15 03:08] lchjczw commented on #548
I change the window size

<img width="870" alt="image" src="https://user-images.githubusercontent.com/12480676/158297973-f92c724c-d86d-4baf-8bd4-dd19ca3be9c6.png">

you can change the window size to see the the effect

[2022-03-15 04:54] #554 closed

[2022-03-15 08:31] hsluoyz commented on #548
@Nekotoxin plz fix the height:

![Y4H67L EW~}C%JFNT _BFMT](https://user-images.githubusercontent.com/3787410/158337305-79b18f96-3044-4f46-87b6-9af733bc2dbd.png)

[2022-03-15 13:02] #548 closed

[2022-03-15 13:59] hsluoyz commented on #422
Hi @spacewander , we're done here. Can you take a look at the updated PR: https://github.com/apache/apisix/pull/6382 ?

[2022-03-17 13:06] hsluoyz opened #572 "Support environment variables for all app.conf items"
Now the config can only be modified at:

https://github.com/casdoor/casdoor/blob/e5ff49f7a752bbac84f65aee675cffde0f0f4a19/conf/app.conf#L1-L19

It's not friendly for Docker users. We want to have: if `httpport` is defined as env var, then it overrides the app.conf value.

[2022-03-17 13:06] star7th opened #573 "Callback URL bug"
Create a new application and prepare to use oauth2 to connect to casdoor. Fill in the callback address http://localhost:8080/server/?s=/api/extLogin/oauth2  。 The URL of the jump is like this http://localhost:8080/server/?s=/api/extLogin/oauth2?code=a004f0cd0d4110490d46&amp;state=3b09a6c8a3219ce55ba12a0e991cf1ec
This is wrong. When splicing code and state parameters, you directly use the symbol "?

[2022-03-17 14:23] hsluoyz opened #574 "Make a syncer for Keycloak to import users into Casdoor"
See:

![image](https://user-images.githubusercontent.com/3787410/158827368-0faead72-fadc-4e83-bf4e-9e4259f471b6.png)

The related code is: https://github.com/casdoor/casdoor/blob/master/object/syncer.go

[2022-03-17 14:25] jklm23 opened #575 "Remove embed to support lower Go versions"
build github.com/casdoor/casdoor: cannot load embed: malformed module path "embed": missing dot in first path element

[2022-03-17 15:55] zhongjixiuxing opened #576 "Support JWT token custom payload properties"
## As casdoor default jwt token it too big, has possible to support custom JWT token payload properties to reduct size?

[2022-03-17 16:27] hsluoyz commented on #343
Replaced by: https://github.com/casdoor/casdoor/issues/574

[2022-03-17 16:27] #343 closed

[2022-03-17 16:52] #549 closed

[2022-03-18 07:31] hawckodere opened #579 "default signup_application value "built-in-app" in user table different with the default application name in table application lead to an error when click the application name in user page"
default signup_application value "built-in-app" in user table different with the default application name in table application lead to an error when click the application name in user page.
![image](https://user-images.githubusercontent.com/1499168/158955105-c1efb85d-69e6-431b-9cc0-3653e8f2e887.png)

![image](https://user-images.githubusercontent.com/1499168/158956171-a4ff511a-63e2-45d6-a73d-01b59

[2022-03-18 07:36] hsluoyz opened #580 "After a user from non-built-in organization logged out, he will be redirected to built-in login page"
To reproduce:

1. Log into: https://forum.casbin.com/
2. Go to "Setting"
3. Log out
4. Redirected to: https://door.casdoor.com/login , but we expect to be: https://door.casdoor.com/login/oauth/authorize?client_id=014ae4bd048734ca2dea&response_type=code&redirect_uri=https%3A%2F%2Fforum.casbin.com%2Fcallback&scope=read&state=app-casnode

![image](https://user-images.githubusercontent.com/3787410/158

[2022-03-18 16:09] hguerrerojaime opened #581 "Create a setting to make the endpoint /api/get-user private"
Create a setting to make the endpoint /api/get-user private.

Have an option to make this endpoint restricted (that needs authentication in order to use it).

[2022-03-18 16:59] hsluoyz commented on #543
Done by @marvelousp4

[2022-03-18 16:59] #543 closed

[2022-03-18 17:12] hguerrerojaime commented on #81
I'm also interested in this feature, are there any updates for this?

[2022-03-19 03:57] hanrea opened #582 "[suggestion] the third-party account information should be removed from the user table, which is not conducive to later expansion"
The associated plug-in information should be split into a new table as the account table
https://github.com/casdoor/casdoor/blob/865a65d399a88ef0423dc6305e6911533abc8b43/object/user.go#L74

If the product goes in the direction of OAuth, more and more OAuth plug-ins will be accumulated, and the single table is certainly not applicable.

[2022-03-19 04:08] hsluoyz commented on #582
@hanrea plz change to English

![image](https://user-images.githubusercontent.com/3787410/159106060-38047c72-ab35-45d6-b19e-6fa18a331ccf.png)

[2022-03-19 05:01] epis2048 opened #584 "Login limit problem"
I entered the wrong user name and password in the login page and did not encounter the login times limit, which may be the script burst password.

I would like to have the option to lock the account for some minutes or enable captcha after exceeding the limit.

[2022-03-19 05:06] epis2048 opened #585 "The certs page is displayed incorrectly"
The contents of the public key field are actually the contents of the certificate, not the public key.

Consider changing the name of the field to "certificate" or the contents of the field to the public key.

The Python SDK recently use the certificate to generate public key automaticly, but the PHP SDK still need to convert manually.

[2022-03-19 05:07] hanrea commented on #582
Translation complete!TKS!

[2022-03-19 05:13] epis2048 opened #586 "Recommend that users of any organization be allowed to log in in the built-in application"
When attempting to log in to an account of another organization (like organization A) in the Built-in application, A message is displayed indicating that the account does not exist. However, in fact, after logging in to the account of Organization A through the application of Organization A, accessing the built-in application again will automatically log in to CasDoor system, and you can only modi

[2022-03-19 08:08] hsluoyz commented on #586
@epis2048 this is a good idea. But how to specify the organization in the login page? Because we can have the same usernames for different organizations.

[2022-03-19 08:35] seriouszyx commented on #459
done https://github.com/spring-projects/spring-boot/pull/30220

https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot-starters/README.adoc

![image](https://user-images.githubusercontent.com/33992371/159114045-862e4876-3501-41d3-8acf-13091e3a12e6.png)

[2022-03-19 08:38] epis2048 commented on #586
According to the password? Different users usually have different passwords. The pair of username and password can point to a specific person.
If both users have same passwords, then tell them they should login to their app first.

[2022-03-19 10:27] Steve0x2a commented on #585
I agree with this suggestion, people who don't know this aspect may confuse certificates and public keys.

[2022-03-19 11:50] #580 closed

[2022-03-19 12:01] #573 closed

[2022-03-19 12:21] hsluoyz commented on #585
@epis2048 can you create an issue at: https://github.com/casdoor/casdoor-php-sdk/issues ?

[2022-03-19 13:18] epis2048 commented on #585
I think the problem comes from the casdoor. Just like @Steve0x2a 's saying that people who don't know this aspect may confuse certificates and public keys. The casdoor should tell its users that that's certificates not public keys.
![image](https://user-images.githubusercontent.com/13732503/159122698-9b803216-9195-4ec8-8551-21bf165cb7b0.png)

[2022-03-19 13:24] epis2048 commented on #585
Maybe the SDK can convert it automaticly, but I think the casdoor's field name should be more accurate.

[2022-03-19 13:26] hsluoyz commented on #585
@epis2048 yes, I got your question for cert name. We will change it. I mean you can create an issue for PHP SDK.

[2022-03-19 13:31] epis2048 commented on #585
![image](https://user-images.githubusercontent.com/13732503/159122996-d47a758e-9b40-4b11-b09c-7b67f62a72cc.png)
Like this pic, nearly all SDKs field name is public key. So I think the best efforts is change the content showing in casdoor, not nearly every SDK's code and variable name. Although, it's just my opinion. So, I don't think I should create an issue for PHP SDK. If so, Every SDK(except py

[2022-03-19 13:57] hsluoyz commented on #585
@epis2048 if the content is changed, how to change the code logic?

[2022-03-19 14:00] hsluoyz opened #589 "Support uni-app H5 integration with Casdoor"
See: https://uniapp.dcloud.io/

[2022-03-19 14:02] hsluoyz commented on #586
@Steve0x2a @seriouszyx @Abingcbc @ComradeProgrammer any comments?

[2022-03-19 14:15] epis2048 commented on #585
Every time visit the cert detail page, convert the certificate to public key. (The result is: DB still store the certificate and the front end show the public key)
I don't know the cost of each conversion, but I don't think the page needs to be visited very often, and a bit slower at a time won't slow the system down overall. Conversion operations can also be done by JS if possible.

[2022-03-20 15:21] #572 closed

[2022-03-20 15:28] hsluoyz commented on #575
@jklm23 what Go version do you use?

[2022-03-20 15:38] hsluoyz commented on #575
@Steve0x2a @seriouszyx @Abingcbc

[2022-03-21 00:49] jklm23 commented on #575
The go version is "go version go1.13.8 linux/amd64", maybe too high?

[2022-03-21 02:04] hsluoyz commented on #575
@jklm23 no, it's too low. Please use Go 1.17 or 1.18

[2022-03-21 02:19] jklm23 commented on #575
I install GO by Ubuntu apt install golang, the version is lower than the official website, thanks!

[2022-03-21 05:39] MayankMittal1 commented on #586
we could also have a searchable dropdown on the casdoor login page so the user can select the application he wants to login, the preselected option could be default (built-in app).

[2022-03-21 06:27] ax003d opened #598 "user register support email or mobile phone"
We want to support user register by mobile phone, but some people don't have mobile phone, so we also need to support register by email.
But if we choose mobile phone & email, they both show in register page.
Can we let user register by mobile phone or email, not both?
Thanks!

[2022-03-21 06:31] hsluoyz commented on #575
@Nekotoxin

[2022-03-21 06:49] epis2048 commented on #586
@MayankMittal1 I don't think it's a good idea. Because two users with same username and password may not be one person. The best efforts is do not let user know who is using the same password. If a dropdown is provided, then a user may login to another org's app whose account doesn't belonging to him/her.

[2022-03-21 07:29] hsluoyz commented on #598
@seriouszyx

[2022-03-21 12:33] Steve0x2a opened #601 "Too few error messages returned when github idp login fails"
![BSLI2K2@)~DDPEFQFBS3%6](https://user-images.githubusercontent.com/17063270/159261603-ccbddef3-c4ef-494d-ad11-e97657b6e6fd.png)
It should return clearer reasons for errors, so that developers and users can troubleshoot them.

[2022-03-21 15:29] hsluoyz opened #604 "Support CAS authentication protocol"
Currently Casdoor already supports OIDC, OAuth 2.0, SAML, the last one we need to support is CAS. See: https://apereo.github.io/cas/6.0.x/protocol/CAS-Protocol.html

We can use Go client libraries like:

- https://github.com/go-cas/cas
- https://pkg.go.dev/gopkg.in/cas.v2

[2022-03-21 18:30] MayankMittal1 commented on #530
@hanpenggit i can't fully understand what you mean, could you please elaborate

[2022-03-22 01:46] hsluoyz opened #605 "Support JumpServer integration with Casdoor"
See: https://www.jumpserver.org/

[2022-03-22 07:15] hanpenggit commented on #530
for two systems: A and B, when the user log in A by sso, change the website to system B, the user can auto log in B without redirecting to sso

[2022-03-23 04:56] epis2048 commented on #586
@MayankMittal1 I'm sorry that I misunderstand your idea. I mistakenly thought that the drop-down box appeared after entering the user name and password. If the first entry in the login form is a drop-down box, then I think this idea is ok. However, organization names should be entered by the user (at least some of them), and organization names in the system should not be presented to the user.

[2022-03-23 11:12] sagilio opened #609 "Support multiple-valued response type"
Support `code token`, `code id_token`, `id_token token`, `code id_token token` and `none`
https://github.com/casdoor/casdoor/blob/d0952ae908b63faea3c6938952668552ea8662f4/object/token.go#L226-L228
ref:
https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#Combinations

[2022-03-23 11:53] sagilio opened #610 "Panic when not select a speciafic provider"
When the user adds a provider but does not select one, now the page looks like this:
![image](https://user-images.githubusercontent.com/42855245/159692522-b1674ee6-18eb-48aa-9c29-d31a5e85f0ea.png)

A nil check may be missing here, we can return an error response or ignore the nil provider item:
![image](https://user-images.githubusercontent.com/42855245/159692135-b896fe59-adba-4475-a6ca-4989f27bb5

[2022-03-23 13:18] aecra opened #611 "Invalid format of refresh_token response."
The content of response is

[code]

The `error` field should be independent.

And the access_token_endpoint is the same.

[2022-03-23 15:18] kofj opened #612 "Refresh_token API not invoke old token"
When I called `oauth/refresh_token` API, I found the `old token` not be revocation, the backend server just create a `new token`.

I think this **MAYBE VERY DANGEROURS**, this will used to malicious create too much tokens, and cause highly database workload.

example :

[code]

[2022-03-23 15:18] kofj opened #613 "Refresh_token API not invoke old token"
When I called `oauth/refresh_token` API, I found the `old token` not be revocation, the backend server just create a `new token`.

I think this **MAYBE VERY DANGEROURS**, this will used to malicious create too much tokens, and cause highly database workload.

example :

[code]

[2022-03-23 19:09] MayankMittal1 commented on #586
@epis2048 but do the users know the organisation that they are registered? or only the application?

[2022-03-24 00:39] hsluoyz commented on #586
We should not make the organization list public. So we don't need to work on this issue.

[2022-03-24 00:39] #586 closed

[2022-03-24 04:15] #610 closed

[2022-03-24 06:42] hsluoyz commented on #541
@zhongjixiuxing how do we fix it?

[2022-03-24 07:20] hsluoyz commented on #612
@Steve0x2a

[2022-03-24 07:24] hsluoyz opened #615 "Support CodeIgniter integration with Casdoor"
See: http://codeigniter.org.cn/

[2022-03-24 07:45] hsluoyz commented on #605
@small-cai

[2022-03-24 11:58] #613 closed

[2022-03-24 17:19] hsluoyz opened #618 "Encounter "Failed to link user account" error when linking with Slack account"
How to reproduce:

1. Log into the demo site and go to: https://door.casdoor.com/account
2. Link the "Slack".

![image](https://user-images.githubusercontent.com/3787410/159973522-41be6470-af25-4470-bdf3-18611791ca59.png)

After some debugging, we found that goth failed to fetch userInfo for Slack channel. All returned values are empty.

![image](https://user-images.githubusercontent.com/3787410/1

[2022-03-25 07:49] hanrea opened #619 "Add mandatory account registration support"
For an unregistered account,  The user needs to register or bind the account  after logging in with ouath.
Otherwise, users using multiple ouath accounts will register as different accounts。

[2022-03-26 07:16] hsluoyz commented on #601
Fixed by: https://github.com/casdoor/casdoor/pull/620

[2022-03-26 07:16] #601 closed

[2022-03-26 17:46] aecra opened #622 "New access_token didn't be returned ."
At the `oauth/refresh_token` API, the `access_token` in response is still the old one. Howerver the new one is already in casdoor's database.

[2022-03-27 15:10] #622 closed

[2022-03-28 03:50] #459 closed

[2022-03-28 03:52] hsluoyz opened #624 "Support Casdoor authentication for Spring Cloud Alibaba"
We already support SpringBoot very well:

- Starter: https://github.com/casdoor/casdoor-spring-boot-starter
- Example: https://github.com/casdoor/casdoor-spring-boot-example

Now we need to support Spring Cloud: https://spring.io/projects/spring-cloud , especially Spring Cloud Alibaba: https://spring.io/projects/spring-cloud-alibaba

An example is RuoYi: http://ruoyi.vip/

![image](https://user-im

[2022-03-28 03:53] hsluoyz commented on #624
@seriouszyx

[2022-03-28 08:38] dextercai opened #625 "BUG: Ldap user can login use the password "123""
Ldap user can login use the password "123" which is set at the time of importing user from ldap.
See:
https://github.com/casdoor/casdoor/blob/879ca6a488018a00b5dac0de574d98d3c34785ab/object/ldap.go#L328

I suggest that "CheckUserPassword" logic need be changed. Or the ldap user should not have a potential initial password
See:
https://github.com/casdoor/casdoor/blob/879ca6a488018a00b5dac0de574d98d

[2022-03-28 09:19] #625 closed

[2022-03-28 11:03] MayankMittal1 opened #626 "Support Twitch OAuth for Casdoor"

[2022-03-28 11:41] hsluoyz commented on #626
@MayankMittal1 we recommend GSoC beginners to work on existing issues instead of creating a new one and resolving it by themselves.

[2022-03-29 11:35] dextercai opened #629 "Flags should be set to prevent duplicate initialization."
It is unexpected to initialize the database directly when container restart or application restart. It may be a coding mistake, because the flag `createDatabase` was designed.
Unauthorized access also will be caused by using `admin, 123` after restart, which introduces **security risks**.

I will submit a pull requests to fix it later.

[2022-03-29 13:25] wohenbushuang opened #630 "How can admin modify the email and phone of other users?"
v1.33.3, user's email and phone are generated when creating user and cannot be changed.

![image](https://user-images.githubusercontent.com/15613184/160620945-4bc10959-f086-4469-9c36-8a29b98231fd.png)

[2022-03-29 14:35] hsluoyz commented on #630
@Steve0x2a @seriouszyx

[2022-03-29 14:39] hsluoyz commented on #629
@dextercai plz make a PR

[2022-03-29 16:36] hsluoyz commented on #629
@dextercai it just injects some example data for first-time use, does it harm your service?

[2022-03-29 16:36] #626 closed

[2022-03-29 18:33] ederparaiso opened #632 "Support configurable captcha in user flows"
Is there any plans to support configurable captcha in user flows? For example, enable/disable captcha verification in Register, Login, Forget password flows?
In my use case, we expect to use captcha in Login flow (if I'm not mistake, currently captcha verification exists only in Register flow). Thus, due to end to end tests, it would be nice if captcha could be enabled/disabled as a config paramet

[2022-03-30 02:21] dextercai commented on #629
But the service should not injects a full-admin user after each container or application restart.

[2022-03-30 02:25] dextercai commented on #629
Otherwise, it should be clearly pointed out in the document that when the createDatabase parameter is not specified, the restart of the container or application will still cause the insertion of sample data, especially a high-level admin user.

[2022-03-30 07:09] eloo commented on #376
hi  @hsluoyz
is there any progress we can track?

i'm really excited about that feature ;)

[2022-03-30 11:38] MayankMittal1 commented on #414
@hsluoyz i am not able to register for alibaba developer , as it requires email address from chinese providers, how should i proceed

[2022-03-30 12:27] #630 closed

[2022-03-30 12:48] hsluoyz opened #634 "Make a Casdoor authentication middleware/plugin for Vert.x"
We already have a middleware for SpringBoot: https://casdoor.org/docs/integration/spring-boot

We can make a similar one for another popular Java web framework, Vert.x: https://vertx.io/

Auth docs: https://vertx.io/docs/#authentication-and-authorization

We should add a `CasdoorAuth` here: https://vertx.io/docs/vertx-auth-oauth2/java/#_example_configuration_for_common_oauth2_providers or add a ne

[2022-03-30 14:20] hsluoyz commented on #414
@MayankMittal1 plz choose another issue to work on

[2022-03-31 04:31] hsluoyz commented on #629
Fixed in: https://github.com/casdoor/casdoor/commit/7a95b9c1d53f45fb0a938428c105f3524222c0f1

[2022-03-31 04:31] #629 closed

[2022-03-31 13:48] tetra12 opened #635 "Bug: Can't obtain an access_token with curl"
I have been following [this](https://casdoor.org/docs/how-to-connect/access_token) to obtain an `access_token` with `curl`. However,  `grant_type` == `password` || `grant_type` == `client_credentials` won't work for me.

The only way to get an `access_token` is to craft an OIDC code link and manually copy-paste to browser.
This won't let me to control/withdraw/expire/remove the issued `access_toke

[2022-03-31 14:12] Steve0x2a commented on #635
I tried to get the token with the following code and it worked, you can try it and give feedback, I will keep following up.
[code]

[2022-03-31 14:32] tetra12 commented on #635
@Steve0x2a
Thanks for a prompt response. Few points to note:

1. You are using an `authorization_code` here. As I stated here, it works when I handcraft the Auth Code URL and paste it into the browser. When you craft that URL and paste it into the browser, `casdoor` opens an SSO login page and redirects with the OIDC Code to the redirect URI.

This method doesn't require `curl`, since
- `oidc code

[2022-03-31 14:53] Steve0x2a commented on #635
@tetra12 maybe you can try：
[code]

It seems that the data sent with json cannot be read in the form, so casdoor cannot read the sent data.

[2022-03-31 15:37] #635 closed

[2022-04-01 09:20] tetra12 opened #637 "Bug: fail to process input JSON for resource owner requests"
Following [this](https://casdoor.org/docs/how-to-connect/access_token#client-credentials-grant), I'd like to issue an `access_token` with `curl`. I wanna use `grant_type == client_credentials` and `grant_type == password`. Both work for inlined `curl` requests whith all params pasted in the `curl` request.

However, neither works for `curl` requests with JSON input parameters.

clientID.json
[code

[2022-04-01 10:02] hsluoyz commented on #637
@Steve0x2a

[2022-04-01 16:51] tetra12 commented on #637
@hsluoyz

1. I'm not sure about your last message. I see a POST /api/login/oauth/access_token in your public Swagger
2. I provided an example with JSON body in a POST request. That would be a normal use case for all DevOps engineers and CI scripts. If you do not intend to support this at this point, return 400 at least. Now I'm getting 200 with an error. Confusing !

[2022-04-02 02:18] hsluoyz commented on #637
@tetra12 do you mean that all Casdoor APIs should support body JSON?

[2022-04-02 07:55] tetra12 commented on #637
@hsluoyz
I would implement a JSON body support for only `/api/login/oauth/access_token` endpoint now. Since many users, DevOps and CI scripts may use standard images with `curl` to get/refresh/remove a token.

Other APIs may be implemented later upon a request

[2022-04-02 13:15] hsluoyz commented on #637
@tetra12 OK.

@Steve0x2a plz work on this

[2022-04-02 13:32] tetra12 opened #639 "Doc: OIDC for Minio: Unable to set identity_openid - connection refused"
I'm trying to setup an OIDC for Minio following [this](https://casdoor.org/docs/integration/minio). I use three containers to implement the system. MySQL is run separately and standalone. Casdoor and Minio are set up using [this](https://gist.github.com/tetra12/308bebea586b25c327b64407c9d53b93).

When I do `docker-compose up`, I have all three containers up&working. I'm able to log into Casdoor an

[2022-04-02 14:37] #414 closed

[2022-04-02 14:40] hsluoyz commented on #639
@Steve0x2a

[2022-04-02 15:28] hsluoyz commented on #612
@halozhy

[2022-04-02 18:24] tetra12 opened #640 "feat: Add host lookup thru the hosts file"
Added an entry in the `/etc/hosts` file.

[code]

Now, with Casdoor:
[code]

My config file:
[code]
Result:
[code]
Clearly, `hosts` file is not resolved by a DNS lookup, which causes a connection failure

[2022-04-03 03:54] Steve0x2a commented on #639
` Get "http://127.0.0.1:8000/.well-known/openid-configuration": dial tcp 127.0.0.1:8000: connect: connection refused.`
Are you able to access `http://127.0.0.1:8000/.well-known/openid-configuration` properly on your browser?

[2022-04-03 11:05] tetra12 commented on #639
@Steve0x2a Yes, I can.

1. As I said, I have all three apps in containers. I can access Casdoor and Minio properly and I can access OIDC config with `curl http://127.0.0.1:8000/.well-known/openid-configuration` from my host

2. I run `mc` locally, not in a container. This may be a cause of an issue. Feel free to give an example if you find issues in my compose file

3. I also tried to setup OIDC r

[2022-04-03 13:17] zc2638 opened #642 "About common user permission issues registered through the application"
When users register through the APP, how can these users ensure that they can only view and operate their own personal information after logging in?
Due to business problems, other content in the user center does not want ordinary users to view or operate.

[2022-04-03 13:32] #637 closed

[2022-04-03 16:09] #604 closed

[2022-04-03 18:15] MayankMittal1 commented on #69
@hsluoyz wanted to include this issue in my proposal, what kind of design is required? have i to use antd or develop a design from scratch?

[2022-04-03 20:30] MayankMittal1 commented on #69
@hsluoyz i was thinking to port casdoor's UI to MaterialUI https://mui.com/ which is more asthetic and looks superior as compared to antd, and also working on making the frontend responsive.

[2022-04-04 00:47] hsluoyz commented on #69
@MayankMittal1 we don't change to another UI framework. We will improve existing UI based on antd.

[2022-04-04 02:18] zc2638 commented on #642
Application settings keep session cache, can solve this problem.

[2022-04-04 02:18] #642 closed

[2022-04-04 06:39] hsluoyz opened #643 ""Sign In" button in the sign up result page has broken"
![image](https://user-images.githubusercontent.com/3787410/161487120-86b821bf-2773-4d17-9658-4e85d794927e.png)

[2022-04-04 07:32] hsluoyz commented on #643
@Steve0x2a

[2022-04-04 07:59] hsluoyz commented on #618
Fixed by: https://github.com/casdoor/casdoor/pull/644

[2022-04-04 07:59] #618 closed

[2022-04-04 09:08] hsluoyz commented on #639
@Abingcbc

[2022-04-04 11:59] halozhy commented on #612
I tried to call refresh_token API, but it refreshed the token successfully, the old token was successfully deleted

I recorded a video to demonstrate the process

https://user-images.githubusercontent.com/56069009/161538532-6562506c-7410-46ec-b3c4-e7941792533b.mp4

[2022-04-04 13:06] MayankMittal1 commented on #69
@hsluoyz can you point out in a bit detail,what exactly requires improvment?

[2022-04-05 00:49] #643 closed

[2022-04-05 00:52] hsluoyz commented on #612
@kofj

[2022-04-05 04:06] Steve0x2a commented on #612
This issue was solved by this pr: https://github.com/casdoor/casdoor/pull/617

[2022-04-05 04:19] Abingcbc commented on #639
@tetra12 Can you try to access `127.0.0.1:8000/.well-known/openid-configuration` from `minio` container by `curl`?

[2022-04-05 06:54] #612 closed

[2022-04-05 06:55] hsluoyz commented on #640
@ComradeProgrammer

[2022-04-05 07:03] tetra12 commented on #639
@Abingcbc Can you release a working docker-compose file for an OIDC integration?

[2022-04-06 02:57] mojerro commented on #556
hello, I hope to know which route is for wechat mini programs, where the login path is different from wechat web.

[2022-04-06 03:52] mojerro commented on #400
I hope to support the mini-program too. While using mini-program, the user's register path is quite different from using oauth. I draw these 2 diagrams to what's different.

### 小程序
[code]
### 网页、移动端标准oauth
[code]

@Steve0x2a You can have a check, and I cannot find the api to transfer the code get from the mini-program.

[2022-04-06 04:56] ComradeProgrammer commented on #640
1. Usually, docker containers will automatically use the hosts file of the host.
2. Sometimes docker may not be able to resolve the hosts file of the host, under such circumstance, just **restart docker daemon**.
3. If it still doesn't work, **use --dns parameter** to specify the dns server when excuting docker run, and it will be able to work.

[2022-04-06 06:26] ComradeProgrammer commented on #640
If this problem still exists, please inform me, and provide some more detailed information , for example, the platform on which  you run this (WSL/Ubuntu/WIN10?)....

[2022-04-06 07:20] mojerro commented on #387
It's clear that we can use casdoor to inject default hasura settings in the request header.

But I'm still confused about how to generate JWT with custom fields.

[2022-04-06 07:38] Gxuxiang opened #647 "Unable login as Admin after changed the admin's password"
after I changed the password, I can't login as the admin user. Which shows "The user: built-in/admin doesn't exist"

[2022-04-06 09:09] mojerro opened #648 "Is possible to support custom hooks \ plugins by programming"
refer to #387

I'm using Hasura too, and I also have some other apps using cookie\jwt to auth user. Now Webhooks section can add custom headers but it's hardcoded, some information in the header is also unsafe, I need to put it in JWT or cookies.

This scenario is a bit complex and a hook may be the easiest way to support most of these custom requirements.

I'm now trying to modify `GetTokenByUser

[2022-04-06 10:26] hsluoyz commented on #647
@Gxuxiang plz show your DB's user table

[2022-04-06 11:49] hsluoyz commented on #556
@Steve0x2a

[2022-04-06 14:42] hsluoyz opened #649 "Support Flutter app authentication with Casdoor"
See: https://v2ex.com/t/803669?p=2#r_11536055

[2022-04-07 01:43] Candytt opened #650 "Node17 cannot start up "web" project"
Package subpath './lib/tokenize' is not defined by “exports“ postcss-safe-parser

[2022-04-07 02:00] hsluoyz commented on #650
@Candytt plz use Node.js LTS (16)

[2022-04-07 02:00] #650 closed

[2022-04-07 06:29] mojerro opened #651 "Support user merge\migrate between different users"
My situation:
User Joey has an account on casdoor registered by username\password. Next time he login through wechat web. And the casdoor register a new user for his wechat account.

Now, if casdoor can merge his old password account info and new wechat info, everything will be done.

Just an opinion, when merging two different users, first merge non-conflict fields, then if something conflicts, l

[2022-04-07 06:30] mojerro commented on #651
补充一下，简单来说就是用户用两个不同的第三方账户登陆后，casdoor对同一个人会出现两个账户，这时候就需要合并账户。合并的时候先合并不冲突字段，有冲突的话，也不用分字段合并，直接选保留哪个账户里的所有信息就可以了。

[2022-04-07 06:32] hsluoyz commented on #651
@mojerro plz use English

[2022-04-07 06:33] mojerro commented on #651
In addition,  after users log in with two different third-party accounts, Casdoor will have two accounts for the same person, and at this time, accounts need to be merged.  When merging, merge non-conflicting fields first. If there is a conflict, there is no need to merge fields by fields. Choose directly to retain all information in which account.

[2022-04-07 06:34] mojerro commented on #651
Is there a roadmap for casdoor? @hsluoyz

[2022-04-07 17:04] ppppfly opened #652 "improve config experience with provider or syncer"
## From two personal experiences：

### Config Email Provider
After several config actions, press saves to submit Email Configuration, but I'm not sure whether the config is even working.

I have to try to change my account email, to verify whether the config is working.

so, is it possible that add a "verify config" function according to the type of Provider before we submit the change?

### A foo

[2022-04-08 15:06] #405 closed

[2022-04-08 15:12] hsluoyz commented on #581
@seriouszyx

[2022-04-08 15:55] helper-xie opened #655 "use custom OAuth provider"
I want to use the private OAuth server by setting provider in casdoor. And I'm not sure this is a general requirement.

[2022-04-09 01:35] hsluoyz commented on #655
@seriouszyx

[2022-04-09 07:45] mojerro commented on #400
微信小程序支持要注意这几点，感谢官方支持
1、微信openid必须要有，但是同一个企业下的不同应用，微信openid不一样
2、同一个用户的unionid对于微信企业下不同应用是唯一的
3、调用微信官方能力需要使用unionid
4、没有绑定开放平台的微信应用没有unionid
5、上面的企业等效于微信开放平台的一个认证账户

[2022-04-09 08:28] mojerro opened #657 "Support user to discard duplicate account"
ref to #651
When a user registers a duplicate account with different OAuth method, support users delete one account instead of merging accounts.

Just a suggestion, welcome discussion.

[2022-04-11 15:23] hsluoyz opened #660 "Don't use go proxy for CI"
Currently we use https://goproxy.cn/ in restricted area like China. But it's totally useless for other places, including GitHub Actions CI. We should only enable goproxy in China.

See: https://github.com/casdoor/casdoor/runs/5972827797?check_suite_focus=true

![V11X~%KJ5%32ZOJF9GO X%2](https://user-images.githubusercontent.com/3787410/162772693-23f672e6-7dd8-48fc-bb35-0676da8576f4.png)

[2022-04-11 15:46] hsluoyz commented on #624
@leo220yuyaodog

[2022-04-13 06:04] #660 closed

[2022-04-13 06:08] hsluoyz commented on #611
@Steve0x2a

[2022-04-13 15:45] lwnmengjing opened #663 "can support carry role name to accessToken claims?"
can support carry role name to accessToken claims?
I need to map role permissions in services with different functions.

[2022-04-14 02:22] #611 closed

[2022-04-14 03:28] niko7g opened #664 "Casdoor fails to start when there is already a database"
I compiled Casdoor.exe according to the document, and the backend database is MySQL8. The first time I execute Casdoor.exe -createDatabase, it seems that everything is normal, and the login operation of Casdoor also seems to be normal. But when I stop the Casdoor.exe, and then execute the Casdoor.exe for the second time, panic: Error 1054: Unknown column 'INFORMATION_SCHEMA.COLUMNS.ORDINAL_POSITIO

[2022-04-14 04:22] nodece opened #665 "Add Casdoor to Pulsar docs: pulsar-manager"
Casdoor support has been added to pulsar-manager in https://github.com/apache/pulsar-manager/pull/446.

We need to add guide documentation on how to use the Casdoor in pulsar-manager.

Add this guide to https://pulsar.apache.org/docs/en/administration-pulsar-manager page.

[2022-04-14 04:35] seriouszyx opened #666 "Support Casdoor authentication integration for Spring Cloud Gateway"
[spring-cloud-gateway](https://github.com/spring-cloud/spring-cloud-gateway) is a Gateway built on Spring Framework and Spring Boot providing routing and more.

Now we can provide docs or examples for Casdoor authentication integration for Spring Cloud Gateway.